
.accWrap{
    margin-top: rem(40);
}

.accBox{
    padding: rem(12) 0;
    background: $white;
    border-radius: rem(6);
    border:1px solid $layoutColor;
    overflow: hidden;    
    .nodata{
        padding: rem(30);
        flex-direction: column;
        line-height: rem(50);
        button{
            width: auto;
            padding: 0 15px;
        }
    }
    .prefix,
    .suffix{
        display: flex;
        align-items: center;
    }
    .projTit{
        @include ellipsis;
        width: auto;
        max-width: 90%;
        font-weight: bold;
        font-size: rem(18);
        cursor: pointer;
    }
    &.is-active{
        border:1px solid $mainColor;
        i.smPlus{
            height: rem(2);
            background-position: 0 -180px;
        }
        .accInner{
            display: block;
        }
    }
    & + .accBox{
        margin-top: rem(12);
    }    
    .signDate{
        margin-right: rem(30);
        color: $accDate;
        font-size: rem(14);
    }
}

.accHead{
    @include sideArray;
    padding: rem(12) rem(25);
    .suffix{
        color: $accSuffixGray;
        .onlyIco{
            margin-left: rem(36);
        }
    }
    & + .accInner{
        margin-top: -7px;
    }
} 

.accInner{
    display: none;
}

.innerList{
    @include sideArray;
    padding: rem(10) rem(25);
    cursor: pointer;
    .prefix{
        width: 70%;
        color: $accPrefixGray;
        .round{
            color: $cancel;
            margin-right: rem(10);
        }
    }
    .suffix{
        font-size: rem(14);
        //font-weight: 500;
        li{
            position: relative;
            &::before{
                content:'';
                width: 1px;
                height: 16px;
                background: $layoutColor;
                position: absolute;
                top: 8px;
                left: -6px;
            }
            &:first-child{
                &::before{
                    display: none;
                }
            }
            .mainC{
                margin-left: rem(5);
            }
        }
    }
    ul{
        display: flex;
        gap: 15px;
    }
    li{
        display: flex;
        line-height: 32px;
    }
    p{
        flex-shrink: 0;
        width: rem(100);
        text-align: left;
        color: $subGray;
        font-weight: 500;
        position: relative;
        &::before{
            content:'';
            width: 4px;
            height: 4px;
            background: $dotGray;
            border-radius: 50%;
            position: absolute;
            top: 14px;
            left: -10px;
        }
    }    
    span{
        text-align: left;
    }
}

.accWrap{
    //모집공고 관리
    &.flatType{ 
        margin-top: 0;
        .accBox{
            padding: 0;
            border-radius: 0;
            border: 0;
            &.is-active{
                border-bottom: 1px solid $accBorderBottom;
                .accHead{
                    background: $selHover;
                    border-bottom:0;
                }
                i.arrow{
                    background-position: -100px -120px;
                    vertical-align: 2px;
                }
            }
            &.disabled{
                opacity: 1;
                .accHead{
                    .prefix{
                        color: $addHeadGray;
                        cursor: not-allowed;
                    }
                }          
                i.arrow{
                    background-position: -120px -120px;
                }  
            }
            &.nodata{
                height: rem(100);
            }
            & + .accBox{
                margin-top: 0;
            }
            i.arrow{
                margin-right: rem(10);
            }
        }
        .accHead{
            padding: rem(16) rem(20) rem(16) rem(12);
            border-bottom: 1px solid $accBorderBottom;
            cursor: pointer;
            .prefix{
                font-size: rem(16);
            }
            & + .accInner{
                margin-top: 0;
            }
        }
    }
}

.accInner{
    //모집공고관리
    &.infoType{ 
        padding: 0 rem(30);
        .innerList{
            padding: 0;
            > ul{                
                width: 100%;
                display: grid;
                grid-template-columns: 70% 30%;
                grid-template-rows: 1fr;
                row-gap: rem(16);
                padding: rem(20) 0;
                border-bottom: 1px solid $inputGray;
            }
        }       
        &:last-child{
            ul{
                border-bottom:0;
            }
        }  
        .suffix{
            justify-self: end;
        }        
        .projManager{
            @include ellipsis;
            display: block;
            width: auto;
            max-width: 90%;
        }
        .projInfo{
            font-size: 14px;
        }
    }
}



.accWrap{
    //마이크로사이트
    &.indexType{
        .accBox{
            border-radius: 0;
            border:0;
            border-bottom:1px solid $layoutColor;
            position: relative;
            overflow: visible;
            &:last-child{
                border-bottom:0;
            }
            .close{
                width: rem(60);
                height: rem(17);
                box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
                border-top: rem(6) solid $white;
                position: absolute;
                left: 50%;
                bottom: -13px;
                transform: translateX(-50%);
                z-index: 1;
                &::after{
                    content: "";
                    width: 18px;
                    height: 10px;
                    background-image: url(../img/icoGroup.png);
                    background-position: -120px -120px;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            &.is-active{                
                .close{
                    &::after{
                        background-position: -140px -120px;
                    }
                }
            }
        }
        h5{
            position: relative;
            z-index: 0;
            &::after{
                content:'';
                width: 100%;
                height: 12px;
                background: $yellowLight;
                opacity: 0.5;
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: -1;
            }
        }
        .accInner{
            padding: rem(16) rem(30);
            .innerList{
                padding: 0;
                align-items: flex-start;
                cursor: initial;
                font-size: 14px;
                > ul{
                    display: block;
                    width: 48%;
                }
            }
        }
    }
}