
.accWrap{
    margin-top: rem(40);
}

.accBox{
    padding: rem(9) 0;
    background: $white;
    border-radius: rem(6);
    border:1px solid $layoutColor;
    overflow: hidden;
    
    &.is-active{
        border:1px solid $mainColor;
        .ico{
            &.plus{
                height: rem(2);
                background-position: 0 -180px;
            }
        }
        .accInner{
            display: block;
        }
    }
    // &.nodata{
    //     display: flex;
    //     line-height: rem(80);
    // }
    & + .accBox{
        margin-top: rem(12);
    }
    .nodata{
        padding: rem(30);
        display: flex;
        flex-direction: column;
        line-height: rem(50);
        button{
            width: rem(160);
        }
    }
    .prefix,
    .suffix{
        display: flex;
        align-items: center;
    }
    .projTit{
        @include ellipsis;
        cursor: pointer;
        .label{
            margin-right: rem(10);
        }
    }
}

.accHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(12) rem(25);
    .prefix{
        font-weight: bold;
        font-size: rem(18);
    }
    .suffix{
        color: $accSuffixGray;
        .onlyIco{
            margin-left: rem(36);
        }
    }
    & + .accInner{
        margin-top: -7px;
    }
} 
.accInner{
    display: none;
    .prefix{
        width: 70%;
        color: $accPrefixGray;
        .round{
            color: $cancel;
            border-color: $cancel;
            margin-right: rem(10);
        }
    }
    .suffix{
        font-size: rem(14);
        font-weight: 500;
        ul{
            display: flex;
        }
        li{
            margin-left: rem(20);
            position: relative;
            &::before{
                content:'';
                width: 1px;
                height: 16px;
                background: $layoutColor;
                position: absolute;
                top: 5px;
                left: -9px;
            }
            &:first-child{
                &::before{
                    display: none;
                }
            }
        }
        .mainC{
            margin-left: rem(5);
        }
    }
}

.innerList{
    @include sideArray;
    padding: rem(10) rem(25);
    cursor: pointer;
    // &:hover{
    //     background: $selHover;
    // }
    > ul{
        padding: 0;
        display: block;
        width: 48%;
        border-bottom: 0;
    }
    li{
        display: flex;
        text-align: left;
        line-height: 32px;
        p{
            flex-shrink: 0;
            width: rem(100);
            color: $subGray;
            font-weight: 500;
            position: relative;
            &::before{
                content:'';
                width: 4px;
                height: 4px;
                background: $dotGray;
                border-radius: 50%;
                position: absolute;
                top: 14px;
                left: -10px;
            }
        }
    }
}

//모집공고 관리 flatType
.accWrap{
    &.flatType{
        margin-top: 0;
        .accBox{
            padding: 0;
            border-radius: 0;
            border: 0;
            overflow: hidden;
            .ico{                    
                &.arrow{
                    margin-right: rem(10);
                }
            }
            &.is-active{
                border-bottom: 1px solid $accBorderBottom;
                .accHead{
                    color: $black;
                    background: $selHover;
                    border-bottom:0;
                }
                .ico{                    
                    &.arrow{
                        // width: rem(16);
                        // height: rem(10);
                        background-position: -100px -120px;
                        vertical-align: 2px;
                    }
                }
            }
            &.disabled{
                .accHead{
                    color: $addHeadGray;
                    cursor: not-allowed;
                }          
                .ico{                    
                    &.arrow{
                        background-position: -120px -120px;
                    }
                }      
            }
            & + .accBox{
                margin-top: 0;
            }
        }
        .accHead{
            padding: rem(16) rem(20) rem(16) rem(12);
            color: $black;
            border-bottom: 1px solid $accBorderBottom;
            cursor: pointer;
            .prefix{
                font-size: rem(16);
            }
            & + .accInner{
                margin-top: 0;
            }
        }
    }
}

.accInner{
    &.infoType{
        padding: 0 rem(30);
        .innerList{
            padding: 0;
            > ul{                
                width: 100%;
                display: grid;
                grid-template-columns: 70% 30%;
                grid-template-rows: 1fr;
                row-gap: rem(16);
                padding: rem(20) 0;
                border-bottom: 1px solid $inputGray;
                ul{
                    display: flex;
                }
            }
            &:hover{
                background: transparent;
            }
        }       
        &:last-child{
            ul{
                border-bottom:0;
            }
        }     
        .projTit{
            color: $black;
            font-size: rem(18);
            font-weight: 700;
        }
        .projManager{
            @include ellipsis;
            display: block;
            width: auto;
            max-width: 90%;
        }
        .projInfo{
            li{
                margin-right: rem(20);
            }
        }
        .signDate{
            margin-right: rem(10);
            color: $accDate;
        }
        .suffix{
            justify-self: end;
        }
    }
}


//마이크로사이트 indexType
.accWrap{
    // padding: 0 rem(30);
    // background: $white;
    overflow-y: auto;
    &.indexType{
        .accBox{
            border-radius: 0;
            border:0;
            border-bottom:1px solid $layoutColor;
            position: relative;
            overflow: visible;
            & + .accBox{
                margin-top: 0;
            }
            &:last-child{
                border-bottom:0;
            }
            .close{
                width: rem(60);
                height: rem(17);
                box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
                border-top: rem(6) solid $white;
                position: absolute;
                left: 50%;
                bottom: -13px;
                transform: translateX(-50%);
                z-index: 1;
                &::after{
                    content: "";
                    width: 18px;
                    height: 10px;
                    background-image: url(../img/icoGroup.png);
                    background-position: -120px -120px;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            &.is-active{                
                .close{
                    &::after{
                        background-position: -140px -120px;
                    }
                }
            }
        }
        h5{
            position: relative;
            z-index: 0;
            &::after{
                content:'';
                width: 100%;
                height: 12px;
                background: $yellowLight;
                opacity: 0.5;
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: -1;
            }
        }
        .accInner{
            padding: rem(16) rem(30);
            .innerList{
                cursor: initial;
                align-items: flex-start;
            }
        }
    }
}