//인정등급, 대행
.accept,
.acting{
    margin-right: rem(3);
    padding: 0 rem(3);
    color: $white;
    font-size: rem(12);
    font-weight: normal;
    background: $accepGray;
    border-radius: rem(6);
}
//완료
.comp{
    padding: 0 rem(3);
    color: $white;
    font-size: rem(12);
    font-weight: normal;
    background: $accepGray;
    border-radius: rem(6);

    display: inline-block;
    min-width: 19px;
}

//턴키
.turnkey{
    margin-right: rem(3);
    padding: 0 rem(3);
    color: $mainColor;
    font-size: rem(12);
    font-weight: normal;
    background: $turnKey;
    border-radius: rem(6);
}

//합계
.total{
    margin-right: rem(3);
    padding: 0 rem(3);
    color: $gray;
    font-size: rem(12);
    font-weight: normal;
    background: $turnKey;
    border-radius: rem(6);
}