//인정등급, 대행
.accept,
.acting{
    margin-right: rem(3);
    padding: 0 rem(4);
    color: $white;
    font-size: rem(12);
    font-weight: normal;
    background: $accepGray;
    border-radius: rem(6);
}

//턴키
.turnkey{
    margin-right: rem(3);
    padding: 0 rem(5);
    color: $mainColor;
    font-size: rem(12);
    font-weight: normal;
    background: $turnKey;
    border-radius: rem(6);
}