

.boxWrap,
.boxList{
    background: $white;
    border-radius: rem(5);
    border:1px solid $layoutColor;
    // &.is-active{
    //     border:1px solid $mainColor;
    // }
    .head{
        align-items: center;
        @include sideArray;      
    }
    .title{
        @include ellipsis;
        color: $black;
        font-size: rem(20);
        font-weight: 700;
    }
    .cont{
        li{
            &:last-child{
                color: $highlight;
            }
        }
    }
    .bottom{
        @include sideArray;
        align-items: center;
        .prefix{
            color: $subInfo;
        }
        .button{
            font-weight: 700;
        }  
    }
    &.divideType{
        .head{
            border-bottom: 1px solid $layoutColor;
        }
    }
    &.borderType{
        &.is-active{
            border: 1px solid #0460d2;
        }
    }
}
.boxList{
    cursor: pointer;
}


.boxListWrap{    
    height: calc(100vh - 187px);
    @include scroll_0;
    .boxList{
        padding: rem(20);
        margin-bottom: rem(1);
        border-radius: 0;
        border:0;
        .cont{
            margin-top: rem(10);
            position: relative;
            .prefix{
                width: 78%;
                @include ellipsis-double;
            }
            .suffix{
                color: $subInfo;
                font-size: rem(14);
                position: absolute;
                right: 0;
                bottom: rem(3);
            }   
        }
    }
    & + .listBottom{
        padding: rem(40) 0;
        background: $white;
    }
}

