.boxListWrap{    
    //height: calc(100vh - 100px);
    @include scroll_0;
}



.boxWrap,
.boxList{
    background: $white;
    border-radius: rem(5);
    border:1px solid $layoutColor;
    &.is-active{
        border:1px solid $mainColor !important;
    }
    .head{
        align-items: center;
        @include sideArray;        
        .prefix{
            font-weight: 500;
        }
        .suffix{
            color: $subInfo;
            font-size: rem(14);
            span{
                &:nth-child(2){
                    margin-left: rem(10);
                    position: relative;
                    &::before{
                        content:'';
                        width: 1px;
                        height: rem(14);
                        background: $subInfo;
                        position: absolute;
                        top:50%;
                        left: -4px;
                        transform: translateY(-40%);
                    }
                }
            }
        }
    }
    .title{
        @include ellipsis;
        color: $black;
        font-size: rem(20);
        font-weight: 700;
    }
    .bottom{
        @include sideArray;
        align-items: center;
        .origin{
            color: $subInfo;
        }
        .button{
            font-weight: 700;
        }  
    }
    &.divideType{
        .head{
            border-bottom: 1px solid $layoutColor;
        }
    }
}


// .boxList{
//     border-radius: 0;
//     border:0;
//     .cont{
//         margin-top: rem(10);
//         @include sideArray;
//         .prefix{
//             width: 80%;
//             //height: rem(48);
//             @include ellipsis-double;
//         }
//         .suffix{
//             color: $subInfo;
//             font-size: rem(14);
//         }   
//     }
// }