.boxListWrap{    
    @include scroll_0;
}



.boxWrap,
.boxList{
    background: $white;
    border-radius: rem(5);
    border:1px solid $layoutColor;
    &.is-active{
        border:1px solid $mainColor;
    }
    .key{
        color: $subInfo;
        font-weight: rem(14);
        margin-bottom: rem(8);
    }
    .origin{
        color: $subInfo;
    }
    .deadline{
        font-weight: 500;
        .point{
            display: inline-block;
            width: rem(44);
            line-height: rem(24);
            color: $white;
            font-size: rem(14);
            text-align: center;
            background: $delay;
            border-radius: rem(5);
        }
    }
    .title{
        @include ellipsis;
        color: $black;
        font-weight: rem(20);
        font-weight: 700;
    }
    .bottom{
        @include sideArray;
        align-items: center;
        .button{
            font-weight: 700;
        }  
    }
}


.boxList{
    background: $white;
    border-radius: rem(5);
    border:0;
    box-shadow: 3px 3px 5px 0 rgba(41, 41, 44, 0.07);
    .head{
        @include sideArray;
    }
    .title{
        width: 80%;
        height: rem(48);
        font-weight: 400;
        margin-top: rem(10);
        @include ellipsis-double;
    }
    .bottom{
        display: inherit;
        text-align: right;
        font-size: rem(14);
    }   
}