button, 
.button{
    border:1px solid $mainColor_pms;
    background-color: $mainColor_pms;
    
    &.bdType{
        color: $btnBd_pms;
        border: 1px solid $btnBd_pms;
    }
    &.rBdType{
        color: $error;
        background-color: $white;
        border: 1px solid $error;
        &:disabled,
        &.disabled{
            opacity: 0.5;
        }
    }

    //bg상태버튼
    &.save{
        background: $mainColor_pms;
    }
}
.label{
    &.si{
    color: #218dbc;
    background: #e1f1f8;
    border: 1px solid #cfe3ec;
    }
    &.sm{
        color: #8073b3;
        background: #f3f1f9;
        border: 1px solid #ced1dd;
    }

}