
.contractBox{
    margin-top: rem(20);
    padding: rem(20) rem(150);
    text-align: center;
    // border: 1px solid $tableBorder;
    .flex{
        margin-top: rem(20);
        // gap: rem(10);
        justify-content: space-around;
        align-items: center;
        .suffix{
            margin-left: 0;
            display: flex;
            align-items: center;
            .need{
                margin-right: rem(4);
                position: relative;
                &::after{
                    content:'*';
                    position: absolute;
                    top: -6px;
                    right: 0px;
                }
            }
            .datepicker{
                margin-left: rem(5);
                width: rem(120);
                height: rem(32);
                // border: 1px solid $tableBorder;
            }
        }
    }
}