
.contractBox{
    margin-top: rem(20);
    padding: rem(20) rem(150);
    text-align: center;
    border: 1px solid $tableBorder;
    .flex{
        margin-top: rem(20);
        justify-content: space-between;
    }
}