.defaultBox{
    width: rem(400);
    height: rem(200);
    padding: rem(44) 0;
    text-align: center;
    background: $white;
    border-radius: rem(5);
    border:1px solid $layoutColor;
    img{
        width: rem(40);
        border-radius: rem(13);
        margin-bottom: rem(16);
    }
    .notify{
        font-weight: 700;
        margin-bottom: rem(8);
    }
}

.nodata{
    //width: 100%;
    color: $disable;
    @include heightArray;
}