.fileBox{
    .fileTop{
        @include sideArray;
        h6{
            font-weight: 400;
        }
        .txtType{
            color: $mainColor;
        }
    }
    .fileList{
        margin-top: rem(10);
        padding: rem(16) rem(8);
        background: $fileBg;
        // border-radius: 6px;
        .list_ul{
            padding-right: rem(4);
            // max-height: rem(140);
            max-height: rem(120);
            overflow-y: auto;
        }
        li{
            padding-right: rem(4);
            color: $fileGray;
            // line-height: rem(26);
            line-height: rem(30);
            @include sideArray;
            &:hover{
                background: $selHover;
            }
            .fileInfo{
                padding-left: rem(8);
                width: 92%;
                @include sideArray;
                font-size: rem(14);
                span{
                    &:last-child{
                        font-size: rem(14);
                    }
                }
            }
        }
    }
    &.fileBox{
        margin-top: rem(35);
    }
}

.uploadList{
    ul{
        padding-right: rem(10);
        height: rem(180);
        overflow-y: scroll;
    }
    li{
        height: rem(56);
        @include sideArray;
        gap: 25px;
        border-bottom: 1px solid $layoutColor;
        input[type=checkbox]{
            & + label{
                margin-bottom: 0;
            }
        }
        .ellipsis{
            width: 59%;
            a{
                color: $mainColor;
            }
        }
        .upHis{
            width: rem(180);
            color: $highlight;
        }
        .history{
            width: rem(150);
            text-align: right;
        }
    }
    & + .btnType{
        margin-top: rem(22);
    }
}