
.filterWrapper{
    .filterTop{
        @include sideArray;
    }
}
.filterList{
    margin-top: rem(30);
    .tit{
        font-weight: 700;
        margin-bottom: rem(10);
    }
    label{
        display: block !important;
        margin-top: rem(10);
        &:first-child{
            margin-top: 0;
        }
    }
    .listBox{
        .prefix,
        .suffix{
            max-height: rem(400);
            overflow-y: scroll;
        }
        .prefix{
            width: 33%;
        }
        .suffix{
            width: 67%;
            .listType{
                display: flex;
                flex-wrap: wrap;
                li{
                    width: 50%;                    
                }
                // label{
                //     width: 50%;                    
                // }
            }
        }
    }
}

//거주지 선택 필터 border제거
// #memArea{
//     .filterList{
//         .prefix{
//             input[type=checkbox]{
//                 + label{
//                     + input{
//                         + label{
//                             border-top: transparent;
//                         }
//                         &:checked{
//                             + label{
//                                 border-top: 1px solid $mainColor;
//                             }
//                         }
//                     }
//                 }
//                 &:checked{
//                     + label{
//                         + input{
//                             &:checked{
//                                 + label{
//                                     border-top: transparent;
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//         .suffix{
//             input[type=checkbox]{
//                 + label{
//                     border-top: transparent;
//                     &:nth-child(4n){
//                         border-left: transparent;
//                     }
//                 }
//                 &:first-child,
//                 &:nth-child(3){
//                     + label{
//                         border-top: 1px solid $layoutColor;
//                     }                    
//                 }
//                 //우측열
//                 &:nth-child(4n+1){
//                     &:checked{
//                         + label{
//                             + input{
//                                 &:checked{
//                                     + label{
//                                         border-left: transparent;
//                                     }
//                                 }
//                             }
//                         }
//                     }
//                 }
//                 //좌측열
//                 &:nth-child(4n-1){
//                     &:checked{
//                         + label{
//                             border-left: 1px solid $mainColor;
//                         }
//                     }
//                 }

//                 &:nth-child(2n+1){
//                     &:checked{
//                         + label{
//                             border-top: 1px solid $mainColor;
//                             + input{
//                                 + label{
//                                     + input{
//                                         + label{
//                                             border-top: transparent;
//                                         }
//                                     }
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }