.group{
    margin-top: rem(50);
    ul{
        display: flex;
        li{
            display: inline-block;
            margin-right: rem(10);
            select{
                display: block;
                width: rem(100);
                height: rem(40);
                padding-left: rem(14);
            }
            input{                
                width: rem(400);
                height: rem(40);
                padding-left: rem(14);
            }
        }
    }
}