/* 프로젝트 등록 플로팅 */
.floatingWrapper{
    width: rem(185);
    position: fixed;
    right: rem(80);
    top: 50%;
    transform: translateY(-45%);
    &.bottom{
        top:auto;
        bottom: 0;
    }
    &.indicator{
        width: auto;
        right: rem(25);
        top: 16%;
        transform: initial;
        .floating{
            padding: 0;
            background: transparent;
            box-shadow: none;
        }
    }
    .floating{
        padding: rem(24);
        text-align: center;
        background: $white;
        border-radius: rem(7);
        box-shadow: 0 0 25px 0 rgba(41, 41, 44, 0.17);
        & + .floating{
            margin-top: rem(10);
        }
    }
    select,
    .select{
        margin-top: rem(10);
        width: rem(120) !important;
        //line-height: rem(36) !important;
        .selDefault{
            line-height: rem(36);
        }
        & + h5{
            // margin-top: rem(24);
            margin-top: rem(14);
        }
    }
    h5{
        & + button{
            margin-top: rem(10);
        }
    }
    button{
        display: block;
        margin: 0 auto;
        width: rem(120);
        line-height: rem(36) !important;
        & + button{
            margin-top: rem(10);
        }
    }
}

.floatingWrapper{
    &.indicator{
        li{
            margin-bottom: rem(40);
            color: $titleGray;
            font-size: rem(18);
            cursor: pointer;
            &::after{
                width: rem(3);
                height: rem(16);
                background-position: 0 -320px;
                top: auto;
                right: auto;
                left: 50%;
                bottom: -110%;
                transform: translateX(-50%);
            }
            &.is-active{
                color: $mainColor;
            }
        }
    }
}