// @font-face{
//     font-display: swap; //선랜더링 후폰트적용
//     font-family: "NotoSansKR";
//     font-style: thin;
//     font-weight: 100;
//     src: local('Noto Sans KR Thin'), url(../font/NotoSans-Thin.woff2) format('woff2'); 
// }
// @font-face{
//     font-display: swap;
//     font-family: "NotoSansKR";
//     font-style: light;
//     font-weight: 300;
//     src: local('Noto Sans KR Light'), url(../font/NotoSans-Light.woff2) format('woff2');
// }
// @font-face{
//     font-display: swap;
//     font-family: "NotoSansKR";
//     font-style: normal;
//     font-weight: 400;
//     src: local('Noto Sans KR'), url(../font/NotoSansKR-Regular.woff2) format('woff2');
// }
// @font-face{
//     font-display: swap;
//     font-family: "NotoSansKR";
//     font-style: medium;
//     font-weight: 500;
//     src: local('Noto Sans KR Medium'), url(../font/NotoSansKR-Medium.woff2) format('woff2');
// }
// @font-face{
//     font-display: swap;
//     font-family: "NotoSansKR";
//     font-style: bold;
//     font-weight: 700;
//     src: local('Noto Sans KR Bold'), url(../font/NotoSans-Bold.woff2) format('woff2');
// }
// @font-face{
//     font-display: swap;
//     font-family: "NotoSansKR";
//     font-style: black;
//     font-weight: 900;
//     src: local('Noto Sans KR black'), url(../font/NotoSans-Black.woff2) format('woff2');
// }

@font-face{
    font-display: swap; //선랜더링 후폰트적용
    font-family: "NotoSansKR";
    font-style: thin;
    font-weight: 100;
    src: url(../font/NotoSans-Thin.woff2) format('woff2'); 
}
@font-face{
    font-display: swap;
    font-family: "NotoSansKR";
    font-style: light;
    font-weight: 300;
    src: url(../font/NotoSans-Light.woff2) format('woff2');
}
@font-face{
    font-display: swap;
    font-family: "NotoSansKR";
    font-style: normal;
    font-weight: 400;
    src: url(../font/NotoSansKR-Regular.woff2) format('woff2');
}
@font-face{
    font-display: swap;
    font-family: "NotoSansKR";
    font-style: medium;
    font-weight: 500;
    src: url(../font/NotoSansKR-Medium.woff2) format('woff2');
}
@font-face{
    font-display: swap;
    font-family: "NotoSansKR";
    font-style: bold;
    font-weight: 700;
    src: url(../font/NotoSans-Bold.woff2) format('woff2');
}
@font-face{
    font-display: swap;
    font-family: "NotoSansKR";
    font-style: black;
    font-weight: 900;
    src: url(../font/NotoSans-Black.woff2) format('woff2');
}


// @font-face{
//     font-display: swap; //선랜더링 후폰트적용
//     font-family: "NotoSansKR";
//     font-style: thin;
//     font-weight: 100;
//     src: url(../font/NotoSansKR-Thin.woff) format('woff'); 
// }
// @font-face{
//     font-display: swap;
//     font-family: "NotoSansKR";
//     font-style: light;
//     font-weight: 300;
//     src: url(../font/NotoSansKR-Light.woff) format('woff');
// }
// @font-face{
//     font-display: swap;
//     font-family: "NotoSansKR";
//     font-style: normal;
//     font-weight: 400;
//     src: url(../font/NotoSansKR-Regular.woff) format('woff');
// }
// @font-face{
//     font-display: swap;
//     font-family: "NotoSansKR";
//     font-style: medium;
//     font-weight: 500;
//     src: url(../font/NotoSansKR-Medium.woff) format('woff');
// }
// @font-face{
//     font-display: swap;
//     font-family: "NotoSansKR";
//     font-style: bold;
//     font-weight: 700;
//     src: url(../font/NotoSansKR-Bold.woff) format('woff');
// }
// @font-face{
//     font-display: swap;
//     font-family: "NotoSansKR";
//     font-style: black;
//     font-weight: 900;
//     src: url(../font/NotoSansKR-Black.woff) format('woff');
// }