
.gnbWrapper{
    //220829
    //width: rem(60);
    width: rem(52);
    background: linear-gradient(to bottom, $highlight, $gnbGreen);
    //border-right: 1px solid $layoutColor;
    transition: all .3s ease;
    position: fixed;
    left: 0;
    z-index: 100;  
    .gnb{
        padding: rem(20) 0;
    }  
    .navCtrlBtn{
        //220829
        // width: rem(40);
        // height: rem(40);
        // padding: rem(9);
        // margin-left: rem(9);
        width: rem(36);
        height: rem(36);
        padding: rem(5) rem(8);
        margin-left: rem(8);

        border-radius: rem(6);
        background: $white;
        cursor: pointer;
        position: relative;
        &::before{
            content:'';
            width: 0;
            //220829
            height: rem(40);
            height: rem(36);
            background: $white;
            position: absolute;
            left: -10px;
            top: 0;
            transition: all .01s ease;
        }
    }    
    .navWrapper{
        height: calc(100vh - 105px);
        margin-top: rem(35);
        //margin-left: rem(3);
        overflow-y: auto;
        > ul{
            > li{                               
                position: relative;
                &.is-active{
                    > a{
                        background: rgba(255,255,255,0.3);
                        position: relative;
                        &::before{
                            content:'';
                            width: 3px;
                            height: 100%;
                            background: $white;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }
                    }
                    // li{
                    //     &.is-active{
                    //         a{
                    //             background: rgba(255,255,255,0.3);
                    //         }
                    //     }
                    // }
                }     
            }
        }
        li{
            a{
                display: block;
                padding: rem(10) rem(13);
                padding-left: rem(15);
                &:hover{
                    background: rgba(255,255,255,0.1);
                }
            }
            // padding: rem(6);
            // padding-right: rem(8);
            // &.is-active{
            //     .menuTxt{
            //         font-weight: 700;
            //     }
            // }
            // a{
            //     display: block;
            //     padding: rem(7);
            //     border-radius: 4px;
            //     &:hover{
            //         background: rgba(255,255,255,0.2);
            //     }
            // }
            ul{
                display: none;
                li{
                    padding: 0;
                    font-size: rem(14);
                    position: relative;
                    a{
                        padding-left: rem(34);
                    }
                    // &::before{
                    //     content:'';
                    //     width: 2px;
                    //     height: 100%;
                    //     background: white;
                    //     opacity: .3;
                    //     position: absolute;
                    //     top: 0;
                    //     left: rem(18);
                    // }
                    // &:first-child{
                    //     &::before{
                    //         height: 65%;
                    //         top:35%;
                    //     }
                    // }
                    // &:last-child{
                    //     &::before{
                    //         height: 70%;
                    //         top:0;
                    //     }
                    // }
                    // a{
                    //     margin-left: rem(34);
                    // }
                }
            }
        }
        .menuTxt{
            display: none;
            color: $white;
            margin-left: rem(14);
            vertical-align: middle;
            // position: relative;
            position: absolute;
            transition: all .3s;
        }        
        .depth2{
            // display: none;
            color: $white;
            vertical-align: middle;
        }
    }
} 

