/* GNB 아이콘 */
.gnb{
    i{        
        width: 30px;
        height: 30px;
        background-image: url(../img/iconImg.jpg);
        &.ctrlBtn{
            background-position: 0px 0px;
        }
        &.home{
            background-position: 30px 30px;
        }
        &.member{
            background-position: 0px 0px;
        }
        &.project{
            background-position: 30px 30px;
        }
        &.hompage{
            background-position: 0px 0px;
        }
        &.event{
            background-position: 30px 30px;
        }
        &.ask{
            background-position: 0px 0px;
        }
        &.stats{
            background-position: 30px 30px;
        }
        &.admin{
            background-position: 0px 0px;
        }
        &.system{
            background-position: 30px 30px;
        }
        &.commonCode{
            background-position: 0px 0px;
        }
    }
}