
.gnbWrapper{
    width: rem(70);
    background: $black; 
    border-right: 1px solid $layoutColor;
    transition: all .3s ease;
    position: fixed;
    left: 0;
    z-index: 100;  
    .gnb{
        padding: rem(20) 0;
    }  
    .navCtrlBtn{
        width: rem(50);
        height: rem(50);
        padding: rem(12);
        margin-left: rem(10);
        border-radius: rem(6);
        background: $gnbGray;
        cursor: pointer;
        position: relative;
        &::before{
            content:'';
            width: 0;
            height: rem(50);
            background: $white;
            position: absolute;
            left: -10px;
            top: 0;
            transition: all .01s ease;
        }
    }    
    .navWrapper{
        height: calc(100vh - 105px);
        margin-top: rem(35);
        margin-left: rem(10);
        overflow-y: auto;
        li{
            padding: rem(13);
            &.is-active{
                .menuTxt{
                    color: $white;
                    font-weight: 700;
                }
            }
        }
        .menuTxt{
            display: none;
            color: $cancel;
            margin-left: rem(14);
            vertical-align: middle;
        }
    }
} 


// GNB 클릭, 마우스오버 이벤트
.layoutWrapper{
    &.is-active{
        .gnbWrapper{
            width: 205px;
            background-image: linear-gradient(to bottom, $highlight, $gnbGreen);
        }
        .navCtrlBtn{
            width: calc(100% - 24px);
            text-align: right;
            background: $white;
            position: relative;
            &::before{
                width: rem(15);
            }
            .ctrlBtn{
                width: rem(14);
                height: rem(17);
                background-position: 0px -30px;
            }
        }    
        .navWrapper{
            .menuTxt{
                display: inline-block;
            }
        }
        .contWrapper{
            width: calc(100% - 205px);
            left: 205px;
        }   
    }   
    &.is-hover{
        .gnbWrapper{
            width: 205px;
            background-image: linear-gradient(to bottom, $highlight, $gnbGreen);
        }
        .navCtrlBtn{
            width: calc(100% - 24px);
            text-align: right;
            background: $white;
            &::before{
                width: rem(15);
            }
            .ctrlBtn{
                width: rem(14);
                height: rem(17);
                background-position: 0px -30px;
            }
        }    
        .navWrapper{
            .menuTxt{
                display: inline-block;
            }
        }
    }   
}