header{        
    padding: 0 rem(40);
    width: 100%;
    // min-width: rem(1920);
    min-width: rem(1200);
    height: rem(60);
    font-size: rem(14);
    
    border-bottom: 1px solid $layoutColor;
    background: $white;
    
    @include sideArray; 
    
    position: relative;
    z-index: 100;
    .prefix{
        margin-top: rem(6);
        flex: 1 1 30%;
    }
    .center{
        flex: 1 1 30%;
        margin-top: -10px;
        margin-left: rem(170);
        text-align: center;
        a{        
            padding: rem(5) rem(4);
            margin: 0 rem(16);
            font-size: rem(18);
            font-weight: 700;
            color: $cancel;
            &.is-active{
                color: $mainColor;
                border-bottom: 4px solid $mainColor;
            }
        }
        &.title{
            margin-top: 0;
            margin-left: 0;
            max-width: rem(800);
            // flex: 1 1 70%;
            h3{
                @include ellipsis;
                width: 100%;
                color: $white;
                font-size: rem(20);
                text-align: center;
            }
        }
    }
    .suffix{
        flex: 1 1 48%;
        text-align: right;
        ul{
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
        }
        li{
            display: inline-block;
            position: relative;
            margin-right: rem(16);
            &::after{
                content: "";
                width: 1px;
                height: rem(16);
                background: $black;
                position: absolute;
                right: -10px;
                top: 50%;
                transform: translateY(-45%);
            }
            &:nth-child(4),
            &:last-child{
                &::after{
                    display: none;
                }
            }
            &.userTeam{
                // font-weight: 700;
                font-weight: 500;
                margin-right: rem(35);                
                &::after{
                    display: none;
                }
                a{
                    cursor: initial;
                }
            }
            .black{
                padding: 0 5px;
                line-height: 22px;
                font-size: rem(13);
                i{
                    margin-right: 2px;
                    vertical-align: -1px;
                }
            }
        }
    }
    //회원상세 header
    &.center{
        height: rem(48);
        justify-content: center;
        background: $tooltipGray;
        & + .contWrapper{
            padding-top: rem(48);
            .contLayout{
                height: calc(100vh - 48px);
            }
        }
    }
}
