header{        
    // padding-left: rem(10);
    border-bottom: 0;
    background: $header_pms;
    .navCtrlBtn{
        margin-left: -30px;
    }
    .suffix{
        color: $white;
        li{
            &::after{
                display: none;
            }   
            &.userTeam{
                a{
                    color: $headerSub;
                }
            }              
            a{
                color: $white;
            }
        }   
    }
}
