.header{        
    position: relative;
    height: 50px;  //임시
    background: pink; //임시   
    .adminManage{
        position: absolute;
        left: 0;
    }
    .userInfo{
        position: absolute;
        right: 0;
    }
}