header{        
    border-bottom: 0;
    background: $mainColor;
    .suffix{
        color: $white;
        li{
            &::after{
                background: $white;
            }                 
            a{
                color: $white;
            }
            &.userTeam{
                a{
                    color: $headerSub;
                }
            }
        }   
    }
}
