header{        
    border-bottom: 0;
    background: $mainColor;
    .suffix{
        color: $white;
        li{
            &::after{
                background: $white;
            }   
            &.userTeam{
                a{
                    color: $headerSub;
                }
            }              
            a{
                color: $white;
            }
        }   
    }
}
