/* GNB 아이콘 */
.gnb{
    .ico{        
        width: rem(23);
        height: rem(22);
        background-image: url(../img/pms/icoGnb.png);
        &.home{
            background-position: -60px 0;
        }
        &.member{
            background-position: -60px -30px;
        }
        &.project{
            background-position: -60px -60px;
        }
        &.homepage{
            background-position: -60px 0;
        }
        &.event{
            background-position: -60px 0;
        }
        &.ask{
            background-position: -60px 0;
        }
        &.stats{
            background-position: -60px 0;
        }
        &.admin{
            background-position: -60px -90px;
        }
        &.system{
            background-position: -60px -120px;
        }
        &.commonCode{
            background-position: -60px 0;
        }
        &.recruit{
            background-position: -60px -150px;
        }
        &.bizAdmin{
            background-position: -60px -150px;
        }
    }
}

//선택상태일때
.navWrapper{
    li{
        &.is-active{
            
            .ico{
                &.home{
                    background-position: -90px 0;
                }
                &.member{
                    background-position: -90px -30px;
                }
                &.project{
                    background-position: -90px -60px;
                }
                &.homepage{
                    background-position: -90px 0;
                }
                &.event{
                    background-position: -90px 0;
                }
                &.ask{
                    background-position: -90px 0;
                }
                &.stats{
                    background-position: -90px 0;
                }
                &.admin{
                    background-position: -90px -90px;
                }
                &.system{
                    background-position: -90px -120px;
                }
                &.commonCode{
                    background-position: -90px 0;
                }
                &.recruit{
                    background-position: -90px -150px;
                }
                &.bizAdmin{
                    background-position: -90px -150px;
                }
            }
        }
    }
}