/* GNB 아이콘 */
.gnb{
    .ico{        
        width: rem(22);
        height: rem(22);
        background-image: url(../img/pms/icoGnb.png);
        &.home{
            background-position: -60px 0;
        }
        &.member{
            background-position: -60px -30px;
        }
        &.project{
            background-position: -60px -60px;
        }
        &.homepage{
            background-position: -60px 0;
        }
        &.event{
            background-position: -60px 0;
        }
        &.ask{
            background-position: -60px 0;
        }
        &.stats{
            background-position: -60px 0;
        }
    }
}