/* GNB 아이콘 */
.gnb{
    .ico{        
        width: rem(22);
        height: rem(22);
        background-image: url(../img/pms/icoGnb.png);
        &.ctrlBtn{
            background-position: 0px 0px;
        }
        &.home{
            background-position: -60px 0;
            &.gray{
                background-position: -90px 0px;
            }
        }
        &.member{
            background-position: -60px -30px;
            &.gray{
                background-position: -90px -30px;
            }
        }
        &.project{
            background-position: -60px -60px;
            &.gray{
                background-position: -90px -60px;
            }
        }
        &.homepage{
            background-position: -60px 0;
            &.gray{
                background-position: -90px 0;
            }
        }
        &.event{
            background-position: -60px 0;
            &.gray{
                background-position: -90px 0;
            }
        }
        &.ask{
            background-position: -60px 0;
            &.gray{
                background-position: -90px 0;
            }
        }
        &.stats{
            background-position: -60px 0;
            &.gray{
                background-position: -90px 0;
            }
        }
        &.admin{
            width: rem(24);
            height: rem(24);
            background-position: -60px -90px;
            &.gray{
                background-position: -90px -90px;
            }
        }
        &.system{
            background-position: -60px -120px;
            &.gray{
                background-position: -90px 0;
            }
        }
        &.commonCode{
            background-position: -60px 0;
            &.gray{
                background-position: -90px -120px;
            }
        }
        &.recruit{
            background-position: -60px -150px;
            &.gray{
                background-position: -90px -150px;
            }
        }
        &.bizAdmin{
            background-position: -60px -150px;
            &.gray{
                background-position: -90px -150px;
            }
        }
    }
}