
.ico{
    display: inline-block;
    vertical-align: middle;
    background-image: url(../img/icoGroup.png);
    &.disabled{
        cursor: not-allowed !important;
    }
    //공통
    &.search{
        width: rem(18);
        height: rem(18);
        background-position: -80px 0px;
        &.white{
            background-position: -140px -160px;
        }
    }
    // &.showPw{
    //     width: rem(18);
    //     height: rem(18);
    //     background-position: -80px 0px;
    // }    
    &.excDown{
        width: rem(18);
        height: rem(18);
        background-position: -120px -100px;
        vertical-align: -3px;
    }
    &.download{        
        width: rem(18);
        height: rem(18);
        background-position: -40px 0;
        cursor: pointer;
    }
    &.filter{
        width: rem(18);
        height: rem(18);
        background-position: -60px 0;
    }
    &.map{
        width: rem(20);
        height: rem(18);
        background-position: -160px -140px;
    }
    &.file{
        width: rem(16);
        height: rem(18);
        background-position: -80px -40px;
    }
    &.fileUpload{
        width: rem(20);
        height: rem(20);
        background-position: -140px 0;
    }
    &.delete{
        width: rem(13);
        height: rem(12);
        vertical-align: inherit;
        background-position: -60px -20px;
        cursor:pointer;
    }
    &.delete_bg{
        width: rem(18);
        height: rem(18);
        background-position: -140px -60px;
        cursor:pointer;
    }
    &.delete_bin{
        width: rem(18);
        height: rem(18);  
        vertical-align: inherit;
        background-position: -60px -40px;
        cursor:pointer;
    }
    &.gray_bin{
        width: rem(18);
        height: rem(18);  
        background-position: -140px -140px;
    }
    &.refresh{
        width: rem(20);
        height: rem(18);
        background-position: -180px 0;
    }
    &.refresh_g{
        width: rem(19);
        height: rem(16);
        background-position: -160px -120px;
    }
    &.setting{
        width: rem(18);
        height: rem(18);
        vertical-align: sub;
        background-position: -100px 0;
        cursor:pointer;
    }
    &.sort{
        width: rem(18);
        height: rem(3);
        background-position: -120px -20px;
    }
    &.change{
        width: rem(20);
        height: rem(18);
        background-position: -160px 0;
        cursor: pointer;
    }
    &.resume{
        width: rem(16);
        height: rem(17);
        background-position: -180px -160px;
    }
    &.resume_b{
        width: rem(16);
        height: rem(17);
        background-position: -160px -160px;
        cursor: pointer;
    }
    &.manager{
        width: rem(15);
        height: rem(18);
        background-position: -180px -140px;
    }
    // &.phNm{
    //     width: rem(16);
    //     height: rem(16);
    //     background-position: -60px -100px;
    // }
    // &.mail{
    //     width: rem(16);
    //     height: rem(16);
    //     background-position: -80px -100px;
    // }
    &.lock{
        width: rem(11);
        height: rem(14);
        background-position: -160px -80px;
    }
    &.lock_b{
        width: rem(15);
        height: rem(18);
        vertical-align: -1px;
        background-position: -180px -180px;
    }
    &.lock_b_sm{
        width: rem(12);
        height: rem(15);
        vertical-align: -1px;
        background-position: -180px -200px;
    }
    &.shield{
        width: rem(14);
        height: rem(16);
        background-position: -80px -160px;
    }
    &.fixed{
        width: rem(14);
        height: rem(15); //0913 J수정 
        vertical-align: -1px;
        margin-right: 5px; //0913 J추가 
        background-position: -180px -80px;
    }
    &.letter{
        width: rem(18);
        height: rem(12);
        background-position: -180px -100px;
    }
    &.save{
        width: rem(15);
        height: rem(15);
        background-position: -180px -120px;
    }
    &.preview{
        width: rem(18);
        height: rem(16);
        background-position: -160px -60px;
        cursor: pointer;
    }
    &.preview_w{
        width: rem(18);
        height: rem(18);
        background-position: -159px -220px;
    }
    &.edit{
        width: rem(12);
        height: rem(12);
        background-position: -120px -140px;
        vertical-align: initial;
        cursor: pointer;
    }
    &.signal_sm{
        width: rem(11);
        height: rem(10);
        background-position: -180px -240px;
    }
    &.signal_mid{
        width: rem(13);
        height: rem(13);
        background-position: -180px -220px;
    }
    &.signal_la{
        width: rem(26);
        height: rem(22);
        background-position: -120px -240px;
        vertical-align: -2px;
    }










    &.more{
        width: rem(3); 
        height: rem(18);
        background-position: -100px -20px;
    }
    &.more2{
        width: rem(15); 
        height: rem(20);
        background-position: -140px -100px;
        // padding: 0; 11.01 수정
        padding: 0 3px;
        cursor: pointer;
    }
    &.smClose{
        width: rem(12);
        height: rem(12);    
        vertical-align: -1px;
        background-position: -60px -20px;
        cursor: pointer;
        &.w,
        &.white{
            background-position: -80px -20px;
        }
    }
    &.layerClose{
        width: rem(18);
        height: rem(18);
        background-position: -40px -20px;
    }
    &.plus{
        width: rem(18);
        height: rem(18);
        background-position: -20px -180px;
    }
    &.minus{
        width: rem(18);
        height: rem(2);
        background-position: 0 -180px;
    }
    &.smPlus{
        width: rem(12);
        height: rem(12);
        background-position: -60px -180px;
    }
    &.smMinus{
        width: rem(12);
        height: rem(2);
        background-position: -40px -180px;
    }
    &.addLine{
        width: rem(18);
        height: rem(15);
        background-position: -160px -260px;
    }
    &.addLine_chked{        
        width: rem(14);
        height: rem(14);
        background-position: -180px -260px;
    }
    &.corporation{
        width: rem(17);
        height: rem(17);
        background-position: -160px -240px;
    }

    //+,-
    &.reduce{
        width: rem(18);
        height: rem(18);
        background-position: -100px -180px;
        cursor: pointer;
    }
    &.extend{
        width: rem(18);
        height: rem(18);
        background-position: -80px -180px;
        cursor: pointer;
        &.is-active{
            background-position: -100px -180px;
        }
    }

    //레이아웃 - 사업현황등록
    &.layoutF{
        width: rem(31);
        height: rem(28);
        background-position: 0 -200px;
        cursor: pointer;
        &.is-active{
            background-position: -40px -200px;
        }
    }
    &.layoutG{
        width: rem(31);
        height: rem(28);
        background-position: -80px -200px;
        cursor: pointer;
        &.is-active{
            background-position: -120px -200px;
        }
    }


    // &.qMark{
    //     width: rem(18);
    //     height: rem(18);
    //     vertical-align: -4px;
    //     background-position: -120px 0;
    // }
    &.qMark,
    &.qMark2{
        width: rem(18);
        height: rem(18);
        background-position: -160px -20px;
        margin-left: 2px;
    }
    &.top{
        width: rem(34);
        height: rem(34);
        background-position: -40px -60px;
    }
    &.bottom{   //안쓰임? ㅇㅇ
        width: rem(34);
        height: rem(34);
        background-position: -60px -60px;
    }

    //카운팅 up, down
    &.up{
        width: rem(13);
        height: rem(9);
        background-position: -120px -180px;
    }
    &.down{
        width: rem(13);
        height: rem(9);
        background-position: -140px -180px;
    }

    //아코디언 up,down
    &.arrow{
        width: rem(16);
        height: rem(10);
        background-position: -80px -120px;
    }
    &.memo{   //메모 신규추가
        width: rem(17);
        height: rem(17);
        background-position: -140px -40px;
        vertical-align: -2px;
    }
    &.pull{
        width: rem(18);
        height: rem(18);
        background-position: -40px -160px;
    }
    &.push{
        width: rem(18);
        height: rem(18);
        background-position: -60px -160px;
    }
    &.expand{
        width: rem(12);
        height: rem(6);
        background: url(../img/icoSelect.png) no-repeat;
    }
    &.sel_g{
        width: rem(15);
        height: rem(6);
        background: url(../img/icoSelect_g.png) no-repeat;
    }
    &.list{
        width: rem(18);
        height: rem(12);
        background-position: -140px -20px;
    }
    &.pageList{
        width: rem(16);
        height: rem(18);
        background-position: -120px -60px;
        cursor: pointer;
    }
    &.pageList_w{
        width: rem(11);
        height: rem(13);
        background-position: -160px -200px;
    }
    //페이징
    // &.left{
    //     width: rem(12);
    //     height: rem(20);
    //     background-position: 0 -60px;
    //     &.is-active{
    //         background-position: -20px -60px;
    //     }
    // }
    // &.right{
    //     width: rem(12);
    //     height: rem(20);
    //     background-position: 0 -80px;
    //     &.is-active{
    //         background-position: -20px -80px;
    //     }
    // }
    // &.left2{
    &.pagingLeft{
        width: rem(10);
        height: rem(18);
        background-position: 0 -100px;
        &.is-active{
            background-position: -20px -100px;
        }
    }
    // &.right2{
    &.pagingRight{
        width: rem(10);
        height: rem(18);
        background-position: 0 -120px;
        &.is-active{
            background-position: -20px -120px;
        }
    }
    // &.left2_dou{        
    &.pagingFirst{        
        width: rem(13);
        height: rem(18);
        background-position: 0 -140px;
        &.is-active{
            background-position: -20px -140px;
        }
    }
    &.pagingLast{        
        width: rem(13);
        height: rem(18);
        background-position: 0 -160px;
        &.is-active{
            background-position: -20px -160px;
        }
    }
}
/* HEADER 아이콘 */
// .header{
//     .ico{
//         width: rem(24);
//         height: rem(24);
//         background-image: url(../img/icoGnb.png);
//         &.info{        
//             background-position: 0px 0px;
//         } 
//         &.setting{        
//             background-position: 30px 30px;
//         }
//     }
// }

/* GNB 아이콘 */
.gnb{
    .ico{        
        width: rem(22);
        height: rem(22);
        background-image: url(../img/icoGnb.png);
        &.ctrlBtn{
            background-position: 0px 0px;
        }
        &.home{
            background-position: -30px 0;
            &.gray{
                background-position: -60px 0px;
            }
        }
        &.member{
            background-position: -30px -30px;
            &.gray{
                background-position: -60px -30px;
            }
        }
        &.project{
            background-position: -30px -60px;
            &.gray{
                background-position: -60px -60px;
            }
        }
        &.homepage{
            background-position: -30px 0;
            &.gray{
                background-position: -60px 0;
            }
        }
        &.event{
            background-position: -30px 0;
            &.gray{
                background-position: -60px 0;
            }
        }
        &.ask{
            background-position: -30px 0;
            &.gray{
                background-position: -60px 0;
            }
        }
        &.stats{
            background-position: -30px 0;
            &.gray{
                background-position: -60px 0;
            }
        }
        &.admin{
            width: rem(24);
            height: rem(24);
            background-position: -30px -90px;
            &.gray{
                background-position: -60px -90px;
            }
        }
        &.system{
            background-position: -30px -120px;
            &.gray{
                background-position: -60px 0;
            }
        }
        &.commonCode{
            background-position: -30px 0;
            &.gray{
                background-position: -60px -120px;
            }
        }
        &.recruit{
            background-position: -30px -150px;
            &.gray{
                background-position: -60px -150px;
            }
        }
        &.bizAdmin{
            background-position: -30px -150px;
            &.gray{
                background-position: -60px -150px;
            }
        }
    }
}