/* GNB 아이콘 */
.ico{
    display: inline-block;
    vertical-align: middle;
    //gnb 아이콘    
    &.ctrlBtn{
        background-position: 0px 0px;
    }
    &.home{
        background-position: 30px 30px;
    }
    &.member{
        background-position: 0px 0px;
    }
    &.project{
        background-position: 30px 30px;
    }
    &.hompage{
        background-position: 0px 0px;
    }
    &.event{
        background-position: 30px 30px;
    }
    &.ask{
        background-position: 0px 0px;
    }
    &.stats{
        background-position: 30px 30px;
    }
    &.admin{
        background-position: 0px 0px;
    }
    &.system{
        background-position: 30px 30px;
    }
    &.commonCode{
        background-position: 0px 0px;
    }
    //header    
    &.info{        
        background-position: 0px 0px;
    } 
    &.setting{        
        background-position: 30px 30px;
    }
    //공통
    &.search{
        width: rem(30);
        height: rem(30);
        background-image: url(../img/iconImg.jpg);
        background-position: 0px 0px;
    }
    &.showPw{
        width: rem(30);
        height: rem(30);
        background-image: url(../img/iconImg.jpg);
        background-position: 30px 30px;
    }    
    &.download{        
        width: rem(18);
        height: rem(18);
        background-image: url(../img/icoGroup.png);
        background-position: -40px 0;
    }
}
