input[type=text]{ 
    &.dateType{
        &.editType{
            width: 100%;
            height: rem(30);   // 36 -> 30
            padding: 0.4rem; //0.625rem 0.625rem -> 0.4rem
            padding-right: rem(20);
            //border: 0 !important; 추가
            border: 1px solid $layoutColor;
            font-size: 13px; //추가
            background: url(../img/icoCal.png) right 2px top 55% no-repeat; // right 10px -> 5px
            background-color: $white;
            &:focus{
                color: $black;
                background: url(../img/icoCal.png) right 2px top 55% no-repeat;
            }
        }
    }
}