.inputBox{
    margin-top: rem(20);
    gap: rem(20);
    padding: rem(20) rem(14);
    font-size: rem(14);
    border: 0;
    background: $modalBg;
    align-items: center;
    justify-content: space-evenly;
    .right{
        display: flex;
        align-items: center;
        gap: rem(5);
        position: relative;
        &::before{
            content:'';
            width: 1px;
            height: 50%;
            background: $subGray;
            position: absolute;
            top: 50%;
            left: -10px;
            transform: translateY(-50%);
        }
    }
    input{
        width: rem(120);
        height: rem(32);
    }
    button{
        padding: 0 rem(6);
        line-height: rem(30);
        font-size: rem(14);
    }
}