.jobWrapper{
    margin-top: rem(30);
    height: calc(100vh - 240px);
    @include scroll_0;
}

.jobBox{
    //width: rem(1080);
    margin-bottom: rem(20);
    border-radius: 0;
    padding: rem(25) rem(30);
    @include sideArray;
    .prefix{
        width: rem(170);
        padding: 0; 
        li{
            margin-top: rem(15);
            span{
                &:first-child{
                    font-weight: 700;
                    margin-right: rem(10);
                }
            }
        }
    }
    .center{
        width: 65%;
        padding: 0 rem(30);
        border-left: 1px solid $jobLayout;
        border-right: 1px solid $jobLayout;
        .title{
            margin-top: rem(2);
            margin-bottom: rem(4);
        }
        .bottom{
            margin-top: rem(17);
            color:red;
            .prefix{
                color: $cancel;
                
            }
        }
    }    
    .suffix{
        width: rem(160);
        color: $subInfo;
        text-align: center;
        @include heightArray;
        position: relative;
        .more{
            position: absolute;
            right: 0;
            top: 0;
        }
        .txt_center{
            .select{
                margin: 10px auto;
            }
        }
    }
}