.contWrapper{
    padding-right: 0;  // 우측패널 삭제  rem(52) -> 0
    .contLayout{
    }
} 

// GNB 클릭, 마우스오버 이벤트
.layoutWrapper{
    &.is-active,    //is-active는 없애야함-ys
    &.is-hover{
        .gnbWrapper{
            background:$white;
        }
        .navWrapper{
            > ul{
                > li{                    
                    &::before{
                        background:gray;
                    }
                    &::after{
                        background: gray;
                    }   
                }
            }
            li{
                ul{
                    &.is-active{
                        // display: block;
                        opacity: 1;
                        height: 100%;
                    }
                }
            }
            .menuTxt{
                transition: all .2s;
                display: inline-block;
            }      
            .depth2{
                text-indent: 0;
                transition: all .2s;                
                opacity: 1;
            }
        }
    }    
}



























