.wrapper{  
    &.login{
        background: $loginBg_pms;
        .loginTop{           
            min-height: 85vh;
            align-items: center;
            .loginBox{
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.125);
                position: relative;
                z-index: 1;
            }   
        } 
        footer{
            margin-top: -25vh;
            padding-top: rem(120);
            height: 40vh;
            background-image: url(../img/pms/bgLogin.png);
            p{
                color: $loginFooter_pms;
                & + p{
                    margin-top: rem(30);
                    color: $loginFooter2_pms;
                }
            }
        }
    }
}
.contWrapper {
    .dashboard{
        //height: 100%;
        padding: 1.875rem 3.875rem 0 3.875rem  !important;
        width: 1250px;
        table{
            tfoot{
                td{
                    background: #e2e2e2;
                    padding: 0 10px;
                }
            }
            .dot{
                margin-right: 4px;
                vertical-align: baseline;
                margin: 0 0.5rem;
            }
            
            &.chkType{
                thead{
                    height: 2.4rem;
                    margin-top: 10px;
                }
                tr{
                    
                    td{
                        height: 2.4rem;
                        &.left{
                            padding-left: 40px;                            
                        }
                        &.right{
                            padding-right: 40px;
                        }
                    }
                }
            }            
        }
        .accBox{
            .prefix{width: 20%;}
        }
    }
}
.contWrapper{
    padding-right: 0;  // 우측패널 삭제  rem(52) -> 0
} 

// GNB 클릭, 마우스오버 이벤트
.layoutWrapper{
    &.is-active,    //is-active는 없애야함-ys
    &.is-hover{
        .gnbWrapper{
            background:$white;
        }
        .navWrapper{
            > ul{
                > li{                    
                    &::before{
                        background:$navArrow_pms;
                    }
                    &::after{
                        background: $navArrow_pms;
                    }   
                }
            }
        }
    }    
}
// .bizStateRegister{
//     .regiPart {
//         .boxWrap{
//         margin-top: rem(10);
//         padding: rem(30) rem(50);
//         }
//     }

//     .inputList{
//     & + .inputList{
//         margin-bottom: rem(5);
//     }
//     > ul{
//     // .grid{
//         > li{ 
//             margin-bottom: rem(30);
//         }
//     }
    
//     }
// }




























