// .layoutWrapper{
//     min-width: rem(1200);
// }


.wrapper{
    width: 100%;
    .section{
        width: 100%;
        max-width: rem(1200);
        margin: auto;
        &.login{
            //padding-top: rem(150);
            //margin: rem(50) 0;
            max-width: inherit;
            //height:100vh;
            padding: rem(50) 0;
            background-color: $bgColor;
        }
    }
    &.center{
        height:100vh;
        background-color: $bgColor;
        @include heightArray;
    }
}
  









.headerWrapper{
    .header{
        min-width: rem(1200);
        width: 100%;
    }
}


.contWrapper{
    min-width: rem(1200);
    width: calc(100% - 70px);
    margin-left: rem(70);
    //position: absolute;
    //left: rem(70);
    .proReqList{
        padding: rem(35) rem(40);
    }
    .contLayout{
        display: flex;
        min-height: calc(100vh - 95px);
        background: $bgColor;
        .myProjList{
            width: 10%;
            min-width: rem(307);    
            //height: calc(100vh - 96px);
            //overflow-y: auto;
            //padding: rem(30);
            background: $bgColor;
            position: relative;
        }
        .myProjDetail{
            width: 90%;
            padding: rem(30) rem(20);
        }
        .myProjJob{
            display: none;
            width: 45%;
            padding: rem(30) rem(10);
            padding-left: 0;
        }


        .myPeoList{
            min-width: rem(610);
            background: $white;
            border-right: 1px solid $layoutColor;
        }
        .myPeoDetail{
            width: calc(100% - 570px - 50px);
            padding: rem(30);
            .tableWrap{
                height: calc(100vh - 240px);
                overflow-y: auto;
                th{
                    position: sticky;
                    top:0;
                }
                
            }
        }


        .projReqList{
            width: calc(100% - 50px);
            padding: rem(38) rem(40);
        }


        .rPanelLayer{
            width: 0;
            background: $white;
            transition: all .3s ease;
            position: relative;
            .rPanelBox{
                display: none;
            }   
            &.is-active{
                width: rem(640); 
                .rPanelBox{
                    display: block;
                }   
            }
            &.layerType{
                min-height: calc(100vh - 200px); //임시
                position: absolute;
                top: rem(95);
                right: rem(60);
            }
        }
        .filterWrapper{
            display:none;
            position: absolute;
            left: -230px;
            top:0;
            &.is-active{
                display: block;
            }
        }
        .rPanel{                
            width: rem(60);
            padding: rem(20) rem(15);
            //height: calc(100vh - 95px);
            //position: fixed;
            right: 0;
            //bottom: 0;
            background: $white;
            li{
                margin-bottom: rem(15);
            }
        }
        &.is-active{
            .myProjDetail{
                width: 45%;
            }
            .myProjJob{
                display: block;
            }
        }
    }
} 







  