.wrapper{
    width: 100%;    
    .login{
        width: 100%;
        max-width: rem(1200);
        margin: auto;
        //height:100vh;
        padding: rem(50) 0;
        background-color: $bgColor;
    }    
    &.center{
        height:100vh;
        background-color: $bgColor;
        @include heightArray;
    }
}
  


.contWrapper{
    min-width: rem(1920);
    width: 100%;
    padding-left: rem(60);
    padding-right: rem(60);
    .contLayout{
        display: flex;
        min-height: calc(100vh - 70px);
        background: $bgColor;

        //마이프로젝트
        .myProjList{
            //width: 10%;
            //min-width: rem(307);    
            width: rem(350);
            //height: calc(100vh - 96px);
            //overflow-y: auto;
            //padding: rem(30);
            background: $bgColor;
            position: relative;
        }
        .myProjDetail{
            width: calc(100% - 350px - 640px);            
            padding: rem(30);
            padding-right: 0;
            //화면분할
            //width: calc(100% - 350px - 60px);
            // &.is-active{             
            //     width: calc(100% - 350px - 640px - 60px);       
            //     + .myProjJob{
            //         display: block;
            //     }
            // }
        }
        .myProjJob{
            //화면분할
            //display: none;
            width: rem(640);
            //height: calc(100vh - 88px);
            height: calc(100vh - 70px);
            overflow-y: auto;
            padding: rem(30) rem(30);
            padding-left: rem(30);
            .wrap{
                
                &.is-active{
                    .tabContWrap{
                        .yScroll{
                            height: calc(100vh - 315px);
                        }
                    }
                }
            }
        }


        //마이피플
        .myPeoList{
            width: rem(640);
            background: $white;
            border-right: 1px solid $layoutColor;
        }
        .myPeoDetail{
            width: calc(100% - 640px - 60px);
            padding: rem(30) 0;  
            .boxListWrap{
                padding:0  rem(30) ;  
            } 
            .tabBtnWrap{
                padding: 0 rem(30);
            }
        }


        //프로젝트 의뢰목록, 프로젝트 진행목록
        .projReqList, .genMember, .projProgList{
            //height: calc(100vh - 100px);
            height: calc(100vh - 80px);
            padding: rem(30) rem(40);
            overflow-y: auto;
        }

        

        //

        //기본
        .default{
            width: calc(100% - 60px - 60px);
            @include heightArray;
        }

        &.is-active{
            // .myProjDetail{
            //     width: 45%;
            //     width: calc(100% - 350px - 640px - 60px);
            //     // &.is-active{
            //     //     width: calc(100% - 350px - 640px - 60px);
            //     // }
            // }
            .myProjDetail{
                display: none;
            }
            .myPeoDetail{
                width: calc(100% - 640px - 640px - 60px);
            }
        }
    }
    &.noSide{
        padding-left: 0;
        padding-right: 0;
    }
    &.noRight{
        padding-right: 0;
    }

} 



//우측패널
.rPanelLayer{
    width: 0; 
    background: $white;
    transition: all .3s ease;
    //position: relative;
    position: fixed;
    right: rem(59);
    top: rem(70);
    height: calc(100vh - 70px);
    .rPanelBox{
        display: none;
    }   
    &.is-active{
        width: rem(640); 
        .rPanelBox{
            display: block;
        }   
    }
    &.layerType{
        min-height: calc(100vh - 200px); //임시
        position: fixed;
        //top: rem(95);
        top: rem(70);
        right: rem(60);
    }
}
.filterWrapper{
    display:none;
    position: absolute;
    left: -229px;
    top: -1px;
    &.is-active{
        display: block;
    }
}
.rPanel{                
    width: rem(60);
    padding: rem(20) rem(15);
    height: calc(100vh - 70px);
    position: fixed;
    right: 0;
    top: 70px;
    background: $white;
    border-left: 1px solid $layoutColor;
    li{
        margin-bottom: rem(15);
        cursor: pointer;
    }
}


// GNB 클릭, 마우스오버 이벤트
.layoutWrapper{
    &.is-active{
        .gnbWrapper{
            width: rem(205);
            background-image: linear-gradient(to bottom, $highlight, $gnbGreen);
        }
        .navCtrlBtn{
            width: calc(100% - 24px);
            text-align: right;
            position: relative;
            &::before{
                width: rem(15);
            }
            .ctrlBtn{
                width: rem(14);
                height: rem(22);
                background-position: 0px -30px;
            }
        }    
        .navWrapper{
            .menuTxt{
                display: inline-block;
            }
        }
        .contWrapper{
            width: calc(100% - 205px);
            padding-left: rem(205);
            //left: 205px;
        }   
    }   
    &.is-hover{
        .gnbWrapper{
            width: 205px;
            background-image: linear-gradient(to bottom, $highlight, $gnbGreen);
        }
        .navCtrlBtn{
            width: calc(100% - 24px);
            text-align: right;
            background: $white;
            &::before{
                width: rem(15);
            }
            .ctrlBtn{
                width: rem(14);
                height: rem(22);
                background-position: 0px -30px;
            }
        }    
        .navWrapper{
            .menuTxt{
                display: inline-block;
            }
        }
    }   
}


@media (max-width: 1919px) {
    .contLayout{
        min-height: calc(100vh - 80px) !important;
    }
  }
  