.wrapper{
    width: 100%;
    .section{
        width: 100%;
        max-width: rem(1200);
        margin: auto;
        &.login{
            //padding-top: rem(150);
            //margin: rem(50) 0;
            max-width: inherit;
            //height:100vh;
            padding: rem(50) 0;
            background-color: $bgColor;
        }
    }
    &.center{
        height:100vh;
        background-color: $bgColor;
        @include heightArray;
    }
}
  


.headerWrapper{
    .header{
        min-width: rem(1920);
        width: 100%;
    }
}


.contWrapper{
    min-width: rem(1920);
    width: 100%;
    padding-left: rem(60);
    .proReqList{
        padding: rem(35) rem(40);
    }
    .contLayout{
        display: flex;
        min-height: calc(100vh - 95px);
        background: $bgColor;
        .myProjList{
            //width: 10%;
            //min-width: rem(307);    
            width: rem(350);
            //height: calc(100vh - 96px);
            //overflow-y: auto;
            //padding: rem(30);
            background: $bgColor;
            position: relative;
        }
        .myProjDetail{
            //width: 90%;
            //width: calc(100% - 60px);
            width: calc(100% - 350px - 60px);
            padding: rem(30) rem(20);
        }
        .myProjJob{
            display: none;
            //width: 45%;
            width: rem(640);
            padding: rem(30) rem(10);
            padding-left: 0;
        }


        .myPeoList{
            width: rem(640);
            background: $white;
            border-right: 1px solid $layoutColor;
        }
        .myPeoDetail{
            width: calc(100% - 640px - 60px);
            padding: rem(30);
            .tableWrap{
                height: calc(100vh - 240px);
                overflow-y: auto;
                th{
                    position: sticky;
                    top:0;
                }
                
            }
        }


        .projReqList{
            width: calc(100% - 50px);
            padding: rem(38) rem(40);
        }


        .rPanelLayer{
            width: 0;
            background: $white;
            transition: all .3s ease;
            position: relative;
            .rPanelBox{
                display: none;
            }   
            &.is-active{
                width: rem(640); 
                .rPanelBox{
                    display: block;
                }   
            }
            &.layerType{
                min-height: calc(100vh - 200px); //임시
                position: absolute;
                top: rem(95);
                right: rem(60);
            }
        }
        .filterWrapper{
            display:none;
            position: absolute;
            left: -230px;
            top:0;
            &.is-active{
                display: block;
            }
        }
        .rPanel{                
            width: rem(60);
            padding: rem(20) rem(15);
            //height: calc(100vh - 95px);
            //position: fixed;
            right: 0;
            //bottom: 0;
            background: $white;
            li{
                margin-bottom: rem(15);
            }
        }

        .default{
            width: calc(100% - 60px);
            @include heightArray;
        }

        &.is-active{
            .myProjDetail{
                width: 45%;
                width: calc(100% - 350px - 640px - 60px);
            }
            .myProjJob{
                display: block;
            }
            .myPeoDetail{
                width: calc(100% - 640px - 640px - 60px);
            }
        }
    }
} 


// GNB 클릭, 마우스오버 이벤트
.layoutWrapper{
    &.is-active{
        .gnbWrapper{
            width: rem(205);
            background-image: linear-gradient(to bottom, $highlight, $gnbGreen);
        }
        .navCtrlBtn{
            width: calc(100% - 24px);
            text-align: right;
            background: $white;
            position: relative;
            &::before{
                width: rem(15);
            }
            .ctrlBtn{
                width: rem(14);
                height: rem(17);
                background-position: 0px -30px;
            }
        }    
        .navWrapper{
            .menuTxt{
                display: inline-block;
            }
        }
        .contWrapper{
            width: calc(100% - 205px);
            padding-left: rem(205);
            //left: 205px;
        }   
    }   
    &.is-hover{
        .gnbWrapper{
            width: 205px;
            background-image: linear-gradient(to bottom, $highlight, $gnbGreen);
        }
        .navCtrlBtn{
            width: calc(100% - 24px);
            text-align: right;
            background: $white;
            &::before{
                width: rem(15);
            }
            .ctrlBtn{
                width: rem(14);
                height: rem(17);
                background-position: 0px -30px;
            }
        }    
        .navWrapper{
            .menuTxt{
                display: inline-block;
            }
        }
    }   
}




  