.bulletList{
    margin-top: rem(10);
    li{
        position: relative;
        margin-left: rem(12);
        // &::before{
        //     content:'';
        //     width: rem(4);
        //     height: rem(4);
        //     border-radius: 50%;
        //     background: $black;
        //     position: absolute;
        //     left: 0;
        //     top: calc(50% - 2px);
        // }
        &::before{
            content:'';
            width: 5px;
            height: 1px;
            background: $subInfo;
            position: absolute;
            top: rem(12);
            left: -9px;
        }
    }
}
