


.memberWrap{
    .boxList{
        margin-top: rem(20);
        &.is-active{
            .head{
                color: $white;
                border-radius: rem(5) rem(5) 0 0;
                background: $mainColor;
            }
        }
    }
    .head{
        color: $disable;
        background: $bgColor;
        padding: rem(5) rem(20);
        .prefix{
            font-weight: 400; 
        }
    }
    .cont{       
        padding: rem(20);
        @include sideArray;
        .prefix{
            width: 66%;
            color: $subInfo; 
            padding-right: rem(40);
            span{
                margin-right: rem(10);
            }
            .memName{
                color: $black;
                font-weight: 700;
                .photo{
                    width: rem(40);
                    height: rem(40);
                    border-radius: rem(12);
                    vertical-align: middle;
                    margin-right: rem(10);
                }
            }
            .memSkill{
                @include ellipsis;
            }
            .memPay{
                color: $black;
                font-weight: 500;
            }
            // .memCareer{
            //     color: $highlight;
            // }
            .memMemo{
                margin-top: rem(4);
            }
        }   
        .center,
        .suffix{
            text-align: center;
            @include heightArray;
        }
        .center{
            font-weight: 500;
            padding: 0 rem(17);
            position: relative;
            &::before{
                content:'';
                width: 1px;
                height: rem(106);
                background: $layoutColor;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .suffix{
            color: $disable;
            &.clear{
                color: $highlight;
            }
            
        }
    }
}
