
@mixin heightArray{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin sideArray{
    display: flex;
    justify-content: space-between;
}

@mixin flex_1_2{
    display: flex;
    .prefix{
        flex: 1 1 0;
    }
    .suffix{
        flex: 2 1 0;
    }
  }




@mixin ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space:nowrap;
    text-align: left;
    color: $mainColor;
    cursor:pointer;
    //text-decoration: underline;
}

@mixin ellipsis-double {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap:break-word;
    -webkit-line-clamp: 2;
    text-align: left;
    -webkit-box-orient: vertical;
}


@mixin scroll_0{
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 0;
    }
}
  