.modalLayer{
    .tableTop{
        margin-top: 0;
        & + .sticky{
            margin-top: 0;
        }
    }
    .sticky{
        margin-top: 10px;
        // height: calc(100vh - 360px);
        height: calc(100vh - 355px);
        border-bottom: 0;
        &.hasInfo{
            height: auto;
            max-height: calc(100vh - 460px);
            td{
                &.nodata{
                    // height: 469px;
                    height: calc(100vh - 495px);
                }
            }
        }
    }
    table{
        td{
            &.nodata{
                // height: 469px;
                height: calc(100vh - 360px - 85px);
            }
        }
    }
}

.modalCont{
    .tabBtnWrap{
        justify-content: initial;
    }
    .tabContWrap{
        margin-top: 0;
        .sticky{
            margin-top: 0;
        }
    }
    th,
    td{
        &.fold{         
            text-align: center;   
            border-left: 1px solid $tableBorder;
        }
    }
}

//-----------------거래처
//거래처 - 거래처 담당자
.clientAdmin{
    .tableBox{
        tfoot{
            td{
                padding: 10px 5px;
                &:last-child{
                    button{
                        margin-left: 4px;
                        width: 60px;
                        height: 32px;
                        line-height: rem(32);
                    }
                }
            }
            .inputIco{
                width: 100%;
            }
            input{
                background: $white;
            }
        }
    }
    .modalFooter{
        position: relative;
    }
}


//-----------------사업현황
//사업현황 등록 - 계약생성, 인력추가
.contractCreate,
.mMSupply{
    h5{
        color: $beigeTit;
    }
    .cont{
        display: flex;
        gap: 40px;
        >.prefix{
            flex: 3 1 0;
        }
        >.suffix{
            flex: 2 1 0;
            height: 5px;            
            .inputList{
                margin-top: 10px;
                padding: 20px 15px;
                border-top: 1px solid $h5Under_pms;
            }
        }
    }
    .col2{
        row-gap: rem(20);
        column-gap: rem(50);
        grid-template-columns: 1fr 1fr;
    }
    .info{
        margin-top: rem(10);
        color: $subInfo;
    }
    
    .tableTop{
        & + .sticky{
            height: calc(100vh - 530px);;
        }
    }
}

//사업현황 등록 - 계약상세
.contractDetail{
    h2,
    h3{
        margin-bottom: rem(20);
    }
    .boxWrap{
        margin-top: 10px;
    }
    .col7{
        row-gap: rem(20);
        column-gap: rem(50);
        grid-template-columns: 110px 125px 85px 95px 95px 130px 140px;
    }
    .cont{
        height: calc(100vh - 370px);
        overflow-y: auto;
        .conDTerm{
            grid-column: 2/4;
        }
        .conDCount{
            grid-column: 1/4;
        }
        // .conAdmin{
        //     grid-column: 6/8;
        // }
        .conDFile{
            grid-column: 1/5;
        }
        .basic{
            //턴키없을때
            .conDCom{
                grid-column: 2/4;
            }
        }
        .dateType{
            width: rem(114) !important;
        }
        // .range{
        //     margin: 0 9px;
        // }
        .info{                
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
            // input{
            //     flex-grow: 1;
            // }
        }
        .error,
        .eHigh{
            margin-top: 5px;
            font-size: rem(13);
        }
    }
    .tableBox{
        overflow: visible;
        .tooltip{
            width: rem(240);
            text-align: left;
        }
    }
    .underBg{
        margin-top: rem(40);
    }
    .info,
    .uploadBox{
        margin-top: rem(15);
        color: $subInfo;
    }
    .commentBox{
        .commentInput{
            &::after{
                display: none;
            }
        }
        .writer{
            text-align: left;
        }
        .comment{
            .content{
                width: 91%;
            }
        }
    } 
    //턴키
    &.turn{
        .col3{
            margin-top: 20px;
            row-gap: rem(20);
            column-gap: rem(30);
            grid-template-columns: repeat(3, 300px);
        }
        .col4{
            row-gap: rem(20);
            column-gap: rem(30);
            // grid-template-columns: repeat(4, 138px);
            grid-template-columns: 130px 160px 130px 140px;
        }
        .conDTerm{
            grid-column: 2/4;
        }
        .conDCount{
            margin-bottom: 0;
            grid-column: 1/4;
            // .info{
            //     display: flex;
            //     gap: 5px;
            // }
        }
        .conDFile {
            grid-column: 1/3;
        }
        .dateType{
            width: rem(134) !important;
        }
        // .range{
        //     margin: 0 10px;
        // }
    }
    .contentFlex{
        display: flex;
        gap: 60px;
        .prefix{
            flex: 5 1 0;
        }
        .suffix{
            flex: 3 1 0;
            border: 1px solid $layoutColor;
            border-radius: 6px;
            &.divideBox{
                padding: rem(20) rem(25);
                margin-top: 0;
                margin-left: 0;
                flex-direction: column;
                background: $divideBg_pms;
                li{
                    margin-bottom: rem(10);
                    display: flex;
                    align-items: center;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    h6{
                        width: rem(100);
                    }
                    .info{
                        margin-top: 0;
                    }
                }
                .conSupply,
                .conPrice{
                    margin-top: 10px;
                    position: relative;
                    &::before{
                        content:'';
                        width: 100%;
                        height: 1px;
                        background: $layoutColor;
                        position: absolute;
                        left: 50%;
                        top: -15px;
                        transform: translateX(-50%);
                    }
                }
            }
            > div,
            ul{
                padding: 0;
                border:0;
                display: flex;
                flex-direction: column;
                flex: 1;
                justify-content: space-between;
            }
        }
    }
}


//턴키 투입인력
.turnkeyInsert{
    position: relative;
    .layerBox{
        padding: rem(30) rem(8) !important;
        border: 1px solid $boxHead;
    }
    h4{
        font-weight: 500;
        text-align: center;
    }
    .layerClose{
        position: absolute;
        right: 0;
        top: -20px;
    }
    .tableTop {
        .suffix{
            gap: 4px;
        }
    }
    .tableBox{
        height: rem(590);
        font-size: 13px;
        
        th{
            &.sales{background: $thSales_pms;}
            &.buy{background: $thBuy_pms;}
        }     
        tfoot{
            td{
                height: rem(58);
            }
        }
    }
    input[type=text]{
        background: $white;
        &.dateType{  
            width: 100%;
            padding: rem(2);
            background: $white;
        }            
    }
}

//전자계약
//전자계약합의서
.eleContract,
.eleContAgree{
    .boxWrap{
        margin-top: rem(10);
    }
    .cont{        
        height: calc(100vh - 370px);
        overflow-y: auto;
    }
    .tableTop{
        margin-top: rem(20);
        &:first-child{
            margin-top: 0;
        }
        .tooltip{
            &.bottom{
                width: rem(190);
                text-align: left;
            }
            &.right{
                width: rem(200);
                right: auto;
                text-align: left;
                left: rem(20);
            }
        }
    }
    .tableBox{
        overflow: visible;
        .tooltip{
            &.bottom{
                width: rem(220);
                text-align: left;
            }
        }
    }
    table{
        tr{
            &:hover{
                background: transparent;
            }
            &.is-active{
                background: $trClk_pms;
                &:hover{
                    background: $trClk_pms;
                } 
                .datepicker,
                input,
                select{
                    background-color: $white;
                    input{
                        background: transparent;
                    }
                }
            }
        }
        th{
            text-align: center;
            color: $white;
            background: $gnbGray;   
            .need{
                position: relative;
                &::after{
                    content:'*';
                    margin-left: rem(4);
                }
            }
        }
        td{
            padding: 8px;
            border-top: 1px solid $tableBorder;
            .yScroll{
                height: rem(60);
            }
            a{
                cursor: initial;
            }
            &.nodata{
                height: rem(100);
            }
        }
        &.rowType{
            tr{
                &:last-child{
                    border-bottom: 1px solid $tableBorder;
                }
            }
        }
        tfoot{
            font-weight: bold;
        }
        .flex{
            gap: 5px;
            align-items: center;
            justify-content: space-between;
            li{
                display: flex;
                align-items: center;
                gap: 10px;
                width: 50%;
                .prefix{
                    display: flex;
                    gap: 5px;
                    flex: 1 1 0;
                }
            }
            .bdType{
                width: rem(50);
                line-height: rem(28);
            }
            & + .flex{
                margin-top: rem(15);

            }
            select,
            input[type=text]{
                flex: 1 1 auto;
            }
        }
        select,
        input[type=text]{
            flex: 1;
            // line-height: rem(28);
            // height: rem(32);
            & + input[type=text]{
                margin-top: 5px;
            }
        }
        select{
            // width: 112px;
            // max-width: 100%;
            &.smSize{
                flex: initial;
                // width: rem(144);
                width: rem(190);
            }
        }
        button{
            line-height: rem(28);
            &.round{
                line-height: rem(18);
                cursor: initial;
            }
        }
    }
    .inputGroup{
        min-width: auto;
        padding: 10px 10px 10px 20px;
        .list{
            .list_ul{
                max-height: rem(80);
            }
        }
        & + label{
            min-width: rem(78);
            padding: 0 rem(6);
            line-height: rem(28);
            font-size: rem(14);
        }
    }

    .signBox{
        margin-top: rem(30);
        text-align: right;
        table{
            margin-left: auto;
            width: rem(320);
            th{
                color: $tableGray;
                background: transparent;
                border-top: 1px solid $tableBorder;
            }
            td{
                text-align: left;
            }
        }
    }
}


.eleContract{
    .tableTop{
        margin-top: rem(40);
    }
    .contentFlex{
        display: flex;
        gap: 30px;
        .prefix{
            flex: 1 1 0;
            position: relative;
            &::after{
                content:'';
                width: 1px;
                height: 90%;
                background: $tableSort;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
            li{
                margin-bottom: rem(40);
                .info{
                    font-weight: 500;
                    line-height: rem(32);
                }
            }
        }
        .suffix{
            flex: 5 1 0;
        }
        li{
            margin-bottom: 0;
            h6{
                color: $subGray;
                font-weight: normal;
            }
            .info{
                margin-top: rem(15);
                line-height: rem(44);
                display: flex;
                flex-direction: column;
                gap: rem(10);
            }
        }
        .grid{            
            row-gap: rem(30);
            column-gap: rem(40);
            grid-template-columns: 1.2fr 1fr 1fr 1fr 2fr;
        }
        .conEmpty,
        .conAdmin{
            grid-column: 4 / 6;
            .flex{
                gap: rem(8);
            }
            select{
                flex:1;
                width: 100%;
                appearance: none;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            button{
                width: rem(100);
            }
        }
        .conDTerm,
        .conDCount,
        .conDFile{
            grid-column: 1 / 3;
            .flex{
                gap: rem(8);
            }
            .re{
                width: rem(70);
            }
            .uploadBox{
                margin-top: 10px;
            }
        }
        .sendRecord{
            grid-column: 3 / 5;
            li{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}

.contractId{
    margin-bottom: rem(70);
    padding: 0 rem(30);
    text-align: center;
    .hasBtn{
        margin-top: rem(30);
        .inputIco{
            flex: 1;
        }
        button{
            padding: 0 rem(20);
            width: auto;
        }
    }
}


//변경계약이력
.contractRecord{

}

//----------------라이선스 관리
.licenseDetail{   
    .boxWrap{
        margin-top: 10px;
        .cont{
            height: calc(100vh - 430px);
            overflow-y: auto;
        }
        .col4{
            row-gap: rem(20);
            column-gap: rem(40);
            grid-template-columns: 110px 110px 110px 240px;
        }
        .col5{
            row-gap: rem(20);
            column-gap: rem(40);
            grid-template-columns: 110px 110px 110px 240px 130px;
        }
        .underBg{
            margin-top: rem(40);
        }
    } 
    .inputList{
        > ul{
            > li{ 
                margin-bottom: 10px;
            }
        }
        .info{            
            margin-top: rem(10);    
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
            height: rem(44);
        }
        .licenseAdmin{
            // margin-top: 50px;
            grid-column: 1 / 5;
            // position: relative;
            // &::before{
            //     content:'';
            //     width: 40px;
            //     height: 1px;
            //     background: $layoutColor;
            //     position: absolute;
            //     top: -30px;
            //     left: 0;
            // }
        }
        input[type=checkbox],
        input[type=radio]{
            + label{
                + input{
                    + label{
                        margin-left: 0;
                    }
                }
            }
        }
        .flexBw{
            margin-top: 0;
        }
        .tooltip{
            width: rem(180);
            &.first{
                left: 270%;
                &::after{
                    left: 34%;
                }
            }
        }
    }
}


//----------------매출매입집계
//프로젝트별 매출집계 - 월별 매입/매출 
//투입유형별 매출/매입 - 월별 매입/매출
//외주 매출/매입
//정직원 매출/매입

.projMonthly,
.insertMonthly,
.sourcingMonthly,
.empMonthly{
    td{
        padding: rem(4) rem(10);
        text-align: right;
        &.ellipsis{
            text-align: left;
        }
    }
    tfoot{
        font-weight: bold;
    }
}
//정직원 매입매출-부서관리
.memDept{
    .tableBox{
        padding: 0 rem(20);
        border-radius: rem(7);
        border: 1px solid $layoutColor;
    }
}

//------------------매입원장/고용산재
//보험 근로자 원부번호
.originNum{
    // height: rem(500); 
    tr{
        &:hover{
            background: initial;
        }
        th,
        td{            
            border-left: 1px solid $tableBorder;
            &:first-child{
                border-left: 0;
            }
        }
    }
    
}

//공단파일업로드
.pubFileUpload{
    margin-top: -30px;
    .h3_sub{
        margin-bottom: rem(20);
        color: $gray;
    }
    .tableTop{
        display: inherit;
    }
}

//지급스케줄
.paySchedule{
    table{
        .datepicker{
            input{
                text-align: left;
            }
        }
        input{
            text-align: right;
            &.nodata{
                text-align: center;
            }
        }
        td{
            text-align: right;
            padding: rem(4);
        }
        tfoot{
            font-weight: bold;
            td{                
                padding: rem(4);
            }
        }
    }
}
//지급일자
#setPaymentDate{
    .ui-datepicker{
        table{
            height: rem(273);
        }
    }
}


//----------------공통
//직원상세
.staffDetail{
    margin-top: -30px;
    .memDetail{
        margin-top: rem(20);
        width: auto;
        background: $bgColor;   
    }
    .tabWrapper{
        .suffix{
            button{
                line-height: rem(34);
                padding: 0 rem(15);
            }
        }
    }
    .tabContWrap{
        margin-top: rem(10);
    }
    .tabBtnWrap{
        .tabBtn{
            a{
                width: auto;
            }
            &:first-of-type{
                border-bottom-left-radius : rem(4);
            }
            &:last-of-type{
                border-bottom-right-radius : rem(4);
            }
        } 
    }
    .resumeWrapper{
        .resuBox{
            height: calc(100vh - 400px);
        }
    } 
    .resume{
        .prefix{
            padding: rem(40);
            .top{
                h3{
                    margin-bottom: 0;
                    display: block;
                }
            }
        }
        .suffix{
            margin-left: 0;
            display: block;
            h3{
                .tabBtnWrap{
                    float: right;
                }
            }
        }
        .mid{
            padding-bottom: rem(30);
            border-bottom:1px solid $titleGray;
            li{
                display: flex;
                gap: rem(15);
                b{
                    flex-shrink: 0;
	                width: rem(55);
                    font-weight: 400;
                    color: $subGray;
                }
            }
        }
    }
    .memDetail{ 
        .tabCont{
            .tableBox{
                margin-top: 0;
                padding-right: 0;
                height: calc(100vh - 500px);
            }
        }
    }
    table{
        tr{
            th{
                font-weight: 500;
            }
            th,
            td{
                font-size: rem(14);
            }
            td{
                &.nodata{
                    height: calc(100vh - 360px - 175px);
                }
            }
        }
    }
}

//부서관리
.memDept{
    .tableBox{
        height: calc(100vh - 290px);
    }
}