.layerOpen{
    cursor: pointer;
}

.modalLayer{
    position: absolute;
    display: none;
    visibility: hidden;
    z-index: 1000;
    &.is-active{
        display: block;
        visibility: visible;
    }
    &.center{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        .layerBox{
            overflow-y: auto;
            max-height: 95%;
            padding: rem(30);
            top:50%;
            left: 50%; 
            transform: translate(-50%,-50%);
            border-radius: rem(4);
        }
    }  
    &.absol{
        position: absolute;
        top: 100%;
        right: 0;
        background: $white;
        border: 1px solid $black;
        z-index: 10;
        .layerBox{
            padding: rem(20);
            min-width: rem(240);
        }
        // .modalHeader{
        //     & + .modalCont{
        //         margin-top: rem(15);
        //     }
        // }        
        table{
            th{
                color: $white;
                background: $tableBgGray;   
                border-bottom: 0;  
            }
            td{
                height: rem(32);
            }
        }
        input[type=checkbox]{
            & + label{
                font-size: rem(14);
            }
        }
    }  
    .layerBox{
        position: relative;
        width: rem(570);
        background: $white;
        z-index: 10;
        &.confirmType{
            width: rem(330);
            padding: rem(30) rem(40);
            h4{
                margin-bottom: rem(26);
            }
            // .modalCont{
            //     margin-top: 20px;
            // }
            .modalFooter{
                margin-top: 20px;
                @include flex_1_1;
                button{        
                    flex: 1 1 0;
                }
            }
        }
        &.filterType{
            width: rem(270);

            top: 20px;
            left: 0;
            transform: inherit;
            box-shadow: 1px 1px 10px rgba(0,0,0,0.5);

            .modalHeader{
                margin-top: -8px;
                margin-right: -12px;
            }
            .modalCont{
                margin-top: 0;
            }
            &.laSize{
                width: rem(560);
            }
        }
        &.autoSize{
            width: auto;
        }
        &.smSize{
            width: rem(400);
            padding: rem(45);
            .modalHeader{
                margin-top: -16px;
                margin-right: -16px;
            }
        }
        &.smMidSize{
            width: rem(470);
        }
        &.sm-midSize{
            width: rem(550);
            // .modalFooter{
            //     width: rem(120);
            //     margin: rem(20) auto;
            // }
        }
        &.midSize{
            width: rem(800);
        }
        &.midSize2{
            width: rem(900);
        }
        &.mid-laSize{
            width: rem(1000);
            padding: rem(40) rem(30);
        }
        &.mid-laSize2{
            width: rem(1200);
            padding: rem(40) rem(30);
            .modalFooter{
                max-width: rem(330);
            }
        }
        &.laSize{
            // width: auto;
            width: rem(1450);
            max-width: rem(1450);
            overflow-x: auto;
            padding: rem(40) rem(38);
            max-height: calc(100% - 100px);
            .modalFooter{
                width: rem(240);
                margin: rem(20) auto;
                margin-bottom: 0;
            }
            .flex_2_1{
                width: 100%;
                min-width: rem(1350);
            }
        }
        &.fullSize{
            width: auto;
            max-width: rem(1880);
            overflow-x: auto;
            padding: rem(40) rem(38);
            max-height: calc(100% - 100px);
            .modalFooter{
                width: rem(240);
                margin: rem(40) auto;
            }
            .flex_1_1,
            .flex_2_3{
                width: rem(1790);
                //투입상세정보 팝업 (table 확장)
                &.is-active{
                    // width: 120%;
                    width: rem(2000);
                }
            }
            .flex_2_1{
                width: 100%;
                min-width: rem(1790);
            }
        }
        &.responsive{
            max-width: rem(1130);
        }
    }
    .layerDim{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.5);
        z-index: 5;
    }
    .tit{
        font-size: rem(18);
        font-weight: 700;
        text-align: left;
        line-height: rem(18);
    }
    table{
        thead{
            height: rem(32) !important;
        }
        th{
            padding: rem(2) 0;
            // height: rem(32);
            //color: $white !important;
            //background: $tableBgGray !important;
        }
        td{
            // padding: rem(4) rem(10) !important;
            // padding: rem(4) rem(6) !important;
            // padding: rem(4) !important;
        }
        tfoot{
            td{
                padding: 10px !important;
            }
        }
    }
}

.modalHeader{
    text-align: center;
    @include clear_float;
    .layerClose{
        float: right;
    }
    h2, h3{
        margin-bottom: rem(20);
        font-size: rem(22);
    }
    & + .momodalCont{
        margin-top: rem(10);
    }
}
.modalCont{
    position: relative;
    &.center{
        text-align: center;
        .select{
            // margin:0 auto;
            margin:rem(10) auto;
            text-align: left;
        }
    }
    h2, h3{
        margin-bottom: rem(40);
        text-align: center;
        // font-size: rem(20);
        font-size: rem(22);
        & + .filterList{
            margin-top: rem(10);
        }
        & + .h3_sub{
            margin-top: -30px;
        }
    }
    .h3_sub{
        text-align: center;
    }
    .tabBtnWrap{
        justify-content: center;
    }
    .tabContWrap{
        margin-top: rem(30);
    }
    // .inputList{
    //     margin-top: rem(30);
    // }
    .boxWrap{
        padding: rem(25) rem(18);
    }
    .flexBw{
        font-size: rem(14);
        // color:$subInfo;
        margin-top: rem(10);
        position: relative;
        label{
            font-weight: 400;
            // font-size: rem(14);
            & + .hasTooltip{
                margin-left: rem(3);
            }
        }
    }
    .suffix{
        margin-left: rem(12);
    }
    .flex_1_2{
        padding-bottom: rem(45);
    }
    .tableTop{
        //margin-top: rem(30);
        & + .divideBox{
            margin-top: 0;
        }
    }
    table{
        // table-layout: inherit;
        .select{
            .optionList{
                max-height: rem(110);
            }
        }
    }
    .tabType{
        input[type=radio]{
            & + label{
                width: auto;
                padding: 0 rem(10);
            }
        }
    }  
    .filterList{
        margin-top: 0;
        .btnType{
            display: flex;
            justify-content: space-between;            
            input[type=radio]{
                + label{
                    margin-right: 0;
                }
            }
        }
        .xxsSize{
            text-align: center;
            &:first-child{
                margin-right: 4px;
            }
            &:nth-child(2){
                margin-left: 4px;
            }
        }
    }
    .alertToast{
        bottom: 5%;
        left: 48%;
        transform: translate(-50%, -50%);
    }
    .divideBox{
        margin-top: rem(30);
    }
    .stepBox{
        height: rem(240);
    }
}
.modalFooter{
    max-width: 510px;
    margin: 0 auto;
    margin-top: rem(30);
    @include flex_2_3;
    position: relative;
    &.single{
        width: 50%;
        max-width: rem(200);
        margin-top: rem(50);
    }
    button{        
        flex: 2 1 0;
        + button{
            flex: 3 1 0;
            margin-left: rem(10);
        }
    }
    // button{        
    //     flex: 1 1 0;
    //     + button{
    //         flex: 1 1 0;
    //         margin-left: rem(10);
    //     }
    // }
    .alertToast{
        top:-50px;
        bottom: auto;
        left: 50%;
        transform: translateX(-50%);
    }
}
.modalInfo{
    font-size: rem(14);
    margin-top: rem(40);
    padding-top: rem(20);
    position: relative;
    &::before{
        content:'';
        width: calc(100% + 90px);
        height: 1px;
        background: $layoutColor;
        position: absolute;
        top: 0;
        left: -45px;
    }
    p{
        font-weight: 500;
    }
    .list{
        color: $subInfo;
        li{
            // margin-left: rem(12);
            margin-top: rem(14);
            position: relative;
            &::before{
                content:'';
                width: 5px;
                height: 1px;
                background: $subInfo;
                position: absolute;
                top: rem(10);
                left: -9px;
            }
        }
    }
}


@media (max-width: 960px){
    .modalLayer{
        .layerBox{
            &.responsive{
                width: 100%;                
                height: 100vh;
                max-height: initial;
                border-radius: 0;
            }
        }
    }
}

















#offer_message{
    label{
        margin-bottom: 6px;
    }
    .uploadBox{
        label{
            margin-bottom: 0;
        }
    }
    .inputGroup{
        margin-top: 0;            
    }
}

#showLevel{
    .flex_2_1{
        overflow-y: auto;
        height: 360px;
        >.prefix{
            flex: 1 1 60%;
        }
        > .suffix{
            flex: 2 1 40%;
        }
    } 
    .tabCont{
        overflow-y: auto;
        height: 360px;
    }
    table{
        table-layout: inherit;
        td{
            padding: rem(4) !important;
        }        
    }
    .empty{
        display: inline-block;
        width: rem(40);
    }
    input{
        margin:0 2px;
        text-align: center;
    }
}

#investDetail{
    table{
        table-layout: inherit;
    }
    .flex{
        .prefix{flex: 1 1 45%;}
        .suffix{flex: 2 1 55%;}    
    }
    .ellipsis{
        width: rem(100);
        display: inline-block;
        //line-height: rem(49);
        line-height: rem(33);
        padding: 0 rem(14);
    }
    // table{
    //     &.hasInput{
    //         tr{
    //             td{
    //                 height: rem(40);
    //                 //padding: rem(3);
    //             }
    //         }
    //     }
    // }
    // .selDefault{
    //     &.low{
    //         line-height: rem(28);
    //     }
    // }
    .flex_1_1{
        > .prefix{
            flex: 1 1 40%;
        }
    }
    table{
        select{
            &.full{
                height: rem(36);
            }
        }
    }
}

//마이프로젝트 - 직무추천-설정 팝업
#recomDetail{
    .filterList{
        position: relative;
    }
    .alertToast{
        bottom: -25px;
        left: 0;
        transform: initial;
    }
}

//스킬관리 - 분류관리 팝업 
#group-admin,
#skillAdminPop{
    .left{
        width: 30%;
        .btnType{
            margin-bottom: rem(10);
            height: rem(380);
            overflow-y: auto;
        }
    }
    .right{
        width: 70%;
        .inputList{
            min-height: rem(410);
        }
    }
}

//스킬관리 - 사용량 조회 팝업
#skillAdminUsagePop,
#amount-chk{
    .tableTop{
        justify-content: flex-end;
    }
    .tableBox{
        height: rem(500);
        overflow-y: auto;
    }
}

//메뉴관리 - 메뉴 상세 팝업
#sysMenuPop,
#menu-detail{
    .right{
        .inputList{
            min-height: rem(470);
        }
    }
}
.menuDetail{
    .tableBox{
        height: rem(540);
        padding-right: rem(10);
    }
    .right{
        .inputList{
            min-height: rem(470);
        }
    }
}

//모집공고관리 - 프로젝트 선택 팝업
#recruitProject{
    .listBox{
        margin-top: rem(20);
        margin-bottom: rem(20);
        // height: rem(360);
        height: rem(440);
        overflow-y: auto;
    }
}

//모집공고등록 - 이전공고불러오기 - 팝업
#pre-recruit{
    .listBottom{
        &.pagingType{
            border-top: 0;
        }
    }
}
//이전공고불러오기
#preRecruit{
    .tableBox{
        height:rem(500);
    }
}

#searchFilter{
    .modalCont{
        h4{
            color: $beigeTit;
            margin-bottom: rem(16);
        }
        > ul{
            display: flex;   
            margin-top: rem(30);
            > li{
                padding: 0 rem(24);
                min-width: rem(200);
                border-right: 1px solid $layoutColor;
                &:first-child{
                    padding-left: 0;
                }
                &:last-child{
                    padding-right: 0;
                    border-right:0;
                }
                li{
                    margin-bottom: rem(5);
                }
            }   
        }
        .btnType{
            margin-bottom: rem(5);
            justify-content: center;
        }
    }
    .listBottom{
        margin-top: rem(60);
        button{
            flex: 1 1 50%;
        }
    }
    .inputGroup{
        padding: 0;
        min-width: rem(940);
        height: rem(55);
        overflow-y: auto;
        border:0;
    }
    .suffix{
        display: flex;
        margin-left: rem(40);
    }
}


//모집공고상세 - 프로젝트 제안이력 팝업
.projOfferHis{
    h4{
        text-align: center;
    }
    .profile{
        display: flex;
        margin: 0;
        .phoImg{
            margin: 0 rem(20);
            margin-right: rem(30) !important;
            display: inline-block;
            &.is-special{
                &::before{
                    width: 21px;
                    height: 20px;
                    right: 5px;
                    top: 5px;
                }
                &:after{
                    right: 8px;
                    top: 9px;
                }
            }
            img{
                width: rem(100);
                height: rem(100);
            }
        }
        .tableBox{
            margin-top: rem(10);
        }
        ul{
            // margin: rem(10) 0;
            li{
                font-size: rem(14);
                text-align: left;
                line-height: rem(24);
                &:first-child{
                    font-size: rem(16);
                    font-weight: 500;
                }
            }
        }
    }
    table{
        margin-top: rem(20);
        td{
            height: rem(33);
        }
    }
    .offerResult{
        padding: rem(25) rem(20);
        border:1px solid $layoutColor;
        border-radius: rem(6);
        ul{
            margin-top: rem(20);
            font-size: rem(14);
        }
        li{
            margin: rem(8) 0;
                padding-left: rem(18);
                position: relative;
                &::before{
                    content:'';
                    width: 4px;
                    height: 4px;
                    background: $dotGray;
                    position: absolute;
                    left: 8px;
                    top: 10px;
                }
        }
    }
    .offerMessage{
        padding: rem(10);
        background: $offerBg;
        border-radius: rem(6);
        .yScroll{
            height: rem(200);
            padding: rem(10);
            padding-right: 0;
        }
    }
}

//모집공고 미리보기
#recruitPreview{
    .layerBox{
        padding: 0;
        min-width: rem(1240);
        //transition: all .3s;
        &.mView{           
            width: 410px;
            min-width: 410px;
            h3{
                margin-top: 5px;
                margin-bottom: 20px;
                text-align: left;
            }
        }
    }
    .modalHeader{
        position: absolute;
        top:20px;;
        right: 20px;
        z-index: 1;
    }
    .modalCont{
        margin-top: 0;
        .compoWrapper{
            padding-top: rem(60);
            padding-bottom: rem(40);
        }
        .component{
            margin-top: 10px;
            height: calc(100vh - 450px);
        }
    }
}
//모집공고 재등록
#isReopen{
    .layerBox{
        height: 660px;
    }
    .hasDatepicker{
        min-height: 457px;
    }
}

//마이프로젝트 - 연락주의자 명단
#contactCare{
    .tableBox{
        height: rem(350);
        overflow-y: auto;
    }
}

//마이피플 - 고정항목관리
//거래처 - 거래처 담당자
#chkListAdmin{
    .divideBox {
        .left{width: 35%; padding: rem(15) rem(20);}
        .right{
            width: 65%;
            padding: 0;
            padding-left: rem(20);
            border: 0;
            .tableBox{
                &:first-child{
                    padding-top: rem(30);
                    height: rem(460);
                    thead{
                        position: absolute;
                        top: 46px;
                        z-index: 2;
                    }
                }
            }
        }
        input{
            height: rem(32);
            background: $white;
        }
        button{
            line-height: rem(32);
        }
    }
}

//거래처 - 거래처 담당자
.clientAdmin{
    .tableBox{
            padding-top: rem(30);
            height: calc(100vh - 406px);
            thead{
                position: absolute;
                top: 46px;
                z-index: 2;
            }
        &:last-child{
            padding-top: 0;
            height: 55px;
        }
        td{
            height: rem(44);
            font-size: rem(13);
            &.nodata{
                height: 469px;
            }
        }
        tfoot{
            td{
                height: rem(52);
                padding: 10px 5px !important;
                &:last-child{
                    button{
                        margin-left: 4px;
                        width: 60px;
                        height: 32px;
                        line-height: rem(32);
                    }
                }
            }
            .inputIco{
                width: 100%;
            }
            input{
                height: rem(32);
                background: $white;
            }
        }
    }
    .modalFooter{
        position: relative;
    }
    .alertToast{
        top: -50%;
        left: 50%;
        transform: translateX(-50%);
    }
}


#requireProject{
    .absol{
        box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.2);
        .layerBox{
            padding: rem(10);
            min-width: auto;
            width: auto;
            background: $modalBg;
            left: 0;
            transform: initial;
        }        
    }
    .tableBox{
        .tooltip{
            text-align: left;
            width: 390px;
            left: -380px;
            top: 50%;
            bottom: auto;
            transform: translate(0, -50%);
            .yScroll{
                padding-top: 0;
                height: auto;
                max-height: rem(90);
                overflow: auto;
                &::-webkit-scrollbar {
                    width: 2px;
                }
                &::-webkit-scrollbar-track {
                    background-color: $subInfo;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: $disable;
                }
            }
            &::after{
                top: 50%;
                left: 100%;
                transform: translateY(-50%);
                // margin-top: -3px;
                margin-left: 0;
                border-top-color: transparent;
                border-left-color: $tooltipGray;
            }
        }
    }
    tr{
        &:last-child{            
            .tooltip{
                top: auto;
                bottom: -10px;
                transform: translate(0,0);
                &::after{
                    top: auto;
                    bottom: 10%;
                }
            }
        }
        &:first-child{            
            .tooltip{
                left: -380px;
                top: 50%;
                bottom: auto;
                transform: translate(0, -50%);
                &::after{
                    top: 50%;
                    left: 100%;
                    bottom: auto;
                }
            }
        }
    }
    .selectedBox{
        padding-right: rem(40);
    }
    .infoBox{
        min-width: rem(125);
    }
}
#callTemplate{
    &.absol{
        .layerBox{
            background: $white;
        }        
    }
    .yScroll{
        padding-top: 10px;
        .tableBox{
            height: 300px;
        overflow: visible;
        }
    }
    .modalCont{
        margin-top: 10px;
    }
}

//거래처등록-회사검색
//사업현황등록-인력검색
.compSearch,
.MmSearch{
    .tableTop{
        margin-top: 20px;
        // text-align: left;
        li{
            flex: 1 1 0; 
            font-size: rem(14);
            &:last-child{
                flex: 2 1 0; 
                margin-left: 10px;
            }
        }
        label{
            display: inline-block;
            margin-bottom: 6px;
        }
    }
    input{
        flex-grow: 1;
    }
    .hasBtn{
        width: 80%;
        margin: 0 auto;
        .button,
        button{
            width: rem(44);
            background: $searchbtnGray;
            border: 1px solid $searchbtnGray;
        }
    }
    .tableBox{
        height: rem(540);
    }
}

//사업현황 등록 - 청구스케줄, 제경비입력
.chargeSet,
.exceptCharge{
    .tableTop{    
        input[type=text],
        select,
        button{
            height: rem(36);
        }   
        & + div{
            height: rem(400);
        }
    }
    .tableBox{
        &.absolBody{
            height: auto;
            max-height: 300px;
        }
    }
    tr{
        &:hover{
            background: transparent;
        }
        input{
            height: rem(32);
            &.full{
                text-align: right;
            }
        }
    }
    tfoot{
        .right{
            position: relative;
            &::after{
                content:'';
                width: 1px;
                height: 20px;
                background: $thGray;
                position: absolute; 
                right: -20px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}
.exceptCharge{
    table{
        font-size: rem(13);
    }
    .right{
        &::after{
            display: none;
        }
    }
}

//사업현황 등록 - 계약상세
.contractDetail{
    h2,
    h3{
        margin-bottom: rem(20);
    }
    .boxWrap{
        margin-top: 10px;
    }
    .col7{
        // width: 90%;
        row-gap: rem(20);
        column-gap: rem(50);
        // grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 2fr;
        // grid-template-columns: 95px 100px 80px 120px 100px 130px 140px;
        // grid-template-columns: 95px 110px 100px 100px 100px 130px 140px;
        grid-template-columns: 110px 125px 85px 95px 95px 120px 140px;
    }
    .cont{
        height: calc(100vh - 370px);
        overflow-y: auto;
        // .conDCom{
        //     grid-column: 2/4;
        // }
        .conDTerm{
            grid-column: 2/4;
        }
        .conDCount{
            grid-column: 1/4;
            .info{                
                display: flex;
                gap: 5px;
                input{
                    flex-grow: 1;
                }
            }
        }
        .conAdmin{
            grid-column: 6/8;
        }
        .conDFile{
            grid-column: 1/5;
        }
        .basic{
            //턴키없을때
            .conDCom{
                grid-column: 2/4;
            }
        }
        .dateType{
            width: rem(114) !important;
        }
        .range{
            margin: 0 9px;
        }
    }
    .underBg{
        margin-top: rem(40);
    }
    .info,
    .uploadBox{
        margin-top: rem(15);
        color: $subInfo;
    }

    .tableTop{
        .prefix,
        .suffix{
            gap: 0;
        }
    }
    td{
        height: 44px;
        font-size: rem(13);
    }
    .commentBox{
        .commentInput{
            // padding-bottom: 10px;
            &::after{
                display: none;
            }
        }
        .writer{
            text-align: left;
        }
        .comment{
            .content{
                width: 91%;
            }
        }
    } 
    //턴키
    &.turn{
        .col3{
            margin-top: 20px;
            row-gap: rem(20);
            column-gap: rem(30);
            grid-template-columns: repeat(3, 300px);
        }
        .col4{
            row-gap: rem(20);
            column-gap: rem(30);
            grid-template-columns: repeat(4, 136px);
        }
        .conDTerm{
            grid-column: 2/4;
        }
        .conDCount{
            margin-bottom: 0;
            grid-column: 1/4;
            .info{
                display: flex;
                gap: 5px;
            }
        }
        .conDFile {
            grid-column: 1/3;
        }
        .dateType{
            width: rem(134) !important;
        }
        .range{
            margin: 0 10px;
        }
    }
    .contentFlex{
        display: flex;
        gap: 60px;
        .prefix{
            flex: 5 1 0;
        }
        .suffix{
            flex: 3 1 0;
            border: 1px solid $layoutColor;
            border-radius: 6px;
            &.divideBox{
                padding: rem(20) rem(25);
                margin-top: 0;
                margin-left: 0;
                flex-direction: column;
                background: $divideBg_pms;
                li{
                    margin-bottom: rem(10);
                    display: flex;
                    align-items: center;
                    height: rem(45);
                    &:last-child{
                        margin-bottom: 0;
                    }
                    h6{
                        width: rem(100);
                    }
                    .info{
                        margin-top: 0;
                    }
                }
            }
            div{
                padding: 0;
                border:0;
                position: relative;
                &.top,
                &.center{
                    padding-bottom: 20px;
                    &::after{
                        content:'';
                        width: 100%;
                        height: 1px;
                        background: $layoutColor;
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        transform: translateX(-50%);
                    }
                }
                &.bottom{
                    margin-top:rem(20);
                }
                // &.top{
                //     padding-top: rem(40);
                //     padding-bottom: rem(15);
                //     border-bottom-left-radius: 0;
                //     border-bottom-right-radius: 0;
                //     border-bottom: 1px solid $layoutColor;
                // }
                // &.bottom{
                //     border-top-left-radius: 0;
                //     border-top-right-radius: 0;
                //     border-top: 1px solid $layoutColor;
                // }
            }
        }
    }
}

//사업현황 등록 - 계약생성, 인력추가
.contractCreate,
.mMSupply{
    h5{
        color: $beigeTit;
    }
    .cont{
        display: flex;
        gap: 40px;
        >.prefix{
            flex: 3 1 0;
        }
        >.suffix{
            flex: 2 1 0;
            height: 5px;            
            .inputList{
                margin-top: 10px;
                padding: 20px 15px;
                border-top: 1px solid $h5Under_pms;
            }
        }
    }
    .col2{
        row-gap: rem(20);
        column-gap: rem(50);
        grid-template-columns: 1fr 1fr;
    }
    .info{
        margin-top: rem(10);
        color: $subInfo;
    }
    .tableBox{
        height: 480px;
        overflow-y: auto;
    }
    // .putMm{
    //     grid-row: 1/4;
    // }
    // .conDTerm{
    //     grid-column: 2/4;
    // }
    // .dateType{
    //     width: rem(120) !important;
    // }
    // .range{
    //     margin: 0 10px;
    // }
}

#fileList{
    .h3_sub{
        margin-top: -10px;
        color: $filePopSub;
    }
}


//로그인 - 가입신청, 내정보수정
.joinRequest,
.infoRevise{
    .inputList{
        &.flex{
            h6,
            label{
                min-width: rem(80);
            }
            li{
                & + li{
                    margin-top: rem(32);
                }
                .hasBtn{
                    input{
                        flex: 1 1 auto;
                    }
                    button{
                        width: rem(70);
                        background: $white;
                        border: 1px solid $mainColor;
                    }
                }
            }
            input{
                & + input{
                    margin-top: 10px;
                }
            }
        }
    }
    & + .single{
        margin-top: rem(30);
        max-width: rem(120);
    }
}
//로그인 - 가입신청완료, 메일인증대기, 담당자승인대기, 아이디변경단계
.joinReqClr,
.mailCerti,
.managerCerti,
.changeIdStep{
    text-align: center;
    img{
        margin: rem(20);
    }
    p{
        font-weight: bold;
        margin: rem(15) 0;
        &.manager{
            margin-top: rem(10);
            font-size: rem(15);
        }
    }
    .step,
    .stepBox{
        margin: rem(30) 0;
    }
}
//로그인 - 메일인증만료
.certiExpire{
    margin-top: rem(20);
    text-align: center;
}
//로그인 - ID/PW 찾기, 아이디변경, 비밀번호변경
.findId,
.changeId,
.changePw{
    .inputList{
        &.flex{
            li{
                &.center{
                    justify-content: center;
                }
                h6,
                label{
                    width: rem(145);
                    min-width: auto;
                }
            }        
        }
    }
    // & + .single{
    //     margin-top: rem(30);
    //     max-width: rem(120);
    // }
}
.changeId,
.changePw{
    .inputList{
        height: rem(370);
    }
}