.notify{
    padding: 0 rem(30);
    p{
        font-size: rem(18);
        font-weight: 700;
    }
}    

.notiBox,
.projBox{
    margin-top: rem(40);
    margin-bottom: rem(25);
    @include sideArray;
    padding: rem(20);
    padding-left: rem(30);
    border-radius: rem(10);
    border: 1px solid $projBoxBorder;
    background: $projBox;
    position: relative;
    button{
        &.laSize{
            margin-right: rem(10);
        }
    }
    .prefix,
    .suffix{
        display: flex;
        align-items: center;
    }
    .txtType{
        font-size: rem(16);
    }
    .alertToast{
        top: -20px;
        right: 110px;
    }
}

.projRole{
    display: flex;
    align-items: center;
    .round{
        margin-right: 5px;
    }
}