.notify{
    padding: 0 rem(30);
    p{
        font-size: rem(18);
        font-weight: 700;
    }
}    

.notiBox,
.projBox{
    margin-top: rem(40);
    margin-bottom: rem(25);
    @include sideArray;
    padding: rem(20); 
    padding-left: rem(30);
    border-radius: rem(10);
    border: 1px solid $projBoxBorder;
    background: $projBox;
    position: relative;
    button{
        &.laSize{
            margin-right: rem(10);
        }
    }
    .prefix,
    .suffix{
        display: flex;
        align-items: center;
    }
    .txtType{
        font-size: rem(16);
    }
    .alertToast{
        top: -20px;
        right: 110px;
    }
    .selectBox{
        width: rem(700);
    }
}

.projRole{
    display: flex;
    align-items: center;
    //font-weight: 500; //0913 J삭제
    .round{
        margin-right: 10px;
        width: rem(62);
        font-size: rem(13); //0913 J추가
        color: $cancel;
    }
    .field{
        margin-right: 20px;
        width: rem(106);
        font-size: rem(14);
        color: $mainColor;
    }
}