.eiCheck{
    //width: 100%;
    .tableBox{
        max-height: calc(100vh - 371px);    
        td{
            text-align: right;
            p{
                color: $black;
                &.subInfo{
                    color: $cancel;
                }
                &.marked{
                    color: $error;
                }
            }
        }       
        tfoot{
            text-align: right;
            font-weight: bold;
        }
    }
}