.recruitDetail{
    width: 100%;
}

.recruitDetail{
    .tabBtn{
        a{
            width: rem(130);
        }
    }
    .tabCont{
        margin-top: -2px;
        padding: 0 rem(25);
        background: $white;
        border: 1px solid $inputGray;
    }
}

.recruitDetail{
    .tableBox{
        overflow-y: visible;
    }
    .listBottom{
        &.pagingType{
            border-top: 0;
            padding-bottom: rem(35);
        }
        button{
            &.xlSize{
                line-height: rem(44);
            }
        }
    }
    .nodata{
        height: rem(160);
        flex-direction: column;
        button{
            margin-top: rem(10);
            width: rem(160);
            height: rem(44);
        }
    }
}