.salesLedger{
    .tableTop{
        margin-top: rem(30);
    }
    .sideScroll{
        height: calc(100vh - 371px);
        overflow-y: auto;
        table{
            font-size: 13px; //1130추가
        }
    } 
}