.paging{
    text-align: center;
    li{
        display: inline-block !important;
        vertical-align: middle;
        //margin: 0 rem(6); 0530 J삭제
        cursor: pointer;
        a{
            display: inline-block;
            width: rem(28);
            color: $subInfo;
            border-radius: rem(3);  //0530 J추가
            padding: rem(3) 0;
            &:hover{
                color: $black;
                font-weight: 700;
            }
        }
        &.pagingDouble{
            padding: 0;
        }
        &.numType{
            li{
                &:first-child,
                &:last-child{
                    margin: 0;
                }
            }
        }
        &.is-active{
            a{
                color: $black;
                font-weight: 700;
                background: $activeGray;
            }
        }
        &:nth-child(1),
        &:nth-child(2),
        &:nth-last-child(2),
        &:last-child{
            a{
                width: rem(20);
                padding: rem(3);
            }
        }
    }
}

// .pagination-div{
//     // margin-top: rem(25); 230102 삭제-ys
//     ul{
//         text-align: center;
//         li{
//             display: inline-block;
//             padding: 0 rem(6);
//             vertical-align: middle;
//             cursor: pointer;
//             a{
//                 color : $disable;
//                 font-size: rem(14);
//                 // vertical-align: text-top;
//                 vertical-align: baseline;
//             }
//             &.active{
//                 a{
//                     color: $black;
//                     font-weight: 700;
//                 }
//             }
//             &.disabled{
//                 cursor:default;
//             }
//             &.first,
//             &.last{
//                 margin:0 rem(3);
//                 width: rem(13);
//                 height: rem(17);
//                 background-image: url(../img/icoGroup.png);
//                 background-position: -20px -140px;
//                 &.disabled{                    
//                     background-position: 0 -140px;
//                 }
//             }            
//             &.last{     
//                 background-position: -20px -160px;
//                 &.disabled{                    
//                     background-position: 0 -160px;
//                 }
//             }
//             &.prev,
//             &.next{
//                 margin:0 rem(3);
//                 width: rem(12);
//                 height: rem(17);
//                 background-image: url(../img/icoGroup.png);
//                 background-position: -20px -100px;
//                 &.disabled{                    
//                     background-position: 0 -100px;
//                 }
//             }
//             &.next{
//                 background-position: -20px -120px;
//                 &.disabled{                    
//                     background-position: 0 -120px;
//                 }
//             }
//         }
//     }
// }
