.sourcingTotal{
    .tableTop{
        margin-top: rem(30);
    }
    .absolBody{
        height: auto;
        max-height: calc(100vh - 419px);
    } 
    table{
        td{
            padding-right: rem(10);
            text-align: right;
            // height: rem(44);
            font-size: rem(13);
            &.center{
                padding-right: rem(4);
            }
        }
        .ellipsis{
            text-align: center;
        }
    }
    tfoot{
        td{
            padding: rem(8) rem(10);
            font-weight: bold;
            background: $tfootGray;
            &.center{
                padding-right: rem(4);
            }
        }
    }
}