.clientRegister{
    width: 100%;
    .inputList{
        > ul,
        .grid{
            > li{ 
                margin-bottom: rem(20);
            }
        }
    }
    .hasTooltip{
        .tooltip{
            &.left{
                left: -165px;
                top: 40px;
                &.line2{
                    top: 140px;
                }
                &.line3{
                    top: 230px;
                }
                &.line4{
                    top: 320px;
                }
            }
        }
    }
    .bizCorpor{
        width: 90%;
        // row-gap: rem(30);
        column-gap: rem(60);
        grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr;
    }
    .bizIncome{
        width: 90%;
        column-gap: rem(60);
        grid-template-columns: 1fr 1fr 50px 1fr 1fr 1fr;
    }
    .hasBtn{
        input{
            flex-grow: 1;
        }
        .button,
        button{
            width: rem(44);
            background: $searchbtnGray;
            border: 1px solid $searchbtnGray;
        }
    }
    .uploadBox{
        width: 40%;
        label{
            margin-bottom: 0;
        }
    }
    .commentBox{
        width: 90%;
    }
}

.clientRegister{
    .clientCNm{
        grid-column: 1/3;
    }
    .clientWeb, 
    .clientAccount{
        grid-column: 3/5;
    }   
    .clientCode{
        grid-column: 5/6;
    }
    
    .clientAdd, 
    .clientFile{
        grid-column: 1/3;
    } 
    .clientPayday,
    .clientCode{
        display: none;
    }
    // .clientManager{
    //     grid-row: 4/5;
    //     grid-column: 5/6;
    // }
    //상세일때 - 지급일, 거래처 보이기, 담당자위치이동
    &.is-detail{
        .clientPayday,
        .clientCode{
            display: block;
        }
        // .clientManager{
        //     grid-row: 5/6;
        //     grid-column: 5/6;
        // }
    }
    //사업소득
    .bizIncome{
        width: 90%;
        column-gap: rem(60);
        grid-template-columns: 1fr 1fr 50px 1fr 1fr 1fr;
        .clientName{
            margin-right: -50px;
        }
        .clientContact,
        .clientAccount,
        .clientCode{
            grid-column: 4/6;
        }
        .clientEmail{
            grid-column: 2/4;
        }
        .clientAdd{
            grid-column: 1/4;
        }
        // .clientManager{
        //     grid-row: initial;
        //     grid-column: initial;
        // }
        .clientPayday{
            display: block;
        }
    }
    input{
        &.xsSize{
            width: rem(58);
            height: rem(44);
            text-align: center;
        }
    }    
    .hyphen{
        margin: 0 rem(9);
    }
}