.commonCode{
    .regiPartWrapper{
        height: calc(100vh - 140px);
    }
    .boxWrap{
        > div{
            width:70%;
        }
    }
    .left{
        .tableBox{
            margin: rem(20) 0;
            height: rem(510);
        }
    }
    .right{
        .inputList{
            height: rem(530);
        }
    }
    .hasBtn{
        input{
            width: 100%;
        }
    }
    .tree{
        tr{             
            &.depth4{
                .treegrid-expander {
                    &::after{
                        display: none;
                    }
                }
            }   
        }
    }
}