.memList{
    width: rem(280);
    .boxList{
        height: rem(125);
        .head{
            font-weight: 700;
        }
    }
}
.memDetail{
    width: calc(100% - 280px);
    padding: rem(30);
    .tableBox{
        height: calc(100vh - 310px);
        margin-top: rem(30);
    }
    .jobBox{
        margin-top: rem(10);
    }
}