//로그인
.loginBox{
    width: rem(400); 
    padding: rem(40) rem(40) rem(30) rem(40);
    font-size: rem(14);
    margin: rem(30) auto;
    text-align:left;
    border-radius: rem(14);
    background: $white;
    input{
        //height: rem(44);
        margin-bottom: rem(10);
    }
    button{
        margin-top: rem(27);
        width: 100%;
        font-size: rem(18);
    }
}
.subLogin{
    margin-top: rem(20);
    font-size: rem(14);
    li{
        display: inline-block;
        margin:0 rem(20);
        position: relative;
        &::after{
            content:'';
            width: 1px;
            height: rem(16);
            background: $gray;
            position: absolute;
            right: -20px;
            top: 50%;
            transform: translateY(-8px);
        }
        &:last-child{
            &::after{
                display: none;
            }
        }
    }
}