.bizState{
    width: 100%;
    .tableTop{
        margin-top: rem(30);
    }
    .sideScroll{
        height: calc(100vh - 377px);
        overflow-y: auto;
        .tableBox{
           width: rem(2400); 
        }
    } 
    table{
        // &.hasInput{
            tr{
                td{
                    height: rem(44);
                    font-size: rem(13);
                }
            }
        // }
    }
    tfoot{
        td{
            padding: 0 6px;
            background: $tfootGray;
        }
    }
    // .relative{
    //     position: absolute;
    //     bottom: 15px;
    //     width: 97%;
    // }
}

// .contWrapper{
    
//     .contLayout{
//         &.is-active{
//             // height: calc(100vh + 160px);
//             .absolBody{
//                 height: calc(100vh - 230px);
//             }
//         }
//     }
// }