.bizState{
    width: 100%;
    .select{
        &.laSize{
            width: rem(150);
        }
        .ellipsis{
            width: 100%;
        }
    }
    .tableBox{
        // max-height: calc(100vh - 350px);   // 372 ->350
        max-height: calc(100vh - 371px);   //화면통일
        table  {
            //font-size: 13px; //1130추가
            // input, textarea{            
            //     font-size: 13px; 
            //     &::placeholder{
            //         font-size: 13px; 
            //     }
            // }
            //pms 공통으로 이동
        }
    }
    table{
        // &.hasInput{
            // tr{
            //     td{
            //         height: rem(41);   // 44->41
            //         font-size: rem(13);
            //     }
            // }
        // }
        //전체 공통으로

        // &.hasInput{
        //     tr{
        //         // &:hover{
        //         //     background: transparent;
        //         // }
        //         td{
        //             padding: rem(4.9);   //4.9...?
        //             height: rem(46);
        //         } 
        //     }
        //     tfoot{
        //         td{
        //             padding: 0 6px;
        //             background: $tfootGray;
        //         }
        //     }
        // }
        //pms 공통으로..
    }
    // tfoot{
    //     td{
    //         padding: 0 6px;
    //         background: $tfootGray;
    //     }
    // }
    //공통으로..

    // input {
    //     &.editType{
    //         width: 100%;
    //         height: rem(30);   // 36 -> 30
    //         padding: 0.4rem; //0.625rem 0.625rem -> 0.4rem
    //         padding-right: 1.875rem;
    //         //border: 0 !important; 추가
    //         font-size: 13px; //추가
    //         background: url(../img/icoCal.png) right 5px top 50% no-repeat; // right 10px -> 5px
    //         background-color: #fff;
    //         &:focus{
    //             color: $black;
    //             border: 1px solid #ccc;
    //         }
    //     }
    // }
    //해당 요소 없음

    // .relative{
    //     position: absolute;
    //     bottom: 15px;
    //     width: 97%;
    // }
}

// .contWrapper{
    
//     .contLayout{
//         &.is-active{
//             // height: calc(100vh + 160px);
//             .absolBody{
//                 height: calc(100vh - 230px);
//             }
//         }
//     }
// }