.projTotal{
    width: 100%;
    table{
        thead{
            height: rem(38);
            border-top: 2px solid $gray;
            th{
                font-weight: bold;
            }
        }
        td{
            text-align: right;
            color: $black;
            font-size: rem(13);
        }
        tfoot{
            td{
                padding: rem(8) rem(4);
                font-weight: bold;
            }
        }
    }
    .yScroll{
        max-height: calc(100vh - 333px);
    }
    .accWrap{
        padding: rem(5) rem(25);
        border: 1px solid $inputGray;  
        background: $white;
        .accHead{
            .prefix{
                width: 65%;
            }
            .projCode{width: rem(70); font-size: rem(14); color: $accTxt_pms;}
            .projGroup{width: rem(85); color: $accTxt_pms;}
            .projType{width: rem(65); font-size: rem(14); text-align: center;}
            .projCus{width: rem(140); font-size: rem(14); color: $mainColor;}
            .projDate{font-size: rem(14);}
            .projSum{width: rem(150);text-align: right;}
        }
        .accInner{
            padding: rem(22) rem(38);
        }
    }
}