.nodata,
.errorPage{
    text-align: center;
    h2{
        margin-top: rem(80);
        color: $black;
    }
    h6{
        margin-top: rem(20);
    }
    .bottom{
        margin-top: rem(30);
        display: flex;
        justify-content: center;
        gap: rem(10);
    }
}