.recruitAdmin{
    width: 100%;
}

.recruitAdmin{
    .tabCont{
        margin-top: -2px;
        padding: rem(12) rem(25);
        background: $white;
        border: 1px solid $inputGray;
    }
    .projCont{
        .alertToast{
            left: 20%;
        }
    }
}



.chipBox{
    text-align: left;
    // padding: 0 rem(40);
    .chip{
        display: inline-block;
        margin: rem(3) rem(8);
        margin-left: 0;
        padding: rem(4) rem(8);
        height: 26px; 
        line-height: 21px;
        font-size: rem(12);
        color: $chipFont; //0913 J 추가
        background: $chipGray;
        border-radius: rem(6);
        &.disabled{
            opacity: .5;
        }
        // & + .chip{
        //     margin-left: 8px;
        // }
    }
}