.purchaseLedger{
    width: 100%;
    .tableBox{
        max-height: calc(100vh - 354px);
        .flex{
            gap: 4px;
            span{
                margin-left: 23px;
                &.comp{
                    margin-left: 0;
                    & + span{
                        margin-left: 0;
                    }
                }
            }
        }
        tfoot{
            td{
                text-align: right;
                font-weight: bold;
            }
        }
    }
    .modalLayer{
        &.absol{
            width: rem(360);
            .flex_1_2{
                padding-bottom: 0;
                gap: rem(5);
                align-items: center;
            }
        }
    }
}