.bizIncomeReport{
    //width: 100%;
    .select{
        &.laSize{
            width: rem(150);
        }
        .ellipsis{
            max-width: 100%;
        }
    }
    .tableBox{
        max-height: calc(100vh - 371px);            
        .flex{
            gap: 4px;
            span{
                margin-left: 23px;
                &.comp{
                    margin-left: 0;
                    & + span{
                        margin-left: 0;
                    }
                }
            }
        }
        tfoot{
            text-align: right;
            font-weight: bold;
        }
    }
}