.bizStateRegister{
    width: 100%;
    .regiPartWrapper{        
        padding-left: rem(100);
        padding-right: rem(100);
    }
    .col6{
        margin-top: rem(30);
        width: rem(1300);
        column-gap: rem(60);
        grid-template-columns: 1fr 50px 1.8fr 1fr 1fr 130px;
    }
    .hasBtn{
        input{
            flex-grow: 1;
        }
        .button,
        button{
            width: rem(60);
        }
    }
    .range{
        margin: 0 22px;
    }
    .uploadBox{
        label{
            margin-bottom: 0;
        }
    }
    .clientComp{
        grid-column: 1/3;
    }
    .bizTerm{
        grid-column: 4/6;
        input[type=text]{
            &.dateType{
                width: rem(172) !important;
            }
        }
    }
    .bizProjNm,
    .bizFile{
        grid-column: 1/4;
    }
    .bizInsurance{
        grid-column: 5/7;
        label{
            margin-right: rem(20);
            line-height: 44px;
        }
    }
    .boxWrap{
        >.prefix{
            .tabBtn{
                a{
                    border-radius: 4px 4px 0 0;
                }
            }
        }
    }
    .tabWrapper{
        &.mt20{
            .tabBtn{
                button{
                    margin-left: rem(735);
                }
            }
        }
    }
    .tabBtnWrap{
        &.flex{
            justify-content: space-between;
            .prefix,
            .suffix{
                display: flex;
                align-items: center;
            }
        }
        .tabBtn{
            line-height: rem(34);
            a{
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
    .tableTop{
        .hasTooltip{
            & + .hasTooltip{
                margin-left: rem(10);
            }
            .tooltip{
                top: 150%;
            }
        }
    }
    select{
        &.others{
            color: $error;
        }
    }
    h4{
        & + .tableTop{
            margin-top: 30px;
        }
    }
}



.flexLeft{
    padding-bottom: rem(10);
    display: flex;
    gap: 20px;
    // flex-wrap: nowrap;
    overflow-x: auto;
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    >.prefix{
        flex-shrink: 0;
        width: 820px;
    }
    >.suffix{
        width: 900px;
        flex: 0 0 auto;
        // flex-grow: 1;
        // overflow-x: hidden;
    }   
    .tableBox{
        // width: 1100px;
        th,
        td{
            &.fold{
                border-left: 1px solid $tableBorder;
                &.is-active{
                    border-left: 0;
                }
            }
        }
        // tfoot{
        //     td{
        //         padding: 0;
        //     }
        // }
    }
}

.flexTable{
    width: 100%;
    overflow-x: auto;
    // .suffix{
        
    // }
}


.hideS,
.hideB,
.hideI{
    display: none;
    &.on{
        display: table-cell;
    }
}