.eiCheck{
    //width: 100%;
    .tableTop{
        .subGray{
            color: $tableGray;
        }
    }
    .tableBox{
        max-height: calc(100vh - 371px);    
        td{
            color: $black;
            text-align: right;
            padding: rem(4) rem(6);
            &.center{
                color: $fileGray;
                text-align: center;
            }
            p{
                display: flex;
                justify-content: flex-end;
                color: $black;
                &.subInfo{
                    //color: $cancel;
                    color: $tableGray;
                }
                &.marked{
                    color: $error;
                }
            }
            .turnkey{
                margin-right: 0;
            }
        }       
        tfoot{
            text-align: right;
            font-weight: bold;
        }
        .hasTooltip{
            z-index: 2;
            .tooltip{
                width: rem(190);
                text-align: left;
                top: 110%;
            }
        }
    }
}