.bizStateRegister{
    width: 100%;
    .regiPartWrapper{        
        padding-left: rem(50);
        padding-right: rem(126);
        .regiPart {
            .boxWrap{
                margin-top: rem(10);
                padding: rem(30) rem(50);
            }
        }
    }
    .col6{
        // margin-top: rem(20);
        width: rem(1300);
        column-gap: rem(60);
        grid-template-columns: 1fr 50px 1.8fr 1fr 1fr 130px;
        grid-template-columns: 1fr 50px 1.6fr 1fr 1fr 140px;  //1fr 50px 1.8fr 1fr 1fr 130px -> 수정
    }
    .hasBtn{
        input{
            flex-grow: 1;
        }
        .button,
        button{
            width: rem(60);
        }
    }
    .range{
        margin: 0 23px;
    }
    .clientComp{
        grid-column: 1/3;
    }
    .bizTerm{
        grid-column: 4/6;
        input[type=text]{
            &.dateType{
                width: rem(176) !important;
            }
        }
    }
    .bizProjNm,
    .bizFile{
        grid-column: 1/4;
        .flex{
            @include sideArray;
        }
        i{
            margin-left: 5px;
        }
    }
    .bizInsurance{
        grid-column: 5/7;
        label{
            margin-right: rem(20);
            line-height: 44px;
        }
    }
    li{        
        i{
            margin-left: 5px;
        }
    }
    select{
        &.others{
            color: $error;
        }
    }
    h4{
        color: $btnBd_pms;
        font-weight: 500;
        & + .tableTop{
            margin-top: 30px;
        }
    }
}


.bizStateRegister{
    .boxWrap{
        >.prefix,
        >.suffix{
            width: rem(775);
            // .tabBtn{
            //     a{
            //         border-radius: 4px 4px 0 0;
            //     }
            // }
        }
        &.flex{
            gap: 40px;
        }
    }
    .tabWrapper{
        position: relative;
        &.mt20{
            .tabBtn{
                button{
                    margin-left: rem(645);
                }
            }
        }
        .flex{
            justify-content: space-between;
            align-items: center;
        }
        .suffix{
            display: flex;
            &.absol{
                position: absolute;
                top: 0;
                left: 630px;
            }
        }
    }
    .tabBtnWrap{
        .tabBtn{
            // min-width:30px;
            line-height: rem(34);
            a{
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
            &:first-child{
                a{
                    min-width: rem(65);
                    border-top-left-radius: rem(4);
                }                
            }
        }
    }
    .tableTop{
        .hasTooltip{
            & + .hasTooltip{
                margin-left: rem(10);
            }
            .tooltip{
                top: 150%;
            }
        }
        .suffix{
            gap:2px;
        }
    }

    table{
        //pms
        input[type=text],
        input[type=number]{
            padding: rem(8) rem(4);
            padding: rem(8) rem(3);
            background: $white; //11.01추가
            // text-align : right; //11.01추가
            &.dateType{  
                padding: rem(2);
                text-align: center;
                background: $white;
                // &.noBg{
                //     padding: rem(2);
                //     text-align: center;
                //     background: white;
                // }
            }
        }
        td{
            &.wide{
                width: 150px !important;
            }
        }
    }
    

    //231201
    // button{
    //     &.smSize,
    //     &.midSize,
    //     &.save{
    //         background: $mainColor_pms;
    //         border: 1px solid $mainColor_pms;
    //     }
    //     &.white{
    //         background: $white;
    //         border: 1px solid $inputGray;
    //     }
    // }
    .tabBtnWrap{
        .tabBtn{
            a{
                &.is-active{
                    background-color: $tab_pms;
                    border: 1px solid $tab_pms;                    
                }            
            }
        }
    }
    table{
        tr{
            th{
                //height: rem(26); 11.01삭제
                // &.sales{background: $thSales_pms; border: 0 !important;} //11.1 border: 0추가
                // &.buy{background: $thBuy_pms; border: 0 !important;}
                // &.inner{background: $thInner_pms; border: 0 !important;}
                &.sales{background: $thSales_pms;}
                &.buy{background: $thBuy_pms;}
                &.inner{background: $thInner_pms;}
                .ico{
                    margin-left: 3px;
                }
            }
            &:nth-child(2){
                th{
                    height: rem(20);
                    &.sales{background: $thSales2_pms;}
                    &.buy{background: $thBuy2_pms;}
                    &.inner{background: $thInner2_pms;}
                }                
            }
        }
    }
}

//2.계약현황 요청 css
#bsDetail1{
    tbody,
    tfoot{
        font-size: rem(13);
        br{
            & + b{
                font-size: rem(12);
            }
        }
        input,
        select{
            font-size: rem(13);
            &.txtRight{
                font-size: rem(12);
            }
            &::placeholder{
                font-size: rem(13);
            }
        }
        .ellipsis{
            font-size: rem(12);
        }
    }    
}


.flexLeft{
    padding-bottom: rem(10);
    display: flex;
    gap: 40px;  // 20 -> 40
    // flex-wrap: nowrap;
    overflow-x: auto;
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    >.prefix{
        flex-shrink: 0;
        // width: 783px; //820 -> 783
        width: 775px; //820 -> 783
        th{
            height: rem(51);
        }
    }
    >.suffix{
        flex: 2 1 50%;
        // width: 770px;

        // width: 1200px;  // 900 -> 1200 origin/jina
        width: 775px;
        flex: 0 0 auto;
        // flex-grow: 1;
        // overflow-x: hidden;
        .tabCont{
            &:first-child{
                th{
                    height: rem(51);
                }
            }
        }
    }   
     
    .tableBox{
        // width: 1100px;
        // th,
        td{
            &.fold{
                height: rem(26); //추가
                border-left: 1px solid $tableBorder; //b2b4b7 -> ddd
                &.is-active{
                    border-left: 0;
                }
            }
        }
        // tfoot{
        //     td{
        //         padding: 0;
        //     }
        // }
    }
}

.flexTable{
    width: 100%;
    overflow-x: auto;
    .flexLeft{
        .suffix{
            width: 1201px;   //상하정렬시 추가 10.31
        }
    }        
}


.hideS,
.hideB,
.hideI{
    display: none;
    &.on{
        display: table-cell;
    }
}