.recruitAdmin{
    width: 100%;
}

.recruitAdmin{
    .tabCont{
        margin-top: -2px;
        padding: rem(12) rem(25);
        background: $white;
        border: 1px solid $inputGray;
    }
}



.chipBox{
    text-align: left;
    padding: 0 rem(40);
    .chip{
        display: inline-block;
        margin: rem(3) rem(8);
        margin-left: 0;
        font-size: rem(12);
        padding: rem(4) rem(8);
        background: $chipGray;
        border-radius: rem(6);
        &.disabled{
            opacity: .5;
        }
    }
}