.paging{
    text-align: center;
    li{
        display: inline-block;
        vertical-align: middle;
        margin: 0 rem(10);
        a{
            color : $disable;
        }
        &.pagingDouble{
            margin: 0;
        }
        &.is-active{
            color: $black;
            font-weight: 700;
        }
        .is-active{
            color: $black;
            font-weight: 700;
        }
    }
}