.resumeList{
    width: 100%;
    .tableTop{
        margin-top: rem(60);
    }
    .accWrap{
        margin-top: rem(10);
    }
    .accBox{
        &.is-active{
            .accHead{
                padding-bottom: rem(5);
            }
        }
    }
    .accHead{
        .prefix{
            gap: 25px;
            font-weight: 700;
            label{
                margin-right: 4px;
                vertical-align: -2px;
            }
        }
        .suffix{
            gap: rem(10);
            color: $addHeadGray;
            font-size: rem(13);
            // .suffix{
            //     width: rem(110);
            //     display: flex;
            //     justify-content: center;
            //     gap: 12px;
            // }
            .onlyIco{
                margin-left: 0;
            }
        }
    }
    .accInner{
        overflow-y: auto;
        max-height: rem(180);
        // &::-webkit-scrollbar {
        //     width: 0;
        //     height: 0;
        // }
        .txtType{
            margin-top: 15px;
            width: 100%;
            text-decoration: underline;
            text-decoration-color: $black;
            &.is-active{
                .ico{
                    transform: rotate(180deg);
                }
            }
            .ico{
                margin-right: 5px;
            }
        }
    }
    .innerList{
        padding: rem(12) rem(25);
        cursor: initial;
        &:hover{
            background: $selHover;
        }
        & + .innerList{
            border-top:1px solid $accListBorder;
        }
        .prefix{
            .tag{
                width: rem(25);
                .label{
                    vertical-align: 3px;
                }
            }
            .innerResume{
                color: $mainColor;
                font-size: rem(14);
            }
        }
        .suffix{
            input{
                width: rem(685);
                height: rem(34);
            }
            .record{
                width: rem(160);
                text-align: right;
                .label{
                    margin-right: 0;
                    width: rem(88);
                }
                .sOrder{
                    font-size: rem(13);
                }
            }
        }
    }
}