.eiCheck{
    //width: 100%;
    .tableBox{
        max-height: calc(100vh - 371px);    
        td{
            text-align: right;
            &.center{
                text-align: center;
            }
            p{
                color: $black;
                &.subInfo{
                    color: $cancel;
                }
                &.marked{
                    color: $error;
                }
            }
        }       
        tfoot{
            text-align: right;
            font-weight: bold;
        }
        .hasTooltip{
            z-index: 2;
            .tooltip{
                width: rem(190);
                text-align: left;
                top: 110%;
            }
        }
    }
}