.projTotal{
    width: 100%;
    table{
        margin-bottom: rem(5);
        border: 1px solid $tableBorder;
        border-bottom: 2px solid $gray;
        &:first-child{
            margin-bottom: 0;
            border: 1px solid $gnbGray;
            border-bottom: 0;
        }
        thead{
            tr{
                &:last-child{
                    th{
                        // height: rem(24);
                        border-top:1px solid $theadBd;
                    }
                }
            }
            th{
                &:first-child{
                    height: rem(21);
                    border-right:1px solid $theadBd;
                }
            }
        }
        tbody{
            display: none;
            &.is-active{
                display: table-row-group;
            }
            tr{
                // border-bottom: 0;
            }
            td{
                text-align: right;
                padding: rem(8);
                &.left{
                    padding: 0;
                    padding-left: rem(6);
                    text-align: left;
                    &:nth-child(3){
                        border-right: 1px solid $tableBorder;
                    }
                }
            }
        }
        tfoot{
            display: table-row-group;
            td{
                padding: rem(8);
                color: $black;
                font-weight: bold;
                text-align: right;
                &:first-child{
                    color: $tableGray;
                    border-right: 1px solid $tableBorder;
                }
                .subGray{
                    color: $fileGray;
                }
            }
            .upper{
                display: flex;
                gap: rem(15);
                font-weight: normal;
                .sort{
                    min-width: rem(30);
                }
                .part{
                    flex: 1;
                    text-align: left;
                }
                & + .flex{
                    height: rem(32);
                    align-items: center;
                    a{
                        padding-right: 0;
                        width: auto;
                        max-width: 68%;
                        color: $black;
                        text-decoration: underline;
                    }
                }
            }
            .up{
                margin-left: auto;
                cursor: pointer;
                &.is-active{
                    transform: rotate(180deg);
                }
            }
        }
    }
}