.memRegister{
    .breadCrumb{
        font-size: rem(18);     
    }
    .regiPartWrapper{
        height: calc(100vh - 128px);
        button{
            &.round{
                width: rem(66);
                vertical-align: text-bottom;
                // margin-bottom: rem(6);
                //line-height: rem(30);
                i{
                    margin-right: 3px;
                }
            }
        }
    }
    .hasTooltip{
        .tooltip{
            &.left{
                left: -165px;
            }
        }
    }
    // .profile{
    //     & + .inputList{
    //         margin-left: rem(30);
    //     }
    // }
    .inputList{
        .flexCenter{
            gap : rem(10);
            li{
                // margin-bottom: rem(10);
                margin-bottom: 0;
                // & + li{
                //     margin-left: rem(10);
                // }                
            }
            & + .flexCenter{
                margin-top: rem(10);
            }
        }
        .grid{
            & + .grid{
                margin-top: rem(10);
            }
            // position: relative;
            // .round{
            //     position: absolute;
            //     left: 88%;
            //     top: rem(10);
            // }
        }
        .ulGroup{ 
            & + .ulGroup{                
                margin-top: rem(30);
                padding-top: rem(30);
                border-top:1px solid $bgColor;
            }
        }
    }
    .flexEnd{
        & + .flexEnd{
            margin-top: -20px;
        }
        & + .flexCenter{
            margin-top: -20px;
        }
    }


    .inputGroup{
        height: rem(70);
        &.upload{
            height: auto;
        }
    }

    .profile{
        height: rem(300);
    }

    //그리드
    .specialJob,
    .skillExp,
    .detailJob,
    .added{
        grid-column : 1/6;
    }
    .specialJob{
        margin-bottom: 0 !important;
    }
    .projName{
        grid-column : 2/4;
    }
    .clientComp,
    .useTool{
        display: flex;
        gap: rem(10);
        grid-column : 1/4;
        .full{
            width: 50%;
        }
    }
    .careerEtc{
        grid-column : 4/6;
    }
    // .jobCondi{
    //     grid-column : 1/4;
    // }
    .jobCondi2{
        display: flex;
        align-items: end;
        margin-bottom: rem(20) !important;
    }
    .preferPosi{
        grid-column : 2/6;
        .inputGroup{
            height: auto;
        }
    }

    .gridBtn{
        grid-column : 7/9;
    }
    .empty{
        grid-column : 7/9;
    }

    //연-월-일 placeholder 제거
    // input[type=month],   
    // input[type=date]{   
    //     &::-webkit-datetime-edit{
    //         display: none;
    //     }  
    //     &::before{6
    //         content: attr(data-placeholder);
    //         width: 100%;
    //         color: $placeholder;
    //     }
    // }
}