.bgWrapper{
    padding-top: rem(50);
    min-width: rem(360);
    background-color: $subBlue;
    background-image: url(../img/bgtxt.png);
    background-repeat: repeat;
    .layoutWrapper{
        margin: 0 auto;
        max-width: rem(1240);
        .logoWrapper{
            padding-bottom: rem(20);
        }
    }
    .logo{
        display: inline-block;
        width: rem(103);
        height: rem(29);
        cursor: initial;
        img{
            width: 100%;
        }
    }
}


.compoWrapper{
    min-width: rem(360);
    padding: rem(40) rem(50);
    padding-bottom: rem(10);
    border-radius: 6px 6px 0 0;
    background: $bgColor;
    &.fullSize{
        background: $white;
        .component{
            height: calc(100vh - 215px);
            img{
                width: rem(60);
                height: rem(60);
            }
        }
        h3{
            margin-top: rem(10);
        }
        h4{
            margin-top: rem(30);
        }
        .bottomBtn{
            margin-top: rem(50);
            width: 100%;
            background: $white;
        }
        footer{
            ul{
                margin-top: rem(20);
                padding-top: rem(30);
                border-top: 2px solid $black;
            }
        }
    }
    .titWrapper{
        height: rem(69);
        text-align: center;
        position: relative;
        .title{
            @include heightArray;
            max-width: 80%;
            margin: 0 auto;
            .mobile{
                margin-left: rem(10);
                vertical-align: 2px;
                color: $subTitGray;
            }
            h2{
                font-size: rem(24);
                margin-left: 4px;
                margin-bottom: 0;
                @include ellipsis;
                display: inline-block;
                max-width: 90%;
                width: auto;
            }
            .round{
                min-width: auto;
                // height: 30px;
                // padding: 0 16px;
                padding: 0 10px;
                line-height: 23px;
                border-width: 2px;
            }
        }
        h3{
            margin-top: 10px;
            color: $subTitGray;
            font-weight: 400;
            font-size: rem(18);
        }
        .tooltip{
            position: absolute;
            right: 0;
            top: 4px;
            .tipBtn{
                margin-left: 4px;
                color: $subBlue;
                // font-size: rem(14);
                font-weight: 500;
                position: relative;
                cursor: pointer;
                &::after{
                    content:'';
                    width: 100%;
                    height: 1px;
                    background: $subBlue;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
            }
        }
        .toolBox{
            display: none;
            width: rem(250);
            padding: rem(15);
            background: $subBlue;
            border-radius: 6px;
            position: absolute;
            top: 30px;
            right: 0px;
            z-index: 2;
            &.is-active{
                display: block;
            }
            li{
                margin-left: rem(24);
                color: $white;
                font-size: 14px;
                font-weight: 300;
                text-align: left;
                line-height: rem(28);
                position: relative;
                &::before{
                    content:'';
                    width: rem(16);
                    height: rem(16);
                    background-image: url(../img/icoGroup.png);
                    background-position: -340px -420px;
                    position: absolute;
                    top: 6px;
                    left: -20px;
                }
                &.manager{
                    font-size: 16px;
                    font-weight: 500;
                    margin-left: 0;
                    &::before{
                        display: none;
                    }
                }
                &.mail{
                    &::before{
                        background-position: -360px -420px;
                        top: 11px;
                        left: -22px;
                    }
                }
            }
        }
    }
    .tabType{
        margin-top: 10px;
        justify-content: center;
    }
    .component{
        margin-top: rem(26);
        padding: rem(10) rem(30);
        overflow-y: auto;
        height: calc(100vh - 387px);
        background: $white;
        &.center{
            @include heightArray;
            h2{
                margin-top: rem(30);
                font-size: rem(30);
            }
            p{
                margin-top: rem(60);
                font-size: rem(20);
                font-weight: 500;
            }
            .subInfo{
                font-size: rem(18);
            }
        }
        .accInner {
            text-align: left;
        }
    }
    .grid{
        margin-top: rem(20);
        column-gap: rem(60);
        grid-template-columns: 50% 40%;
        &.block{
            width: 50%;
            li{
                display: block;
                &.wishPay{
                    margin-bottom: rem(30);
                }
            }
        }
        .agreement{
            grid-row: 1 / 3;
            font-size: rem(14);
        }
        // .attResume{
        //     margin-top: rem(30);
        // }
        .uploadBox{
            margin-top: 15px;
        }
    }
    .inputGroup{
        min-width: auto;
    }
    .accWrap{
        margin-top: 0;
        // padding: 0;        
        table{
            max-width: rem(860);
            th{
                background: $thGray !important;
            }
            tbody{
                th{
                    color: $black !important;
                    background: $thBg !important;
                }
                tr{
                    &:hover{
                        background: transparent;
                    }
                }
                td{
                    padding: rem(10);
                    text-align: left;
                    border-right: 1px solid $tableBorder;
                    &:last-child{
                        border:0;
                        text-align: center;
                    }
                    ul{
                        li{
                            line-height: rem(24);
                            margin-left: rem(16);
                            // position: relative;
                            // &::before{
                            //     content:'';
                            //     width: 2px;
                            //     height: 2px;
                            //     background: $dotGray;
                            //     border-radius: 50%;
                            //     position: absolute;
                            //     top: calc(50% - 2px);
                            //     left: -10px;
                            // }
                        }
                        & + p{
                            margin-top: rem(10);
                        }
                    }
                    p{
                        margin-left: 15px;
                        font-weight: 500;
                        line-height: rem(30);
                        color: $tableSub;
                    }
                }
            }
        }
    }
    .bottomBtn{
        @include heightArray;
        width: 30%;
        min-height: rem(54);
        margin: rem(16) auto;
        margin-bottom: 0;
        .hasBtn{
            width: rem(300);
            button{
                width:rem(100);
                height: rem(44);
            }
        }
        button{
            height: rem(54);
            font-size: rem(18);
        }
        p{
            color: $mainColor;
            font-size: rem(20);
            font-weight: bold;
        }
    }
    footer{
        text-align: left;
        color: $footerGray2;
        margin-top: rem(16);
        ul{
            display: grid;
            grid-template-columns: repeat(2, auto);
            li{
                line-height: rem(26);
            }
            .link{
                font-size: rem(14);
                // font-weight: 500;
                a{
                    padding: 0 rem(14);
                    position: relative;
                    &::before{
                        content:'';
                        width: 1px;
                        height: 12px;
                        background: $thGray;
                        position: absolute;
                        left: 0px;
                        top: 4px;
                    }
                    &:first-child{
                        padding-left: 0;
                        &::before{
                            display: none;
                        }
                    }
                }
            }
            .address{
                font-weight: 500;
                justify-self: end;
            }
            .contact{
                letter-spacing: normal;
                span{
                    margin-right: 10px;
                }
            }
            .copyRight{
                font-size: 12px;
                color: $copyRight;
                justify-self: end;
            }
        }
    }
}

.mView{    
    .mobile{display: inline-block;}
    .pc{display: none;}
    .compoWrapper{
        padding: rem(25);
        padding-bottom: rem(80);
        border-radius: 0;
        &.fullSize{
            padding-bottom: rem(25);
            .component{
                &.center{
                    height: calc(100vh - 280px);
                }
            }
            .bottomBtn{
                position: relative;
                padding: 0;
            }
            footer{
                ul{
                    padding-top: rem(20);
                }
            }   
        }
        .titWrapper{
            height: auto;
            text-align: left;
            .title{
                display: block;
                max-width: initial;
                h2{
                    display: block;
                    margin-top: rem(10);
                    margin-left: 0;
                    max-width: initial;
                    @include ellipsis-2;
                    font-size: rem(22); 
                }
            }
            .tooltip{
                top: 0;
            }
        }
        .tabType{
            margin-top: 10px;
        }
        .component{            
            height: auto;
            padding: rem(10);
            &.center{
                margin-top: 40px;
                height: calc(100vh - 334px);
                h2{
                    font-size: rem(26);
                }
                p{
                    font-size: rem(16);
                    margin-top: rem(30);
                }
                .subInfo{
                    font-size: rem(14);
                }
            }
        }
        .grid{
            margin: rem(20);
            grid-template-columns: 0;
            .agreement{   
                grid-column: 1 / 3;
                grid-row: 3 / 3;
                margin-top: rem(30);
            }
            .wishPay{
                grid-column: 1 / 3;
            }
            .attResume{
                grid-column: 1 / 3;
            }
        }
        .accWrap{
            height: auto;
            &.indexType{
                .innerList{
                    display: block;
                    > ul{
                        width: 100%;
                    }
                }
            }
        }
        .bottomBtn{
            padding: rem(15) rem(25);
            width: 100%;
            background: $bgColor;
            position: fixed;
            left: 0;
            bottom: 0;
            z-index: 100;
        }
        footer{
            ul{
                display: block;
                text-align: center;
                .link{
                    a{
                        padding: 0 rem(8);
                    }
                }
            }
        }
    }
}

@media (max-width: 960px){
    .bgWrapper{
        padding-top: 0;
        .layoutWrapper{
            .logoWrapper{
                padding: rem(20);
                padding-bottom: 10px;
            }
        }
    }
    .compoWrapper{
        padding: rem(25);
        padding-bottom: rem(80);
        border-radius: 0;
        &.fullSize{
            padding-bottom: rem(25);
            .component{
                &.center{
                    height: calc(100vh - 280px);
                }
            }
            .bottomBtn{
                position: relative;
                padding: 0;
            }
            footer{
                ul{
                    padding-top: rem(20);
                }
            }   
        }
        .titWrapper{
            height: auto;
            text-align: left;
            .title{
                display: block;
                max-width: initial;
                h2{
                    display: block;
                    margin-top: rem(10);
                    margin-left: 0;
                    max-width: initial;
                    @include ellipsis-2 
                }                
                h3{
                    font-size: rem(16);
                }
            }                          
            h3{
                margin-top: 0;
            }            
            .tooltip{
                top: 0;
            }
        }
        .component{            
            height: auto;
            // padding: rem(10);
            padding: 0 rem(16);
            &.center{
                margin-top: 40px;
                height: calc(100vh - 334px);
                h2{
                    font-size: rem(26);
                }
                p{
                    font-size: rem(16);
                    margin-top: rem(30);
                }
                .subInfo{
                    font-size: rem(14);
                }
            }
        }
        .grid{
            margin: rem(20);
            grid-template-columns: 0;
            .agreement{   
                grid-column: 1 / 3;
                grid-row: 3 / 3;
                margin-top: rem(30);
            }
            .wishPay{
                grid-column: 1 / 3;
            }
            .attResume{
                grid-column: 1 / 3;
            }
        }
        .accWrap{
            height: auto;
            &.indexType{
                .innerList{
                    display: block;
                    padding: rem(10);
                    > ul{
                        width: 100%;
                    }
                }
            }
        }
        .bottomBtn{
            padding: rem(15) rem(25);
            width: 100%;
            background: $bgColor;
            position: fixed;
            left: 0;
            bottom: 0;
            z-index: 100;
        }
        footer{
            ul{
                display: block;
                text-align: center;
                .link{
                    a{
                        padding: 0 rem(8);
                    }
                }
            }
        }
    }
}
@media (max-width: 760px){}