.paging{
    text-align: center;
    li{
        display: inline-block;
        color : $disable;
        vertical-align: middle;
        margin: 0 rem(10);
        .is-active{
            color: $black;
            font-weight: 700;
        }
    }
}