.faqRegister{
    width: 100%;
    .regiPartWrapper{        
        padding-left: rem(50);
        padding-right: rem(126);
    }
    .col3{
        width: rem(1300);
        row-gap: rem(30);
        column-gap: rem(50);
        grid-template-columns: 180px 1fr 1fr;
    }
    .faqNm{
        grid-column: 2/4;
    }
    .faqEditor{
        grid-column: 1/4;
    }
    .faqFile{
        grid-column: 1/3;
    }
}