.myPeoList{
    .tabCont{        
        padding: rem(20);
    }
    .yScroll{
        //220829
        //height: calc(100vh - 272px);    
        // padding: 1.25rem 2.5rem;
        height: calc(100vh - 233px);    
        font-size: rem(14);
        //220829    
        @include scroll_0;
    }
}

.myPeoDetail{
    .tableBox{
        //220829
        // height: calc(100vh - 240px);  
        height: calc(100vh - 190px);  
        //220829
        margin-top: rem(30);      
    }
    .boxListWrap{    
        //220829
        // height: calc(100vh - 200px);
        height: calc(100vh - 190px);
        margin-top: rem(20);
        background: transparent;
    }
    &.is-active{
        & + .quickView{
            width: rem(360);
            right: rem(52);
        }
    }
}