.usableMan{
    padding: rem(30);
    padding-bottom: 0;
    .peoList{
        @include scroll_0;
        width: 100%;
        height: calc(100vh - 230px);
        margin-top: rem(16);
        padding: rem(10);
        padding-bottom: rem(100);
        .boxList{            
            border-radius: rem(5);
            border:1px solid $layoutColor;
        }
            img{
                width: rem(40);
                height: rem(40);
                border-radius: rem(12);
                margin-bottom: rem(5);
            }
    }
}
