.insertType{
    //width: 100%;
    .tableBox{
        // height: auto;
        max-height: calc(100vh - 350px);
    }
    table{
        td{
            padding-right: rem(10);
            text-align: right;
            // height: rem(44);
            font-size: rem(13);
            &.center{
                padding-right: rem(4);
            }
        }
    }
    tfoot{
        td{
            padding: rem(8) rem(10);
            font-weight: bold;
            background: $tfootGray;
            &.center{
                padding-right: rem(4);
            }
        }
    }
}