.projTotal{
    width: 100%;
    table{
        thead{
            height: rem(38);
            border-top: 2px solid $gray;
            th{
                font-weight: bold;
            }
        }
        td{
            text-align: right;
            color: $black;
            font-size: rem(13);
            &.ellipsis{
                text-align: left;
            }
        }
        tfoot{
            td{
                padding: rem(8) rem(4);
                font-weight: bold;
            }
        }
    }
    .yScroll{
        max-height: calc(100vh - 333px);
    }
    .accWrap{
        margin-top: 0;
        .accHead{
            font-size: rem(14);
            .prefix{width: 59%;}
            .projTit{font-size: rem(16);}
            .projCode{width: rem(60); color: $accTxt_pms;}
            .projGroup{width: rem(110); color: $accTxt_pms;}
            .projType{width: rem(50); text-align: center;}
            .projCus{width: rem(190); color: $mainColor;}
            .projDate{}
            .projSum{width: rem(150); text-align: right;}
        }
        .accInner{
            padding: rem(22) rem(38);
        }
    }
}