.myPeoList{
    .tabBtnWrap{
        padding-top: rem(15);
    }
    .tabCont{        
        padding: rem(20);
    }
    .yScroll{
        height: calc(100vh - 246px);    
        font-size: rem(14);
        @include scroll_0;
    }
    .listBottom{
        @include flex_2_3;
    }
    .memSkill{
        // width: 58% !important;
        width: 160px !important;
    }
}

#myPeoA-1{
    .condition{
        margin-bottom: rem(10);
        li{
            &.hasBtn{
                grid-column: 1 / 3;
                // input{
                //     width: 100%;
                //     // width: rem(404);
                // }
                button{
                    line-height: rem(38);
                }
            }
        }
        select{
            width: rem(140);
            height: rem(38);
        }
        input{
            height: rem(38);
        }
        .range{
            margin: 0 5px;
        }
    }
    .yScroll{
        height: calc(100vh - 350px);
    }
    .boxList{
        &.headType{
            .cont{
                .prefix{
                    width: 68%;
                }
                .suffix{
                    width: 28%;
                }
            }
        }
    }
}


.myPeoDetail{
    .notiBox{
        margin-left: rem(30);
        margin-top: 0;
        width: calc(100% - 60px);
        .subInfo{
            margin-left: rem(10);
            font-weight: 400;
            font-size: rem(16);
            color: $black;
        }
    }
    .tableBox{
        height: calc(100vh - 240px);  
        margin-top: rem(30);      
    }
    .boxListWrap{    
        height: calc(100vh - 190px);
        margin-top: rem(20);
        background: transparent;
        .boxList{
            &.flexType{
                &::before{
                    left: 14%;
                }
                &::after{
                    right: 14%;
                }
            }
            // .cont{
            //     margin-top: 0;
            // }

            .hasTooltip{
                &:hover{
                    .tooltip{
                        display: block;    
                        width: auto;
                        top: 50%;
                        left: -110px;
                        transform: translateY(-50%);                            
                    }
                }
            }
        } 
    }
    .default{
        height: 100%;
    }  
    &.is-active{
        & + .quickView{
            width: rem(360);
            right: rem(52);
        }
    }
}
