.faqDetail{
    width: 100%;
    .regiPartWrapper{        
        padding-left: rem(50);
        padding-right: rem(126);
    }
    .grid{
        width: rem(1300);
    }
    .infoList{
        &.listType{
            .faqQCont{
                margin-top: rem(20);
            }
        }
    }
    .faqQTit{
        .info{
            display: flex;
            justify-content: space-between;
        }
    }
    .faqQCont{
        .infoBox{
            padding: rem(40) 0;
            border-top:1px solid $inputGray;
            border-bottom:1px solid $inputGray;
        }
    }
    .faqQFile{
        a{
            color: $mainColor;
            text-decoration: underline;
        }
    }
}