.faqDetail{
    width: 100%;
    .regiPartWrapper{        
        padding-left: rem(50);
        padding-right: rem(126);
    }
    .grid{
        width: rem(1300);
    }
    .faqQTit{}
    .faqQCont{
        .infoBox{
            margin: rem(20) 0;
            padding: rem(40) 0;
            border-top:1px solid $inputGray;
            border-bottom:1px solid $inputGray;
        }
    }
    .faqQFile{
        .info{
            justify-content: space-between;
        }
    }
}