.licenseList{
    // width: 100%;
    position: relative;
    .tableBox{
        max-height: calc(100vh - 360px);
        min-height: rem(120);
        // overflow: visible;
        border-bottom: 0;
        thead{        
            .tooltip{
                width: rem(200);
                top: 140%;
            }
        }
        tbody{
            .tooltip{
                min-width: rem(150);
                right: auto;
                left: 103%;
                &.right{
                    min-width: rem(200);
                    .yScroll{
                        max-height: rem(42);
                    }
                }
            }
            tr{
                &:last-child{
                    .tooltip{
                        top: 0;
                        &::after{
                            top: 65%;
                        }
                    }
                }
            }
        }
        tr{
            &:hover{
                background: transparent;
            }
            .sChecking{
                margin-left: rem(5);
                display: inline-block;
                min-width: rem(40);
                text-align: center;
            }
        }
        .point{
            &.checking{             
                margin-right: 5px;  
                padding: 0 3px;
                font-size: rem(12);
                color: $white;
                background: $checking;
            }
        }
    }
    .listBottom{
        border-top: 0;
    }
    .alertToast{
        left: 50%;
        bottom: 0;
        transform: translate(-50%, -50%);
        .sortL{
            &::before{
                left: rem(5);
            }
        }
    }
}