.talentedSearch{
    width: 100%;
    // padding: 0.9375rem;
    .boxWrap{
        margin-top: rem(25);
        padding: rem(20) rem(25);

        width: calc(100% - 60px);
        position: absolute;
        bottom: 30px;
    }
    .chkType{
        margin-top: 10px;
        th{
            height: 40px;
        }
        .tabCopy{
            margin-right: 20px;
            padding: 8px 30px;
            font-size: 16px;
            color: white;
            background: #0460d2;
            border-radius: 6px 6px 0 0;
        }
    }
    table{
        thead,th{
            height: 40px;
        }
        tbody{
            border-top: 0;
        }
        &.chkType{
            thead{
                border-bottom: 1px solid #4b4b4b;
            }
        }
    }
    .listBottom{
        button{
            max-width: rem(204);
        }
    }
    .yScroll{
        // margin-top: rem(10);
        height: calc(100vh - 490px);
        transition: height 0.3s;    
        @include scroll_0;
        &.is-active{
            height: calc(100vh - 210px);
        }
    }
    .hasTooltip{
        .tooltip{
            top: 50%;
            transform: translate(-50%,-50%);
            left: 8%;
        }
        &:hover{
            .tooltip{
                display: block;
            }
        }
    }
}


.searchRequire{
    display: flex;
    gap: 28px;
    >.prefix,
    >.suffix{
        flex: 1 1 50%;
    }
    >.suffix{
        padding: rem(10);
        border-radius: rem(5);
        border:1px solid $layoutColor;
        .inputGroup{
            overflow-y: auto;
            height: 119px;
            max-height: initial;
        }
        .bottom{
            margin-top: 5px;
            display: flex;
            position: relative;
            justify-content: flex-end;
            .txtType{
                color: $black;
                font-weight: 500;
            }
        }
        .modalLayer{
            &.absol{
                right: -20px;
                top: 130%;
                .layerBox{
                    padding: rem(10);
                    min-width: auto;
                    width: rem(300);
                    background: $modalBg;
                }
            }
        }
    }
    .filterOptList{
        >ul{
            display: flex;
            gap: 6px;
            >li{
                flex: 1 1;
                border-radius: rem(5);
                border:1px solid $layoutColor;
                position: relative;
                cursor:pointer;
                &::after{
                    content: '';
                    width: rem(12);
                    height: rem(6);
                    background: url(../img/icoSelect.png) no-repeat;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-40%); 
                    right: rem(7); 
                }       
                > span{
                    display: block;
                    padding: 10px 8px;
                }
                .absol{
                    left:0;
                    right: auto;
                    .filterList{                        
                        // padding: rem(20) rem(12);
                        padding: rem(20) 0;
                        min-width: rem(130);
                        width: auto;
                        height: auto;
                    }
                }     
            }
        }
        .listBottom{
            padding-top: 0;
        }
    }
    .filterCustom{
        margin-top: rem(25);
        ul{
            display: flex;
            flex-wrap: wrap;
            gap: 6px;
        }
        li{
            @include sideArray;
            flex: 1 1 19%;
            max-width: rem(163);
            padding: 10px 8px;
            padding-right: 0;
            border-radius: rem(5);
            background: $filterBg;
            border:1px solid $filterBd;
            position: relative;
            .more2{
                padding: 0 6px;
            }
            &.is-active{
                background: $mainColor;
                .customTit{
                    color: $white;
                }
                .more2{
                    background-position: -160px -100px;
                }
            }
            &.info{
                display: block;
                flex: 100%;
                max-width: initial;
                border:0;
                text-align: center;
                background: $white;
                img{
                    width: rem(20);
                    margin-right: 4px;
                    vertical-align: -1px;
                }
                strong{
                    display: inline-block;
                    margin-bottom: rem(10);
                    font-size: rem(20);
                    color: $mainColor;
                }
            }
            .customTit{
                margin-left: 5px;
                display: inline-block;
                text-decoration: underline;
                @include ellipsis;
                width: 72%;
                font-weight: 500;
                cursor:pointer;
            }
        }
        .modalLayer{
            &.absol{
                left: 75%;
                right: auto;
                top: 90%;
                .layerBox{
                    padding: rem(10);
                    min-width: auto;
                    width: rem(180); //0913 J 170 -> 180수정
                    background: $modalBg;
                }
            }
            ul{
                display: initial;
                li{
                    display: inline-block;
                    padding: 0;
                    max-width: inherit;
                    background: transparent;
                    border: 0;
                    & + li{
                        margin-top: 5px;
                    }
                }
            }
        }
    }
    .gray_bin{
        margin-left: 3px;
    }
}

