.insertType{
    //width: 100%;
    .tableTop{
        margin-top: rem(30);
    }
    .absolBody{
        height: auto;
        max-height: calc(100vh - 410px);
    }
    table{
        td{
            height: rem(44);
            font-size: rem(13);
        }
    }
    tfoot{
        td{
            padding: 0 6px;
            background: $tfootGray;
        }
    }
}