.myPeoList{
    .yScroll{
        padding: 1.25rem 2.5rem;
        height: calc(100vh - 277px);        
        @include scroll_0;
    }
}

.myPeoDetail{
    .notify{
        p{
            &:first-child{
                font-size: rem(18);
                font-weight: 700;
            }
        }
    }
}