
.profile{
    text-align: center;
    // margin-bottom: rem(30);
    margin: rem(30) 0;
    position: relative;
    img{
        width: rem(130);
        height: rem(130);
        // margin:rem(10) auto 0;
        // width: 100%;
        border-radius: 50%;
    }
    i{
        position: absolute;
        top: rem(5);
        right: 0;
    }
    button{
        margin-top: rem(10);
        min-width: 5.625rem;
        width: auto;
        line-height: 2.125rem;
        padding: 0 0.9375rem;
    }
    //회원상세
    h3{
        font-size: rem(18);
        font-weight: 500;
    }
    .phoImg{
        &.is-special{
            &::before{
                width: 24px;
                height: 24px;
                right: 10px;
                top: 6px;
            }
            &::after{
                width: 15px;
                height: 11px;
                background-image: url(../img/icoGroup.png);
                background-position: -180px -40px;
                right: 14px;
                top: 12px;
            }
        }
    }
}

.phoImg{
    display: inline-block;
    // margin-right: 0 !important;
    &.is-special{
        .photo{
            border: 2px solid $mainColor;
        }
        position: relative;
        &::before{
            content:'';
            width: rem(13);
            height: rem(13);
            border-radius: 50%;
            background: $mainColor;
            position: absolute;
            right: -2px;
            bottom: -1px;
        }
        &::after{
            content:'';
            width: 9px;
            height: 7px;
            background-image: url(../img/icoGroup.png);
            background-position: -180px -60px;
            position: absolute;
            right: 0;
            bottom: 2px;
        }
    }
}

//인재검색 - 프로젝트 제안하기 팝업
.offertrg{
    height: 210px;
    overflow-y: auto;
    overflow-x: hidden;
    > ul{
        display: grid;
        // flex-wrap: wrap;
        gap:4px;
        grid-template-columns: repeat(4, 1fr);
        .trgBox{
            display: initial;
            margin-bottom: 0;
            width: rem(162);
        }
        // .trgBox{
        //     display: initial;
        //     flex: 1 1 25%;
        // }
    }
}
.trgBox{
    padding: rem(8) rem(14);
    border-radius: 6px;
    border:1px solid $layoutColor;
    position: relative;
    .flexCenter{
        flex-wrap: inherit;
    }
    .smClose{
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
    }
    .phoImg{
        margin-right: rem(10);
        &.is-special{
            &::before{
                width: 12px;
                height: 12px;
                right: 4px;
                top: 4px;
            }
            &::after{
                width: 9px;
                height: 7px;
                background-position: -180px -60px;
                right: 5px;
                top: 6px;
            }
        }
    }
    .photo{
        width: rem(58);
        height: rem(58);
    }
    .profile{
        margin: 0;
        font-weight: 500;
        text-align: left;
        li{
            margin-bottom: 0;
            &:nth-child(3){
                font-size: rem(13);
            }
            &.ellipsis{
                display: inline-block;
                max-width: 80%;
                font-weight: 400;
                color: $subGray2;
            }
        }
    }
}

//보낸제안
.offeredMem{
    width: 24%;
    // width: rem(400);
    padding: rem(15) rem(20);
    border-radius: 6px;
    border:1px solid $layoutColor;
    cursor: pointer;
    .profile{
        margin: 0;
        display: flex;
        gap: 26px; //0913 J 40 -> 26변경
        .left{
            li{
                display: block;
                font-size: 14px; //0913 J 16 -> 14변경
                font-weight: 500;
                min-width: 120px; //0913 J 추가
                .subInfo{
                    margin-left: 2px;
                }
            }
        }
        ul{
            display: initial;
            li{
                align-items: center;
                font-size: rem(15);
                font-weight: 500; //0913 J 추가
            }
            .subInfo{
                margin-left: 10px;
                color: $subGray; //0913 J 추가
            }
            .bdType{
                margin-top: 0;
                margin-left: 8px;
                width: rem(96);
                line-height: rem(30);
                padding: 0px 4px;
            }
        }
    }
    .phoImg{
        @include heightArray;
        height: 67px;
        &.is-special{
            &::before{
                width: 13px;
                height: 13px;
                right: 33px;
                top: 8px;
            }
            &::after{
                width: 9px;
                height: 7px;
                background-position: -180px -60px;
                right: 35px;
                top: 10px;
            }
        }
    }
    .photo{
        width: rem(58);
        height: rem(58);
    }
}