.quickView{
    position: absolute;
    right: 0;
    top: 0;
    // padding: rem(40);
    width: rem(440);
    background: $white;
    .tabBtnWrap{
        li{
            a{
                width: rem(120);
            }
        }
    }
    .tabContWrap{
        padding: rem(20) rem(40);
    }
}