.projRegister,
.memRegister{
    width: 100%;
    position: relative;
}

.projRegister{
    .inputList{
        width: 70%;
    }
    .regiPartWrapper{
        height: calc(100vh - 160px);
    }
    .hasTooltip{
        .tooltip{
            &.line1{
                top: 20px;
            }
            &.line4{
                top: 320px;
            }
            &.line5{
                top: 550px;
            }
        }
    } 
}


.regiPartWrapper{
    @include scroll_0;
    height: calc(100vh - 130px);
    overflow-y: auto;
    scroll-behavior:smooth;

    padding-left: rem(180);
    padding-right: rem(280);
    transition: all 0.3s;
    &.noInfo{
        padding-left: rem(40);
        padding-right: rem(40);
    }
}

.regiTop{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    &.start{
        justify-content: flex-start;
    }
    .prefix,
    .suffix{
        display: flex;
        align-items: center;
        gap: 2px;
    }
    h3{
        margin-right: rem(30);
    }
}

.regiPart{
    // margin-top: rem(45); //0913 J 25 -> 45변경
    margin-top: rem(25); //시스템관리 화면 틀어짐
    &:last-child{
        padding-bottom: rem(50);
    }
    &:first-child{
        padding-bottom: 0; 
    }
    .boxWrap{
        margin-top: rem(10);
        padding: rem(25);
        &.noTit{
            margin-top: rem(30);
        }
        &.flex,
        &.flex_1_1,
        .flex_1_2,
        .flex_4_3,
        &.flex_4_3{
            gap: 20px;
        }
        & + h3{
            margin-top: rem(25);
        }
        .inputList{
            .full{
                input[type=text]{
                    // width: calc(100% - 253px);
                    // width: calc(100% - 188px);
                    width: calc(100% - 151px);
                }
            }
            span{
                font-weight: 300;
                cursor: pointer;
                // &.subInfo{
                //     line-height: rem(44);
                // }
                &.range{
                    cursor: initial;
                }
            }
            label{
                label{
                    float: right;
                    margin-right: 0;
                }
            }
            input[type=text]{
                &.dateType{                    
                    width: rem(160);
                    &.full,
                    &.fullSize{
                        width: 100%;
                    }
                }
            }
        }
        label,
        h4,
        h6{
            // display: inline-block;
            font-weight: 500;
            margin-bottom: rem(6);
            &.need{
                position: relative;
                &::after{
                    content:'*';
                    margin-left: rem(4);
                }
            }
        }
        .btnType{
            display: inline-block;
        }
        .uploadBox{
            display: flex;
            align-items: end;
            label{
                margin-bottom: 0;
            }
        }
        // .inputGroup{
        //     width: rem(400);
        //     min-height: rem(46);
        //     margin-top: rem(10);                
        //     padding: rem(7) rem(14);
        // }
        // .inputGroup{
        //     margin-top: rem(10);  
        // }
        .alertToast{
            // top: -160px;
            // left: 42%;
            //transform: translateX(-50%);
            transform: translateY(50%);
        }
        // & + h3{
        //     margin-top: rem(50);
        // }
    }
    li{
        .hasTooltip{
            cursor: default;
            >.tooltip{
                display: none;
                visibility: visible;
                &.type2{
                    display: block;
                    visibility: hidden;
                }
            }
            &:hover{
                .tooltip{
                    &.type2{
                        visibility: visible;
                    }
                }
            }
        }
    }
    tfoot{
        td{
            padding: rem(10) rem(4);
        }
    }
}
