/* GNB 아이콘 */
.rPanel{
    i{        
        width: 30px;
        height: 30px;
        background-image: url(../img/iconImg.jpg);
        &.searchMem{
            background-position: 0px 0px;
        }
        &.schedule{
            background-position: 30px 30px;
        }
        &.mail{
            background-position: 0px 0px;
        }
    }
}