
/* SELECT */
select{    
    //display: block;
    width: rem(100);
    height: rem(50);
    padding-left: rem(14);
    border-radius: rem(4);
    border: 1px solid $inputGray;
    //화살표 수정
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../img/icoSelect.png) no-repeat;
    background-position: right rem(14) top 50%;
    &:focus{
        outline: none;
    }
    & + input[type=text]{
        width:auto;
    }
}