.tableTop{
    margin-top: rem(20);
    font-size: rem(14);
    & + .sticky{
        max-height: calc(100vh - 360px);
    }
}

table{
    tbody{ 
        tr{
            &:hover{
                background: $tableHover;
            }   
            th{
                background: $bodyTh_pms;
                
            }
        }
    }
    tr{
        th{
            background: $gnbGray;   
            font-size: rem(13); 
            font-weight: 400;   //11.01 추가     
            &.fold{
                height: auto;
            }            
        }   
        td{
            height: rem(41);
            font-size: rem(13); 
            &.fold{
                border-left: 1px solid $tableBorder;
                &.is-active{
                    border-left: 0;
                }
            }
        }
        &.is-active{
            background: $trClk_pms;
            &:hover{
                background: $trClk_pms;
            } 
        }
        &.is-filter{
            background: $trFilter_pms;
            &:hover{
                background: $trFilter_pms;
            } 
        }
    }
    tfoot{
        td{
            padding: 0 6px;
            // background: $tfoot_pms;
            background: $tfootGray; //J
        }
    }       
    input, input[type=text], textarea, select, button{            
        font-size: rem(13); 
        &::placeholder{
            font-size: rem(13); 
        }
    }
    input[type=checkbox],
    input[type=radio]{
        + label{
            margin-right: rem(10);
            font-size: rem(13);
        }
    }
    a{
        color: $a_pms;
    }
}
