.tableWrap{
    margin-top: rem(30);
}

.tableTop{
    @include sideArray;
    margin-bottom: rem(10);    
    .tCount{
        border: none;
        padding-right: rem(6);
        background-position: right 0 top 50%;
    }
}




table{
    width: 100%;
    th, td{
        text-align: center;
        background: $white;
        border-top: 1px solid $tableBorder;
        border-bottom: 1px solid $tableBorder;
    }
    th{
        color: $white;
        font-weight: 500;
        padding: rem(12) 0;
        border-top: none;
        background: $tableBgGray;
    }
    td{
        color: $tableGray;
        padding: rem(14) 0;
    }
    .ellipsis{
        @include ellipsis;
        color: $mainColor;
    }
    .memo{
        padding: rem(16);
        position: relative;
        text-align: left;
        &::before{
            content:'';
            width: 1px;
            height: rem(40);
            background: $tableBorder;
            position: absolute;
            top:50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
}




.listTop{
    //padding: 0 rem(10);
    &.flex{
        @include sideArray;
    }
    label{            
        margin-right: rem(16);
    }
    // button{
    //     float: right;
    //     margin-top: -5px;
    // }
}

.listBottom{
    width: 100%;
    padding: rem(30) rem(40);
    background: $white;
    //box-shadow: -5px -5px 10px rgba(0,0,0,0.1);
    //position: absolute;
    //bottom: 0;
    @include flex_1_2;
    .suffix{
        margin-left: rem(10);
    }
    &.pagingType{
        padding: rem(40);
        @include heightArray;
    }
}