table{
    tbody{ 
        tr{
            &:hover{
                background: $tableHover;
            }   
            th{
                background: $bodyTh_pms;
            }
        }
    }
    tr{
        th{
            background: $gnbGray;        
        }
    }
    a{
        color: $a_pms;
    }
    tfoot{
        td{
            background: $tfoot_pms;
        }
    }
}
