.tabWrapper{
    &.listType{
        display: flex;
        >.tabBtnWrap{
            display: block;
            width: rem(250);
            min-height: 100vh;
            max-height: 100vh;
            overflow-y: auto;
            padding: 0;
            border-bottom: 0;
            box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
            h2{
                padding: rem(20) rem(16);
                border-bottom:1px solid $layoutColor;
            }
            .tabBtn{
                font-size: rem(16);
                text-align: left;
                border-bottom:1px solid $layoutColor;
                a{
                    display: block;
                    width: rem(250);
                    padding: rem(15) rem(25);
                    &.is-active{
                        border-bottom: 0;
                        border-left: 3px solid $mainColor;
                    }
                }
            }
        }
        >.tabContWrap{
            width: calc(100% - 250px);
            >.tabCont{
                max-height: 100vh;
                overflow-y: auto;
                padding: rem(30) rem(50);
            }
        }
    }
}


.tabBtnWrap{
    @include sideArray;
    padding: 0 rem(50);
    padding-top: rem(30);
    border-bottom:1px solid $tabGray;    
    li{
        display: inline-block;
        text-align: center;
        a{
            display: inline-block;
            color: $cancel; 
            //220829
            //font-weight: 700;
            font-weight: 500;
            //220829
            padding-bottom: rem(7);
            &.is-active{
                color: $black;
                //220829
                // border-bottom: 3px solid $black;
                border-bottom: 2px solid $black;
                //220829
            }
        }
    }
    &.wideType{
        @include flex_1_1;
        //220829
        // padding: 0 rem(45);
        // padding-top: rem(33);
        padding: 0 rem(20);
        padding-top: rem(23);
        //220829
        a{
            display: block;
        }
    }
    &.btnType{        
        display: block;
        border: 0;
        padding: 0;
        //text-align: left;
        li{
            //220829
            // line-height: rem(48);
            line-height: rem(42);
            //220829
            font-weight: 500;
            margin-left: -4px;
            &:first-child{
                margin-left: 0;
                a{
                    border-radius: rem(4) 0 0 rem(4);
                }                
            } 
            &:last-child{                
                a{
                    border-radius: 0 rem(4) rem(4) 0;
                }                
            }
            a{
                width: rem(96);
                //220829
                // height: rem(50);
                height: rem(44);
                //220829
                color: $cancel;
                background-color: $white;
                border: 1px solid $inputGray;
                &.is-active{                    
                    color: $white;
                    background-color: $mainColor;
                    border: 1px solid $mainColor;
                }
            }
        }
        &.wideType{
            a{
                width: rem(194);
                font-size: rem(18);
            }
        }
        &.midType{
            li{
                line-height: rem(38);
                a{
                    width: rem(80);
                    height: rem(40);
                    border-radius: rem(4);
                }
                & + li{
                    margin-left: rem(4);
                }
            }
        }
        &.smType{
            padding: 0;
            li{
                line-height: rem(28);
                font-weight: 500;
                margin: 0;
                a{
                    width: rem(74);
                    height: rem(30);
                    font-size: rem(14);
                    border-radius: rem(4);
                }
                & + li{
                    margin-left: rem(4);
                }
            }
        }
    }
}
.tabContWrap{
    .tabCont{
        display: none;
        position: relative;
        &.is-active{
            display: block;
        }
    }
}