.tableTop{
    @include sideArray;
    margin-bottom: rem(10);   
}
.tableBox{
    overflow-y: auto;
    thead{
        &.sticky{
            position: sticky;
            top:0;
        }
    }
    &.noScroll{
        overflow-y: initial;
    }
    // + .tableBox{
    //     margin-left: rem(40);
    // }
}






table{
    width: 100%;
    //220829
    font-size: rem(14);
    //220829
    text-align: center;
    background: $white;
    
    tr{
        border-bottom: 1px solid $tableBorder;
        &.bg{
            background: rgba($mainColor, 0.02);
            &.is-active{
                background: $bgColor;
            }
        }
        &:last-child{
            td{
                border-bottom: 0;
            }
        }
        &.is-active{
            background: $bgColor;
        }
        &.dragTr{
            height: rem(62);
            cursor: move;
        }
        &.tableHead{
            th{
                font-size: rem(16);
                font-weight: 700;
                padding: rem(10) 0;
            }
            & + tr{
                th{
                    padding: rem(6) 0;
                }
            }
        }
        .select{
            text-align: left;
            color: $black;
        }
        th{
            color: $white;
            font-weight: 500;
            padding: rem(14) 0;
            background: $tableBgGray;
        }
        td{
            color: $tableGray;
            // padding: rem(14) 0;
            padding: rem(8) 0;
            &.nodata{
                display: table-cell;
                font-weight: 500;
                // background: transparent;
                background: $bgColor;
            }
            &.left{
                text-align: left;
                padding-left: rem(14);
            }
            &.right{
                text-align: right;
            }
            &.hasToast{
                position: relative;
                .alertToast{
                    top: 50%;
                    left: 100%;
                    transform: translateY(-50%);
                    min-width: rem(230);
                }
            }
        }
    }
    tbody{
        tr{
            &:hover{
                background: $bgColor;
            }
        }
    }
    tfoot{
        td{
            padding: rem(18);
            background: $bgColor;
            border-bottom: 0;
        }
    }
    &.noBd{
        text-align: left;
        tr{
            border:0;
            th{
                color: $black;
                background: transparent;
            }
            td{
                padding: 0;
            }
        }
    }
    &.mixType{
        th{
            padding: rem(4) 0;
        }
        td{         
            padding: rem(6) 0;
            &:first-child{
                border-right: 1px solid $tableBorder;
            }
            p{
                color: $black;
                font-weight: 700;
            }
        }
    }
    &.rowType{
        text-align: left;
        tr{
            &:last-child{
                border-bottom: 0;
            }
        }
        td{
            padding: rem(12);
            &:first-child{
                font-weight: 700;
                padding: rem(12) rem(6);
                border-right: 1px solid $tableBorder;
            }
        }
    }
    &.chkType{
        //background: $bgColor;
        tr{
            th{
                padding: 0;
                padding-top: 5px;
                padding-bottom: 5px;
                background: transparent;
                color: $black;
                border-bottom: 1px solid $layoutColor;
                a{
                    color: $black;
                    position: relative;
                    &::after{
                        content:'';    
                        //원형                    
                        // width: rem(4);
                        // height: rem(4);
                        // border-radius: 50%;
                        // background: $layoutColor;
                        // position: absolute;
                        // top: rem(22);
                        // left: calc(50% - 4px);
                        // top: -2px;
                        // right: -7px;

                        width: 0;
                        height: 0;
                        border-left: 4px solid transparent;
                        border-right: 4px solid transparent;
                        border-top: 4px solid $layoutColor;
                        position: absolute;
                        top: rem(22);
                        left: calc(50% - 4px);
                    }
                    &.is-active{
                        // &::after{
                        //     background: rgba($mainColor, 0.7);
                        // }
                        &::after{
                            border-top: 4px solid $mainColor;
                        }
                    }
                    // &::after{
                    //     content:'';                        
                    //     width: 100%;
                    //     height: 2px;
                    //     background: $layoutColor;
                    //     position: absolute;
                    //     bottom: -5px;
                    //     left: 50%;
                    //     transform: translateX(-50%);
                    // }
                    // &.is-active{
                    //     &::after{
                    //         background: $mainColor;
                    //     }
                    // }
                }
            }
        }
        thead{
            height: rem(53);
        }
        .tooltip{
            top: -70%;
        }
        &.hasInput{
            tr{
                td{
                    padding: rem(6) 0;
                } 
            }
        }
    }
    &.hasInput{
        tr{
            &:hover{
                background: transparent;
            }
            td{
                padding: rem(6) rem(3);
                height: rem(59);
            } 
        }
        tfoot{
            td{
                padding: rem(18);
                background: $bgColor;
                border-bottom: 0;
            }
        }
    }
    &.laSize{
        tr{
            td{
                padding: rem(19) 0;
            }
        }
    }
    .ellipsis{
        @include ellipsis;
        // padding: rem(14);
        padding: rem(8) rem(14);
        .dNear{
            font-size: rem(12);
        }
        .dNear,
        .label{
            & + a{
                margin-left: rem(5);
            }
        }
    }
    .photo{
        width: rem(40);
        height: rem(40);
        border-radius: rem(12);
        vertical-align: middle;
        margin-right: rem(10);
    }
    // button, 
    // .button{
    //     cursor: inherit;
    // }
    // .round{
    //     cursor: inherit;
    // }
    a{
        color: $mainColor;
        cursor: pointer;
    }
    .memo{
        padding: rem(16);
        position: relative;
        text-align: left;
        &::before{
            content:'';
            width: 1px;
            height: rem(40);
            background: $tableBorder;
            position: absolute;
            top:50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
    .inputIco{
        width: calc(100% - 116px);
    }
    input{
        background: transparent;
    }
}




.listTop{
    //padding: 0 rem(10);
    &.flex{
        @include sideArray;
    }
    span{
        font-weight: 500;
        margin-right: rem(16);
    }
    label{            
        margin-right: rem(16);
    }
    // button{
    //     float: right;
    //     margin-top: -5px;
    // }
    .flexBetween{
        color: $tableGray;
        font-size: rem(14);
        align-items: center;
        padding-bottom: 8px;
        border-bottom: 1px solid $layoutColor;
    }
}

.listBottom{
    width: 100%;
    //220913
    //padding: rem(30) rem(40);
    padding-top: rem(25);
    //box-shadow: -5px -5px 10px rgba(0,0,0,0.1);
    //position: absolute;
    //bottom: 0;
    @include flex_1_2;
    //220829
    font-size: rem(14);
    //220829
    .suffix{
        margin-left: rem(10);
    }
    &.pagingType{
        justify-content: center;
    }
    &.flex{
        padding-top: rem(10);
    }
    button{
        font-size: rem(16);
    }
}