.tabBtnWrap{
    @include sideArray;
    padding: 0 rem(50);
    padding-top: rem(30);
    border-bottom:1px solid $tabGray;
    
    li{
        display: inline-block;
        text-align: center;
        a{
            display: inline-block;
            color: $gray; 
            padding-bottom: rem(7);
            &.is-active{
                color: $black;
                border-bottom: 3px solid $black;
            }
        }
    }
}
.tabContWrap{
    .tabCont{
        display: none;
        position: relative;
        &.is-active{
            display: block;
        }
    }
}