.tableTop{
    @include sideArray;
    align-items: flex-end;    
    margin-bottom: rem(10);   
    font-weight: 500;
    &.left{        
        justify-content: flex-start;
        align-items: center;
    }
    &.right{
            justify-content: flex-end;
    }
    .prefix,
    .suffix{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
.tableBox{
    overflow-y: auto;
    &.noScroll{
        overflow-y: initial;
    }
    & + .listBottom{
        &.pagingType{
            border-top: 0;
        }
    }
    &.absolBody{
        height: calc(100vh - 454px);
        transition: all .3s;
        &.is-active{
            height: calc(100vh - 230px);
        }
        &::-webkit-scrollbar-track {
            background-color: $white;
        }
    }
}
.tableSort{
    position: relative;
    &::after{
        content:'';
        width: 1px;
        height: 100%;
        background: $tableSort;
        position: absolute;
        top: 0;
        right: -10px;
    }
}




table{
    width: 100%;
    font-size: rem(14);
    text-align: center;
    background: $white;
    tr{
        th{
            select{
                width: rem(140);
                height: rem(36);
                &.mid-lowSize{
                    width: rem(110);
                }
                &.noBd{
                    font-size: rem(14);
                    font-weight: 500;
                }
            }
            .hasBtn{
                .onlyIco{
                    width: rem(40);
                    height: rem(32);
                }
            }
        }
    }
    tr{
        border-bottom: 1px solid $tableBorder;
        &.bg{
            background: rgba($mainColor, 0.02);
            &.is-active{
                background: $bgColor;
            }
        }
        &:last-child{
            td{
                border-bottom: 0;
            }
        }     
        &.is-active{
            background: $bgColor;
        }
        &.dragTr{
            //height: rem(62); 1줄당 31px
            //height: rem(50);    1줄당 26px
            cursor: move;
        }
        &.tableHead{
            th{
                font-size: rem(16);
                font-weight: 700;
                padding: rem(10) 0;
            }
            & + tr{
                th{
                    padding: rem(6) 0;
                }
            }
        }
        select,
        .select{
            width: 100%;
            min-width: auto;
            height: rem(32);
            text-align: left;
            color: $black;
        }
        th{
            color: $white;
            font-weight: 500;
            padding: rem(2) 0;
            height: rem(32);
            background: $tableBgGray;            
            span{
                &.layerOpen{
                    color: $black;
                }
            }
        }
        td{
            color: $tableGray;
            // padding: rem(14) 0;
            padding: rem(4);
            // height: rem(40);
            height: rem(50);
            &.nodata{
                display: table-cell;
                height: rem(220);
                font-weight: 500;
                // background: transparent;
                //background: $bgColor;
                background: transparent;
            }
            &.left{
                text-align: left;
            }
            &.right{
                text-align: right;
            }
            &.hasToast{
                position: relative;
                .alertToast{
                    top: 50%;
                    left: 100%;
                    transform: translateY(-50%);
                    min-width: rem(240);
                }
            }
        }
    }
    tbody{        
        th{
            color: $black;
            background: $tableHover;    
        }
        tr{
            &:hover{
                background: $tableHover;
            }       
            &:has(.nodata){
                &:hover{
                    background:transparent;
                }
            }
        }
    }
    tfoot{
        td{
            padding: rem(18);
            background: $bgColor;
            border-bottom: 0;
        }
    }
    &.noBd{
        text-align: left;
        tr{
            border:0;
            &:hover{
                background: transparent;
            }
            th{
                color: $black;
                background: transparent;
            }
            td{
                padding: 0;
                height: auto;
            }
        }
    }
    //회원상세 프로젝트
    // &.mixType{
    //     th{
    //         padding: rem(4) 0;
    //     }
    //     td{         
    //         padding: rem(6) 0;
    //         &:first-child{
    //             border-right: 1px solid $tableBorder;
    //         }
    //         p{
    //             color: $black;
    //             font-weight: 700;
    //         }
    //     }
    // }

    //세로형식 - 회원상세
    &.rowType{
        text-align: left;
        tr{
            &:last-child{
                border-bottom: 0;
            }
        }
        td{
            padding: rem(12);
            &:first-child{
                font-weight: 700;
                padding: rem(12) rem(6);
                border-right: 1px solid $tableBorder;
            }
        }
    }
    &.chkType{
        //background: $bgColor;
        tr{
            th{
                padding: 0;
                padding-top: 5px;
                padding-bottom: 5px;
                // background: transparent;
                background: $white;
                color: $black;
                border-bottom: 1px solid $gray;
                // a{
                span{
                    //color: $black;
                    &.layerOpen,                 
                    &.filter{                        
                        position: relative;
                        cursor: pointer;
                        &::after{
                            content:'';    
                            //원형                    
                            // width: rem(4);
                            // height: rem(4);
                            // border-radius: 50%;
                            // background: $layoutColor;
                            // position: absolute;
                            // top: rem(22);
                            // left: calc(50% - 4px);
                            // top: -2px;
                            // right: -7px;

                            width: 0;
                            height: 0;
                            border-left: 4px solid transparent;
                            border-right: 4px solid transparent;
                            border-top: 4px solid $layoutColor;
                            // border-top: 4px solid $mainColor;
                            position: absolute;
                            top: rem(22);
                            left: calc(50% - 4px);
                        }
                    }
                    &.is-active{
                        // &::after{
                        //     background: rgba($mainColor, 0.7);
                        // }
                        &::after{
                            border-top: 4px solid $mainColor;
                        }
                    }
                    // &::after{
                    //     content:'';                        
                    //     width: 100%;
                    //     height: 2px;
                    //     background: $layoutColor;
                    //     position: absolute;
                    //     bottom: -5px;
                    //     left: 50%;
                    //     transform: translateX(-50%);
                    // }
                    // &.is-active{
                    //     &::after{
                    //         background: $mainColor;
                    //     }
                    // }
                }
            }
        }
        thead{
            height: rem(53);
        }
        .tooltip{
            top: auto;
            bottom: 70%;
        }
        &.hasInput{
            tr{
                td{
                    padding: rem(6) 0;
                } 
            }
        }
    }
    &.hasInput{
        tr{
            // &:hover{
            //     background: transparent;
            // }
            td{
                padding: rem(6);
                height: rem(50);
            } 
        }
        tfoot{
            td{
                padding: rem(15) rem(18);
                background: $bgColor;
                border-bottom: 0;
            }
        }
    }
    &.wideType{
        > thead{
            > tr{
                border-bottom: 0;
                > th{
                    border-bottom: 0;
                    height: rem(60);
                    padding: rem(5) rem(0); //0913 J 좌우여백 없애기
                    &:first-child{
                        text-align: left;
                    }
                }
                &:nth-child(2){
                    th{
                        height: auto;
                        padding-top: 0;
                        padding-bottom: rem(10);
                        //padding: 0 rem(20);
                    }
                }
            }
            .round{
                margin-left: 10px;
                vertical-align: middle;
            }
        }
        > tbody{
            border-top: 1px solid $accPrefixGray;
            > tr{
                > td{    
                    padding: rem(20);        
                    .bdType,
                    .white{
                        height: rem(60);
                        line-height: initial;
                        span{
                            display: block;
                            font-size: 12px;
                            font-weight: 300;
                            color: $accDate;
                        }
                        &.smSize{
                            height: auto;
                            line-height: rem(30);
                            margin-left: rem(10);
                        }
                    }
                    &:last-child{
                        strong{
                            margin-bottom: 0;
                        }
                    }
                    &.left{
                        text-align: left;
                        padding: rem(20);
                    }
                }
            }
            strong{
                display: inline-block;
                font-weight: 500; //0913 J추가
                color: $black;
                margin-bottom: rem(10);            
            }
        }
        .subInfo{
            color: $accDate;
        }
        .hasBtn{
            display: inline-flex;
        }
        .phoImg{
            .photo{
                width: rem(36);
                height: rem(36);
            }
            & + .eHigh{
                display: block;
            }
        }
    }
    // &.laSize{
    //     tr{
    //         td{
    //             padding: rem(19) 0;
    //         }
    //     }
    // }

    //그룹화 - 권한관리
    &.groupType{
        tr{
            border-bottom: 0;
            &.group{
                border-bottom: 1px solid $tableBorder;
            }
        }
    }
    // &.absol{
    //     border-collapse:collapse;
    //     width:1370px;
    //     margin:0 auto;
    //     overflow:hidden;
    //     thead{
    //         float:left;
    //         width:1370px;
    //         tr{
    //             display:table;
    //             width:1370px;
    //         }
    //     }
    //     tbody{
    //         // float:left;
    //         // width:1370px;
    //         max-height:200px;
    //         overflow-y:auto;
    //         // overflow-x:hidden;
    //         tr{
    //             display:table;
    //             width:1370px;
    //         }
    //     }
    // }






    .ellipsis{
        @include ellipsis;
        padding: 0 rem(6);
        .dNear{
            font-size: rem(12);
        }
        .dNear,
        .label{
            & + a{
                margin-left: rem(5);
            }
        }
    }
    input,
    input[type=text]{
        width: 100%;
        height: rem(32);
        background: transparent;
        &[type=text]{
            &.dateType{
                width: 100%;
            }
        }
    }    
    .inputIco{
        width: calc(100% - 26px);
    }
    .photo{
        width: rem(30);
        height: rem(30);
        border-radius: rem(12);
        vertical-align: middle;
        margin-right: rem(2);
    }    
    .phoImg{
        &.is-special{
            &::before{
                right: 0;
            }
            &::after{
                right: 2px;    
            }
        }
    }    
    .file{
        & + .attached{
            display: block;
        }
    }
    .attached{
        // display: block;
        margin-top: 5px;
        color: $mainColor !important;
        text-decoration: underline;
        position: relative;
        cursor:pointer;
    }
    a{
        color: $mainColor;
        cursor: pointer;
    }
    //테이블내 빨간텍스트
    span{
        &.point{
            font-size: rem(14);
            color: $error;
            background: transparent;
        }
    }
    span{
        &.layerOpen{
            color: $mainColor;
            cursor: pointer;
        }
    }
    .dot{
        margin-right: 4px;
        vertical-align: sub;
    }
}


//우측패널, 마이피플
.listTop{
    &.flex{
        @include sideArray;
    }
    span{
        font-weight: 500;
        margin-right: rem(16);
    }
    label{            
        margin-right: rem(16);
    }
    .flexBw{
        color: $tableGray;
        font-size: rem(14);
        align-items: center;
        padding-bottom: 8px;
        border-bottom: 1px solid $layoutColor;
    }
    select,
    .select{
        margin-right: rem(10);
    }
}

.listBottom{
    width: 100%;
    padding-top: rem(20);
    @include flex_2_3;
    font-size: rem(14);
    &.pagingType{
        justify-content: center;
        border-top:1px solid $tableBorder;
        // position: relative;
    }
    &.flex{
        padding-top: rem(10);
    }
    button{
        font-size: rem(16);
    }
}

.bottomWrap{
    position: relative;
    .prefix{
        padding-top: 0;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-30%);
        width: rem(350);
    }
}