.tabBtnWrap{
    li{
        display: inline-block;
        background: #ebebeb;    //임시
        a{
            color: #999;     //임시
            &.is-active{
                background: #000;   //임시
            }
        }
    }
}
.tabContWrap{
    .tabCont{
        display: none;
        &.is-active{
            display: block;
        }
    }
}