.hasTooltip{
    position: relative;
    .tooltip{
        display: none;
        position: absolute;
        background: red;
    }
    &:hover{
        .tooltip{
            display: block;
        }
    }
}