.bulletList{
    margin-top: rem(10);
    li{
        position: relative;
        padding-left: rem(10);
        &::before{
            content:'';
            width: rem(4);
            height: rem(4);
            border-radius: 50%;
            background: $black;
            position: absolute;
            left: 0;
            top: calc(50% - 2px);
        }
    }
}
