@charset "UTF-8";
.underBg {
  display: inline-block;
  position: relative;
  z-index: 0;
}
.underBg::after {
  content: "";
  width: 100%;
  height: 12px;
  background: #fee32c;
  opacity: 0.5;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.underBg + .inputList, .underBg + .commentBox, .underBg + .tableBox {
  margin-top: 1.5625rem;
}

.sortL {
  padding: 0 30px;
  position: relative;
}
.sortL::before {
  content: "";
  width: 1px;
  height: 20px;
  background: #c1c3c5;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.dot {
  display: inline-block;
  width: 1.0625rem;
  height: 1.0625rem;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.75rem;
}

.underL {
  cursor: pointer;
  text-decoration: underline;
}

.sClear {
  color: #205391;
}
.sClear .dot {
  background: #205391;
}

.sOrder {
  color: #009ce0;
}

.sCancel {
  color: #a6a6b6;
}
.sCancel .dot {
  background: #a6a6b6;
}

.sReject,
.sDanger {
  color: #ff1236;
}
.sReject .dot,
.sDanger .dot {
  background: #ff1236;
}

.sSafe {
  color: #08c97c;
}
.sSafe .dot {
  background: #08c97c;
}

.sChecking {
  color: #ef9914;
}

.eHigh {
  color: #009ce0;
}

.eLow {
  color: #ff1236;
}

.dNear {
  color: #ff1236 !important;
}

.dOngoing {
  color: #009ce0 !important;
}

.dNone {
  color: #009ce0 !important;
}

.onGoing {
  color: #ffc812;
}

.tBuy {
  color: #ff1236;
}

.tSales {
  color: #0969d1;
}

.mainC {
  color: #205391;
}

.subInfo {
  color: #444;
}

.subGray {
  color: #9595a6;
}

.extra,
.marked,
.important {
  color: #ff1236;
}

.emp {
  color: #205391;
}

.dark {
  color: #000000;
}

.addSet {
  color: #009ce0;
  font-size: 0.875rem;
  position: absolute;
  left: 50%;
  transform: translateX(160%);
}

.error {
  display: none;
  color: #ff1236;
  font-size: 0.875rem;
  margin-top: 0.375rem;
}
.error.is-active {
  display: block;
}
.error + input[type=password] {
  margin-top: 0.625rem;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.flexCenter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flexStr {
  display: flex;
  align-items: start;
}

.flexEnd {
  display: flex;
  align-items: end;
}

.flexBw {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex_1_1 {
  display: flex;
}
.flex_1_1 > .prefix {
  flex: 1 1 50%;
}
.flex_1_1 > .suffix {
  flex: 2 1 50%;
}

.flex_2_1 {
  display: flex;
}
.flex_2_1 > .prefix {
  flex: 1 1 65%;
}
.flex_2_1 > .suffix {
  flex: 2 1 35%;
}

.flex_1_2 {
  display: flex;
}
.flex_1_2 > .prefix {
  flex: 1 1 35%;
}
.flex_1_2 > .suffix {
  flex: 2 1 65%;
}

.flex_2_3 {
  display: flex;
}
.flex_2_3 > .prefix {
  flex: 1 1 40%;
}
.flex_2_3 > .suffix {
  flex: 2 1 60%;
}

.flex_3_2 {
  display: flex;
}
.flex_3_2 > .prefix {
  flex: 3 1 0;
}
.flex_3_2 > .suffix {
  flex: 2 1 0;
}

.flex_4_3 {
  display: flex;
}
.flex_4_3 > .prefix {
  flex: 4 1 0;
}
.flex_4_3 > .suffix {
  flex: 3 1 0;
}

.flex_4_5 {
  display: flex;
}
.flex_4_5 > .prefix {
  flex: 4 1 0;
}
.flex_4_5 > .suffix {
  flex: 5 1 0;
}

.block {
  display: block !important;
}

.none {
  display: none;
}

.is-hidden {
  visibility: hidden;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.txtLeft {
  text-align: left;
}

.txtCenter {
  text-align: center;
}
.txtCenter .onlyIco {
  display: initial;
}

.txtRight {
  text-align: right;
}

.float_l {
  float: left;
}

.float_r {
  float: right;
}

.ellipsis {
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
  text-align: left;
}
.ellipsis.center {
  text-align: center;
}

.ellipsis-5 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: inherit;
  word-wrap: break-word;
  -webkit-line-clamp: 5;
  text-align: left;
  -webkit-box-orient: vertical;
  cursor: initial;
}

.dragTr {
  cursor: move;
}

.over_h {
  overflow: hidden;
}

.xScroll {
  overflow-x: auto;
}

.yScroll {
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #f2f2f7;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #cccccc;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

.mr0 {
  margin-right: 0 !important;
}

.mr5 {
  margin-right: 0.3125rem !important;
}

.mr10 {
  margin-right: 0.625rem !important;
}

.ml5 {
  margin-left: 0.3125rem !important;
}

.ml10 {
  margin-left: 0.625rem !important;
}

.ml15 {
  margin-left: 0.9375rem !important;
}

.ml20 {
  margin-left: 1.25rem !important;
}

.ml40 {
  margin-left: 2.5rem !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mt5 {
  margin-top: 0.3125rem !important;
}

.mt6 {
  margin-top: 0.375rem !important;
}

.mt10 {
  margin-top: 0.625rem !important;
}

.mt15 {
  margin-top: 0.9375rem !important;
}

.mt20 {
  margin-top: 1.25rem !important;
}

.mt30 {
  margin-top: 1.875rem !important;
}

.mt50 {
  margin-top: 3.125rem !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb5 {
  margin-bottom: 0.3125rem !important;
}

.mb10 {
  margin-bottom: 0.625rem !important;
}

.mb20 {
  margin-bottom: 1.25rem !important;
}

.mt-10 {
  margin-top: -10px !important;
}

.mt-20 {
  margin-top: -20px !important;
}

.w65 {
  width: 4.0625rem;
}

.w100 {
  width: 6.25rem;
}

.w110 {
  width: 6.875rem;
}

.w90p {
  width: 90%;
}

.h100 {
  height: 100%;
}

.lh50 {
  line-height: 3.125rem;
}

.fz0 {
  font-size: 0;
}

.f14 {
  font-size: 14px !important;
}

.p0 {
  padding: 0 !important;
}

.p0-10 {
  padding: 0 0.625rem !important;
}

.p0-30 {
  padding: 0 1.875rem;
}

.cke_screen_reader_only {
  height: 0 !important;
}

.mobile {
  display: none;
}

.pc {
  display: inline-block;
}

@media (max-width: 960px) {
  .mobile {
    display: inline-block;
  }
  .pc {
    display: none;
  }
}
.wrapper {
  width: 100%;
}
.wrapper.login {
  background: #f8f8f8;
}
.wrapper.login .loginTop {
  min-height: 80vh;
}
.wrapper.login .loginTop .loginBox {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.125);
  position: relative;
  z-index: 1;
}
.wrapper.login footer {
  margin-top: -20vh;
  padding-top: 120px;
  height: 40vh;
  background-image: url(../img/pms/bgLogin.png);
}
.wrapper.login footer p {
  color: #b4bfd2;
}
.wrapper.login footer p + p {
  margin-top: 1.875rem;
  color: #739acb;
}
.wrapper.center {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f7;
}

.contWrapper {
  padding-right: 0;
}
.layoutWrapper.is-active .gnbWrapper, .layoutWrapper.is-hover .gnbWrapper {
  background: #fff;
}
.layoutWrapper.is-active .navWrapper > ul > li::before, .layoutWrapper.is-hover .navWrapper > ul > li::before {
  background: gray;
}
.layoutWrapper.is-active .navWrapper > ul > li::after, .layoutWrapper.is-hover .navWrapper > ul > li::after {
  background: gray;
}
.layoutWrapper.is-active .navWrapper li ul.is-active, .layoutWrapper.is-hover .navWrapper li ul.is-active {
  opacity: 1;
  height: 100%;
}
.layoutWrapper.is-active .navWrapper .menuTxt, .layoutWrapper.is-hover .navWrapper .menuTxt {
  transition: all 0.2s;
  display: inline-block;
}
.layoutWrapper.is-active .navWrapper .depth2, .layoutWrapper.is-hover .navWrapper .depth2 {
  text-indent: 0;
  transition: all 0.2s;
  opacity: 1;
}

.gnbWrapper {
  background: #fff;
  border-right: 1px solid #dddddd;
  box-shadow: 1px 3px 3px 0 rgba(150, 150, 150, 0.1);
}
.gnbWrapper .navWrapper > ul > li.is-active > a {
  color: #123e74;
  font-weight: 500;
  position: relative;
}
.gnbWrapper .navWrapper > ul > li.is-active > a::before {
  background: #205391;
}
.gnbWrapper .navWrapper > ul > li li.is-active {
  font-weight: 500;
  background: rgba(200, 200, 200, 0.1);
}
.gnbWrapper .navWrapper li a:hover {
  background: #e2eaf5;
}
.gnbWrapper .navWrapper li ul.is-active {
  background: rgba(100, 100, 100, 0.1);
}
.gnbWrapper .navWrapper li ul li a::before {
  background: black;
}
.gnbWrapper .navWrapper li ul li a:hover {
  background: rgba(0, 0, 0, 0.1);
}
.gnbWrapper .navWrapper li ul li a.is-active {
  background: rgba(0, 0, 0, 0.1);
}
.gnbWrapper .navWrapper .menuTxt {
  color: black;
}
.gnbWrapper .navWrapper .depth2 {
  color: #666666;
}

header {
  border-bottom: 0;
  background: #205391;
}
header .suffix {
  color: #fff;
}
header .suffix li::after {
  background: #fff;
}
header .suffix li a {
  color: #fff;
}
header .suffix li.userTeam a {
  color: #a2bce2;
}

/* GNB 아이콘 */
.gnb .ico {
  width: 1.4375rem;
  height: 1.375rem;
  background-image: url(../img/pms/icoGnb.png);
}
.gnb .ico.home {
  background-position: -60px 0;
}
.gnb .ico.member {
  background-position: -60px -30px;
}
.gnb .ico.project {
  background-position: -60px -60px;
}
.gnb .ico.homepage {
  background-position: -60px 0;
}
.gnb .ico.event {
  background-position: -60px 0;
}
.gnb .ico.ask {
  background-position: -60px 0;
}
.gnb .ico.stats {
  background-position: -60px 0;
}
.gnb .ico.admin {
  background-position: -60px -90px;
}
.gnb .ico.system {
  background-position: -60px -120px;
}
.gnb .ico.commonCode {
  background-position: -60px 0;
}
.gnb .ico.recruit {
  background-position: -60px -150px;
}
.gnb .ico.bizAdmin {
  background-position: -60px -150px;
}

.navWrapper li.is-active .ico.home {
  background-position: -90px 0;
}
.navWrapper li.is-active .ico.member {
  background-position: -90px -30px;
}
.navWrapper li.is-active .ico.project {
  background-position: -90px -60px;
}
.navWrapper li.is-active .ico.homepage {
  background-position: -90px 0;
}
.navWrapper li.is-active .ico.event {
  background-position: -90px 0;
}
.navWrapper li.is-active .ico.ask {
  background-position: -90px 0;
}
.navWrapper li.is-active .ico.stats {
  background-position: -90px 0;
}
.navWrapper li.is-active .ico.admin {
  background-position: -90px -90px;
}
.navWrapper li.is-active .ico.system {
  background-position: -90px -120px;
}
.navWrapper li.is-active .ico.commonCode {
  background-position: -90px 0;
}
.navWrapper li.is-active .ico.recruit {
  background-position: -90px -150px;
}
.navWrapper li.is-active .ico.bizAdmin {
  background-position: -90px -150px;
}

.pms button {
  background: #205391;
  border: 1px solid #2a55aa;
}

h1 {
  color: #000000;
}

.h1_sub {
  color: #58585a;
  font-weight: 700;
}

.pageTit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0.9375rem 1.25rem;
}
.pageTit::after {
  content: "";
  width: calc(100% + 40px);
  height: 1px;
  background: #a6a6b6;
  position: absolute;
  left: -40px;
  bottom: 0;
}
.pageTit .breadCrumb {
  font-size: 1.25rem;
  font-weight: 700;
}
.pageTit .breadCrumb .flex {
  align-items: center;
}
.pageTit .breadCrumb li {
  margin-left: 3.4375rem;
  position: relative;
  color: #a6a6b6;
  cursor: pointer;
}
.pageTit .breadCrumb li::after {
  content: "";
  width: 1.125rem;
  height: 0.1875rem;
  background: url(../img/icoGroup.png);
  background-position: -120px -20px;
  position: absolute;
  top: 50%;
  right: -36px;
}
.pageTit .breadCrumb li:last-child::after {
  display: none;
}
.pageTit .breadCrumb li a,
.pageTit .breadCrumb li span {
  color: #a6a6b6;
  cursor: pointer;
}
.pageTit .breadCrumb li.is-active a,
.pageTit .breadCrumb li.is-active span {
  color: #205391;
}
.pageTit .breadCrumb li.is-active {
  color: #205391;
}

h2 {
  font-size: 1.625rem;
  letter-spacing: -1.14px;
}
h2 button {
  margin-left: 1.25rem;
  vertical-align: 3px;
}

h3,
.h3 {
  font-weight: 600;
  font-size: 1.375rem;
  letter-spacing: -0.86px;
}
h3 + h3,
.h3 + h3 {
  margin-left: 1.6875rem;
}
h3 + .h3_sub,
.h3 + .h3_sub {
  margin-top: 0.75rem;
}

.h3_sub {
  color: #000000;
}

h4 {
  font-size: 1.125rem;
  letter-spacing: -0.71px;
}
h4 .dNear {
  margin-right: 0.625rem;
  font-size: 0.875rem;
  vertical-align: 2px;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}
h6 + .h6_sub {
  margin-left: 1.25rem;
}

.h6_sub {
  font-size: 0.875rem;
  color: #205391;
}

button,
.button {
  border: 1px solid #205391;
  background-color: #205391;
}
button.bdType,
.button.bdType {
  color: #205391;
  border: 1px solid #205391;
}
button.rBdType,
.button.rBdType {
  color: #ff1236;
  background-color: #fff;
  border: 1px solid #ff1236;
}
button.rBdType:disabled, button.rBdType.disabled,
.button.rBdType:disabled,
.button.rBdType.disabled {
  opacity: 0.5;
}
button.save,
.button.save {
  background: #205391;
}

label.need {
  padding-right: 0.625rem;
  position: relative;
}
label.need::after {
  content: "*";
}
label.disabled {
  color: #a6a6b6 !important;
  pointer-events: none;
  background: #f8f8f8 !important;
}

input[type=text],
input[type=password],
textarea {
  font-size: 0.875rem;
  padding: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #cccccc;
  resize: none;
  cursor: pointer;
}
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 1px solid #205391;
}

/* INPUT */
input[type=text],
input[type=password] {
  height: 2.75rem;
  padding: 0 0.625rem;
}
input[type=text].full,
input[type=password].full {
  width: 100%;
}
input[type=text].lowType,
input[type=password].lowType {
  height: 1.875rem;
}
input[type=text]::placeholder,
input[type=password]::placeholder {
  color: #cccccc;
  font-size: 1rem;
}

/* INPUT 좌우아이콘 */
.inputIco {
  position: relative;
}
.inputIco input[type=text],
.inputIco input[type=password] {
  width: 100%;
  background: white;
}
.inputIco .ico {
  position: absolute;
  top: 50%;
  right: 0.4375rem;
  transform: translateY(-50%);
}
.inputIco .ico.is-active {
  width: 10px;
}
.inputIco .ico + input {
  padding-left: 2.125rem;
}
.inputIco i.ico {
  left: 0.875rem;
}
.inputIco + .button, .inputIco + button {
  line-height: 3.0625rem;
  margin-left: 0.25rem;
}

/* INPUT + 버튼 */
.hasBtn {
  display: flex;
  align-items: center;
}
.hasBtn.full {
  width: 100%;
}
.hasBtn.full input {
  width: 100%;
}
.hasBtn input {
  padding-left: 0.4375rem;
}
.hasBtn input + button {
  margin-left: 0.4375rem;
}
.hasBtn .button,
.hasBtn button {
  line-height: 2.625rem;
}
.hasBtn .button + input,
.hasBtn button + input {
  margin-left: 0.4375rem;
}
.hasBtn .button + .inputIco,
.hasBtn button + .inputIco {
  margin-left: 0.4375rem;
}
.hasBtn .inputIco {
  display: inline-block;
}

/* 파일첨부 */
.inputFile {
  border: 1px solid #666666;
}

.inputList + .inputList, .inputList + button {
  margin-top: 0.625rem;
}
.inputList > ul > li {
  margin-bottom: 1.25rem;
  position: relative;
}
.inputList > ul > li:last-of-type {
  margin-bottom: 0;
}
.inputList > ul.grid li.full {
  width: 100%;
}
.inputList .h3_sub {
  margin-bottom: 10px;
}
.inputList h6,
.inputList label {
  display: block;
  font-weight: 500;
  font-size: 0.9375rem;
}
.inputList h6.need,
.inputList label.need {
  position: relative;
}
.inputList h6.need::after,
.inputList label.need::after {
  content: "*";
  margin-left: 0.25rem;
}
.inputList.column.half ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.5rem;
  row-gap: 20px;
}
.inputList.column.half ul .full {
  grid-column: 1/3;
}
.inputList.column.half ul ul {
  column-gap: 1.25rem;
}
.inputList.column.row {
  display: grid;
  gap: 1.25rem;
}
.inputList.column.row ul {
  display: flex;
  column-gap: 1.25rem;
}
.inputList.column.row ul.row {
  column-gap: 0.375rem;
  grid-column: 3/span 1;
  grid-row: 1/span 2;
}
.inputList.column.row ul.row2 {
  grid-column: 2/span 1;
  grid-row: 1/span 2;
}
.inputList.column.row ul.row3 {
  grid-column: 2/span 1;
  grid-row: 3/span 2;
}
.inputList.column.row ul.gap20 {
  column-gap: 1.25rem;
  align-items: center;
}
.inputList.column.row textarea {
  height: calc(100% - 28px);
}
.inputList.column li {
  margin-bottom: 0;
}
.inputList.flex ul {
  flex-grow: 1;
}
.inputList.flex li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 0.625rem;
}
.inputList.flex li h6,
.inputList.flex li label {
  min-width: 7.5rem;
  text-align: left;
}
.inputList.flex li h6 + input, .inputList.flex li h6 + select, .inputList.flex li h6 + .select,
.inputList.flex li label + input,
.inputList.flex li label + select,
.inputList.flex li label + .select {
  margin-top: 0;
}
.inputList.flex li input {
  margin-top: 0;
}
.inputList.flex li.flexStr {
  align-items: start;
}
.inputList.flex .listBox {
  text-align: left;
}
.inputList.flex .listBox label {
  min-width: auto;
  margin: 0 0.3125rem 0.625rem 0.3125rem;
}
.inputList.flex .listBox .gnb {
  margin-left: 0.25rem;
}
.inputList .hasBtn button {
  background: #6b6b6b;
  border: 1px solid #6b6b6b;
}
.inputList .block li {
  margin-bottom: 0.375rem;
  display: flex;
  align-items: center;
}
.inputList input[type=text].dateType {
  width: 100%;
}

/* 공통 */
table th label {
  font-weight: 500;
}

input[type=text],
input[type=number],
input[type=password],
input[type=month],
input[type=date] {
  font-size: 0.875rem;
  padding: 0.5rem 0.625rem;
  border-radius: 0.25rem;
  border: 1px solid #cccccc;
}
input[type=text]::placeholder,
input[type=number]::placeholder,
input[type=password]::placeholder,
input[type=month]::placeholder,
input[type=date]::placeholder {
  color: #cccccc;
  font-size: 0.875rem;
}
input[type=text]:read-only,
input[type=number]:read-only,
input[type=password]:read-only,
input[type=month]:read-only,
input[type=date]:read-only {
  color: #8f8f8f;
  background: #f2f2f7;
}
input[type=text]:read-only:focus,
input[type=number]:read-only:focus,
input[type=password]:read-only:focus,
input[type=month]:read-only:focus,
input[type=date]:read-only:focus {
  border: 1px solid #cccccc;
  outline: 0;
}
input[type=text]:disabled,
input[type=number]:disabled,
input[type=password]:disabled,
input[type=month]:disabled,
input[type=date]:disabled {
  color: #a6a6b6;
  background: #f8f8f8;
}
input[type=text]:disabled::placeholder,
input[type=number]:disabled::placeholder,
input[type=password]:disabled::placeholder,
input[type=month]:disabled::placeholder,
input[type=date]:disabled::placeholder {
  color: #cccccc;
}
input[type=text]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=month]:focus,
input[type=date]:focus {
  outline: 1px solid #205391;
}
input[type=text].need,
input[type=number].need,
input[type=password].need,
input[type=month].need,
input[type=date].need {
  border: 1px solid #ff1236;
}
input[type=text].need:focus,
input[type=number].need:focus,
input[type=password].need:focus,
input[type=month].need:focus,
input[type=date].need:focus {
  border: 0;
  outline: 1px solid #205391;
}
input[type=text].xxsSize,
input[type=number].xxsSize,
input[type=password].xxsSize,
input[type=month].xxsSize,
input[type=date].xxsSize {
  width: 2.5rem;
  height: 2rem;
  padding: 0.5rem;
}
input[type=text].xsSize,
input[type=number].xsSize,
input[type=password].xsSize,
input[type=month].xsSize,
input[type=date].xsSize {
  width: 3.75rem;
  height: 2.25rem;
}
input[type=text].smSize,
input[type=number].smSize,
input[type=password].smSize,
input[type=month].smSize,
input[type=date].smSize {
  width: 4.375rem;
}
input[type=text].sm-midSize,
input[type=number].sm-midSize,
input[type=password].sm-midSize,
input[type=month].sm-midSize,
input[type=date].sm-midSize {
  width: 8.75rem;
}
input[type=text].lowSize,
input[type=number].lowSize,
input[type=password].lowSize,
input[type=month].lowSize,
input[type=date].lowSize {
  height: 2rem;
}
input[type=text].midSize,
input[type=number].midSize,
input[type=password].midSize,
input[type=month].midSize,
input[type=date].midSize {
  width: 6.25rem;
}
input[type=text].mid-laSize,
input[type=number].mid-laSize,
input[type=password].mid-laSize,
input[type=month].mid-laSize,
input[type=date].mid-laSize {
  width: 8.75rem;
}
input[type=text].mid-laSize.low,
input[type=number].mid-laSize.low,
input[type=password].mid-laSize.low,
input[type=month].mid-laSize.low,
input[type=date].mid-laSize.low {
  height: 2.25rem;
}
input[type=text].laSize,
input[type=number].laSize,
input[type=password].laSize,
input[type=month].laSize,
input[type=date].laSize {
  width: 22.5rem;
}
input[type=text].wideSize,
input[type=number].wideSize,
input[type=password].wideSize,
input[type=month].wideSize,
input[type=date].wideSize {
  width: 27.5rem;
}
input[type=text].xlSize,
input[type=number].xlSize,
input[type=password].xlSize,
input[type=month].xlSize,
input[type=date].xlSize {
  width: 31.25rem;
}
input[type=text].full,
input[type=number].full,
input[type=password].full,
input[type=month].full,
input[type=date].full {
  width: 100%;
}
input[type=text].editType,
input[type=number].editType,
input[type=password].editType,
input[type=month].editType,
input[type=date].editType {
  width: 100%;
  height: 2.25rem;
  padding: 0.5rem 0;
  padding-left: 0.25rem;
  border: 0;
  color: #666666;
}
input[type=text].editType:focus,
input[type=number].editType:focus,
input[type=password].editType:focus,
input[type=month].editType:focus,
input[type=date].editType:focus {
  color: #000000;
  background: #fff;
}
input[type=text].editType::placeholder,
input[type=number].editType::placeholder,
input[type=password].editType::placeholder,
input[type=month].editType::placeholder,
input[type=date].editType::placeholder {
  color: #a6a6b6;
}
input[type=text].editType.hasDatepicker,
input[type=number].editType.hasDatepicker,
input[type=password].editType.hasDatepicker,
input[type=month].editType.hasDatepicker,
input[type=date].editType.hasDatepicker {
  border: 1px solid #cccccc;
}
input[type=text].editType.hasDatepicker:read-only,
input[type=number].editType.hasDatepicker:read-only,
input[type=password].editType.hasDatepicker:read-only,
input[type=month].editType.hasDatepicker:read-only,
input[type=date].editType.hasDatepicker:read-only {
  color: #8f8f8f;
  background: #fff;
}
input[type=text].editType.hasDatepicker:read-only:focus,
input[type=number].editType.hasDatepicker:read-only:focus,
input[type=password].editType.hasDatepicker:read-only:focus,
input[type=month].editType.hasDatepicker:read-only:focus,
input[type=date].editType.hasDatepicker:read-only:focus {
  border: 1px solid #cccccc;
  outline: 0;
}
input[type=text].editType.xsSize,
input[type=number].editType.xsSize,
input[type=password].editType.xsSize,
input[type=month].editType.xsSize,
input[type=date].editType.xsSize {
  width: 3.75rem;
  height: 2.5rem;
}
input[type=text].editType.xxsSize,
input[type=number].editType.xxsSize,
input[type=password].editType.xxsSize,
input[type=month].editType.xxsSize,
input[type=date].editType.xxsSize {
  padding-left: 0;
}
input[type=text] + .btnType,
input[type=number] + .btnType,
input[type=password] + .btnType,
input[type=month] + .btnType,
input[type=date] + .btnType {
  margin-left: 0.625rem;
}

input[type=hidden] + .btnType {
  margin-left: 0.625rem;
}

input[type=text].dateType {
  padding: 0.625rem 0.625rem;
  padding-right: 1.875rem;
  width: 8.75rem;
  background: url(../img/icoCal.png) right 10px top 50% no-repeat;
  background-color: #fff;
}
input[type=text].dateType.editType {
  width: 4.75rem;
  height: 2.25rem;
  padding: 0.5rem 0;
  padding-left: 0.25rem;
  border: 0;
  color: #000000;
  background: none;
}
input[type=text].dateType.editType:focus {
  color: #000000;
  outline: 0;
  background: #fff;
}
input[type=text].dateType.editType::placeholder {
  color: #a6a6b6;
}
input[type=text].dateType.full, input[type=text].dateType.fullSize {
  width: 100%;
}
input[type=text].dateType.mid-lowSize {
  width: 7.1875rem;
  height: 2rem;
  height: 2.25rem;
}
input[type=text].dateType.laSize {
  width: 10rem;
}
input[type=text].dateType.onGoing {
  border: 1px solid #ffc812;
}
input[type=text].dateType.onGoing:focus {
  border: 1px solid #ffc812;
}
input[type=text].dateType.noBg {
  padding-right: 0.625rem;
  text-align: center;
  background: none;
}
input[type=text].dateType.disabled, input[type=text].dateType:disabled {
  color: #a6a6b6;
  background: url(../img/icoCal_dis.png) right 10px top 50% no-repeat;
  background-color: #f8f8f8;
}

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=month],
input[type=date] {
  position: relative;
  padding: 0.625rem 0.625rem;
  width: 8.75rem;
}
input[type=month].editType,
input[type=date].editType {
  width: 84%;
  border: 0;
}
input[type=month].editType:focus,
input[type=date].editType:focus {
  outline: 0;
}
input[type=month].editType::after,
input[type=date].editType::after {
  right: -20px;
}
input[type=month].smSize,
input[type=date].smSize {
  width: 7.1875rem;
  padding: 0.4375rem;
}
input[type=month].smSize::after,
input[type=date].smSize::after {
  right: 0.5rem;
}
input[type=month]::-webkit-calendar-picker-indicator,
input[type=date]::-webkit-calendar-picker-indicator {
  background: transparent;
  width: 100%;
  position: absolute;
  right: 0;
  z-index: 1;
}
input[type=month]::after,
input[type=date]::after {
  content: "";
  width: 1.125rem;
  height: 1.125rem;
  position: absolute;
  top: 50%;
  right: 0.625rem;
  transform: translateY(-50%);
  background: url(../img/icoCal.png) no-repeat;
}

/* 파일첨부 */
input[type=file] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.inputGroup {
  min-width: 21.875rem;
  min-height: 2.75rem;
  max-height: 6.25rem;
  overflow-y: auto;
  padding: 0.3125rem 0.375rem;
  border-radius: 0.3125rem;
  border: 1px solid #cccccc;
  position: relative;
}
.inputGroup label {
  color: #cccccc;
  font-weight: 400;
  line-height: 2rem;
  font-size: 0.875rem;
}
.inputGroup input {
  margin-top: 0;
}
.inputGroup.need {
  border: 1px solid #ff1236;
}
.inputGroup.laSize {
  width: 31.25rem;
}
.inputGroup.fullSize {
  width: 100%;
}
.inputGroup.nobd {
  border: 0;
  padding: 0;
}
.inputGroup .optionList {
  display: none !important;
  max-height: 13.75rem;
  overflow-y: auto;
  position: absolute;
  top: 3.125rem;
  left: -1px;
  width: calc(100% + 2px);
  color: #444;
  padding: 0;
  border-radius: 0.25rem;
  border: 1px solid #cccccc;
  background: #fff;
  z-index: 10;
}
.inputGroup .optionList::-webkit-scrollbar-track {
  background-color: transparent;
}
.inputGroup .optionList::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 2px solid transparent;
}
.inputGroup .optionList .optionItem {
  display: block;
  padding: 0.5rem 0.625rem;
  margin: 0;
}
.inputGroup .optionList .optionItem:hover {
  color: #000000;
  font-weight: 500;
  background: #e2eaf5;
}
.inputGroup .optionList .optionItem label {
  display: block;
  font-weight: 400;
  vertical-align: middle;
}
.inputGroup .optionList .optionItem p {
  font-size: 0.75rem;
  line-height: 0.875rem;
}
.inputGroup .optionList.is-active {
  display: block !important;
}
.inputGroup.upload {
  display: inline-block;
  padding: 10px 20px;
  width: 100%;
  height: auto;
  max-height: fit-content;
  overflow-y: inherit;
  font-size: 0.875rem;
  vertical-align: bottom;
}
.inputGroup.upload.laSize {
  padding: 1.625rem 2.5rem;
  width: 25rem;
}
.inputGroup.upload.wide {
  padding: 1.125rem 1.875rem;
  width: 31.25rem;
}
.inputGroup.upload label {
  line-height: 1.25rem;
  margin-left: 1.25rem;
}
.inputGroup.upload .drop {
  color: #cccccc;
  display: flex;
  font-size: 0.875rem;
  align-items: center;
}
.inputGroup.upload .list .list_ul {
  display: block;
}
.inputGroup.upload .list .list_ul li {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.25rem;
  border-radius: 0.25rem;
}
.inputGroup.upload .list .list_ul li:hover {
  background: #e2eaf5;
}
.inputGroup.upload .list .list_ul li .delete {
  margin-left: 0.625rem;
}
.inputGroup.upload .fileName {
  display: inline-block;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
  text-align: left;
  cursor: initial;
  width: 70%;
}
.inputGroup.upload .volume,
.inputGroup.upload .float_r {
  color: #8f8f8f;
}
.inputGroup.wide {
  width: 37.5rem;
  padding: 1.125rem 6.875rem;
}
.inputGroup + label {
  min-width: 5.625rem;
  margin-left: 0.4375rem;
  line-height: 2.75rem;
  padding: 0 0.9375rem;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  border-radius: 0.375rem;
  font-size: 1rem;
  color: #205391;
  border: 1px solid #205391;
  cursor: pointer;
}

.uploadBox {
  display: flex;
  align-items: flex-end;
}

/* 칩타입 */
.inputObj {
  display: inline-block;
  padding: 0.0625rem 0.375rem;
  color: #fff;
  line-height: 1.375rem;
  margin: 0.125rem;
  background: #8f8f8f;
  border-radius: 0.3125rem;
  position: relative;
}
.inputObj.is-active {
  background: transparent;
  padding: 0.125rem;
}
.inputObj input[type=text] {
  width: 9.375rem;
  height: 1.4375rem;
  padding: 0 0.25rem;
  border: 0;
}
.inputObj .ico {
  margin-left: 0.3125rem;
}
.inputObj span {
  font-size: 0.8125rem;
  line-height: 1.375rem;
}

.portfolio {
  padding: 0.9375rem;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.5);
}
.portfolio a {
  display: block;
}
.portfolio a + a {
  margin-top: 10px;
}
.portfolio a img {
  vertical-align: -3px;
  margin-right: 0.25rem;
}
.portfolio a span {
  display: block;
  border-radius: 0.3125rem;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
  text-align: left;
  width: 100%;
}

.tableTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0.625rem;
  font-weight: 500;
}
.tableTop.left {
  justify-content: flex-start;
  align-items: center;
}
.tableTop.right {
  justify-content: flex-end;
}
.tableTop .prefix,
.tableTop .suffix {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tableBox {
  overflow-y: auto;
}
.tableBox.noScroll {
  overflow-y: initial;
}
.tableBox + .listBottom.pagingType {
  border-top: 0;
}
.tableBox.absolBody {
  height: calc(100vh - 410px);
  transition: all 0.3s;
}
.tableBox.absolBody.is-active {
  height: calc(100vh - 230px);
}
.tableBox.absolBody::-webkit-scrollbar-track {
  background-color: #fff;
}

.tableSort {
  position: relative;
}
.tableSort::after {
  content: "";
  width: 1px;
  height: 100%;
  background: #f2f2f2;
  position: absolute;
  top: 0;
  right: -10px;
}

table {
  width: 100%;
  font-size: 0.875rem;
  text-align: center;
  background: #fff;
}
table tr th select {
  width: 8.75rem;
  height: 2.25rem;
}
table tr th select.mid-lowSize {
  width: 6.875rem;
}
table tr th select.noBd {
  font-size: 0.875rem;
  font-weight: 500;
}
table tr th .hasBtn .onlyIco {
  width: 2.5rem;
  height: 2rem;
}
table tr {
  border-bottom: 1px solid #dddddd;
}
table tr.bg {
  background: rgba(32, 83, 145, 0.02);
}
table tr.bg.is-active {
  background: #f2f2f7;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr.is-active {
  background: #f2f2f7;
}
table tr.dragTr {
  cursor: move;
}
table tr.tableHead th {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.625rem 0;
}
table tr.tableHead + tr th {
  padding: 0.375rem 0;
}
table tr select,
table tr .select {
  width: 100%;
  min-width: auto;
  height: 2rem;
  text-align: left;
  color: #000000;
}
table tr th {
  color: #fff;
  font-weight: 500;
  padding: 0.125rem 0;
  height: 2rem;
  background: #8c98a6;
}
table tr th span.layerOpen {
  color: #000000;
}
table tr td {
  color: #666666;
  padding: 0.25rem;
  height: 3.125rem;
  position: relative;
}
table tr td .alertToast {
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  min-width: 15rem;
}
table tr td.nodata {
  display: table-cell;
  height: 13.75rem;
  font-weight: 500;
  background: transparent;
}
table tr td.left {
  text-align: left;
}
table tr td.right {
  text-align: right;
}
table tr td.hasToast {
  position: relative;
}
table tr td.hasToast .alertToast {
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  min-width: 15rem;
}
table tbody th {
  color: #000000;
  background: #eaf2f8;
}
table tbody tr:hover {
  background: #eaf2f8;
}
table tbody tr:has(.nodata):hover {
  background: transparent;
}
table tfoot td {
  padding: 1.125rem;
  background: #f2f2f7;
  border-bottom: 0;
}
table.noBd {
  text-align: left;
}
table.noBd tr {
  border: 0;
}
table.noBd tr:hover {
  background: transparent;
}
table.noBd tr th {
  color: #000000;
  background: transparent;
}
table.noBd tr td {
  padding: 0;
  height: auto;
}
table.rowType {
  text-align: left;
}
table.rowType tr:last-child {
  border-bottom: 0;
}
table.rowType td {
  padding: 0.75rem;
}
table.rowType td:first-child {
  font-weight: 700;
  padding: 0.75rem 0.375rem;
  border-right: 1px solid #dddddd;
}
table.chkType tr th {
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #fff;
  color: #000000;
  border-bottom: 1px solid #666666;
}
table.chkType tr th span.layerOpen, table.chkType tr th span.filter {
  position: relative;
  cursor: pointer;
}
table.chkType tr th span.layerOpen::after, table.chkType tr th span.filter::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #cccccc;
  position: absolute;
  top: 1.375rem;
  left: calc(50% - 4px);
}
table.chkType tr th span.is-active::after {
  border-top: 4px solid #205391;
}
table.chkType thead {
  height: 3.3125rem;
}
table.chkType .tooltip {
  top: auto;
  bottom: 70%;
}
table.chkType.hasInput tr td {
  padding: 0.375rem 0;
}
table.hasInput tr td {
  padding: 0.375rem;
  height: 3.125rem;
}
table.hasInput tfoot td {
  padding: 0.9375rem 1.125rem;
  background: #f2f2f7;
  border-bottom: 0;
}
table.wideType > thead > tr {
  border-bottom: 0;
}
table.wideType > thead > tr > th {
  border-bottom: 0;
  height: 3.75rem;
  padding: 0.3125rem 0rem;
}
table.wideType > thead > tr > th:first-child {
  text-align: left;
}
table.wideType > thead > tr:nth-child(2) th {
  height: auto;
  padding-top: 0;
  padding-bottom: 0.625rem;
}
table.wideType > thead .round {
  margin-left: 10px;
  vertical-align: middle;
}
table.wideType > tbody {
  border-top: 1px solid #4b4b4b;
}
table.wideType > tbody > tr > td {
  padding: 1.25rem;
}
table.wideType > tbody > tr > td .bdType {
  height: 3.75rem;
  line-height: initial;
}
table.wideType > tbody > tr > td .bdType span {
  display: block;
  font-size: 13px;
  font-weight: 300;
  color: #b0a6b6;
}
table.wideType > tbody > tr > td .bdType.smSize {
  height: auto;
  line-height: 1.875rem;
  margin-left: 0.625rem;
}
table.wideType > tbody > tr > td:last-child strong {
  margin-bottom: 0;
}
table.wideType > tbody > tr > td:last-child b {
  display: block;
  line-height: 24px;
  color: #000000;
  font-weight: 500;
}
table.wideType > tbody > tr > td:last-child b.marked {
  color: #ff1236;
}
table.wideType > tbody > tr > td.left {
  text-align: left;
  padding: 1.25rem;
}
table.wideType > tbody strong {
  display: inline-block;
  font-weight: 500;
  color: #000000;
  margin-bottom: 0.625rem;
}
table.wideType .subInfo {
  color: #b0a6b6;
}
table.wideType .hasBtn {
  display: inline-flex;
}
table.wideType .phoImg .photo {
  width: 2.25rem;
  height: 2.25rem;
}
table.wideType .phoImg + .eHigh {
  display: block;
}
table.groupType tr {
  border-bottom: 0;
}
table.groupType tr.group {
  border-bottom: 1px solid #dddddd;
}
table .ellipsis {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
  text-align: left;
  padding: 0 0.375rem;
  width: 95%;
  max-width: 100%;
}
table .ellipsis .dNear {
  font-size: 0.75rem;
}
table .ellipsis .dNear + a,
table .ellipsis .label + a {
  margin-left: 0.3125rem;
}
table input,
table input[type=text] {
  width: 100%;
  height: 2rem;
  background: transparent;
}
table input[type=text].dateType,
table input[type=text][type=text].dateType {
  width: 100%;
}
table .inputIco {
  width: calc(100% - 26px);
}
table .photo {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 0.75rem;
  vertical-align: middle;
  margin-right: 0.125rem;
}
table .phoImg.is-special::before {
  right: 0;
}
table .phoImg.is-special::after {
  right: 2px;
}
table .file + .attached {
  display: block;
}
table .attached {
  margin-top: 5px;
  color: #205391;
  text-decoration: underline;
  position: relative;
  cursor: pointer;
}
table a {
  color: #205391;
  cursor: pointer;
}
table span.point {
  font-size: 0.875rem;
  color: #ff1236;
  background: transparent;
}
table span.layerOpen {
  color: #205391;
  cursor: pointer;
}
table .dot {
  margin-right: 4px;
  vertical-align: sub;
}

.listTop.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.listTop span {
  font-weight: 500;
  margin-right: 1rem;
}
.listTop label {
  margin-right: 1rem;
}
.listTop .flexBw {
  color: #666666;
  font-size: 0.875rem;
  align-items: center;
  padding-bottom: 8px;
  border-bottom: 1px solid #cccccc;
}
.listTop select,
.listTop .select {
  margin-right: 0.625rem;
}

.listBottom {
  width: 100%;
  padding-top: 1.25rem;
  display: flex;
  font-size: 0.875rem;
}
.listBottom .prefix {
  flex: 1 1 40%;
}
.listBottom .suffix {
  flex: 2 1 60%;
}
.listBottom button {
  flex: 1 1 40%;
}
.listBottom button + button {
  flex: 1 1 60%;
  margin-left: 0.625rem;
}
.listBottom.pagingType {
  justify-content: center;
  border-top: 1px solid #dddddd;
}
.listBottom.flex {
  padding-top: 0.625rem;
}
.listBottom button {
  font-size: 1rem;
}

.bottomWrap {
  position: relative;
}
.bottomWrap .prefix {
  padding-top: 0;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-30%);
  width: 21.875rem;
}

.clientBuy .tableTop {
  margin-top: 1.875rem;
}

.clientSales .tableTop {
  margin-top: 1.875rem;
}

.clientRegister {
  width: 100%;
}
.clientRegister .inputList > ul > li,
.clientRegister .inputList .grid > li {
  margin-bottom: 1.25rem;
}
.clientRegister .bizCorpor {
  width: 90%;
  column-gap: 3.75rem;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr;
}
.clientRegister .bizIncome {
  width: 90%;
  column-gap: 3.75rem;
  grid-template-columns: 1fr 1fr 50px 1fr 1fr 1fr;
}
.clientRegister .hasBtn input {
  flex-grow: 1;
}
.clientRegister .hasBtn .button,
.clientRegister .hasBtn button {
  width: 2.75rem;
  background: #6b6b6b;
  border: 1px solid #6b6b6b;
}
.clientRegister .uploadBox {
  width: 40%;
}
.clientRegister .uploadBox label {
  margin-bottom: 0;
}
.clientRegister .commentBox {
  width: 90%;
}

.clientRegister .clientCNm {
  grid-column: 1/3;
}
.clientRegister .clientWeb,
.clientRegister .clientAccount {
  grid-column: 3/5;
}
.clientRegister .clientCode {
  grid-column: 5/6;
}
.clientRegister .clientAdd,
.clientRegister .clientFile {
  grid-column: 1/3;
}
.clientRegister .clientPayday,
.clientRegister .clientCode {
  display: none;
}
.clientRegister.is-detail .clientPayday,
.clientRegister.is-detail .clientCode {
  display: block;
}
.clientRegister .bizIncome {
  width: 90%;
  column-gap: 3.75rem;
  grid-template-columns: 1fr 1fr 50px 1fr 1fr 1fr;
}
.clientRegister .bizIncome .clientName {
  margin-right: -50px;
}
.clientRegister .bizIncome .clientContact,
.clientRegister .bizIncome .clientAccount,
.clientRegister .bizIncome .clientCode {
  grid-column: 4/6;
}
.clientRegister .bizIncome .clientEmail {
  grid-column: 2/4;
}
.clientRegister .bizIncome .clientAdd {
  grid-column: 1/4;
}
.clientRegister .bizIncome .clientPayday {
  display: block;
}
.clientRegister input.xsSize {
  width: 3.625rem;
  height: 2.75rem;
  text-align: center;
}
.clientRegister .hyphen {
  margin: 0 0.5625rem;
}

.bizState {
  width: 100%;
}
.bizState .tableTop {
  margin-top: 1.875rem;
}
.bizState tfoot td {
  padding: 0 6px;
  background: #e6e6e6;
}
.bizState .relative {
  position: absolute;
  bottom: 15px;
  width: 97%;
}

.bizStateRegister {
  width: 100%;
}
.bizStateRegister .regiPartWrapper {
  padding-left: 6.25rem;
  padding-right: 6.25rem;
}
.bizStateRegister .col6 {
  margin-top: 1.875rem;
  width: 81.25rem;
  column-gap: 3.75rem;
  grid-template-columns: 1fr 50px 1.8fr 1fr 1fr 130px;
}
.bizStateRegister .hasBtn input {
  flex-grow: 1;
}
.bizStateRegister .hasBtn .button,
.bizStateRegister .hasBtn button {
  width: 3.75rem;
}
.bizStateRegister .range {
  margin: 0 22px;
}
.bizStateRegister .clientComp {
  grid-column: 1/3;
}
.bizStateRegister .bizTerm {
  grid-column: 4/6;
}
.bizStateRegister .bizTerm input[type=text].dateType {
  width: 10.75rem !important;
}
.bizStateRegister .bizProjNm,
.bizStateRegister .bizFile {
  grid-column: 1/4;
}
.bizStateRegister .bizInsurance {
  grid-column: 5/7;
}
.bizStateRegister .bizInsurance label {
  margin-right: 1.25rem;
  line-height: 44px;
}
.bizStateRegister select.others {
  color: #ff1236;
}
.bizStateRegister h4 {
  color: #205391;
}
.bizStateRegister h4 + .tableTop {
  margin-top: 30px;
}

.bizStateRegister .boxWrap > .prefix .tabBtn a {
  border-radius: 4px 4px 0 0;
}
.bizStateRegister .tabWrapper.mt20 .tabBtn button {
  margin-left: 45.9375rem;
}
.bizStateRegister .tabWrapper .flex {
  justify-content: space-between;
  align-items: center;
}
.bizStateRegister .tabBtnWrap .tabBtn {
  line-height: 2.125rem;
}
.bizStateRegister .tabBtnWrap .tabBtn a {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.bizStateRegister .tableTop .hasTooltip + .hasTooltip {
  margin-left: 0.625rem;
}
.bizStateRegister .tableTop .hasTooltip .tooltip {
  top: 150%;
}
.bizStateRegister button.smSize, .bizStateRegister button.midSize, .bizStateRegister button.save {
  background: #205391;
  border: 1px solid #205391;
}
.bizStateRegister button.white {
  background: #fff;
  border: 1px solid #cccccc;
}
.bizStateRegister .tabBtnWrap .tabBtn a.is-active {
  background-color: #2a55aa;
  border: 1px solid #2a55aa;
}
.bizStateRegister table tr th {
  height: 1.625rem;
}
.bizStateRegister table tr th.sales {
  background: #61519f;
}
.bizStateRegister table tr th.buy {
  background: #3e9894;
}
.bizStateRegister table tr th.inner {
  background: #5b6f87;
}
.bizStateRegister table tr th .ico {
  margin-left: 3px;
}
.bizStateRegister table tr:nth-child(2) th {
  height: 1.25rem;
}
.bizStateRegister table tr:nth-child(2) th.sales, .bizStateRegister table tr:nth-child(2) th.buy, .bizStateRegister table tr:nth-child(2) th.inner {
  opacity: 0.7;
}

.flexLeft {
  padding-bottom: 0.625rem;
  display: flex;
  gap: 20px;
  overflow-x: auto;
}
.flexLeft::-webkit-scrollbar-track {
  background-color: transparent;
}
.flexLeft > .prefix {
  flex-shrink: 0;
  width: 820px;
}
.flexLeft > .prefix th {
  height: 3.1875rem;
}
.flexLeft > .suffix {
  width: 900px;
  flex: 0 0 auto;
}
.flexLeft > .suffix .tabCont:first-child th {
  height: 3.1875rem;
}
.flexLeft .tableBox th.fold,
.flexLeft .tableBox td.fold {
  border-left: 1px solid #b2b4b7;
}
.flexLeft .tableBox th.fold.is-active,
.flexLeft .tableBox td.fold.is-active {
  border-left: 0;
}

.flexTable {
  width: 100%;
  overflow-x: auto;
}

.hideS,
.hideB,
.hideI {
  display: none;
}
.hideS.on,
.hideB.on,
.hideI.on {
  display: table-cell;
}

/*# sourceMappingURL=style_pms.css.map */
