@charset "UTF-8";
.underBg {
  display: inline-block;
  position: relative;
  z-index: 0;
}
.underBg::after {
  content: "";
  width: 100%;
  height: 12px;
  background: #fee32c;
  opacity: 0.5;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.underBg + .inputList, .underBg + .commentBox, .underBg + .tableBox {
  margin-top: 1.5625rem;
}

.dot {
  display: inline-block;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  margin-right: 0.75rem;
}

.underL {
  cursor: pointer;
  text-decoration: underline;
}

.sClear {
  color: #0460d2;
}
.sClear .dot {
  background: #0460d2;
}

.sOrder {
  color: #009ce0;
}

.sCancel {
  color: #a6a6b6;
}
.sCancel .dot {
  background: #a6a6b6;
}

.sReject {
  color: #ff1236;
}

.sDanger {
  color: #000000;
}
.sDanger .dot {
  background: #ff1236;
}

.sSafe {
  color: #000000;
}
.sSafe .dot {
  background: #08c97c;
}

.sChecking {
  color: #ef9914;
}

.dot {
  vertical-align: middle;
}
.dot.sDanger {
  background: #ff1236;
}
.dot.sSafe {
  background: #08c97c;
}

.eHigh {
  color: #009ce0;
}

.eLow {
  color: #ff1236;
}

.sat {
  color: #009ce0;
}

.sun {
  color: #ff1236;
}

.dNear {
  color: #ff1236 !important;
}

.dOngoing {
  color: #009ce0 !important;
}

.dNone {
  color: #009ce0 !important;
}

.onGoing {
  color: #ffc812;
}

.tBuy {
  color: #ff1236;
}

.tSales {
  color: #0969d1;
}

.mainC {
  color: #0460d2;
}

.subInfo {
  color: #444;
}

.subGray {
  color: #9595a6;
}

.extra,
.marked,
.important {
  color: #ff1236;
}

.emp {
  color: #0460d2;
}

.dark {
  color: #000000;
}

.addSet {
  color: #009ce0;
  font-size: 0.875rem;
  position: absolute;
  left: 50%;
  transform: translateX(160%);
}

.error {
  display: none;
  color: #ff1236;
  font-size: 0.875rem;
  margin-top: 0.375rem;
}
.error.is-active {
  display: block;
}
.error + input[type=password] {
  margin-top: 0.625rem;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.flexCenter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flexStr {
  display: flex;
  align-items: start;
}

.flexEnd {
  display: flex;
  align-items: end;
}

.flexBw {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex_1_1 {
  display: flex;
}
.flex_1_1 > .prefix {
  flex: 1 1 50%;
}
.flex_1_1 > .suffix {
  flex: 2 1 50%;
}

.flex_2_1 {
  display: flex;
}
.flex_2_1 > .prefix {
  flex: 1 1 65%;
}
.flex_2_1 > .suffix {
  flex: 2 1 35%;
}

.flex_1_2 {
  display: flex;
}
.flex_1_2 > .prefix {
  flex: 1 1 35%;
}
.flex_1_2 > .suffix {
  flex: 2 1 65%;
}

.flex_2_3 {
  display: flex;
}
.flex_2_3 > .prefix {
  flex: 1 1 40%;
}
.flex_2_3 > .suffix {
  flex: 2 1 60%;
}

.flex_3_2 {
  display: flex;
}
.flex_3_2 > .prefix {
  flex: 3 1 0;
}
.flex_3_2 > .suffix {
  flex: 2 1 0;
}

.flex_4_3 {
  display: flex;
}
.flex_4_3 > .prefix {
  flex: 4 1 0;
}
.flex_4_3 > .suffix {
  flex: 3 1 0;
}

.flex_4_5 {
  display: flex;
}
.flex_4_5 > .prefix {
  flex: 4 1 0;
}
.flex_4_5 > .suffix {
  flex: 5 1 0;
}

.block {
  display: block !important;
}

.none {
  display: none;
}

.is-hidden {
  visibility: hidden;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.txtLeft {
  text-align: left;
}

.txtCenter {
  text-align: center;
}
.txtCenter .onlyIco {
  display: initial;
}

.txtRight {
  text-align: right;
}

.float_l {
  float: left;
}

.float_r {
  float: right;
}

.ellipsis {
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
  text-align: left;
}
.ellipsis.center {
  text-align: center;
}

.ellipsis-5 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: inherit;
  word-wrap: break-word;
  -webkit-line-clamp: 5;
  text-align: left;
  -webkit-box-orient: vertical;
  cursor: initial;
}

.dragTr {
  cursor: move;
}

.over_h {
  overflow: hidden;
}

.xScroll {
  overflow-x: auto;
}

.yScroll {
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #f2f2f7;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #cccccc;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

.mr0 {
  margin-right: 0 !important;
}

.mr5 {
  margin-right: 0.3125rem !important;
}

.mr10 {
  margin-right: 0.625rem !important;
}

.ml5 {
  margin-left: 0.3125rem !important;
}

.ml10 {
  margin-left: 0.625rem !important;
}

.ml15 {
  margin-left: 0.9375rem !important;
}

.ml20 {
  margin-left: 1.25rem !important;
}

.ml40 {
  margin-left: 2.5rem !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mt5 {
  margin-top: 0.3125rem !important;
}

.mt6 {
  margin-top: 0.375rem !important;
}

.mt10 {
  margin-top: 0.625rem !important;
}

.mt15 {
  margin-top: 0.9375rem !important;
}

.mt20 {
  margin-top: 1.25rem !important;
}

.mt30 {
  margin-top: 1.875rem !important;
}

.mt50 {
  margin-top: 3.125rem !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb5 {
  margin-bottom: 0.3125rem !important;
}

.mb10 {
  margin-bottom: 0.625rem !important;
}

.mb20 {
  margin-bottom: 1.25rem !important;
}

.mt-10 {
  margin-top: -10px !important;
}

.mt-20 {
  margin-top: -20px !important;
}

.w65 {
  width: 4.0625rem;
}

.w100 {
  width: 6.25rem;
}

.w110 {
  width: 6.875rem;
}

.w90p {
  width: 90%;
}

.h100 {
  height: 100%;
}

.lh50 {
  line-height: 3.125rem;
}

.fz0 {
  font-size: 0;
}

.f14 {
  font-size: 14px !important;
}

.f13 {
  font-size: 13px !important;
}

.p0 {
  padding: 0 !important;
}

.p0-10 {
  padding: 0 0.625rem !important;
}

.p0-30 {
  padding: 0 1.875rem;
}

.pl10 {
  padding-left: 0.625rem !important;
}

.cke_screen_reader_only {
  height: 0 !important;
}

.mobile {
  display: none;
}

.pc {
  display: inline-block;
}

@media (max-width: 960px) {
  .mobile {
    display: inline-block;
  }
  .pc {
    display: none;
  }
}
.wrapper.login {
  background: #f8f8f8;
}
.wrapper.login .loginTop {
  min-height: 85vh;
  align-items: center;
}
.wrapper.login .loginTop .loginBox {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.125);
  position: relative;
  z-index: 1;
}
.wrapper.login footer {
  margin-top: -25vh;
  padding-top: 7.5rem;
  height: 40vh;
  background-image: url(../img/pms/bgLogin.png);
}
.wrapper.login footer p {
  color: #b4bfd2;
}
.wrapper.login footer p + p {
  margin-top: 1.875rem;
  color: #739acb;
}

.layoutWrapper.is-active .gnbWrapper, .layoutWrapper.is-hover .gnbWrapper {
  background: #fff;
}
.layoutWrapper.is-active .navWrapper > ul > li::before, .layoutWrapper.is-hover .navWrapper > ul > li::before {
  background: #808080;
}
.layoutWrapper.is-active .navWrapper > ul > li::after, .layoutWrapper.is-hover .navWrapper > ul > li::after {
  background: #808080;
}

.gnbWrapper {
  background: #fff;
  border-right: 1px solid #dddddd;
  box-shadow: 1px 3px 3px 0 rgba(150, 150, 150, 0.1);
}
.gnbWrapper .navWrapper > ul > li.is-active > a {
  color: #2a55aa;
  font-weight: 500;
}
.gnbWrapper .navWrapper > ul > li.is-active > a::before {
  background: #2a55aa;
}
.gnbWrapper .navWrapper > ul > li li.is-active {
  font-weight: 500;
  background: rgba(200, 200, 200, 0.3);
}
.gnbWrapper .navWrapper li a:hover {
  background: #f3f4f7;
}
.gnbWrapper .navWrapper li ul.is-active {
  background: rgba(200, 200, 200, 0.2);
}
.gnbWrapper .navWrapper li ul li a::before {
  background: #000000;
}
.gnbWrapper .navWrapper li ul li a:hover {
  background: rgba(160, 160, 160, 0.2);
}
.gnbWrapper .navWrapper .menuTxt {
  color: #000000;
}
.gnbWrapper .navWrapper .depth2 {
  color: #666666;
}

.navCtrlBtn {
  height: 1.375rem;
}

header {
  border-bottom: 0;
  background: #205391;
}
header .navCtrlBtn {
  margin-left: -30px;
}
header .suffix {
  color: #fff;
}
header .suffix li::after {
  background: #fff;
}
header .suffix li.userTeam a {
  color: #a2bce2;
}
header .suffix li a {
  color: #fff;
}

/* GNB 아이콘 */
.gnb .ico {
  width: 1.4375rem;
  height: 1.375rem;
  background-image: url(../img/pms/icoGnb.png);
}
.gnb .ico.home {
  background-position: -60px 0;
}
.gnb .ico.member {
  background-position: -60px -30px;
}
.gnb .ico.project {
  background-position: -60px -60px;
}
.gnb .ico.bizstate {
  background-position: -60px -150px;
}
.gnb .ico.tcount {
  background-position: -60px -210px;
}
.gnb .ico.ledger {
  background-position: -60px -120px;
}
.gnb .ico.calculation {
  background-position: -60px -180px;
}
.gnb .ico.admin {
  background-position: -60px -90px;
}

.ico.ctrlBtn {
  width: 1.375rem;
  height: 1.375rem;
  background-image: url(../img/icoGnb.png);
  background-position: 0px 0px;
}

.navWrapper li.is-active .ico.home {
  background-position: -90px 0;
}
.navWrapper li.is-active .ico.member {
  background-position: -90px -30px;
}
.navWrapper li.is-active .ico.project {
  background-position: -90px -60px;
}
.navWrapper li.is-active .ico.bizstate {
  background-position: -90px -150px;
}
.navWrapper li.is-active .ico.tcount {
  background-position: -90px -210px;
}
.navWrapper li.is-active .ico.ledger {
  background-position: -90px -120px;
}
.navWrapper li.is-active .ico.calculation {
  background-position: -90px -180px;
}
.navWrapper li.is-active .ico.admin {
  background-position: -90px -90px;
}

button,
.button {
  border: 1px solid #2a55aa;
  background-color: #2a55aa;
}
button.bdType,
.button.bdType {
  color: #3a6ccf;
  border: 1px solid #3a6ccf;
}
button.rBdType,
.button.rBdType {
  color: #ff1236;
  background-color: #fff;
  border: 1px solid #ff1236;
}
button.rBdType:disabled, button.rBdType.disabled,
.button.rBdType:disabled,
.button.rBdType.disabled {
  opacity: 0.5;
}
button.onlyIco.midSize,
.button.onlyIco.midSize {
  width: 1.875rem;
  line-height: 1.875rem;
  height: 1.875rem;
}
button.save,
.button.save {
  background: #2a55aa;
}

.label.si {
  color: #218dbc;
  background: #e1f1f8;
  border: 1px solid #cfe3ec;
}
.label.sm {
  color: #8073b3;
  background: #f3f1f9;
  border: 1px solid #ced1dd;
}

h1 {
  color: #000000;
}

.h1_sub {
  color: #58585a;
  font-weight: 700;
}

.commentBox .writer.self {
  color: #5aa2ef;
}

table tbody tr:hover {
  background: #f3f4f7;
}
table tbody tr th {
  background: #e2eaf5;
}
table tr th {
  background: #8c98a6;
  font-weight: 400;
}
table tr th.fold {
  height: auto;
}
table tr.is-active {
  background: #eaf0f8;
}
table tr.is-active:hover {
  background: #eaf0f8;
}
table tr.is-filter {
  background: #f8f2f2;
}
table tr.is-filter:hover {
  background: #f8f2f2;
}
table tfoot td {
  padding: 0 6px;
  background: #e6e6e6;
}
table input, table textarea {
  font-size: 0.8125rem;
}
table input::placeholder, table textarea::placeholder {
  font-size: 0.8125rem;
}
table a {
  color: #2a73cb;
}

.accWrap.flatType .accBox.is-active .accHead {
  background: #e2eaf5;
}

.dashboard {
  overflow: hidden;
}
.dashboard table thead {
  height: 2.375rem;
  margin-top: 10px;
}
.dashboard table tr td {
  height: 2.375rem;
}
.dashboard table tr td.left {
  padding-left: 1.25rem;
}
.dashboard table tr td.right {
  padding-right: 1.25rem;
}
.dashboard table .dot {
  vertical-align: baseline;
  margin: 0 0.5rem;
}
.dashboard .accBox .prefix {
  width: 20%;
}

.dashboard .condition {
  margin-top: -30px;
}
.dashboard .condition .condiTit {
  margin-left: 1.25rem;
  margin-right: 0.3125rem;
}
.dashboard .condition .hasBtn {
  align-items: baseline;
}
.dashboard .contentFlex {
  margin-top: 0.625rem;
  display: flex;
  gap: 20px;
}
.dashboard .contentFlex .boxWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.875rem 1.25rem;
  height: calc(100vh - 175px);
  overflow: hidden;
}
.dashboard .contentFlex .boxWrap.prefix {
  padding: 1.875rem 1.25rem;
  flex: 8 1 0;
}
.dashboard .contentFlex .boxWrap.suffix {
  padding: 1.875rem;
  flex: 9 1 0;
}
.dashboard .contentFlex .boxWrap h4 {
  color: #1f60af;
}
.dashboard .contentFlex .boxWrap .h4_sub {
  margin-left: 0.8125rem;
  color: #ababab;
  font-weight: normal;
}
.dashboard .contentFlex .boxWrap .mid,
.dashboard .contentFlex .boxWrap .bottom {
  margin-top: 1.875rem;
  margin-right: 2.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.dashboard .contentFlex .boxWrap .mid .dashTit,
.dashboard .contentFlex .boxWrap .bottom .dashTit {
  width: 6.25rem;
}
.dashboard .contentFlex .boxWrap .bottom {
  margin-top: 2.5rem;
  margin-right: 3.75rem;
}
.dashboard .contentFlex .boxWrap .bottom .labels ul {
  gap: 20px;
}
.dashboard .contentFlex .boxWrap .labels ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25vh;
}
.dashboard .contentFlex .boxWrap .labels li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.dashboard .contentFlex .boxWrap .labels li span {
  display: inline-block;
  width: 1.25rem;
  height: 0.875rem;
  text-indent: -99999px;
  background: #d2d6de;
}
.dashboard .contentFlex .boxWrap .labels li.thisY span {
  background: #5067a4;
}
.dashboard .contentFlex .boxWrap .labels li.part01 span {
  background: #453189;
}
.dashboard .contentFlex .boxWrap .labels li.part02 span {
  background: #234595;
}
.dashboard .contentFlex .boxWrap .labels li.part03 span {
  background: #0d60c8;
}
.dashboard .contentFlex .boxWrap .labels li.part04 span {
  background: #17a6f2;
}
.dashboard .contentFlex .boxWrap .labels li.part05 span {
  background: #24c9cb;
}
.dashboard .contentFlex .boxWrap .labels li.part06 span {
  background: #4ed87a;
}
.dashboard .contentFlex .boxWrap .labels li.part07 span {
  background: #1ba274;
}
.dashboard .contentFlex .boxWrap .labels li.part08 span {
  background: #8c98a6;
}
.dashboard .contentFlex .boxWrap .labels li.part09 span {
  background: #575d64;
}
.dashboard .contentFlex .boxWrap .labels li.part10 span {
  background: #d0ed77;
}
.dashboard .contentFlex .boxWrap .labels li.part11 span {
  background: #8a66c6;
}
.dashboard .contentFlex .boxWrap .labels li.part12 span {
  background: #d9ce52;
}
.dashboard .contentFlex .dashTit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard .contentFlex .dashTit .unit {
  font-size: 0.8125rem;
  font-weight: 600;
}
.dashboard .contentFlex .noticeBoard {
  margin-top: 0.9375rem;
  padding: 1.5625rem 2.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background: #eaf2f8;
  border: 1px solid #dee8f0;
}
.dashboard .contentFlex .noticeBoard .prefix,
.dashboard .contentFlex .noticeBoard .center,
.dashboard .contentFlex .noticeBoard .suffix {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard .contentFlex .noticeBoard h1 {
  margin-left: 0.9375rem;
  font-size: 2rem;
  font-weight: 700;
}
.dashboard .contentFlex .noticeBoard h1 span {
  margin-left: 5px;
  font-size: 1.375rem;
}
.dashboard .contentFlex .noticeBoard h1 span.unit {
  margin-left: 0;
  font-size: 1.125rem;
}
.dashboard .contentFlex .noticeBoard .suffix h1 {
  color: #1e6ee7;
}
.dashboard .accWrap {
  margin-top: 1.875rem;
  padding-bottom: 1px;
  height: calc(100vh - 570px);
  overflow-y: auto;
}
.dashboard .accWrap::-webkit-scrollbar {
  width: 0;
}
.dashboard .accBox:last-child {
  margin-bottom: 0;
}
.dashboard .accHead .projTit {
  padding-left: 1.25rem;
  position: relative;
}
.dashboard .accHead .projTit::before {
  content: "";
  width: 0.6875rem;
  height: 0.6875rem;
  background: #453189;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.dashboard .accHead .projTit.part02::before {
  background: #234595;
}
.dashboard .accHead .projTit.part03::before {
  background: #0d60c8;
}
.dashboard .accHead .projTit.part04::before {
  background: #17a6f2;
}
.dashboard .accHead .projTit.part05::before {
  background: #24c9cb;
}
.dashboard .accHead .projTit.part06::before {
  background: #4ed87a;
}
.dashboard .accHead .projTit.part07::before {
  background: #1ba274;
}
.dashboard .accHead .projTit.part08::before {
  background: #8c98a6;
}
.dashboard .accHead .projTit.part09::before {
  background: #575d64;
}
.dashboard .accHead .projTit.part10::before {
  background: #d0ed77;
}
.dashboard .accHead .projTit.part11::before {
  background: #8a66c6;
}
.dashboard .accHead .projTit.part12::before {
  background: #d9ce52;
}
.dashboard .accHead .suffix ul {
  display: flex;
  gap: 1.875rem;
  color: #000000;
}
.dashboard .accHead .suffix .label {
  margin-right: 0.625rem;
  vertical-align: text-top;
}
.dashboard .accInner {
  padding: 0 1.875rem;
  padding-bottom: 1.25rem;
}

.clientBuy .tableTop {
  margin-top: 1.875rem;
}

.clientSales .tableTop {
  margin-top: 1.875rem;
}

.clientRegister {
  width: 100%;
}
.clientRegister .inputList > ul > li,
.clientRegister .inputList .grid > li {
  margin-bottom: 1.25rem;
}
.clientRegister .bizCorpor {
  width: 90%;
  column-gap: 3.75rem;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr;
}
.clientRegister .bizIncome {
  width: 90%;
  column-gap: 3.75rem;
  grid-template-columns: 1fr 1fr 50px 1fr 1fr 1fr;
}
.clientRegister .hasBtn input {
  flex-grow: 1;
}
.clientRegister .hasBtn .button,
.clientRegister .hasBtn button {
  width: 2.75rem;
  background: #6b6b6b;
  border: 1px solid #6b6b6b;
}
.clientRegister .uploadBox {
  width: 40%;
}
.clientRegister .uploadBox label {
  margin-bottom: 0;
}
.clientRegister .comment .content {
  width: 93%;
}

.clientRegister .clientCNm {
  grid-column: 1/3;
}
.clientRegister .clientWeb,
.clientRegister .clientAccount {
  grid-column: 3/5;
}
.clientRegister .clientCode {
  grid-column: 5/6;
}
.clientRegister .clientAdd {
  grid-column: 3/5;
}
.clientRegister .clientNum {
  grid-column: 3/5;
}
.clientRegister .clientFile {
  grid-column: 1/3;
}
.clientRegister .clientPayday,
.clientRegister .clientCode {
  display: none;
}
.clientRegister.is-detail .clientPayday,
.clientRegister.is-detail .clientCode {
  display: block;
}
.clientRegister .bizIncome {
  width: 90%;
  column-gap: 3.75rem;
  grid-template-columns: 1fr 1fr 50px 1fr 1fr 1fr;
}
.clientRegister .bizIncome .clientName {
  margin-right: -50px;
}
.clientRegister .bizIncome .clientContact,
.clientRegister .bizIncome .clientAccount,
.clientRegister .bizIncome .clientCode {
  grid-column: 4/6;
}
.clientRegister .bizIncome .clientEmail {
  grid-column: 2/4;
}
.clientRegister .bizIncome .clientAdd {
  grid-column: 1/4;
}
.clientRegister .bizIncome .clientPayday {
  display: block;
}
.clientRegister input.xsSize {
  width: 3.625rem;
  height: 2.75rem;
  text-align: center;
}
.clientRegister .hyphen {
  margin: 0 0.5625rem;
}

.bizState {
  width: 100%;
}
.bizState .tableTop {
  margin-top: 1.875rem;
}
.bizState .tableBox {
  max-height: calc(100vh - 371px);
  overflow-y: auto;
}
.bizState .tableBox table {
  font-size: 13px;
}
.bizStateRegister {
  width: 100%;
}
.bizStateRegister input.editType {
  width: 40px !important;
  height: 1.75rem !important;
  background: transparent !important;
  padding: 0;
  margin-right: 10px;
  text-align: center;
  font-size: 12px;
  padding-left: 0.25rem;
  border: 0;
}
.bizStateRegister input.editType:focus {
  border: 1px solid #ddd;
  outline: 1px solid #eee;
}
.bizStateRegister .regiPartWrapper {
  padding-left: 3.125rem;
  padding-right: 7.875rem;
}
.bizStateRegister .regiPartWrapper .regiPart .boxWrap {
  margin-top: 0.625rem;
  padding: 1.875rem 3.125rem;
}
.bizStateRegister .col6 {
  width: 81.25rem;
  column-gap: 3.75rem;
  grid-template-columns: 1fr 50px 1.8fr 1fr 1fr 130px;
  grid-template-columns: 1fr 50px 1.6fr 1fr 1fr 140px;
}
.bizStateRegister .hasBtn input {
  flex-grow: 1;
}
.bizStateRegister .hasBtn .button,
.bizStateRegister .hasBtn button {
  width: 3.75rem;
}
.bizStateRegister .clientComp {
  grid-column: 1/3;
}
.bizStateRegister .bizTerm {
  grid-column: 4/6;
}
.bizStateRegister .bizTerm .flex {
  align-items: center;
  justify-content: space-between;
}
.bizStateRegister .bizTerm .datepicker {
  width: 11rem;
}
.bizStateRegister .bizProjNm,
.bizStateRegister .bizFile {
  grid-column: 1/4;
}
.bizStateRegister .bizProjNm .flex,
.bizStateRegister .bizFile .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bizStateRegister .bizProjNm i,
.bizStateRegister .bizFile i {
  margin-left: 5px;
}
.bizStateRegister .bizInsurance {
  grid-column: 5/7;
}
.bizStateRegister .bizInsurance label {
  margin-right: 1.25rem;
  line-height: 44px;
}
.bizStateRegister select.others {
  color: #ff1236;
}
.bizStateRegister h4 {
  color: #3a6ccf;
  font-weight: 500;
}
.bizStateRegister h4 + .tableTop {
  margin-top: 1.875rem;
  margin-bottom: 0.1875rem;
}

.bizStateRegister .boxWrap > .prefix,
.bizStateRegister .boxWrap > .suffix {
  width: 48.4375rem;
}
.bizStateRegister .boxWrap.flex {
  gap: 40px;
}
.bizStateRegister .tabWrapper {
  position: relative;
}
.bizStateRegister .tabWrapper.mt20 .tabBtn button {
  margin-left: 40.3125rem;
}
.bizStateRegister .tabWrapper .flex {
  justify-content: space-between;
  align-items: center;
}
.bizStateRegister .tabWrapper .suffix {
  display: flex;
  gap: 0.3125rem;
}
.bizStateRegister .tabWrapper .suffix.absol {
  position: absolute;
  top: 3px;
  left: 637px;
}
.bizStateRegister .tabBtnWrap .tabBtn {
  line-height: 2.125rem;
}
.bizStateRegister .tabBtnWrap .tabBtn a {
  width: 5.25rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.bizStateRegister .tabBtnWrap .tabBtn:first-child a {
  border-top-left-radius: 0.25rem;
}
.bizStateRegister .moveBtn button:disabled .goLt {
  background-position: -40px -180px;
}
.bizStateRegister .moveBtn button:disabled .goRgt {
  background-position: -60px -180px;
}
.bizStateRegister .tableTop .hasTooltip + .hasTooltip {
  margin-left: 0.625rem;
}
.bizStateRegister .tableTop .hasTooltip .tooltip {
  top: 150%;
}
.bizStateRegister .tableTop .suffix {
  gap: 2px;
}
.bizStateRegister table input[type=text],
.bizStateRegister table input[type=number] {
  padding: 0.25rem 0.25rem;
  background: #fff;
}
.bizStateRegister table input[type=text].dateType,
.bizStateRegister table input[type=number].dateType {
  width: 100%;
  padding: 0.125rem;
  text-align: center;
  background: #fff;
}
.bizStateRegister table tfoot td {
  height: 3.625rem;
}
.bizStateRegister table tfoot td:last-child {
  padding-right: 20px;
}
.bizStateRegister table td {
  height: 2.75rem;
  font-size: 13px;
}
.bizStateRegister table td.wide {
  width: 150px !important;
}
.bizStateRegister table td button {
  font-size: 13px;
}
.bizStateRegister table td b {
  display: inline-block;
  min-width: 1.5625rem;
}
.bizStateRegister table td .txtType {
  padding: 0 0.5rem;
}
.bizStateRegister .tabBtnWrap .tabBtn a.is-active {
  background-color: #2a55aa;
  border: 1px solid #2a55aa;
}
.bizStateRegister table tr th.sales {
  background: #61519f;
}
.bizStateRegister table tr th.buy {
  background: #3e9894;
}
.bizStateRegister table tr th.inner {
  background: #5b6f87;
}
.bizStateRegister table tr th .ico {
  margin-left: 3px;
}
.bizStateRegister table tr:nth-child(2) th {
  height: 1.25rem;
}
.bizStateRegister table tr:nth-child(2) th.sales {
  background: #8483b4;
}
.bizStateRegister table tr:nth-child(2) th.buy {
  background: #83acb4;
}
.bizStateRegister table tr:nth-child(2) th.inner {
  background: #7d8da0;
}

#bsDetail1 tbody input,
#bsDetail1 tbody textarea,
#bsDetail1 tbody select,
#bsDetail1 tfoot input,
#bsDetail1 tfoot textarea,
#bsDetail1 tfoot select {
  font-size: 0.8125rem;
}
#bsDetail1 tbody input.txtRight,
#bsDetail1 tbody textarea.txtRight,
#bsDetail1 tbody select.txtRight,
#bsDetail1 tfoot input.txtRight,
#bsDetail1 tfoot textarea.txtRight,
#bsDetail1 tfoot select.txtRight {
  font-size: 0.75rem;
}
#bsDetail1 tbody input::placeholder,
#bsDetail1 tbody textarea::placeholder,
#bsDetail1 tbody select::placeholder,
#bsDetail1 tfoot input::placeholder,
#bsDetail1 tfoot textarea::placeholder,
#bsDetail1 tfoot select::placeholder {
  font-size: 0.75rem;
}
#bsDetail1 tbody .ellipsis,
#bsDetail1 tfoot .ellipsis {
  font-size: 0.75rem;
}
#bsDetail1 .prefix .tabBtn a {
  width: 3.875rem;
  padding: 0 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#bsDetail1 .prefix .tabBtn:last-child a {
  width: auto;
  padding: 0 0.375rem;
}
#bsDetail1 .prefix .tabBtn input {
  width: 2.5rem;
  height: 1.625rem;
  padding: 0 2px;
}
#bsDetail1 .prefix .tabBtn .editInput {
  width: 4rem;
  padding: 0 3px;
  background-color: #2a55aa;
  border: 1px solid #2a55aa;
}

.flexLeft {
  padding-bottom: 0.625rem;
  display: flex;
  gap: 40px;
  overflow-x: auto;
}
.flexLeft > .prefix {
  flex-shrink: 0;
  width: 810px;
}
.flexLeft > .prefix th {
  height: 3.1875rem;
}
.flexLeft > .suffix {
  flex: 2 1 50%;
  width: 740px;
  flex: 0 0 auto;
}
.flexLeft > .suffix .tabCont:first-child th {
  height: 3.1875rem;
}
.flexLeft > .suffix tfoot td {
  text-align: right;
  padding-right: 10px;
}
.flexLeft > .suffix tfoot td.sortL {
  padding-right: 20px;
}
.flexLeft > .suffix tfoot td.sortL::before {
  display: none;
}
.flexLeft .tableBox td.fold {
  height: 1.625rem;
  border-left: 1px solid #dddddd;
}
.flexLeft .tableBox td.fold.is-active {
  border-left: 0;
}

.flexTable {
  width: 100%;
  overflow-x: auto;
}
.flexTable .flexLeft .suffix {
  width: 1201px;
}

.hideS,
.hideB,
.hideI {
  display: none;
}
.hideS.on,
.hideB.on,
.hideI.on {
  display: table-cell;
}

.insertType .tableTop {
  margin-top: 1.875rem;
}
.insertType .tableBox {
  max-height: calc(100vh - 350px);
}
.insertType table td {
  padding-right: 0.625rem;
  text-align: right;
  font-size: 0.8125rem;
}
.insertType table td.center {
  padding-right: 0.25rem;
}
.insertType tfoot td {
  padding: 0.5rem 0.625rem;
  font-weight: bold;
  background: #e6e6e6;
}
.insertType tfoot td.center {
  padding-right: 0.25rem;
}

.projTotal {
  width: 100%;
}
.projTotal .tableTop {
  margin-top: 1.875rem;
}
.projTotal table thead {
  height: 2.375rem;
  border-top: 2px solid #666666;
}
.projTotal table thead th {
  font-weight: bold;
}
.projTotal table td {
  text-align: right;
  color: #000000;
  font-size: 0.8125rem;
}
.projTotal table tfoot td {
  padding: 0.5rem 0.25rem;
  font-weight: bold;
}
.projTotal .yScroll {
  max-height: calc(100vh - 333px);
}
.projTotal .accWrap {
  padding: 0.3125rem 1.5625rem;
  border: 1px solid #cccccc;
  background: #fff;
}
.projTotal .accWrap .accHead .prefix {
  width: 65%;
}
.projTotal .accWrap .accHead .projCode {
  width: 4.375rem;
  font-size: 0.875rem;
  color: #444444;
}
.projTotal .accWrap .accHead .projGroup {
  width: 5.3125rem;
  color: #444444;
}
.projTotal .accWrap .accHead .projType {
  width: 4.0625rem;
  font-size: 0.875rem;
  text-align: center;
}
.projTotal .accWrap .accHead .projCus {
  width: 8.75rem;
  font-size: 0.875rem;
  color: #0460d2;
}
.projTotal .accWrap .accHead .projDate {
  font-size: 0.875rem;
}
.projTotal .accWrap .accHead .projSum {
  width: 9.375rem;
  text-align: right;
}
.projTotal .accWrap .accInner {
  padding: 1.375rem 2.375rem;
}

.sourcingTotal .tableTop {
  margin-top: 1.875rem;
}
.sourcingTotal .absolBody {
  height: auto;
  max-height: calc(100vh - 419px);
}
.sourcingTotal table td {
  padding-right: 0.625rem;
  text-align: right;
  font-size: 0.8125rem;
}
.sourcingTotal table td.center {
  padding-right: 0.25rem;
}
.sourcingTotal table .ellipsis {
  text-align: center;
}
.sourcingTotal tfoot td {
  padding: 0.5rem 0.625rem;
  font-weight: bold;
  background: #e6e6e6;
}
.sourcingTotal tfoot td.center {
  padding-right: 0.25rem;
}

.empTotal .tableTop {
  margin-top: 1.875rem;
}
.empTotal .tableBox {
  max-height: calc(100vh - 350px);
}
.empTotal table td {
  padding-right: 0.625rem;
  text-align: right;
  font-size: 0.8125rem;
}
.empTotal table td.center {
  padding-right: 0.25rem;
}
.empTotal table .ellipsis {
  text-align: center;
}
.empTotal tfoot td {
  padding: 0.5rem 0.625rem;
  font-weight: bold;
  background: #e6e6e6;
}
.empTotal tfoot td.center {
  padding-right: 0.25rem;
}

.bizIncomeReport .tableTop {
  margin-top: 1.875rem;
}
.bizIncomeReport .tableBox {
  max-height: calc(100vh - 371px);
}
.bizIncomeReport .tableBox .flex {
  gap: 4px;
}
.bizIncomeReport .tableBox .flex span {
  margin-left: 23px;
}
.bizIncomeReport .tableBox .flex span.comp {
  margin-left: 0;
}
.bizIncomeReport .tableBox .flex span.comp + span {
  margin-left: 0;
}
.bizIncomeReport .tableBox tfoot {
  text-align: right;
  font-weight: bold;
}

.purchaseLedger {
  width: 100%;
}
.purchaseLedger .tableTop {
  margin-top: 1.875rem;
}
.purchaseLedger .tableBox {
  max-height: calc(100vh - 371px);
}
.purchaseLedger .tableBox .flex {
  gap: 4px;
}
.purchaseLedger .tableBox .flex span {
  margin-left: 23px;
}
.purchaseLedger .tableBox .flex span.comp {
  margin-left: 0;
}
.purchaseLedger .tableBox .flex span.comp + span {
  margin-left: 0;
}
.purchaseLedger .tableBox tfoot td {
  text-align: right;
  font-weight: bold;
}
.purchaseLedger .modalLayer.absol {
  left: 50%;
  right: auto;
  transform: translateX(-50%);
}

.eiCheck .tableTop {
  margin-top: 1.875rem;
}
.eiCheck .tableBox {
  max-height: calc(100vh - 371px);
}
.eiCheck .tableBox td {
  text-align: right;
}
.eiCheck .tableBox td p {
  color: #000000;
}
.eiCheck .tableBox td p.subInfo {
  color: #a6a6b6;
}
.eiCheck .tableBox td p.marked {
  color: #ff1236;
}
.eiCheck .tableBox tfoot {
  text-align: right;
  font-weight: bold;
}

.wcCheck .tableTop {
  margin-top: 1.875rem;
}
.wcCheck .tableBox {
  max-height: calc(100vh - 371px);
}
.wcCheck .tableBox td {
  text-align: right;
}
.wcCheck .tableBox td p {
  color: #000000;
}
.wcCheck .tableBox td p.subInfo {
  color: #a6a6b6;
}
.wcCheck .tableBox td p.marked {
  color: #ff1236;
}
.wcCheck .tableBox tfoot {
  text-align: right;
  font-weight: bold;
}

/*# sourceMappingURL=style_pms.css.map */
