<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>턴키 투입 인력</title>
    
    <link rel="stylesheet" href="../assets/css/style_pms.css">
</head>
<body>
    <div class="modalCont turnkeyInsert">
        <h4 class="mainC">턴키 투입 인력</h4>

        <div class="tableTop right">
            <div class="suffix">
                <button type="button" class="onlyIco smSize"><i class="ico addLine_chked"></i></button>
                <button type="button" class="onlyIco smSize"><i class="ico smPlus"></i></button>
            </div>                   
        </div>
        <div class="tableBox sticky">
            <table>
                <colgroup>
                    <col width="40px">
                    <col width="100px" span="3">
                    <col width="60px">

                    <col width="85px" span="2">
                    <col width="60px">
                    <col width="80px">
                    <col width="100px">

                    <col width="85px" span="2">
                    <col width="60px">
                    <col width="80px">
                    <col width="100px">
                    
                    <col width="140px">
                    <col width="80px">
                    <col width="40px">
                </colgroup>
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" id="tt3">
                            <label for="tt3">??</label>
                        </th>
                        <th>투입유형</th>
                        <th>투입인력</th>
                        <th>노트</th>
                        <th>등급</th>
                        
                        <th class="sales fold">매출 시작일</th>
                        <th class="sales">매출 종료일</th>
                        <th class="sales">MM<br>(수량)</th>
                        <th class="sales">단가</th>
                        <th class="sales">매출합계</th>

                        <th class="buy fold">매입 시작일</th>
                        <th class="buy">매입 종료일</th>
                        <th class="buy">MM<br>수량</th>
                        <th class="buy">단가</th>
                        <th class="buy">매입합계</th>
                        
                        <th class="fold">비고</th>
                        <th>수정일</th>
                        <th>삭제</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="checkbox" id="t3">
                            <label for="t3"></label>
                        </td>
                        <td>
                            <select name="" id="">
                                <option value="">선택</option>
                                <option value="cat">하드웨어</option>
                                <option value="dog">소프트웨어</option>
                            </select>
                        </td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td>
                            <select name="" id="">
                                <option value="">선택</option>
                                <option value="cat">초급</option>
                                <option value="dog">중급</option>
                                <option value="dog">고급</option>
                            </select>
                        </td>
                        
                        <!--매출-->
                        <td class="fold">
                            <input class="dateType" type="text" placeholder="yyyy.mm.dd">
                        </td>
                        <td>
                            <input class="dateType" type="text" placeholder="yyyy.mm.dd">
                        </td>
                        <td><input type="text" class="txtRight"></td>
                        <td><input type="text" class="txtRight"></td>
                        <td class="right">200,000</td>
                        <!--//매출-->
                        
                        <!--매입-->
                        <td class="fold">
                            <input class="dateType" type="text" placeholder="yyyy.mm.dd">
                        </td>
                        <td>
                            <input class="dateType" type="text" placeholder="yyyy.mm.dd">
                        </td>
                        <td><input type="text" class="txtRight"></td>
                        <td><input type="text" class="txtRight"></td>
                        <td class="right">200,000</td>
                        <!--매입-->
                        
                        <td class="fold"><input type="text"></td>
                        <td>2024.01.16</td>
                        <td>
                            <i class="ico delete_bg"></i>
                        </td>
                    </tr>    
                </tbody>
                <tfoot>           
                    <tr>
                        <td colspan="8" class="right">
                            총 M/M : <b class="dark">4.2</b>
                            <br>
                            총수량 : <b class="dark">0</b>
                        </td>
                        <td colspan="2" class="right">
                            매출합계 : <b class=" dark">210,000,000</b>
                        </td>
                        
                        <td colspan="3" class="right">
                            총 M/M : <b class="dark">4.2</b>
                            <br>
                            총수량 : <b class="dark">0</b>
                        </td>
                        <td colspan="2" class="right">
                            매출합계 : <b class=" dark">210,000,000</b>
                        </td>                                
                        <td colspan="3"></td>
                    </tr>           
                </tfoot>
            </table>     
        </div>  
    </div>      

    <div class="modalFooter">
        <button class="white">닫기</button>
        <button class="">저장</button>
    </div>

    
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</body>
</html>