<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAYOUT</title>
    
    <link rel="stylesheet" href="../assets/css/style.css">

</head>
<body>

    <div class="layoutWrapper">
        <div class="headerWrapper">
            <div class="header">
                <a href="#" class="logo">
                    <img src="../assets/img/icoLogo.png" alt="">
                </a>
                <div class="adminManage">
                    <a href="#" class="is-active">My Project</a>
                    <a href="#">My People</a>
                </div>
                <div class="userInfo">
                    <ul>
                        <li class="userTeam"><a href="#">시스템통합사업본부 홍길동</a></li>
                        <li>
                            <a href="#">내정보 수정</a>
                            <a href="#" class="logState">로그아웃</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="gnbWrapper">
            <div class="gnb">
                <div class="navCtrlBtn">
                    <i class="ico ctrlBtn"></i>
                </div>
                <nav class="navWrapper">
                    <ul>
                        <li class="is-active"><a href="#"><i class="ico home"></i><span class="menuTxt">홈</span><i></i></a></li>
                        <li><a href="#"><i class="ico member"></i><span class="menuTxt">회원</span><i></i></a></li>
                        <li><a href="#"><i class="ico project"></i><span class="menuTxt">프로젝트</span><i></i></a></li>
                        <li><a href="#"><i class="ico homepage"></i><span class="menuTxt">홈페이지</span><i></i></a></li>
                        <li><a href="#"><i class="ico event"></i><span class="menuTxt">이벤트/배너</span><i></i></a></li>
                        <li><a href="#"><i class="ico ask"></i><span class="menuTxt">고객문의</span><i></i></a></li>
                        <li><a href="#"><i class="ico stats"></i><span class="menuTxt">통계</span><i></i></a></li>
                        <li><a href="#"><i class="ico admin"></i><span class="menuTxt">운영자관리</span><i></i></a></li>
                        <li><a href="#"><i class="ico system"></i><span class="menuTxt">시스템관리</span><i></i></a></li>
                        <li><a href="#"><i class="ico commonCode"></i><span class="menuTxt">공통코드</span><i></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>   
        
        <div class="contWrapper">
            <div class="contLayout">
                <div class="myProjList">
                    myProjList
                </div>
                <div class="myProjDetail">
                    <ul class="JobList">
                        <li>myProjDetail</li>
                        <li>myProjDetail</li>
                        <li>myProjDetail</li>
                        <li>myProjDetail</li>
                        <li>myProjDetail</li>
                    </ul>
                </div>
                <div class="myProjJob">
                    myProjJob
                </div>
                <!--우측패널-->
                <div class="rPanelLayer">
                    우측패널 레이어
                </div>
                <div class="rPanel">
                    <ul>
                        <li><i class="ico searchMem"></i></li>
                        <li><i class="ico schedule"></i></li>
                        <li><i class="ico mail"></i></li>
                    </ul>
                </div>
                <!--우측패널-->
            </div>
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../assets/js/script.js"></script>

</body>
</html>