<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시안모음 - 사업현황</title>
    
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <img src="../assets/img/draft/biz01.png" alt=""><!--거래처(매입)-->
    <img src="../assets/img/draft/biz02.png" alt=""><!--거래처(매출)-->
    <img src="../assets/img/draft/biz03.png" alt=""><!--거래처등록-->
    <img src="../assets/img/draft/biz04.png" alt=""><!--거래처 수정-->
    <img src="../assets/img/draft/biz05.png" alt=""><!--사업현황 목록-->
</body>
</html>