<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시안모음 - 마이크로</title>
    
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <img src="../assets/img/draft/micro0.png" alt=""><!--업무상세-->
    <img src="../assets/img/draft/micro1.png" alt=""><!--지원하기-->
    <img src="../assets/img/draft/micro2.png" alt=""><!--지원완료-->
    <img src="../assets/img/draft/micro3.png" alt=""><!--이미 지원-->
    <img src="../assets/img/draft/micro4.png" alt=""><!--비공개-->
    <img src="../assets/img/draft/micro5.png" alt=""><!--3개월경과-->
</body>
</html>