<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시안모음 - 모집공고</title>
    
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <img src="../assets/img/draft/recruit0.png" alt=""><!--전체모집공고-->
    <img src="../assets/img/draft/recruit1.png" alt=""><!--모집공고 관리-->
    <img src="../assets/img/draft/recruit2.png" alt=""><!--모집공고 등록-->
    <img src="../assets/img/draft/recruit3.png" alt=""><!--직무추천-->
    <img src="../assets/img/draft/recruit4.png" alt=""><!--지원자-->
    <img src="../assets/img/draft/recruit5.png" alt=""><!--보낸제안-->
</body>
</html>