<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시안모음 - 인재검색/제안하기</title>
    
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <img src="../assets/img/draft/talent0.png" alt=""><!--인재검색/제안-->
    <img src="../assets/img/draft/talent1.png" alt=""><!--제안하기 팝업-->
    <img src="../assets/img/draft/talent2.png" alt=""><!--보낸제안-->
</body>
</html>