<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="../assets/css/style.css">

</head>

<body>
    <section id="wrapperNew" class="wrapperNew page_easyLogin login">
        <div class="wrapperIn">

            <div class="containerWrap">
                <div class="container">
                    <div id="header">
                        <div class="headerIn">
                            <div class="h1TitleArea type2">
                                <h1 class="h1Title typeImg">
                                    <a href="#"><img src="../assets/img/202403/img_logo_big.png" class="h1Img" alt="JOBJOB"></a>
                                </h1>
                                <span class="h1TitleSub">Together with Value</span>
                            </div>
                        </div>
                    </div> <!--// #header -->
                    <div id="content">
                        <div class="contsArea flexBw alignItemCenter">
                            <div class="bwTopArea">
                                <div class="inputList">
                                    <ul>
                                        <li>
                                            <label class="" for="joinEmail">이메일 아이디</label>
                                            <div class="mt5">
                                                    <input type="text" class="full" id="joinEmail" placeholder="이메일 입력">
                                            </div>
                                            <p class="error">영문과 숫자만 입력할 수 있습니다.</p>                                                                         
                                        </li>
                                        <li>
                                            <label class="" for="joinPw">비밀번호</label>
                                            <div class="mt5">
                                                <div class="iconEyesWrap">
                                                    <input type="password" class="iconEyesIpt full" id="joinPw" placeholder="8~20자 영문, 숫자, 특수문자 조합">                                        
                                                    <button type="button" class="iconEyesBtn txtType">
                                                        <i class="iconArea iconEyes"><span class="sr-only txt">비밀번호 표시/숨김</span></i>
                                                    </button>
                                                </div>
                                                <p class="error">비밀번호가 일치하지 않습니다.</p>
                                            </div>                                     
                                        </li>
                                    </ul>
                                </div>
                                <div class="mt10">
                                    <input type="checkbox" class="chkCustom hasTxt" id="saveId" name="saveId">
                                    <label for="saveId">아이디저장</label>
                                </div>
                                <div class="fixedBtArea btnArea">
                                    <button type="button" class="button">아이디 로그인</button>
                                </div>
                                <div class="easyLoginBox typeHorizon mt30">
                                    <p class="easyLoginTxt">SNS로 간편하게 로그인/회원가입 하세요</p>
                                    <div class="easyLoginOptions">
                                        <button class="button iconBtn">
                                            <i class="iconArea iconSocial iconNaver"><span class="txt">네이버</span></i>
                                        </button>
                                        <button class="button iconBtn">
                                            <i class="iconArea iconSocial iconKakao"><span class="txt">카카오</span></i>
                                        </button>
                                        <button class="button iconBtn">
                                            <i  class="iconArea iconSocial iconGoogle"><span class="txt">Google</span></i>
                                        </button>
                                        <!--button class="button iconBtn">
                                            <i class="iconArea iconSocial iconEmail"><span class="txt">이메일</span></i>
                                        </button-->
                                    </div> <!--// .easyLoginOptions -->
                                </div> <!--// .easyLoginBox -->
                                <div class="flex justifyContentCenter mt30">
                                    <ul class="barTypeList">
                                        <li class="txt"><button type="button" class="button txtBtn layerOpen" aria-controls="pop-findIdPw">아이디 찾기</button></li>
                                        <li class="txt"><button type="button" class="button txtBtn layerOpen" aria-controls="pop-findIdPw">비밀번호 찾기</button></li>
                                        <li class="txt"><a href="#">일반가입</a></li>
                                    </ul>
                                </div>
                            </div>                                                   
                        </div> <!--// .contsArea -->
                    </div> <!--// #content -->
                    <div id="footer">
                        <div class="footerIn">
                            <ul class="footList">
                                <li class="item address">서울특별시 강남구 강남대로 146길 25(에코스페이스) 4층</li>
                                <li class="item contact">
                                    <span>TEL 02-6342-8021</span>
                                    <span>FAX 02-864-8021</span>
                                </li>
                                <li class="item copyRight">Copyrightⓒ2023 ECHOIT. All rights reserved.</li>
                            </ul>
                        </div>
                    </div> <!--// #footer -->
                </div> <!--// .container -->
            </div> <!--// .containerWrap -->

        </div> <!--// .wrapperIn -->
    </section> <!--// #wrapperNew -->

    <!-- ID/PW 찾기 팝업 //-->
    <div id="pop-findIdPw" class="modalLayer type2 center">
        <div class="layerBox smSize">
            <div class="modalHeader">
                <button class="ico layerClose"></button>
            </div>
            <div class="modalCont findId">                

                <div class="tabWrapper">
                    <ul class="tabBtnWrap underType">
                        <li class="tabBtn">
                            <a href="#tab-01-u" class="is-active">아이디찾기</a>
                        </li>
                        <li class="tabBtn">
                            <a href="#tab-02-u">비밀번호 찾기</a>
                        </li>
                    </ul>
                    <div class="tabContWrap">
                        <div id="tab-01-u" class="tabCont is-active">
                            <div class="flexColumnVCenter">
                                <div class="inputList flex" style="display: ;">   
                                    <ul>
                                        <li>
                                            <label for="pop_findNm">이름</label>
                                            <div class="suffix">
                                                <input type="text" class="full" id="pop_findNm" placeholder="홍길동">         
                                            </div>                                                                
                                        </li>
                                        <li>
                                            <label for="pop_findPn">휴대폰 번호</label>
                                            <div class="suffix">
                                                <input type="text" class="full" id="pop_findPn" placeholder="010-1234-1234">         
                                            </div>                                                                
                                        </li>
                                    </ul>
                                </div>
                                <div class="popContsText txtCenter" style="display: none;">
                                    <p>회원님의 아이디를 <br>등록된 휴대폰 번호로 발송했습니다.</p>
                                </div>
                            </div> <!--// .flexColumnVCenter -->
                        </div>
                        <div id="tab-02-u" class="tabCont">
                            <div class="flexColumnVCenter">
                                <div class="inputList flex" style="display: ;">   
                                    <ul>
                                        <li>
                                            <label for="pop_findEm">이메일 아이디</label>
                                            <div class="suffix">
                                                <input type="text" class="full" id="pop_findEm" placeholder="Hong.gildong@echoit.co.kr">         
                                            </div>                                                                
                                        </li>
                                        <li>
                                            <label for="pop_findPn2">휴대폰 번호</label>
                                            <div class="suffix">
                                                <input type="text" class="full" id="pop_findPn2" placeholder="010-1234-1234">         
                                            </div>                                                                
                                        </li>
                                    </ul>
                                </div>
                                <div class="popContsText txtCenter" style="display: none;">
                                    <p>회원가입 시 입력하신 이메일 주소로 <br>비밀번호 재설정 메일을 발송했습니다.</p>
                                    <p class="mainC">Jy*****@ec***.co.kr</p>
                                </div>
                            </div><!--// .flexColumnVCenter -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modalFooter single">
                <button class="layerClose">다음</button>
            </div>
        </div>        
        <div class="layerDim"></div>    
    </div> <!--// #pop-findIdPw -->
    <!--// ID/PW 찾기 팝업 -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../assets/js/script.js"></script>

    <script>
        $(function(){
            $('.iconEyesBtn').on('click',function(){
                $(this).parents('.iconEyesWrap').toggleClass('active');
                if( $(this).parents('.iconEyesWrap').hasClass('active') == true ){
                    $(this).addClass('on').parents('.iconEyesWrap').find('.iconEyesIpt').attr('type',"text");
                }
                else{
                    $(this).removeClass('on').parents('.iconEyesWrap').find('.iconEyesIpt').attr('type','password');
                }
            });
        });
        </script>

</body>

</html>