<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개인정보 수정</title>
    <link rel="stylesheet" href="../assets/css/style.css">

</head>

<body>
    <section id="wrapperNew" class="wrapperNew page_easyLogin changeMyinfo inputPw">
        <div class="wrapperIn">

            <div class="containerWrap">
                <div class="container">
                    <div id="header">
                        <div class="mobileNavWrap">
                            <div class="btnBackArea">
                                <a href="#" class="btnBack">
                                    <span class="sr-only">이전</span>
                                </a>
                            </div>
                        </div>
                        <div class="headerIn">
                            <div class="h1TitleArea">
                                <h1 class="h1Title typeImg">
                                    <a href="#"><img src="../assets/img/202403/img_logo.png" class="h1Img" alt="JOBJOB"></a>                                    
                                </h1>
                            </div>
                            <div class="pageTitleArea">
                                <span class="pageTitle">개인정보 수정</span>
                            </div>
                        </div>
                    </div> <!--// #header -->
                    <div id="content">
                        <div class="contsArea">
                            <div class="contsText center">
                                <p class="txt">
                                    비밀번호를 다시 한 번 입력해 주세요
                                </p>
                            </div>
                            <div class="inputList">   
                                <ul>                                
                                    <li>
                                        <label class="need" for="nowPw">현재 비밀번호</label>
                                        <div class="mt5">
                                            <div class="iconEyesWrap">
                                                <input type="password" class="iconEyesIpt full" id="nowPw" placeholder="8~20자 영문, 숫자, 특수문자 조합">                                        
                                                <!--button type="button" class="iconEyesBtn txtType">
                                                    <i class="iconArea iconEyes"><span class="sr-only txt">비밀번호 표시/숨김</span></i>
                                                </button-->
                                            </div>
                                            <p class="error is-active">비밀번호가 일치하지 않습니다.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div> <!--// .inputList -->
                        </div> <!--// .contsArea -->                    
                    </div> <!--// #content -->
                    <div id="footer">
                        <div class="fixedBtArea btnArea">
                            <button type="button" class="button">다음</button>
                        </div>
                        <div class="footerIn">
                            <ul class="footList">
                                <li class="item address">서울특별시 강남구 강남대로 146길 25(에코스페이스) 4층</li>
                                <li class="item contact">
                                    <span>TEL 02-6342-8021</span>
                                    <span>FAX 02-864-8021</span>
                                </li>
                                <li class="item copyRight">Copyrightⓒ2023 ECHOIT. All rights reserved.</li>
                            </ul>
                        </div>
                    </div> <!--// #footer -->
                </div> <!--// .container -->
            </div> <!--// .containerWrap -->

        </div> <!--// .wrapperIn -->
    </section> <!--// #wrapperNew -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../assets/js/script.js"></script>
    <script>
    $(function(){
        $('.iconEyesBtn').on('click',function(){
            $(this).parents('.iconEyesWrap').toggleClass('active');
            if( $(this).parents('.iconEyesWrap').hasClass('active') == true ){
                $(this).addClass('on').parents('.iconEyesWrap').find('.iconEyesIpt').attr('type',"text");
            }
            else{
                $(this).removeClass('on').parents('.iconEyesWrap').find('.iconEyesIpt').attr('type','password');
            }
        });
    });
    </script>
</body>

</html>