<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오류가 발생했습니다.</title>
    
    <link rel="stylesheet" href="../assets/css/style.css">

</head>
<body>
    <section class="wrapper center">
        <div class="errorPage">
            <img src="../assets/img/error2.png" alt="에러이미지2">
            <h2>오류가 발생했습니다.</h2>
            <h6>서비스 이용에 불편을 드려 죄송합니다.<br>
                일시적인 현상이니 잠시 후 다시 시도해 주시거나 관리자에게 문의해주세요.</h6>
            <div class="bottom">
                <a href="#" class="button white midSize">이전페이지</a>
                <a href="#" class="button midSize">새로고침</a>
            </div>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- <script src="../assets/js/salesPurchase.js"></script> -->
    <script src="../assets/js/script.js"></script>
</body>
</html>