<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1:1 문의 상세</title>
    
    <link rel="stylesheet" href="../assets/css/jquery-ui.css">
    <link rel="stylesheet" href="../assets/css/style_pms.css">
</head>
<body>

    <section class="layoutWrapper">
        <header>
            <div class="prefix">
                <a href="#" class="logo">
                    <img src="../assets/img/pms/icoLogo.png" alt="">
                </a>
            </div>
            <div class="suffix">
                <ul>
                    <li class="userTeam"><a href="#">시스템통합사업본부 홍길동</a></li>
                    <li><a href="#">내정보 수정</a></li>
                    <li>
                        <span aria-controls="showLevel" class="layerOpen">등급보기설정
                    </span></li>
                    <li><a href="#">로그아웃</a></li>
                </ul>
            </div>
        </header>

        <section class="gnbWrapper">
            <div class="gnb">
                <div class="navCtrlBtn">
                    <i class="ico ctrlBtn"></i>
                </div>
                <nav class="navWrapper">
                    <ul>
                        <li class="noDepth">
                            <a href="#"><i class="ico home"></i><span class="menuTxt">홈</span></a>
                        </li>
                        <li><a href="#"><i class="ico member"></i><span class="menuTxt">회원</span></a>
                            <ul>
                                <li><a href="#"><span class="depth2">프로젝트</span></a></li>
                                <li><a href="#"><span class="depth2">고객문의</span></a></li>
                                <li><a href="#"><span class="depth2">운영자관리</span></a></li>
                                <li><a href="#"><span class="depth2">시스템관리</span></a></li>
                                <li><a href="#"><span class="depth2">통계</span></a></li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="ico project"></i><span class="menuTxt">프로젝트</span></a>
                            <ul>
                                <li><a href="#"><span class="depth2">시스템관리</span></a></li>
                                <li><a href="#"><span class="depth2">통계</span></a></li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="ico admin"></i><span class="menuTxt">운영자관리</span></a></li>
                        <li class="is-active"><a href="#"><i class="ico recruit"></i><span class="menuTxt">공고/지원자</span></a>
                            <ul class="is-active">
                                <li class="is-active"><a href="#"><span class="depth2">모집공고</span></a></li>
                                <li><a href="#"><span class="depth2">인재검색/제안</span></a></li>
                                <li><a href="#"><span class="depth2">보낸제안</span></a></li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="ico system"></i><span class="menuTxt">시스템관리</span></a></li>
                        <li><a href="#"><i class="ico commonCode"></i><span class="menuTxt">공통코드</span></a>
                            <ul>
                                <li><a href="#"><span class="depth2">프로젝트</span></a></li>
                                <li><a href="#"><span class="depth2">시스템관리</span></a></li>
                                <li><a href="#"><span class="depth2">통계</span></a></li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="ico homepage"></i><span class="menuTxt">홈페이지</span></a>
                            <ul>
                                <li><a href="#"><span class="depth2">프로젝트</span></a></li>
                                <li><a href="#"><span class="depth2">시스템관리</span></a></li>
                                <li><a href="#"><span class="depth2">통계</span></a></li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="ico event"></i><span class="menuTxt">이벤트/배너</span></a></li>
                        <li><a href="#"><i class="ico ask"></i><span class="menuTxt">고객문의</span></a></li>
                        <li><a href="#"><i class="ico stats"></i><span class="menuTxt">통계</span></a></li>
                    </ul>
                </nav>
            </div>
        </section>    
        
        <section class="contWrapper noRight">
            <section class="contLayout">
                
                <section class="faqDetail">

                    <div class="pageTit">
                        <h2>1:1 문의 상세</h2>
                        <div class="suffix">
                            <button class="white">취소</button>
                            <button class="">저장</button>
                        </div>
                    </div>
                    
                    <div class="regiPartWrapper">                          
                        <div class="regiPart">                       
                            <div class="boxWrap">
                                <div class="infoList listType">   
                                    <ul>
                                        <li class="faqQTit">
                                            <div class="tit">제목</div>
                                            <div class="infoBox noBd">
                                                <p class="info">
                                                    <span class="label">일반</span>
                                                    EXCEL 데이터 H24의 TOTAL금액에는 어떤 데이터가 포함되나요?
                                                </p>
                                            </div>
                                        </li>
                                        <li class="faqQCont">
                                            <div class="tit">내용</div>
                                            <div class="infoBox noBd">                                              
                                                프로젝트 현황 출력하면 H24행에 매입기준 토탈금액이 나옵니다.<br>
                                                이 데이터에는 제경비가 모두 포함된 금액인가요?<br>
                                                <img src="../assets/img/chart_sample.png" alt="">
                                            </div>
                                        </li>
                                        <li class="faqQFile">
                                            <div class="tit">첨부파일</div>
                                            <div class="">
                                                <ul>
                                                    <li class="infoBox noBd">
                                                        <div class="info attached">
                                                            <div class="prefix">
                                                                <i class="ico addfile_g"></i>
                                                                <a href="#">잡잡 베타 이벤트 참여 신청서.doc (926KB)</a>
                                                            </div>
                                                            <div class="suffix">
                                                                <span>김재윤 수석</span>
                                                                <span>2023.04.01 (15:12)</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="infoBox noBd">
                                                        <div class="info">
                                                            <div class="prefix">
                                                                <i class="ico addfile_g"></i>
                                                                <a href="#">잡잡 베타 이벤트 참여 신청서잡잡 베타 이벤트 참여 신청서.doc (926KB)</a>
                                                            </div>
                                                            <div class="suffix">
                                                                <span>김재윤 수석</span>
                                                                <span>2023.04.01 (15:12)</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div> 
                            <h3>답변하기</h3>                       
                            <div class="boxWrap">                                
                                <div class="" style="height:300px; background-color:#ddd;">에디터 영역</div>      
                            </div>
                        </div>   
                    </div>  
                </section>                
            </section>
        </section>
    </section>   
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../assets/js/script.js"></script>
</body>
</html>