<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>부서관리</title>
    
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->    
    <!-- <link rel="stylesheet" href="../assets/css/style.css"> -->
    <link rel="stylesheet" href="../assets/css/style_pms.css">
    <link rel="stylesheet" href="../assets/css/jquery-ui.css">
</head>
<body class="hasFooter">

    <section class="layoutWrapper">
        <header>
            <div class="prefix">
                <a href="#" class="logo">
                    <img src="../assets/img/icoLogo.png" alt="">
                </a>
            </div>
            <div class="suffix">
                <ul>
                    <li class="userTeam"><a href="#">시스템통합사업본부 홍길동</a></li>
                    <li><a href="#">내정보 수정</a></li>
                    <li>
                        <span aria-controls="showLevel" class="layerOpen">등급보기설정
                    </span></li>
                    <li><a href="#">로그아웃</a></li>
                </ul>
            </div>
        </header>

        <section class="gnbWrapper">
            <div class="gnb">
                <div class="navCtrlBtn">
                    <i class="ico ctrlBtn"></i>
                </div>
                <nav class="navWrapper">
                    <ul>
                        <li class="is-active"><a href="#"><i class="ico home"></i><span class="menuTxt">홈</span><i></i></a></li>
                        <li><a href="#"><i class="ico member"></i><span class="menuTxt">회원</span><i></i></a></li>
                        <li><a href="#"><i class="ico project"></i><span class="menuTxt">프로젝트</span><i></i></a></li>
                        <li><a href="#"><i class="ico homepage"></i><span class="menuTxt">홈페이지</span><i></i></a></li>
                        <li><a href="#"><i class="ico event"></i><span class="menuTxt">이벤트/배너</span><i></i></a></li>
                        <li><a href="#"><i class="ico ask"></i><span class="menuTxt">고객문의</span><i></i></a></li>
                        <li><a href="#"><i class="ico stats"></i><span class="menuTxt">통계</span><i></i></a></li>
                        <li><a href="#"><i class="ico admin"></i><span class="menuTxt">운영자관리</span><i></i></a></li>
                        <li><a href="#"><i class="ico system"></i><span class="menuTxt">시스템관리</span><i></i></a></li>
                        <li><a href="#"><i class="ico commonCode"></i><span class="menuTxt">공통코드</span><i></i></a></li>
                    </ul>
                </nav>
            </div>
        </section>   
        
        <section class="contWrapper noRight"><!--우측패널 없는 페이지-->
            <section class="contLayout">
                
                <section class="groupAdmin">
                    <div class="pageTit">
                        <h2>부서관리</h2>
                    </div>
                    
                    <div class="regiPartWrapper noInfo">        
                        <div class="regiPart">
                            <div class="boxWrap noTit">
                                <div class="divideBox">
                                    <div class="left">

                                        <div class="tabWrapper" id="style-tab01">
                                            <div class="flex">
                                                <ul class="tabBtnWrap">
                                                    <li class="tabBtn prefix">
                                                        <a href="#tab-01" class="is-active">현재</a>
                                                    </li>
                                                    <li class="tabBtn center">
                                                        <a href="#tab-02">작업중</a>
                                                    </li>
                                                </ul>
                                                <div class="suffix">
                                                    <select class="xsSize" name="" id="">
                                                        <option value="">2024년</option>
                                                        <option value="dog" disabled="">2023년</option>
                                                        <option value="cat">2022년</option>
                                                    </select>
                                                    <select class="xsSize" name="" id="">
                                                        <option value="">v1.0</option>
                                                        <option value="dog" disabled="">v1.5</option>
                                                        <option value="cat">v2.0</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="tabContWrap">
                                                <div id="tab-01" class="tabCont is-active">
                                                    <div class="tableBox">
                                                        <table class="tree">
                                                            <tbody>
                                                                <tr class="treegrid-1 depth1 expanded"><!--첫번째 항상 열림 expanded-->
                                                                    <td>
                                                                        <div class="rootCont">
                                                                            <span>프로젝트-1</span>
                                                                            <i class="ico smPlus"></i>
                                                                        </div>
                                                                    </td>
                                                                </tr>
            
                                                                <tr class="treegrid-2 treegrid-parent-1 depth2 noDepth"><!--위치설정 depth2, 하위메뉴 없을 때 noDepth-->
                                                                    <td>
                                                                        <div class="rootCont">
                                                                            <span>수주 프로젝트-2</span>
                                                                            <i class="ico smPlus"></i>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr class="treegrid-3 treegrid-parent-1 depth2 expanded">
                                                                    <td>
                                                                        <div class="rootCont is-active">
                                                                            <span>수주 프로젝트-2</span>
                                                                            <i class="ico smPlus"></i>
                                                                        </div>
                                                                    </td>
                                                                </tr>
            
                                                                <tr class="treegrid-4 treegrid-parent-3 depth3 expanded">
                                                                    <td>
                                                                        <div class="rootCont">
                                                                            <span>수주 프로젝트-3</span>
                                                                            <i class="ico smPlus"></i>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr class="treegrid-5 treegrid-parent-4 depth4 expanded">
                                                                    <td>
                                                                        <div class="rootCont">
                                                                            <span>수주 프로젝트-4</span>
                                                                            <i class="ico smPlus"></i>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr class="treegrid-6 treegrid-parent-5 depth5 noDepth">
                                                                    <td>
                                                                        <div class="rootCont disabled"><!--비활성화클래스 disabled-->
                                                                            <span>수주 프로젝트-5</span>
                                                                            <i class="ico smPlus"></i>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr class="treegrid-6 treegrid-parent-5 depth5 expanded">
                                                                    <td>
                                                                        <div class="rootCont">
                                                                            <span>수주 프로젝트-5</span>
                                                                            <i class="ico smPlus"></i>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr class="treegrid-7 treegrid-parent-6 depth6 expanded">
                                                                    <td>
                                                                        <div class="rootCont">
                                                                            <span>수주 프로젝트-6</span>
                                                                            <i class="ico smPlus"></i>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr class="treegrid-8 treegrid-parent-7 depth7 expanded">
                                                                    <td>
                                                                        <div class="rootCont">
                                                                            <span>수주 프로젝트-7</span>
                                                                            <i class="ico smPlus"></i>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr class="treegrid-9 treegrid-parent-8 depth8 expanded">
                                                                    <td>
                                                                        <div class="rootCont">
                                                                            <span>수주 프로젝트-8</span>
                                                                            <i class="ico smPlus"></i>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div id="tab-02" class="tabCont">
                                                    <div class="tableBox">
                                                        <table class="tree">
                                                            <tbody>
                                                                <tr class="treegrid-1 depth1 expanded"><!--첫번째 항상 열림 expanded-->
                                                                    <td>
                                                                        <div class="rootCont">
                                                                            <span>프로젝트-111</span>
                                                                            <i class="ico smPlus"></i>
                                                                        </div>
                                                                    </td>
                                                                </tr>
            
                                                                <tr class="treegrid-2 treegrid-parent-1 depth2 noDepth"><!--위치설정 depth2, 하위메뉴 없을 때 noDepth-->
                                                                    <td>
                                                                        <div class="rootCont">
                                                                            <span>수주 프로젝트-2</span>
                                                                            <i class="ico smPlus"></i>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr class="treegrid-3 treegrid-parent-1 depth2 expanded">
                                                                    <td>
                                                                        <div class="rootCont">
                                                                            <span>수주 프로젝트-2</span>
                                                                            <i class="ico smPlus"></i>
                                                                        </div>
                                                                    </td>
                                                                </tr>
            
                                                                <tr class="treegrid-4 treegrid-parent-3 depth3 expanded">
                                                                    <td>
                                                                        <div class="rootCont">
                                                                            <span>수주 프로젝트-3</span>
                                                                            <i class="ico smPlus"></i>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr class="treegrid-5 treegrid-parent-4 depth4 expanded">
                                                                    <td>
                                                                        <div class="rootCont">
                                                                            <span>수주 프로젝트-4</span>
                                                                            <i class="ico smPlus"></i>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr class="treegrid-6 treegrid-parent-5 depth5">
                                                                    <td>
                                                                        <div class="rootCont">
                                                                            <span>수주 프로젝트-5</span>
                                                                            <i class="ico smPlus"></i>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr class="treegrid-6 treegrid-parent-5 depth5 expanded">
                                                                    <td>
                                                                        <div class="rootCont">
                                                                            <span>수주 프로젝트-5</span>
                                                                            <i class="ico smPlus"></i>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <button class="white full">+ 부서 편집</button>
                                                <!-- <button class="white full">+ 부서 추가</button> -->
                                            </div>
                                        </div>

                                        
                                    </div>
                                    <div class="right">
                                        <!-- 현재 상태일때 
                                        <div class="nodata">
                                            부서를 수정/변경 하려면 부서 편집 버튼을 눌러주세요.
                                            <div class="mainC">마지막 수정일자 : 2024.01.03</div>
                                        </div> -->

                                        <h5>R&D 센터 편집</h5>                
                                        <div class="inputList">   
                                            <ul>
                                                <li>
                                                    <label for="">상위부서</label>
                                                    <div class="">CFO</div>
                                                </li>
                                                <li>
                                                    <label for="">리버전번호</label>
                                                    <div class="">1</div>
                                                </li>
                                                <li>
                                                    <label for="">부서코드</label>
                                                    <div class="">B00049</div>
                                                </li>
                                                <li>
                                                    <label for="">부서구분</label>
                                                    <select name="" id="">
                                                        <option value="">법인</option>
                                                        <option value="">개인</option>
                                                        <option value="">사업소득</option>
                                                    </select>
                                                </li>
                                                <li>
                                                    <label for="">부서명칭</label>
                                                    <input type="text" id="kCodeNm" placeholder="부서명칭">
                                                </li>
                                                <li>
                                                    <label for="">전체부서명</label>
                                                    <input type="text" id="kCodeNm" placeholder="전체부서명">
                                                </li>
                                                <li>
                                                    <label for="">사용시작</label>
                                                    <div class="datepicker">
                                                        <input type="text" placeholder="연-월-일" id="datepicker0" >
                                                    </div>
                                                </li>
                                                <li>
                                                    <label for="">사용종료</label>
                                                    <div class="datepicker">
                                                        <input type="text" placeholder="연-월-일" id="datepicker1">
                                                    </div>
                                                </li>
                                                <li>
                                                    <label for="">사용여부</label>
                                                    <div class="tabType midSize">
                                                        <input type="radio" id="a1" name="c1" value="" checked="">
                                                        <label for="a1">사용</label>
                                                        <input type="radio" id="l1" name="c1" value="">
                                                        <label for="l1">미사용</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <label for="">메뉴표출</label>
                                                    <div class="tabType midSize">
                                                        <input type="radio" id="a2" name="c2" value="" checked="">
                                                        <label for="a2">사용</label>
                                                        <input type="radio" id="l2" name="c2" value="">
                                                        <label for="l2">미사용</label>
                                                    </div>
                                                </li>                
                                                <li class="groupNote">
                                                    <label for="">부서설명</label>
                                                    <textarea name="" id="" cols="70" rows="4" placeholder="내용 입력"></textarea> 
                                                </li>
                                            </ul>
                                        </div>                                          
                                        <div class="bulletList">
                                            <li>※ 저장 시 “작업중” 탭에 저장됩니다.</li>
                                            <li>※ 시스템 반영 시 “현재”탭에 반영됩니다.</li>
                                        </div>
                                        <div class="modalFooter"> 
                                            <button class="white prefix layerOpen" aria-controls="del-confirm">취소</button>
                                            <button class="suffix">저장</button>
                                        </div>
                                    </div>
                                </div>           
                            </div>
                        </div>     
                    </div>     
                </section>                
            </section>
        </section>
    </section>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../assets/js/script.js"></script>
    <script src="../assets/js/jquery.treegrid.min.js"></script>

    <script>        
        counting();
        $('.tree').treegrid();
    </script>

<script>    
    $(function(){
        $("#datepicker0").datepicker({
            dateFormat:'yy/mm/dd'
            , showOn: 'button'
            , buttonImage: '../assets/img/icoCal.png'
            , buttonImageOnly: true
        })
    });
    $(function(){
        $("#datepicker1").datepicker({
            dateFormat:'yy/mm/dd'
            , showOn: 'button'
            , buttonImage: '../assets/img/icoCal.png'
            , buttonImageOnly: true
        })
    });   
</script>
</body>
</html>