
<div class="prefix">
    <a href="#" class="logo">
        <img src="../assets/img/pms/icoLogo.png" alt="">
    </a>
</div>
<div class="suffix">
    <ul>
        <li class="userTeam"><a href="#">R&D Lab 홍길동</a></li>
        <!-- <li><a href="#">내정보 수정</a></li>
        <li>
            <span aria-controls="showLevel" class="layerOpen">등급보기설정</span>
        </li>
        <li><a href="#">로그아웃</a></li> -->
        <!--240130 추가-ys-->     
        
        <!--240415 수정-->
        <li>
            <div class="tooltip">
                <a href="#"><i class="ico my_w"></i></a>
                <div class="toolBox is-active">
                        <ul>
                            <li><img src="../assets/img/sample.png" alt="" class="myThumb"></li>
                            <li>
                                <p>R&D 센터</p>                           
                                <p class="myNm">홍길동</p>
                            </li>
                            <li class="myBottom">
                                <a href="#" class="button">기본정보</a>
                                <a href="#" class="button white">로그아웃</a>
                            </li>
                        </ul>
                </div>
            </div>
        </li>
        <!--//240415 수정-->

        <li>
            <a href="https://kaned.notion.site/kaned/ePMS-14ee9b2df5d24cceb145cc8faebd5f84" title="도움말" target="_blank">
                <i class="ico advice"></i>
            </a>
        </li>
        <!--//240130 추가-ys-->
    </ul>
</div>