<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>라이선스 관리</title>
    
    <link rel="stylesheet" href="../assets/css/style_pms.css">

</head>
<body>
    <section class="layoutWrapper">
        <header>
            <div class="prefix">
                <a href="#" class="logo">
                    <img src="../assets/img/pms/icoLogo.png" alt="">
                </a>
            </div>
            <div class="suffix">
                <ul>
                    <li class="userTeam"><a href="#">시스템통합사업본부 홍길동</a></li>
                    <li><a href="#">로그아웃</a></li>
                    <li>
                        <a href="https://kaned.notion.site/kaned/ePMS-14ee9b2df5d24cceb145cc8faebd5f84" title="도움말" target="_blank">
                            <i class="ico advice"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </header>

        <section class="gnbWrapper">
            <div class="gnb">
                <div class="navCtrlBtn">
                    <i class="ico ctrlBtn"></i>
                </div>
                <nav class="navWrapper">
                    <ul>
                        <li>
                            <a alerttoast="" href="dashboard.html"><i class="ico home"></i><span class="menuTxt">홈</span></a>
                        </li>
                        <li><a href="#"><i class="ico member"></i><span class="menuTxt">멤버</span></a>
                            <ul>
                                <li><a href="#"><span class="depth2">직원</span></a></li>
                            </ul>
                        </li>                        
                        <li><a href="#"><i class="ico project"></i><span class="menuTxt">거래처</span></a>
                            <ul>
                                <li><a href="#"><span class="depth2">매출거래처</span></a></li>
                                <li><a href="#"><span class="depth2">매입거래처</span></a></li>
                            </ul>
                        </li>

                        <li><a href="#"><i class="ico bizstate"></i><span class="menuTxt">사업관리</span></a>
                            <ul>
                                <li><a href="#"><span class="depth2">사업현황</span></a></li>
                            </ul>
                        </li>
                        <li class="is-active"><a href="#"><i class="ico tcount"></i><span class="menuTxt">매출/매입집계</span></a>
                            <ul>                                
                                <li><a href="project_Sum.html"><span class="depth2">프로젝트별 매출/매입</span></a></li>
                                <li><a href="inputType_Sum.html"><span class="depth2">투입유형별 매출/매입</span></a></li>
                                <li class="is-active"><a href="sourcing_Sum.html"><span class="depth2">외주 매출/매입</span></a></li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="ico ledger"></i><span class="menuTxt">매입원장</span></a>
                            <ul>
                                <li><a href="businessIncomeStatement.html"><span class="depth2">사업소득명세서</span></a></li>
                                <li><a href="PurchaseLedger.html"><span class="depth2">매입원장(법인/개인)</span></a></li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="ico calculation"></i><span class="menuTxt">보험료 대사</span></a>
                            <ul>
                                <li><a href="calculation_industrialAccident.html"><span class="depth2">산재보험료대사</span></a></li>
                                <li><a href="calculation_employmentIInsurance.html"><span class="depth2">고용보험료대사</span></a></li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="ico admin"></i><span class="menuTxt">운영자관리</span></a></li>                        
                        <li><a href="#"><i class="ico system"></i><span class="menuTxt">시스템관리</span></a></li>                        
                    </ul>
                </nav>
            </div>
        </section>   
        
        <section class="contWrapper noRight">
            <section class="contLayout">
                <section class="licenseList">
                    <h2>라이선스 관리</h2>
                    
                    <div class="condition">
                        <ul>                            
                            <li>
                                <p class="condiTit">주관부서</p>
                                <div class="select laSize">
                                    <span class="selDefault is-active">SAP 전략</span>
                                    <ul class="optionList">
                                        <li class="optionItem">
                                            <input type="checkbox" id="optChk_1" class="hasTxt">
                                            <label for="optChk_1" class="ellipsis">SAP 사업SAP 사업SAP 사업</label>
                                        </li>                                        
                                        <li class="optionItem">
                                            <input type="checkbox" id="optChk_2" class="hasTxt">
                                            <label for="optChk_2" class="ellipsis">SAP 전략</label>
                                        </li>
                                        <li class="optionItem">
                                            <input type="checkbox" id="optChk_3" class="hasTxt">
                                            <label for="optChk_3" class="ellipsis">SAP 융합</label>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <label class="condiTit" for="client">고객사</label>
                                <input type="text" id="client" placeholder="고객사명" maxlength="30">
                            </li>
                            <li>
                                <p class="condiTit">수익유형</p>
                                <select>
                                    <option value="">전체</option>
                                    <option value="001">신규</option>
                                    <option value="002">관심</option>
                                    <option value="003">요율</option>
                                    <option value="004">무상</option>
                                </select>
                            </li>
                            <li>
                                <p class="condiTit">라이선스</p>
                                <select>
                                    <option value="">전체</option>
                                    <option value="001">Orchestrator</option>
                                    <option value="002">Designer</option>
                                    <option value="003">Designer Lite</option>
                                    <option value="004">Unattended Bot</option>
                                    <option value="005">Attended Bot</option>
                                </select>
                            </li>
                            <li>
                                <p class="condiTit">모듈</p>
                                <select>
                                    <option value="">전체</option>
                                    <option value="001">Annual</option>
                                    <option value="002">Perpetual</option>
                                    <option value="003">SaaS Monthly</option>
                                </select>
                            </li>
                            <li>
                                <p class="condiTit">상태</p>
                                <select>
                                    <option value="">전체</option>
                                    <option value="001">활성</option>
                                    <option value="002">만료</option>
                                </select>
                            </li>
                            <li>
                                <p class="condiTit">주문일자</p>
                                <div class="flex">
                                    <div class="datepicker">
                                        <input type="text" placeholder="연-월-일" id="datepicker1">
                                    </div>
                                    <div class="datepicker">
                                        <input type="text" placeholder="연-월-일" id="datepicker2">
                                    </div>
                                </div>
                            </li>
                            <li class="hasBtn">
                                <label class="condiTit" for="searchTxt">검색어</label>
                                <input type="text" class="smSize" id="searchTxt" placeholder="프로젝트 코드/이름, 라이선스 코드">
                                <button>
                                    <i class="ico search white"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
     
                    <div class="tableTop">
                        <div class="prefix">        
                            <select>
                                <option class="optionItem" value="10">10개씩</option>
                                <option class="optionItem" value="20" selected="">20개씩</option>
                                <option class="optionItem" value="50">50개씩</option>
                                <option class="optionItem" value="100">100개씩</option>
                            </select>
                            <span>
                                <input type="checkbox" class="hasTxt" id="c02">
                                <label for="c02">만료임박</label>
                            </span>
                        </div>
                        
                        <button class="white">
                            <i class="ico excDown"></i>
                            엑셀 다운로드
                        </button>
                    </div>
                    
                    <div class="tableBox sticky">
                        <table>
                            <colgroup>
                                <col width="50px;">
                                <col width="60px;">
                                <col width="150px;">
                                <col width="100px;">
                                <col width="60px;">
                                <col width="120px;" span="2">
                                <col width="80px;">
                                <col width="100px;">
                                <col width="110px;" span="2">
                                <col width="160px;" span="2">
                                <col width="120px;">
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" id="ff0">
                                        <label for="ff0"></label>
                                    </th>
                                    <th>No.</th>
                                    <th>고객사</th>
                                    <th>프로젝트</th>
                                    <th>수익유형</th>
                                    <th>라이선스 유형</th>
                                    <th>모듈</th>
                                    <th>라이선스 상태</th>
                                    <th>잔여기간</th>
                                    <th>주문시작</th>
                                    <th>주문만료</th>
                                    <th>매출
                                        <span class="hasTooltip">
                                            <i class="ico qMark_w"></i>
                                            <div class="tooltip bottom">                                                                                                                                                   
                                                <div class="yScroll txtLeft">
                                                    <p>라이선스</p>
                                                    라이선스 모듈이 Perpetual인 경우<br> 요율이 적용된 금액입니다.
                                                </div>
                                            </div>
                                        </span>
                                    </th>
                                    <th>매입
                                        <span class="hasTooltip">
                                            <i class="ico qMark_w"></i>
                                            <div class="tooltip bottom">                                                                                                                                                   
                                                <div class="yScroll txtLeft">
                                                    <p>라이선스</p>
                                                    라이선스 모듈이 Perpetual인 경우<br> 요율이 적용된 금액입니다.
                                                </div>
                                            </div>
                                        </span>
                                    </th>
                                    <th>GP</th>
                                    <th>비고</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="ff1">
                                        <label for="ff1"></label>
                                    </td>
                                    <td>3</td>
                                    <td><span class="layerOpen">플랫폼테스트회사</span></td>
                                    <td>                                        
                                        <span class="hasTooltip layerOpen">
                                            2411009
                                            <div class="tooltip right">                                                                                                                                                   
                                                <div class="yScroll txtLeft">
                                                    <p>프로젝트 이름</p>
                                                    CJ올리브네트웍스 모바일앱 서비스 협약서
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                    <td>신규</td>
                                    <td><span class="layerOpen">Designer</span></td>
                                    <td>Annual</td>
                                    <td>
                                        <button class="round order">활성</button>
                                    </td>
                                    <td>
                                        <span class="marked">-99일 이상</span>
                                    </td>
                                    <td>2024.01.01</td>
                                    <td>2024.03.31</td>  
                                    <td class="txtRight">         
                                        <span>3,318,234,000</span> 
                                    </td>  
                                    <td class="txtRight">
                                        <span class="point checking">14.5%</span>             
                                        <span>212,234,000</span> 
                                    </td>
                                    <td class="txtRight">12,212,234,000</td>
                                    <td class="ellipsis"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="ff2">
                                        <label for="ff2"></label>
                                    </td>
                                    <td>2</td>
                                    <td rowspan="2"><!--병합라인수 / 병합되는 tr의 해당 td 없어야함-->
                                        <span class="layerOpen">지엔소프트</span>
                                    </td>
                                    <td>                                        
                                        <span class="hasTooltip layerOpen">
                                            2411009
                                            <div class="tooltip right">                                                                                                                                                   
                                                <div class="yScroll txtLeft">
                                                    <p>프로젝트 이름</p>CJ올리브네트웍스 모바일앱 서비스 협약서
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                    <td>갱신</td>
                                    <td><span class="layerOpen">Unattended Bot</span></td>
                                    <td>Perpetual</td> 
                                    <td>
                                        <button class="round cancel">만료</button>
                                    </td>
                                    <td>
                                        <span class="subGray">만료</span>
                                    </td>
                                    <td>2024.01.01</td>
                                    <td>2024.03.31</td>   
                                    <td class="txtRight">           
                                        <span>10,508,234,000</span>  
                                    </td>
                                    <td class="txtRight">          
                                        <span>18,234,000</span> 
                                    </td>
                                    <td class="txtRight">338,234,000</td>
                                    <td class="ellipsis">신규사업 할인</td>
                                </tr> 
                                <tr>
                                    <td>
                                        <input type="checkbox" id="ff1">
                                        <label for="ff1"></label>
                                    </td>
                                    <td>3</td>
                                    <td>                                        
                                        <span class="hasTooltip layerOpen">
                                            2411009
                                            <div class="tooltip right">                                                                                                                                                   
                                                <div class="yScroll txtLeft">
                                                    <p>프로젝트 이름</p>
                                                    CJ올리브네트웍스 모바일앱 서비스 협약서
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                    <td>신규</td>
                                    <td><span class="layerOpen">Designer</span></td>
                                    <td>Annual</td>
                                    <td>
                                        <button class="round order">활성</button>
                                    </td>
                                    <td>
                                        <span class="marked">-99일 이상</span>
                                    </td>
                                    <td>2024.01.01</td>
                                    <td>2024.03.31</td>  
                                    <td class="txtRight">
                                        <span class="point checking">2.5%</span>             
                                        <span>23,018,234,000</span> 
                                    </td>
                                    <td class="txtRight">       
                                        <span>12,008,234,000</span>  
                                    </td> 
                                    <td class="txtRight">162,900,000</td>
                                    <td class="ellipsis"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="alertToast wideType is-active" id="toast01">
                        <div>
                            <ul class="flex">
                                <li>[선택 5건]</li>
                                <li>매출합 : <b class="tSales">221,500,000</b> 원</li>
                                <li>매입합 : <b class="tBuy">221,500,000</b> 원</li>
                                <li class="sortL">GP 합 : <b>1,060,000,000</b> 원</li>
                            </ul>
                        </div>
                        <i class="ico smClose"></i>
                    </div>

                    <div class="listBottom pagingType">                        
                        <div class="paging">
                            <ul>
                                <li class="pagingDouble">
                                    <a href="#">
                                        <span class="ico pagingFirst"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="ico pagingLeft"></span>
                                    </a>
                                </li>
                                <li class="is-active"><a>1</a></li>
                                <li><a>2</a></li>
                                <li><a>3</a></li>
                                <li><a>4</a></li>
                                <li><a>5</a></li>
                                <li><a>6</a></li>
                                <li><a>7</a></li>
                                <li><a>8</a></li>
                                <li><a>9</a></li>
                                <li><a>10</a></li>
                                <li>
                                    <a href="#">
                                        <span class="ico pagingRight is-active"></span>
                                    </a>
                                </li>
                                <li class="pagingDouble">
                                    <a href="#">
                                        <span class="ico pagingLast is-active"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                
                </section>
            </section>
        </section>
    </section>

    <!--라이선스 상세정보 팝업-->
    <div id="" class="modalLayer center is-active">
        <div class="layerBox midSize2">
            <div class="modalHeader">
                <button class="ico layerClose"></button>
            </div>
            <div class="modalCont licenseDetail">
                <h2>라이선스 상세정보</h2>

                <div class="boxTop">P-A0000-A0000-A0000(23)</div>
                <div class="boxWrap titType">
                    <div class="head">
                        <h3><span class="label">종료</span>[종료] 대기업 B2B 주문 프로세스 개선 기획자 모집</h3>
                    </div>
                    <div class="cont">
                        <h5 class="underBg mt0">기본정보</h5>
                        <div class="inputList">
                            <ul class="grid col4">
                                <li>
                                    <h6>라이선스</h6>
                                    <div class="info">Unattended Bot</div>                                
                                </li>
                                <li>
                                    <h6>모듈</h6>
                                    <div class="info">Annual</div>                                
                                </li>
                                <li>
                                    <h6>수익유형</h6>
                                    <div class="info">요율</div>                                
                                </li>
                                <li>
                                    <h6>라이선스 주문시작 - 만료</h6> 
                                    <div class="info">
                                        2024.01.01 ~ 2024.12.31
                                    </div>
                                </li>
                                <li>
                                    <div class="flexBw">
                                        <h6>매출
                                            <span class="hasTooltip">
                                                <i class="ico exMark_round"></i>
                                                <div class="tooltip bottom first">                                                                                                                                                   
                                                    <div class="yScroll txtLeft">
                                                        <p>라이선스</p>
                                                        라이선스 모듈이 Perpetual인 경우 요율이 적용된 금액입니다.
                                                    </div>
                                                </div>
                                            </span>
                                        </h6>
                                    </div>
                                    <div class="info">
                                        <span class="point checking">150%</span>
                                        <span class>96,000,000</span>
                                    </div>   
                                </li>

                                <li>
                                    <div class="flexBw">
                                        <h6>매입
                                            <span class="hasTooltip">
                                                <i class="ico exMark_round"></i>
                                                <div class="tooltip bottom">                                                                                                                                                   
                                                    <div class="yScroll txtLeft">
                                                        <p>라이선스</p>
                                                        라이선스 모듈이 Perpetual인 경우 요율이 적용된 금액입니다.
                                                    </div>
                                                </div>
                                            </span>
                                        </h6>
                                    </div>
                                    <div class="info">
                                        <span class="point checking">5%</span>
                                        <span class>2,396,000,000</span>
                                    </div>                                
                                </li>
                                <li>
                                    <h6>GP / Ratio</h6>
                                    <div class="info">
                                        <span>96,000,000 / 120%</span>
                                    </div>                         
                                </li>
                            </ul>
                        </div>

                        <h5 class="underBg">부가정보</h5>
                        <div class="inputList">
                            <ul class="grid col4 type2">
                                <li>
                                    <h6>라이선스 코드</h6>
                                    <div class="info">
                                        <input type="text" class="full" value="RG11-8380-4351">
                                    </div>                            
                                </li>
                                <li>
                                    <h6>버전</h6>
                                    <div class="info">
                                        <input type="text" class="full" value="V1.0">
                                    </div>                                              
                                </li>
                                <li>
                                    <h6>견적서</h6>
                                    <div class="info">
                                        <input type="checkbox" id="aa1" class="hasTxt">
                                        <label for="aa1">포함</label>
                                    </div>                                
                                </li>
                                <li>
                                    <h6>라이선스 적용시작 - 만료</h6>
                                     
                                    <div class="info">
                                        <div class="datepicker">
                                            <input type="text" placeholder="시작일" id="datepicker5" value="2023.08.07">
                                        </div>
                                        <span class="range">~</span>
                                        <div class="datepicker">
                                            <input type="text" placeholder="종료일" id="datepicker6">
                                        </div>
                                    </div>
                                </li>
                                <li class="licenseAdmin">
                                    <h6>라이선스 만료 시 알림을 받을 담당자<p class="h6_sub subGray">(라이선스 적용 만료 시 메일 알림을 받을 담당자를 지정합니다.)</p></h6>
                                    
                                    
                                    <div class="info">
                                        <div class="chkWrap btnType">                                            
                                            <input type="checkbox" id="chk_1" class="chkEach" checked="">
                                            <label for="chk_1">김혜인</label>
                                            
                                            <input type="checkbox" id="chk_2" class="chkEach" checked="">
                                            <input type="hidden">
                                            <label for="chk_2">박소윤</label>
                                            
                                            <input type="checkbox" id="chk_3" class="chkEach">
                                            <label for="chk_3">홍길동</label>  
                                
                                            <input type="checkbox" id="chk_4" class="chkEach">
                                            <label for="chk_4">김길동aa</label>            
                                        </div>
                                    </div>                                
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modalFooter">
                <button class="white">닫기</button>
                <button class="">저장</button>
            </div>
        </div>
        <div class="layerDim"></div> 
    </div>
    <!--//라이선스 상세정보 팝업-->


    <script src="../assets/js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        selectBox();

        $(function(){
            $("#datepicker1, #datepicker2, #datepicker3, #datepicker4, #datepicker5, #datepicker6").datepicker({
                dateFormat:'yy/mm/dd'
                , showOn: 'button'
                , buttonImage: '../assets/img/icoCal.png'
                , buttonImageOnly: true
            })
        });      
        
    </script>
</body>
</html>