<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 | 가입신청</title>
    <link rel="stylesheet" href="../assets/css/style.css">

</head>
<body>
    <section class="wrapper login"><!--231101 클래스 수정-ys-->
        <section class="loginTop"><!--231101 클래스 수정-ys-->
            <div class=""><!--231101 태그추가-ys-->
                <h1>JOBJOB</h1>
                <span class="h1_sub">Advanced Member-to-Job Matching System</span>

                <div class="loginBox">
                    <input class="full" type="text" id="userId" maxlength="100" placeholder="아이디"> 
                    <input class="full" type="password" id="userPw" maxlength="20" placeholder="비밀번호">   

                    <input type="checkbox" class="chkCustom hasTxt" id="saveId" name="saveId">
                    <label for="saveId">아이디저장</label>
                    
                    <button class="">로그인</button>

                    <!--231101 위치이동-ys-->
                    <div class="subLogin">
                        <ul>
                            <li><a href="#" target="_blank">아이디 찾기</a></li>
                            <li><a href="#" target="_blank">비밀번호 찾기</a></li>
                            <li><a href="#" target="_blank">가입신청</a></li>
                        </ul>
                    </div>    
                    <!--//231101 위치이동-ys-->  
                </div>  
            </div>  
        </section>  
        <footer>
            <p>본 시스템의 불법적인 접근 및 사용 시 관련 법규에 의해 처벌될 수 있습니다. 시스템 문의 : jobjob@echoit.co.kr</p>
            <p>@ 2023 by ECHOIT. All rights reserved.</p>
        </footer>      
    </section>

    <!--가입신청 팝업-->
    <div id="" class="modalLayer center is-active">
        <div class="layerBox smSize">
            <div class="modalHeader">
                <button class="ico layerClose"></button>   
            </div>
            <div class="modalCont joinRequest"><!--팝업고유클래스-->
                <h3>가입 신청</h3>  
                
                <div class="inputList flex">   
                    <ul>
                        <li>
                            <label for="joinEmail">아이디</label>
                            <div class="suffix">
                                <input type="text" class="full" id="joinEmail" placeholder="이메일 입력">         
                                <p class="error is-active">영문과 숫자만 입력할 수 있습니다.</p>          
                            </div>                                                                
                        </li>
                        <li>                    
                            <label for="joinNm">이름</label>
                            <div class="suffix">
                                <input type="text" class="full" id="joinNm" placeholder="이름 입력">        
                            </div>                                                                                                               
                        </li>
                        <li>
                            <label for="joinPw">비밀번호</label>
                            <div class="suffix">
                                <input type="password" class="full" id="joinPw" placeholder="8~20자 영문, 숫자, 특수문자 조합">        
                                <input type="password" class="full" id="joinPwChk" placeholder="비밀번호 다시 입력">                
                                <p class="error is-active">비밀번호가 일치하지 않습니다.</p>          
                            </div>                                             
                        </li>
                        <li>                    
                            <label for="joinPn">휴대폰 번호</label>
                            <div class="suffix">
                                <input type="text" class="full" id="joinPn" placeholder="010-1234-5678">        
                            </div>                                                                                                               
                        </li>
                        <li>                    
                            <h6 for="joinPn">소속부서</h6>
                            <div class="suffix">
                                <select class="full">
                                    <option value="">선택</option>
                                    <option value="001">1</option>
                                    <option value="002">2</option>
                                    <option value="003">3</option>
                                    <option value="004">4</option>
                                    <option value="005">5</option>
                                </select>      
                            </div>                                                                                                               
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modalFooter single">
                <button class="xlSize">가입신청</button>
            </div>
        </div>        
        <div class="layerDim"></div>    
    </div>
    <!--//가입신청 팝업-->

    <!--가입신청완료 팝업-->
    <div id="" class="modalLayer center is-active">
        <div class="layerBox smSize">
            <div class="modalHeader">
                <button class="ico layerClose"></button>   
            </div>
            <div class="modalCont joinReqClr"><!--팝업고유클래스-->
                <h3>가입 신청 완료</h3>  

                <img src="../assets/img/icoClear.png" alt="">
                

                <p>abc@echoit.co.kr(으)로 발송된 <br> 인증 메일을 확인해 주세요.</p>
                <p class="marked">인증기한 : 2023년 11월03일 11시까지</p>

                <div class="stepBox">
                    <ul>
                        <li>STEP 01. 메일 인증</li>
                        <li>STEP 02. 담당자 승인</li>
                    </ul>
                </div>

                <p class="manager">담당자 : <span class="mainC">홍길동 010-1234-5678</span></p>

            </div>
            <div class="modalFooter single">
                <button class="xlSize">확인</button>
            </div>
        </div>        
        <div class="layerDim"></div>    
    </div>
    <!--//가입신청완료 팝업-->

    <!--메일인증대기 팝업-->
    <div id="" class="modalLayer center is-active">
        <div class="layerBox smSize">
            <div class="modalHeader">
                <button class="ico layerClose"></button>   
            </div>
            <div class="modalCont mailCerti"><!--팝업고유클래스-->
                <h3>메일 인증 대기중</h3>  

                <img src="../assets/img/icoHold.png" alt="">
                

                <p>abc@echoit.co.kr(으)로 발송된 <br> 인증 메일을 확인해 주세요.</p>
                <p class="marked">인증기한 : 2023년 11월03일 11시까지</p>

                <div class="stepBox">
                    <ul>
                        <li class="is-active">STEP 01. 메일 인증</li>
                        <li>STEP 02. 담당자 승인</li>
                    </ul>
                </div>

                <p class="manager">담당자 : <span class="mainC">홍길동 010-1234-5678</span></p>

            </div>
            <div class="modalFooter single">
                <button class="xlSize">인증메일 재발송</button>
            </div>
        </div>        
        <div class="layerDim"></div>    
    </div>
    <!--//메일인증대기 팝업-->

    <!--담당자승인대기 팝업-->
    <div id="" class="modalLayer center is-active">
        <div class="layerBox smSize">
            <div class="modalHeader">
                <button class="ico layerClose"></button>   
            </div>
            <div class="modalCont managerCerti"><!--팝업고유클래스-->
                <h3>담당자 승인 대기중</h3>  

                <img src="../assets/img/icoHold.png" alt="">
                
                <p class="mainC">이메일 인증이 완료되었습니다. </p>
                <p>관리자가 가입승인을 완료하면 <br> 서비스를 이용하실 수 있습니다.</p>
                
                <div class="stepBox">
                    <ul>
                        <li>STEP 01. 메일 인증</li>
                        <li class="is-active">STEP 02. 담당자 승인</li>
                    </ul>
                </div>

                <p class="manager">담당자 : <span class="mainC">홍길동 010-1234-5678</span></p>

            </div>
            <div class="modalFooter single">
                <button class="xlSize">로그인</button>
            </div>
        </div>        
        <div class="layerDim"></div>    
    </div>
    <!--//담당자승인대기 팝업-->

    <!--메일인증만료 팝업-->
    <div class="modalLayer center is-active">
        <div class="layerBox smSize">
            <div class="modalHeader">
                <button class="ico layerClose"></button>
            </div>
            <div class="modalCont certiExpire">
                <h3>인증 기한이 만료되었습니다.</h3>
                <b>
                    기존 가입 신청 정보는 삭제되었으므로 <br>
                    다시 가입신청을 해주시기 바랍니다.
                </b>
            </div>
            <div class="modalFooter single">
                <button class="layerClose">가입신청</button>
            </div>
        </div>        
        <div class="layerDim"></div>    
    </div>
    <!--//메일인증만료 팝업-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../assets/js/script.js"></script>
</body>
</html>