<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAIL FORMAT | 비밀번호 재설정 인증</title>
</head>
<body>





<div style="margin:0px auto;padding:0px;margin-top:20px;width:100%;min-width:450px;max-width:700px;">
    <table cellpadding="0" cellspacing="0" width="100%" style="font-family:AppleSDGothicNeo-light,'malgun gothic','dotum','돋움',sans-serif;font-size:16px;font-weight:normal;line-height:1.2em;margin:0;padding:0;">
        <tr>
            <td height="70" style="font-family:AppleSDGothicNeo-light,'malgun gothic','dotum','돋움',sans-serif;font-size:16px;font-weight:normal;line-height:1.2em;margin:0px;padding:0px;border:1px solid #0969d1;border-radius:20px 20px 0 0;background-color:#0969d1;">
                <span style="color:#ffffff;font-size:22px;margin-left:25px;font-weight:bold;"><strong>JOBJOB</strong></span>
                <span style="color:#ffffff;font-size:16px;margin-left:10px;">알림</span>
            </td>
        </tr>

        
        <tr>
            <td style="margin:0px;padding:0px;padding-top:20px;border-left:1px solid #999;border-right:1px solid #999;">
                <table style="margin:0px;padding:0px;padding-right:20px;padding-left:20px;">
                    <tr>
                        <td style="font-family:AppleSDGothicNeo-light,'malgun gothic','dotum','돋움',sans-serif;font-size:16px;font-weight:normal;line-height:1.2em;">
                            <div style="line-height:30px;">
                                <span style="font-size:17px;font-weight:bold;"><strong>홍길동</strong></span>님 안녕하세요.<br>
                                잡잡 비밀번호 재설정을 위한 인증메일 입니다. <br> 
                                아래 버튼을 클릭하시면 비밀번호 재설정 화면으로 이동합니다.
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family:AppleSDGothicNeo-light,'malgun gothic','dotum','돋움',sans-serif;font-size:16px;font-weight:normal;line-height:1.2em;margin:0px;padding:0px;padding-top:30px;padding-bottom:50px;text-align:center;">
                            <button type="button" style="font-family:AppleSDGothicNeo-light,'malgun gothic','dotum','돋움',sans-serif;font-size:16px;font-weight:normal;line-height:1.2em;margin:0px;padding:0px;width:160px;height:55px;border:0;border-radius:6px;background-color:#0460d2;color:#fff;font-weight:bold;cursor: pointer;">비밀번호 재설정</button>
                        </td>
                    </tr>                    
                    <tr>
                        <td style="font-family:AppleSDGothicNeo-light,'malgun gothic','dotum','돋움',sans-serif;font-size:16px;font-weight:normal;line-height:1.2em;margin:0px;padding:0px;padding-bottom:120px;color:#aaa9a8;">
                            위 버튼이 클릭되지 않을 경우 아래 주소를 복사해서 주소창에 붙여넣기 해주세요.<br>
                            <a href="#" target="_blank" style="font-family:AppleSDGothicNeo-light,'malgun gothic','dotum','돋움',sans-serif;font-size:16px;font-weight:normal;line-height:1.2em;margin:0px;padding:0px;display:inline-block;margin-top:2px;word-break:break-all;color:#0460d2;font-weight:bold;">
                                http://jobdev.echoit.co.kr/myproject/request/list/view/myproject/request/list/view/myproject/request/list/view/myproject/request/list/view
                            </a>
                        </td>
                    </tr>
                </table>                
            </td>
        </tr>
        <tr>
            <td height="100" style="font-family:AppleSDGothicNeo-light,'malgun gothic','dotum','돋움',sans-serif;font-size:14px;line-height:22px;font-weight:normal;margin:0px;padding:0px;text-align:center;border:1px solid #999999;border-radius:0 0 20px 20px;background-color:#ededed;">
                <strong>서울특별시 강남구 강남대로 146길 25(에코 스페이스) 4층</strong><br>
                
                <span style="padding-left:10px;padding-right:10px;">jobjob@echoit.co.kr</span>
                <span style="padding-left:10px;padding-right:10px;">TEL 02-6342-8021</span>
                <span style="padding-left:10px;padding-right:10px;">FAX 02-864-8021</span><br>
                
                <span style="font-size:13px;color:#888888;">Copyrightⓒ 2023 by ECHOIT. All rights reserved.</span>
            </td>
        </tr>
    </table>
</div>






</body>
</html>