<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAIL FORMAT | 관리자 인증</title>
    <!--구글폰트.. 사용가능할지-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <!--//구글폰트.. 사용가능할지-->
</head>
<body>
        <table cellpadding="0" cellspacing="0" width="633" style="font-family: 'Noto Sans KR', sans-serif;"><!--폰트 상속이 될까..-->

        <tr>
            <td height="70" style="border:1px solid #0969d1;border-radius: 20px 20px 0 0; background-color: #0969d1;">

                <span style="color:white; font-size: 22px;margin-left:25px;font-weight:600;"><strong>JOBJOB</strong></span>
                <span style="color:white; font-size: 16px;margin-left:10px;">알림</span></td>
            </td>
        </tr>
        <tr>

            <td style="padding-top: 20px; border-left:1px solid #999; border-right:1px solid #999;">
                <table style="padding-right: 20px; padding-left: 20px;">
                    <tr>
                        <td style="display: inline; line-height: 30px;">
                            <span style="font-size: 17px;font-weight: bold;">한아라</span> 
                            님 안녕하세요.<br>
                            잡잡 관리자 기능을 사용하기 위해 이메일 인증이 필요합니다. <br> 
                            아래 버튼을 눌러 인증을 완료해주세요.
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top:30px; padding-bottom: 50px; text-align: center;">
                            <button style="
                                width:160px; 
                                height:55px; 
                                border:0; 
                                border-radius: 6px;
                                background-color: #0460d2; 
                                color: #fff; 
                                font-size: 16px;
                                font-weight: bold;
                                ">이메일 인증</button>
                        </td>
                    </tr>
                    
                    <tr>
                        <td style="padding-bottom: 120px; color: #aaa9a8;">
                            위 버튼이 클릭되지 않을 경우 아래 주소를 복사해서 주소창에 붙여넣기 해주세요.<br>
                            <a href="#" target="_blank" style="display:inline-block;  margin-top: 2px; word-break: break-all; color: #0460d2; font-weight: bold;">
                                http://jobdev.echoit.co.kr/myproject/request/list/view/myproject/request/list/view/myproject/request/list/view/myproject/request/list/view
                            </a>
                        </td>
                    </tr>
                </table>                
            </td>
        </tr>
        <!--230927 수정-ja-->
        <tr>
            <td height="100" style="font-size: 14px; line-height: 22px; text-align: center; border:1px solid #999999;border-radius: 0 0 20px 20px; background-color: #ededed;">
                <strong>서울특별시 강남구 강남대로 146길 25(에코 스페이스) 4층</strong><br>
                
                <span style="padding-left: 10px; padding-right: 10px;">jobjob@echoit.co.kr</span>
                <span style="padding-left: 10px; padding-right: 10px;">TEL 02-6342-8021</span>
                <span style="padding-left: 10px; padding-right: 10px;">FAX 02-864-8021</span><br>
                
                <span style="font-size: 13px; color: #888888;">Copyrightⓒ 2023 by ECHOIT. All rights reserved.</span>
            </td>
        </tr>
        <!--//230927 수정-ja-->
    </table>
</body>
</html>