<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAIL REJECT</title>
    
</head>
<body>
    <table>
        <tr>
            <td><img src="../assets/img/mail/rejConfirm.png" alt=""></td>
        </tr>
        <tr>
            <td style="text-align: center">
                <button style="width: 184px; height: 44px; cursor: pointer; border-width: 0px; background:url('../assets/img/mail/btnY.png');"></button>
                <button style="width: 184px; height: 44px; cursor: pointer; border-width: 0px; background:url('../assets/img/mail/btnN.png');"></button>
            </td>
        </tr>
        <tr>
            <td><img src="../assets/img/mail/rejFooter.png" alt=""></td>
        </tr>
    </table>
</body>
</html>