<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메일 수신거절</title>
    
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="compoWrapper fullSize">
        <div class="component center">    
            <div class="txtCenter">
                <img src="../assets/img/error1.png" alt="">
                <h2>프로젝트 추천 메일을 그만 받으시겠습니까?</h2>
                <h3>(Do you want to unsubscribe e-mails?)</h3>

                <div class="bottomBtn">
                    <button>예</button>
                    <button class="bdType">아니오</button>
                </div>
            </div>
        </div>
        <footer>
            <img src="../assets/img/mail/footerLogo.png" alt="">
            <ul>
                <li class="link">
                    <a href="http://echoit.co.kr/company/company.html" target="_blank">회사소개</a>
                    <a href="#">이용약관</a>
                    <a href="#"><b>개인정보처리방침</b></a><!--230801 b태그 추가 -ys -->
                    <a href="#">Link4(미정)</a>
                    <a href="#">Link5(미정)</a>
                </li>
                <li class="address">서울특별시 강남구 강남대로 146길 25(에코스페이스) 4층, 5층</li>
                <li class="contact">
                    <span>jobjob@echoit.co.kr</span>
                    <span>TEL 02-6342-8021</span>
                    <span>FAX 02-864-8021</span>
                </li>
                <li class="copyRight">Copyright ⓒ2023 ECHOIT. All rights reserved.</li>
            </ul>
        </footer>
    </div>
</body>
</html>