<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAIL FORMAT | 이메일 인증</title>
</head>
<body>





<div style="margin:0px auto;padding:0px;margin-top:20px;width:100%;min-width:450px;max-width:700px;">
    <table cellpadding="0" cellspacing="0" width="100%" style="font-family:AppleSDGothicNeo-light,'malgun gothic','dotum','돋움',sans-serif;font-size:16px;font-weight:normal;line-height:1.2em;margin:0;padding:0;">
        <tr>
            <td height="70" style="font-family:AppleSDGothicNeo-light,'malgun gothic','dotum','돋움',sans-serif;font-size:16px;font-weight:normal;line-height:1.2em;margin:0px;padding:0px;border:1px solid #0969d1;border-radius:20px 20px 0 0;background-color:#0969d1;">
                <span style="color:#ffffff;font-size:22px;margin-left:25px;font-weight:bold;"><strong>JOBJOB</strong></span>
                <span style="color:#ffffff;font-size:16px;margin-left:10px;">알림</span>
            </td>
        </tr>


        <tr>
            <td style="margin:0px;padding:0px;padding-top:20px;border-left:1px solid #999;border-right:1px solid #999;">
                <table cellpadding="0" cellspacing="0" width="100%" style="margin:0px;padding:0px;padding-right:20px;padding-left:20px;">
                    <tr>
                        <td style="font-family:AppleSDGothicNeo-light,'malgun gothic','dotum','돋움',sans-serif;font-size:16px;font-weight:normal;line-height:1.2em;">
                            <div style="line-height:30px;">
                                잡잡 회원가입을 위해 다음 인증 코드를<br>
                                원래의 창의 인증코드란에 입력해 주세요.<br> 
                                <span style="color:#0460d2;font-size:14px;">발송일시 : 2023.11.23 18:05</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family:AppleSDGothicNeo-light,'malgun gothic','dotum','돋움',sans-serif;font-size:16px;font-weight:normal;line-height:1.2em;margin:0px;padding:0px;padding-top:30px;padding-bottom:50px;text-align:center;">
                            
                            <div style="background-color:#F2F2F2;margin:0 auto;padding:10px 20px;border-radius:5px;width:240px;height:100px;box-sizing:border-box;">
                                <input type="text" style="width:100%;height:100%;text-align:center;font-size:40px;border:none;color:#000000;outline:none;background-color:transparent;font-weight:bold;letter-spacing:4px;" maxlength="5" value="12345" readonly>
                            </div>

                        </td>
                    </tr>
                </table>                
            </td>
        </tr>
        <tr>
            <td height="100" style="font-family:AppleSDGothicNeo-light,'malgun gothic','dotum','돋움',sans-serif;font-size:14px;line-height:22px;font-weight:normal;margin:0px;padding:0px;text-align:center;border:1px solid #999999;border-radius:0 0 20px 20px;background-color:#ededed;">
                <strong>서울특별시 강남구 강남대로 146길 25(에코 스페이스) 4층</strong><br>
                
                <span style="padding-left:10px;padding-right:10px;">jobjob@echoit.co.kr</span>
                <span style="padding-left:10px;padding-right:10px;">TEL 02-6342-8021</span>
                <span style="padding-left:10px;padding-right:10px;">FAX 02-864-8021</span><br>
                
                <span style="font-size:13px;color:#888888;">Copyrightⓒ 2023 by ECHOIT. All rights reserved.</span>
            </td>
        </tr>
    </table>
</div>






</body>
</html>