<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>회원상세</title>
        
        <link rel="stylesheet" href="../assets/css/style.css">
    
    </head>
<body>
    <header class="center">
        <h5>홍길동(여/29) WEB/개발</h5>
        <h5>22년 12개월(특급)</h5>
    </header>

    <section class="contWrapper noNav">
        <section class="contLayout">
            <section class="memList">
                <div class="boxListWrap">
                    <ul>
                        <!--boxList-->
                        <li class="boxList listType is-active">
                            <div class="head">
                                <span class="prefix">
                                    <input type="checkbox" id="memChk_1" class="bMark" name="bMark" checked="">
                                    <label for="memChk_1"></label>
                                    홍길동 (여/29)
                                </span>
                                <span class="suffix">개발</span>
                            </div>                          
                            <div class="cont">
                                <ul>
                                    <li>서울 강서구</li>
                                    <li>22년 12개월 (특급)</li>
                                </ul>
                            </div>
                        </li>
                        <!--//boxList-->                        
                        
                        <li class="boxList listType">
                            <div class="head">
                                <span class="prefix">
                                    <input type="checkbox" id="memChk_2" class="bMark" name="bMark" checked="">
                                    <label for="memChk_2"></label>
                                    홍길동 (여/29)
                                </span>
                                <span class="suffix">개발</span>
                            </div>                          
                            <div class="cont">
                                <ul>
                                    <li>서울 강서구</li>
                                    <li>22년 12개월 (특급)</li>
                                </ul>
                            </div>
                        </li>

                        <li class="boxList listType">
                            <div class="head">
                                <span class="prefix">
                                    <input type="checkbox" id="memChk_3" class="bMark" name="bMark">
                                    <label for="memChk_3"></label>
                                    홍길동 (여/29)
                                </span>
                                <span class="suffix">개발</span>
                            </div>                          
                            <div class="cont">
                                <ul>
                                    <li>서울 강서구</li>
                                    <li>22년 12개월 (특급)</li>
                                </ul>
                            </div>
                        </li>

                        <li class="boxList listType">
                            <div class="head">
                                <span class="prefix">
                                    <input type="checkbox" id="memChk_4" class="bMark" name="bMark">
                                    <label for="memChk_4"></label>
                                    홍길동 (여/29)
                                </span>
                                <span class="suffix">개발</span>
                            </div>                          
                            <div class="cont">
                                <ul>
                                    <li>서울 강서구</li>
                                    <li>22년 12개월 (특급)</li>
                                </ul>
                            </div>
                        </li>

                        <li class="boxList listType">
                            <div class="head">
                                <span class="prefix">
                                    <input type="checkbox" id="memChk_5" class="bMark" name="bMark" checked="">
                                    <label for="memChk_5"></label>
                                    홍길동 (여/29)
                                </span>
                                <span class="suffix">개발</span>
                            </div>                          
                            <div class="cont">
                                <ul>
                                    <li>서울 강서구</li>
                                    <li>22년 12개월 (특급)</li>
                                </ul>
                            </div>
                        </li>

                        <li class="boxList listType">
                            <div class="head">
                                <span class="prefix">
                                    <input type="checkbox" id="memChk_6" class="bMark" name="bMark" checked="">
                                    <label for="memChk_6"></label>
                                    홍길동 (여/29)
                                </span>
                                <span class="suffix">개발</span>
                            </div>                          
                            <div class="cont">
                                <ul>
                                    <li>서울 강서구</li>
                                    <li>22년 12개월 (특급)</li>
                                </ul>
                            </div>
                        </li>

                        <li class="boxList listType">
                            <div class="head">
                                <span class="prefix">
                                    <input type="checkbox" id="memChk_7" class="bMark" name="bMark" checked="">
                                    <label for="memChk_7"></label>
                                    홍길동 (여/29)
                                </span>
                                <span class="suffix">개발</span>
                            </div>                          
                            <div class="cont">
                                <ul>
                                    <li>서울 강서구</li>
                                    <li>22년 12개월 (특급)</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="listBottom pagingType">                        
                    <div class="paging">
                        <ul>
                            <li><a href="#">
                                <span class="ico left"></span>
                            </a></li>
                            <li>
                                3개 중 <span class="is-active">1-3</span>
                            </li>
                            <li><a href="#">
                                <span class="ico right is-active"></span>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="memDetail">
                <div class="tabWrapper">
                    <ul class="tabBtnWrap btnType">
                        <li class="tabBtn">
                            <a href="#memDetail-1">기본정보</a>
                        </li>
                        <li class="tabBtn">
                            <a href="#memDetail-2">프로젝트(4)</a>
                        </li>
                        <li class="tabBtn">
                            <a href="#memDetail-3">지원이력(4)</a>
                        </li>
                        <li class="tabBtn">
                            <a href="#memDetail-4" class="is-active">직무추천(4)</a>
                        </li>
                    </ul>
                    <div class="tabContWrap">
                        <div id="memDetail-1" class="tabCont">
                            ccc
                        </div>
                        <div id="memDetail-2" class="tabCont">  
                            <div class="tableBox">                              
                                <table class="colType">
                                    <colgroup>
                                        <col width="56px;">
                                        <col>
                                        <col>
                                        <col>
                                        <col>

                                        <col width="40%;">
                                        <col>
                                        <col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>지원일</th>
                                            <th>모집공고</th>
                                            <th>모집직군</th>
                                            <th>직무</th>

                                            <th>희망단가</th>
                                            <th>확정단가</th>
                                            <th>결과</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>10</td>
                                            <td>WEB</td>
                                            <td>개발</td>
                                            <td>22.04.21</td>
                                            <td>22.04.21</td>
                                            <td class="ellipsis">
                                                <a href="#">
                                                [대외비] CJ프레시웨이 온리원푸드넷 UIUX [대외비] CJ프레시웨이 온리원푸드넷 UIUX
                                                </a>
                                            </td>
                                            <td><a href="#">삼성</a></td>
                                            <td><a href="#">800만원</a></td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>WEB</td>
                                            <td>개발</td>
                                            <td>22.04.21</td>
                                            <td>22.04.21</td>
                                            <td class="ellipsis">
                                                <a href="#">
                                                [대외비] CJ프레시웨이 온리원푸드넷 UIUX [대외비] CJ프레시웨이 온리원푸드넷 UIUX
                                                </a>
                                            </td>
                                            <td><a href="#">삼성</a></td>
                                            <td><a href="#">800만원</a></td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>WEB</td>
                                            <td>개발</td>
                                            <td>22.04.21</td>
                                            <td>22.04.21</td>
                                            <td class="ellipsis">
                                                <a href="#">
                                                [대외비] CJ프레시웨이 온리원푸드넷 UIUX [대외비] CJ프레시웨이 온리원푸드넷 UIUX
                                                </a>
                                            </td>
                                            <td><a href="#">삼성</a></td>
                                            <td><a href="#">800만원</a></td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>WEB</td>
                                            <td>개발</td>
                                            <td>22.04.21</td>
                                            <td>22.04.21</td>
                                            <td class="ellipsis">
                                                <a href="#">
                                                [대외비] CJ프레시웨이 온리원푸드넷 UIUX [대외비] CJ프레시웨이 온리원푸드넷 UIUX
                                                </a>
                                            </td>
                                            <td><a href="#">삼성</a></td>
                                            <td><a href="#">800만원</a></td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>WEB</td>
                                            <td>개발</td>
                                            <td>22.04.21</td>
                                            <td>22.04.21</td>
                                            <td class="ellipsis">
                                                <a href="#">
                                                [대외비] CJ프레시웨이 온리원푸드넷 UIUX [대외비] CJ프레시웨이 온리원푸드넷 UIUX
                                                </a>
                                            </td>
                                            <td><a href="#">삼성</a></td>
                                            <td><a href="#">800만원</a></td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>WEB</td>
                                            <td>개발</td>
                                            <td>22.04.21</td>
                                            <td>22.04.21</td>
                                            <td class="ellipsis">
                                                <a href="#">
                                                [대외비] CJ프레시웨이 온리원푸드넷 UIUX [대외비] CJ프레시웨이 온리원푸드넷 UIUX
                                                </a>
                                            </td>
                                            <td><a href="#">삼성</a></td>
                                            <td><a href="#">800만원</a></td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>WEB</td>
                                            <td>개발</td>
                                            <td>22.04.21</td>
                                            <td>22.04.21</td>
                                            <td class="ellipsis">
                                                <a href="#">
                                                [대외비] CJ프레시웨이 온리원푸드넷 UIUX [대외비] CJ프레시웨이 온리원푸드넷 UIUX
                                                </a>
                                            </td>
                                            <td><a href="#">삼성</a></td>
                                            <td><a href="#">800만원</a></td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>WEB</td>
                                            <td>개발</td>
                                            <td>22.04.21</td>
                                            <td>22.04.21</td>
                                            <td class="ellipsis">
                                                <a href="#">
                                                [대외비] CJ프레시웨이 온리원푸드넷 UIUX [대외비] CJ프레시웨이 온리원푸드넷 UIUX
                                                </a>
                                            </td>
                                            <td><a href="#">삼성</a></td>
                                            <td><a href="#">800만원</a></td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>WEB</td>
                                            <td>개발</td>
                                            <td>22.04.21</td>
                                            <td>22.04.21</td>
                                            <td class="ellipsis">
                                                <a href="#">
                                                [대외비] CJ프레시웨이 온리원푸드넷 UIUX [대외비] CJ프레시웨이 온리원푸드넷 UIUX
                                                </a>
                                            </td>
                                            <td><a href="#">삼성</a></td>
                                            <td><a href="#">800만원</a></td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>WEB</td>
                                            <td>개발</td>
                                            <td>22.04.21</td>
                                            <td>22.04.21</td>
                                            <td class="ellipsis">
                                                <a href="#">
                                                [대외비] CJ프레시웨이 온리원푸드넷 UIUX [대외비] CJ프레시웨이 온리원푸드넷 UIUX
                                                </a>
                                            </td>
                                            <td><a href="#">삼성</a></td>
                                            <td><a href="#">800만원</a></td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>WEB</td>
                                            <td>개발</td>
                                            <td>22.04.21</td>
                                            <td>22.04.21</td>
                                            <td class="ellipsis">
                                                <a href="#">
                                                [대외비] CJ프레시웨이 온리원푸드넷 UIUX [대외비] CJ프레시웨이 온리원푸드넷 UIUX
                                                </a>
                                            </td>
                                            <td><a href="#">삼성</a></td>
                                            <td><a href="#">800만원</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="listBottom pagingType">                        
                                <div class="paging">
                                    <ul>
                                        <li class="pagingDouble">
                                            <a href="#">
                                                <span class="ico left2_dou"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="ico left2"></span>
                                            </a>
                                        </li>
                                        <li class="is-active">1</li>
                                        <li>2</li>
                                        <li>3</li>
                                        <li>4</li>
                                        <li>5</li>
                                        <li>6</li>
                                        <li>7</li>
                                        <li>8</li>
                                        <li>9</li>
                                        <li>10</li>
                                        <li>
                                            <a href="#">
                                                <span class="ico right2 is-active"></span>
                                            </a>
                                        </li>
                                        <li class="pagingDouble">
                                            <a href="#">
                                                <span class="ico right2_dou is-active"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="memDetail-3" class="tabCont">
                            <div class="tableBox">                              
                                <table class="colType">
                                    <colgroup>
                                        <col width="56px;">
                                        <col>
                                        <col width="40%;">
                                        <col>
                                        <col>

                                        <col>
                                        <col>
                                        <col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>지원일</th>
                                            <th>모집공고</th>
                                            <th>모집직군</th>
                                            <th>직무</th>

                                            <th>희망단가</th>
                                            <th>확정단가</th>
                                            <th>결과</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>10</td>
                                            <td>22.04.21</td>
                                            <td class="ellipsis">
                                                <span class="button label">SM</span>
                                                <a href="#">[대외비] CJ프레시웨이 온리원푸드넷 UIUX [대외비] CJ프레시웨이 온리원푸드넷 UIUX</a>                                        
                                            </td>
                                            <td>개발</td>
                                            <td>B/O</td>
                                            <td>800만원</td>
                                            <td>-</td>
                                            <td><span class="sReject">지원취소</span></td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>22.04.21</td>
                                            <td class="ellipsis">
                                                <span class="button label">SM</span>
                                                <a href="#">[대외비] CJ프레시웨이 온리원푸드넷 UIUX [대외비] CJ프레시웨이 온리원푸드넷 UIUX</a>                                        
                                            </td>
                                            <td>개발</td>
                                            <td>B/O</td>
                                            <td>800만원</td>
                                            <td>-</td>
                                            <td><span class="sOrder">지원완료</span></td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>22.04.21</td>
                                            <td class="ellipsis">
                                                <span class="button label">SM</span>
                                                <a href="#">[대외비] CJ프레시웨이 온리원푸드넷 UIUX [대외비] CJ프레시웨이 온리원푸드넷 UIUX</a>                                        
                                            </td>
                                            <td>개발</td>
                                            <td>B/O</td>
                                            <td>800만원</td>
                                            <td>-</td>
                                            <td>합격</span></td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>22.04.21</td>
                                            <td class="ellipsis">
                                                <span class="button label">SM</span>
                                                <a href="#">[대외비] CJ프레시웨이 온리원푸드넷 UIUX [대외비] CJ프레시웨이 온리원푸드넷 UIUX</a>                                        
                                            </td>
                                            <td>개발</td>
                                            <td>B/O</td>
                                            <td>800만원</td>
                                            <td>-</td>
                                            <td>합격</span></td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>22.04.21</td>
                                            <td class="ellipsis">
                                                <span class="button label">SM</span>
                                                <a href="#">[대외비] CJ프레시웨이 온리원푸드넷 UIUX [대외비] CJ프레시웨이 온리원푸드넷 UIUX</a>                                        
                                            </td>
                                            <td>개발</td>
                                            <td>B/O</td>
                                            <td>800만원</td>
                                            <td>-</td>
                                            <td>합격</span></td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>22.04.21</td>
                                            <td class="ellipsis">
                                                <span class="button label">SM</span>
                                                <a href="#">[대외비] CJ프레시웨이 온리원푸드넷 UIUX [대외비] CJ프레시웨이 온리원푸드넷 UIUX</a>                                        
                                            </td>
                                            <td>개발</td>
                                            <td>B/O</td>
                                            <td>800만원</td>
                                            <td>-</td>
                                            <td>합격</span></td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>22.04.21</td>
                                            <td class="ellipsis">
                                                <span class="button label">SM</span>
                                                <a href="#">[대외비] CJ프레시웨이 온리원푸드넷 UIUX [대외비] CJ프레시웨이 온리원푸드넷 UIUX</a>                                        
                                            </td>
                                            <td>개발</td>
                                            <td>B/O</td>
                                            <td>800만원</td>
                                            <td>-</td>
                                            <td>합격</span></td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>22.04.21</td>
                                            <td class="ellipsis">
                                                <span class="button label">SM</span>
                                                <a href="#">[대외비] CJ프레시웨이 온리원푸드넷 UIUX [대외비] CJ프레시웨이 온리원푸드넷 UIUX</a>                                        
                                            </td>
                                            <td>개발</td>
                                            <td>B/O</td>
                                            <td>800만원</td>
                                            <td>-</td>
                                            <td>합격</span></td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>22.04.21</td>
                                            <td class="ellipsis">
                                                <span class="button label">SM</span>
                                                <a href="#">[대외비] CJ프레시웨이 온리원푸드넷 UIUX [대외비] CJ프레시웨이 온리원푸드넷 UIUX</a>                                        
                                            </td>
                                            <td>개발</td>
                                            <td>B/O</td>
                                            <td>800만원</td>
                                            <td>-</td>
                                            <td>합격</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="listBottom pagingType">                        
                                <div class="paging">
                                    <ul>
                                        <li class="pagingDouble">
                                            <a href="#">
                                                <span class="ico left2_dou"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="ico left2"></span>
                                            </a>
                                        </li>
                                        <li class="is-active">1</li>
                                        <li>2</li>
                                        <li>3</li>
                                        <li>4</li>
                                        <li>5</li>
                                        <li>6</li>
                                        <li>7</li>
                                        <li>8</li>
                                        <li>9</li>
                                        <li>10</li>
                                        <li>
                                            <a href="#">
                                                <span class="ico right2 is-active"></span>
                                            </a>
                                        </li>
                                        <li class="pagingDouble">
                                            <a href="#">
                                                <span class="ico right2_dou is-active"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="memDetail-4" class="tabCont is-active">                            
                            
                                                        
                            <div class="boxTop">
                                <button class="midSize white">+ 직무추천 추가</button>
                            </div>
                            
                            <div class="boxListWrap">    
                                <ul>
                                    <!--boxList-->
                                    <li class="boxList flexType">
                                        <div class="prefix">
                                            <ul>
                                                <li>
                                                    <span>추천직무</span>
                                                    <span>AOS</span>
                                                </li>                                                    
                                                <li>
                                                    <span>매출단가</span>
                                                    <span>-</span>
                                                </li>
                                                <li>
                                                    <span>모집기한</span>
                                                    <span>~4/30(토)</span>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="center">                                            
                                            <div class="head">
                                                <span class="prefix">
                                                    <span class="button label">SM</span>
                                                    CJ프레시웨이 온리원 푸드넷 UI, UX 고도화 - 마포 CJ프레시웨이 온리원 푸드넷 UI, UX 고도화 - 마포CJ프레시웨이 온리원 푸드넷 UI, UX 고도화 - 마포CJ프레시웨이 온리원 푸드넷 UI, UX 고도화 - 마포CJ프레시웨이 온리원 푸드넷 UI, UX 고도화 - 마포
                                                </span>
                                                <span class="suffix dNear">임박</span>
                                                </span>
                                            </div>

                                            <div class="cont">
                                                <ul class="flex">
                                                    <li>ASP</li>
                                                    <li>JSP</li>
                                                    <li>JAVA</li>
                                                    <li>Linux</li>
                                                    <li>Oracle</li>
                                                    <li>Unix</li>
                                                </ul>
                                            </div>
                                            
                                            <div class="bottom">
                                                <span class="prefix">
                                                    <span>영업  김성채</span>
                                                    <span>소싱  한아라</span>
                                                </span>
                                                <span>
                                                    <a href="#" class="button white midSize" target="_blank">상세보기</a>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="suffix">
                                            <a href="#layer_offer" class="button midSize low layerOpen">제안하기</a>   
                                            <a href="#" class="ico more"></a>
                                        </div>
                                    </li>
                                    <!--//boxList-->  
                                    <li class="boxList flexType">
                                        <div class="prefix">
                                            <ul>
                                                <li>
                                                    <span>추천직무</span>
                                                    <span>AOS</span>
                                                </li>                                                    
                                                <li>
                                                    <span>매출단가</span>
                                                    <span>-</span>
                                                </li>
                                                <li>
                                                    <span>모집기한</span>
                                                    <span>~4/30(토)</span>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="center">                                            
                                            <div class="head">
                                                <span class="prefix">
                                                    <span class="button label">SM</span>
                                                    CJ프레시웨이 온리원 푸드넷 UI, UX 고도화 - 마포
                                                </span>
                                                <span class="suffix dNear">임박</span>
                                                </span>
                                            </div>

                                            <div class="cont">
                                                <ul class="flex">
                                                    <li>ASP</li>
                                                    <li>JSP</li>
                                                    <li>JAVA</li>
                                                    <li>Linux</li>
                                                    <li>Oracle</li>
                                                    <li>Unix</li>
                                                </ul>
                                            </div>
                                            
                                            <div class="bottom">
                                                <span class="prefix">
                                                    <span>영업  김성채</span>
                                                    <span>소싱  한아라</span>
                                                </span>
                                                <span>
                                                    <a href="#" class="button white midSize" target="_blank">상세보기</a>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="suffix">
                                            제의불가<br>(부회원)
                                            <a href="#" class="ico more"></a>
                                        </div>
                                    </li>
                                    <li class="boxList flexType">
                                        <div class="prefix">
                                            <ul>
                                                <li>
                                                    <span>추천직무</span>
                                                    <span>AOS</span>
                                                </li>                                                    
                                                <li>
                                                    <span>매출단가</span>
                                                    <span>-</span>
                                                </li>
                                                <li>
                                                    <span>모집기한</span>
                                                    <span>~4/30(토)</span>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="center">                                            
                                            <div class="head">
                                                <span class="prefix">
                                                    <span class="button label">SM</span>
                                                    CJ프레시웨이 온리원 푸드넷 UI, UX 고도화 - 마포
                                                </span>
                                                <span class="suffix dNear">임박</span>
                                                </span>
                                            </div>

                                            <div class="cont">
                                                <ul class="flex">
                                                    <li>ASP</li>
                                                    <li>JSP</li>
                                                    <li>JAVA</li>
                                                    <li>Linux</li>
                                                    <li>Oracle</li>
                                                    <li>Unix</li>
                                                </ul>
                                            </div>
                                            
                                            <div class="bottom">
                                                <span class="prefix">
                                                    <span>영업  김성채</span>
                                                    <span>소싱  한아라</span>
                                                </span>
                                                <span>
                                                    <a href="#" class="button white midSize" target="_blank">상세보기</a>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="suffix">
                                            <a href="#layer_offer" class="button midSize low layerOpen">제안하기</a>   
                                            <a href="#" class="ico more"></a>
                                        </div>
                                    </li>
                                    <li class="boxList flexType">
                                        <div class="prefix">
                                            <ul>
                                                <li>
                                                    <span>추천직무</span>
                                                    <span>AOS</span>
                                                </li>                                                    
                                                <li>
                                                    <span>매출단가</span>
                                                    <span>-</span>
                                                </li>
                                                <li>
                                                    <span>모집기한</span>
                                                    <span>~4/30(토)</span>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="center">                                            
                                            <div class="head">
                                                <span class="prefix">
                                                    <span class="button label">SM</span>
                                                    CJ프레시웨이 온리원 푸드넷 UI, UX 고도화 - 마포
                                                </span>
                                                <span class="suffix dNear">임박</span>
                                                </span>
                                            </div>

                                            <div class="cont">
                                                <ul class="flex">
                                                    <li>ASP</li>
                                                    <li>JSP</li>
                                                    <li>JAVA</li>
                                                    <li>Linux</li>
                                                    <li>Oracle</li>
                                                    <li>Unix</li>
                                                </ul>
                                            </div>
                                            
                                            <div class="bottom">
                                                <span class="prefix">
                                                    <span>영업  김성채</span>
                                                    <span>소싱  한아라</span>
                                                </span>
                                                <span>
                                                    <a href="#" class="button white midSize" target="_blank">상세보기</a>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="suffix">
                                            <a href="#layer_offer" class="button midSize low layerOpen">제안하기</a>   
                                            <a href="#" class="ico more"></a>
                                        </div>
                                    </li>
                                    <li class="boxList flexType">
                                        <div class="prefix">
                                            <ul>
                                                <li>
                                                    <span>추천직무</span>
                                                    <span>AOS</span>
                                                </li>                                                    
                                                <li>
                                                    <span>매출단가</span>
                                                    <span>-</span>
                                                </li>
                                                <li>
                                                    <span>모집기한</span>
                                                    <span>~4/30(토)</span>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="center">                                            
                                            <div class="head">
                                                <span class="prefix">
                                                    <span class="button label">SM</span>
                                                    CJ프레시웨이 온리원 푸드넷 UI, UX 고도화 - 마포
                                                </span>
                                                <span class="suffix dNear">임박</span>
                                                </span>
                                            </div>

                                            <div class="cont">
                                                <ul class="flex">
                                                    <li>ASP</li>
                                                    <li>JSP</li>
                                                    <li>JAVA</li>
                                                    <li>Linux</li>
                                                    <li>Oracle</li>
                                                    <li>Unix</li>
                                                </ul>
                                            </div>
                                            
                                            <div class="bottom">
                                                <span class="prefix">
                                                    <span>영업  김성채</span>
                                                    <span>소싱  한아라</span>
                                                </span>
                                                <span>
                                                    <a href="#" class="button white midSize" target="_blank">상세보기</a>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="suffix">
                                            <a href="#layer_offer" class="button midSize low layerOpen">제안하기</a>   
                                            <a href="#" class="ico more"></a>
                                        </div>
                                    </li>
                                    <li class="boxList flexType">
                                        <div class="prefix">
                                            <ul>
                                                <li>
                                                    <span>추천직무</span>
                                                    <span>AOS</span>
                                                </li>                                                    
                                                <li>
                                                    <span>매출단가</span>
                                                    <span>-</span>
                                                </li>
                                                <li>
                                                    <span>모집기한</span>
                                                    <span>~4/30(토)</span>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="center">                                            
                                            <div class="head">
                                                <span class="prefix">
                                                    <span class="button label">SM</span>
                                                    CJ프레시웨이 온리원 푸드넷 UI, UX 고도화 - 마포
                                                </span>
                                                <span class="suffix dNear">임박</span>
                                                </span>
                                            </div>

                                            <div class="cont">
                                                <ul class="flex">
                                                    <li>ASP</li>
                                                    <li>JSP</li>
                                                    <li>JAVA</li>
                                                    <li>Linux</li>
                                                    <li>Oracle</li>
                                                    <li>Unix</li>
                                                </ul>
                                            </div>
                                            
                                            <div class="bottom">
                                                <span class="prefix">
                                                    <span>영업  김성채</span>
                                                    <span>소싱  한아라</span>
                                                </span>
                                                <span>
                                                    <a href="#" class="button white midSize" target="_blank">상세보기</a>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="suffix">
                                            <a href="#layer_offer" class="button midSize low layerOpen">제안하기</a>   
                                            <a href="#" class="ico more"></a>
                                        </div>
                                    </li>   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../assets/js/script.js"></script>
</body>
</html>