<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이크로사이트</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <section class="bgWrapper">
        <div class="layoutWrapper">

            <div class="logoWrapper">
                <a href="#" class="logo">
                    <img src="../assets/img/icoLogo_w.png" alt="">
                </a>
            </div>

            <!--분리가능-->
            <div class="compoWrapper">
                <div class="titWrapper">
                    <div class="title">
                        <button class="round sub">비상주</button>
                        <button class="round main">기획</button>
                        <span class="mobile">마포구</span><!--모바일에서만 보임-->
                        <h2>CJ프레시웨이온리원푸드넷 모바일 UI/UX</h2>
                    </div>
                    <h3>마포구</h3><!--pc에서만 보임-->
                    <div class="tooltip">
                        <i class="ico manager"></i> 
                        <span class="tipBtn">담당자</span>
                        <div class="toolBox is-active">
                            <ul>
                                <li class="manager">홍길동</li>
                                <li class="phNm">
                                    <span>010-1234-1234</span>
                                    /
                                    <span>02-345-3456</span>
                                </li>
                                <li class="mail">
                                    abc123@echoit.co.kr
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="component">    
                    <div class="accWrap indexType">                                           
                        <div class="accBox is-active">
                            <div class="accHead">
                                <h5>기본정보</h5>
                            </div>

                            <div class="accInner infoType">
                                <div class="innerList">
                                    <ul>
                                        <li><p>모집직무</p><span>기획 – 모바일기획</span></li>
                                        <li><p>금액</p><span>800 ~ 900만원</span></li>
                                        <li><p>희망연차</p><span>n년 ~ n년</span></li>
                                        <li><p>요구스킬</p><span >ASP, J, JSP, Javascript, ASP, J, JSP, Javascript, ASP, J, JSP, Javascript, ASP, J, JSP, Javascript,</span></li>
                                    </ul>
                                    <ul>
                                        <li><p>투입기간</p><span>2022.03.11 부터 3.5개월</span></li>
                                        <li><p>모집기간</p><span>2022.03.11 부터 2022.04.31까지</span></li>
                                        <li><p>근무방식</p><span>상주</span></li>
                                        <li><p>근무시간</p><span>09:00 ~ 18:00</span></li>
                                    </ul>
                                </div>
                            </div>
                            <button class="onlyIco close"></button>
                        </div>

                        <div class="accBox is-active">
                            <div class="accHead">
                                <h5>업무상세</h5>
                            </div>
                            <div class="accInner infoType">
                                <div class="tableBox">
                                    <table>
                                        <colgroup>
                                            <col width="200px">
                                            <col width="300px">                                        
                                            <col width="150px">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>구분</th>
                                                <th>내용</th>
                                                <th>비고</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>담당업무</th>
                                                <td>
                                                    <ul>
                                                        <li>공장 운영지원 관리</li>
                                                        <li>직원 근태관리, 비용관리</li>
                                                        <li>전산마감관리</li>
                                                        <li>물류 WMS, Data 입력지원</li>
                                                        <li>생산 ERP Data 입력지원</li>
                                                    </ul>
                                                </td>
                                                <td>0명</td>
                                            </tr>
                                            <tr>
                                                <th>자격 및 우대사항</th>
                                                <td>
                                                    <p>자격요건</p>
                                                    <ul>
                                                        <li>학력무관</li>
                                                        <li>신입/경력무관</li>
                                                    </ul>
                                                    <p>우대사항</p>
                                                    <ul>
                                                        <li>물류센터 근무경험자</li>
                                                        <li>생산공장 근무경험자</li>
                                                        <li>WMS/ERP 전산관리 경험자</li>
                                                    </ul>
                                                </td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottomBtn">
                    <button class="bdType">제안거절</button>
                    <button class="">제안수락</button>
                </div>
                <footer>
                    <ul>
                        <li class="link">
                            <a href="http://echoit.co.kr/company/company.html" target="_blank">회사소개</a>
                            <a href="#">이용약관</a>
                            <a href="#">개인정보처리방침</a>
                            <a href="#">Link4(미정)</a>
                            <a href="#">Link5(미정)</a>
                        </li>
                        <li class="address">서울특별시 강남구 강남대로 146길 25(에코스페이스) 4층, 5층</li>
                        <li class="contact">
                            <span>jobjob@echoit.co.kr</span>
                            <span>TEL 02-6342-8021</span>
                            <span>FAX 02-864-8021</span>
                        </li>
                        <li class="copyRight">Copyright ⓒ2023 ECHOIT. All rights reserved.</li>
                    </ul>
                </footer>
            </div>
            <!--//분리가능-->
        </div>
    </section>









    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../assets/js/script.js"></script>  
    <script>
        //담당자연락처보기
        $(".tipBtn").on("click", function(){
            $(this).next('.toolBox').toggleClass("is-active");
        });

        //정보 열림/닫힘
        $(".onlyIco.close").on("click", function(){
            $(this).parent('.accBox').toggleClass("is-active");
        });
    </script>  
</body>
</html>