<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이크로사이트 제안수락</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <section class="bgWrapper">
        <div class="layoutWrapper">

            <div class="logoWrapper">
                <a href="#" class="logo">
                    <img src="../assets/img/icoLogo_w.png" alt="">
                </a>
            </div>

            <!--분리가능-->
            <div class="compoWrapper">
                <div class="titWrapper">
                    <div class="title">
                        <button class="round sub">비상주</button>
                        <button class="round main">기획</button>
                        <span class="mobile">마포구</span><!--모바일에서만 보임-->
                        <h2>CJ프레시웨이 온리원푸드넷 모바일 UI/UX</h2>
                    </div>
                    <h3 class="pc">마포구</h3><!--pc에서만 보임-->
                    <div class="tooltip">
                        <i class="ico manager"></i> 
                        <span class="tipBtn">담당자</span>
                        <div class="toolBox is-active">
                            <ul>
                                <li class="manager">홍길동</li>
                                <li class="phNm">
                                    <span>010-1234-1234</span>
                                    /
                                    <span>02-345-3456</span>
                                </li>
                                <li class="mail">
                                    abc123@echoit.co.kr
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                    
                <div class="component">                    
                    <div class="inputList">   
                        <ul class="grid"><!--약관동의없을때 block추가-ys-->
                            <li class="agreement">
                                <h5>약관동의</h5>
                                <div class="inputBox">
                                    <ul>
                                        <li>
                                            <input type="checkbox" id="a1" class="hasTxt"> 
                                            <label for="a1"><b>모두 동의</b> (필수 및 선택)</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="a2" class="hasTxt"> 
                                            <label for="a2">(필수) 만 14세 이상입니다.</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="a3" class="hasTxt"> 
                                            <label for="a3">(필수) 잡잡 이용약관 동의 </label>

                                            <button class="txtType mainC layerOpen" aria-controls="agreementFull">[자세히]</button>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="a4" class="hasTxt"> 
                                            <label for="a4">(필수) 잡잡 개인정보 수집 및 이용 동의</label>

                                            <button class="txtType mainC layerOpen" aria-controls="">[자세히]</button>
                                        </li>
                                        <!--230724  추가 -ys-->
                                        <li>
                                            <input type="checkbox" id="aa" class="hasTxt"> 
                                            <label for="aa">(필수) 개인정보 제 3자제공 동의</label>
                                        </li>
                                        <!--//230724  추가 -ys-->
                                        <li>
                                            <input type="checkbox" id="a5" class="hasTxt"> 
                                            <label for="a5">(선택) 프로젝트 채용정보 수신 동의</label>
                                            <ul class="flex">
                                                <li>
                                                    <input type="checkbox" id="a6" class="hasTxt"> 
                                                    <label for="a6">알림톡/문자</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" id="a7" class="hasTxt"> 
                                                    <label for="a7">메일</label>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="wishPay">
                                <h5>희망단가(선택)</h5>
                                <input type="text" class="mt15" placeholder="단위 : 만원">

                                <input type="checkbox" id="bb" class="hasTxt">
                                <label for="bb" class="ml10">협의</label>                                
                            </li>
                            <li class="attResume">
                                <h5>이력서 첨부(필수)</h5>
                                <div class="uploadBox">
                                    <div class="inputGroup upload">
                                        <div class="drop">
                                            <i class="ico fileUpload"></i>
                                            <label for="fileUpload">
                                                이력서를 첨부해 주세요.<br>
                                                (파일 최대 5개, 100MB 이하)                                                      
                                            </label>
                                        </div>
                                        <div class="list">
                                            <ul class="list_ul">
                                                <li>
                                                    <span class="fileName">test.JPG</span>
                                                    <span class="volume">45 KB</span>
                                                    <i class="ico delete_bg"></i>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                
                                    <label for="cycleDocument22" class="">파일선택</label>
                                    <input type="file" name="cycleDocument22" id="cycleDocument22" class="" tabindex="">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="bottomBtn">
                    <button class="white">취소</button>
                    <button class="">지원완료</button>
                </div>
                <footer>
                    <ul>
                        <li class="link">
                            <a href="http://echoit.co.kr/company/company.html" target="_blank">회사소개</a>
                            <a href="#">이용약관</a>
                            <a href="#">개인정보처리방침</a>
                            <a href="#">Link4(미정)</a>
                            <a href="#">Link5(미정)</a>
                        </li>
                        <li class="address">서울특별시 강남구 강남대로 146길 25(에코스페이스) 4층, 5층</li>
                        <li class="contact">                            
                            <span>jobjob@echoit.co.kr</span>
                            <span>TEL 02-6342-8021</span>
                            <span>FAX 02-864-8021</span>
                        </li>
                        <li class="copyRight">Copyright ⓒ2023 ECHOIT. All rights reserved.</li>
                    </ul>
                </footer>
            </div>
            <!--//분리가능-->
        </div>
    </section>


    <!--약관보기 팝업-->
    <div id="agreementFull" class="modalLayer center is-active">
        <div class="layerBox responsive">
            <div class="modalHeader">
                <button class="ico layerClose"></button>   
            </div>
            <div class="modalCont">
                <h3>약관 타이틀</h3>                
                <h4 class="mainC">잡잡 개인정보처리방침</h4>
                <div class="yScroll">
                    약관 내용 필요         
                </div>
            </div>
            <div class="modalFooter single">
                <button class="white layerClose">닫기</button>
            </div>
        </div>
        <div class="layerDim"></div>  
    </div>
    <!--//약관보기 팝업-->






    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../assets/js/script.js"></script>  
    <script>
        //담당자연락처보기
        $(".tipBtn").on("click", function(){
            $(this).next('.toolBox').toggleClass("is-active");
        });
    </script>  
</body>
</html>