<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지원이력</title>
    <link rel="stylesheet" href="../assets/css/style.css">

</head>

<body>
    <section id="wrapperNew" class="wrapperNew typeWide bgImgBlue page_mypage applyList">
        <div class="wrapperIn">

            <div class="containerWrap ">
                <div class="container noFixedBtArea">
                    <div id="header">
                        <div class="headerIn">
                            <div class="h1TitleArea">
                                <h1 class="h1Title typeImg">
                                    <a href="#"><img src="../assets/img/icoLogo_w.png" class="h1Img" alt="JOBJOB"></a>
                                </h1>
                            </div>                            
                            <div class="dropdownWrap gnbArea">                                
                                <div class="dropdownBtn">
                                    <div class="profileBox">
                                        <div class="profileImg profile-md">
                                            <!--img src="../assets/img/202403/temp-profile.png" alt="프로필 사진"-->
                                        </div>
                                        <span class="profileTxt"><span>홍길동</span>님</span>
                                    </div>                                    
                                </div>
                                <div class="dropdownMenu">
                                    <ul class="menuList">
                                        <li>
                                            <a href="#" class="item"><i class="iconArea iconMenu mypage"><span class="txt">마이페이지</span></i></a>
                                        </li>
                                        <li>
                                            <a href="#" class="item"><i class="iconArea iconMenu myApply"><span class="txt">지원이력</span></i></a>
                                        </li>
                                        <li>
                                            <a href="#" class="item"><i class="iconArea iconMenu myResume"><span class="txt">내이력서</span></i></a>
                                        </li>
                                        <li>
                                            <button type="button" class="item txtType"><i class="iconArea iconMenu modMyinfo"><span class="txt">회원정보 수정</span></i></button>
                                        </li>
                                        <li>                                            
                                            <button type="button" class="item txtType"><i class="iconArea iconMenu logout"><span class="txt">로그아웃</span></i></button>
                                        </li>
                                    </ul>
                                </div>
                            </div> <!--// .dropdownWrap -->
                        </div> <!--// .headerIn -->
                    </div> <!--// #header -->
                    <div id="content">                                            
                        <div class="contsArea">                            
                            <div class="contsBoxHead flexBwGap">
                                <div class="mainParts flex1">
                                    <div class="pageTitleArea">
                                        <p class="pageTitle">지원이력</p>
                                        <p class="cntArea circle">21</p>
                                    </div>
                                    <div class="mt10">
                                        <ul class="bulTypeList typeAst">
                                            <li class="txt typeGray">진행중인 공고는 지원 후에도 이력서 파일을 수정할 수 있습니다.</li>
                                            <li class="txt typeGray">지원취소 후 재지원은 불가합니다.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!--// .contsBoxHead -->
                            <div class="contsBoxBody">
                                <div class="limitHeightBox typeBgGray typeBd round">
                                    
                                    <!-- 리스트 아이템 있음 //-->
                                    <div class="itemsListArea" style="display: ;">                                        
                                        <ul class="list">
                                            <li class="item">
                                                <div class="mainParts">
                                                    <div class="itemTit">
                                                        <span class="tit">[SM] 삼성전자 배송경쟁력 강화 및 Fullfilment 연계 개발 PMO삼성전자 배송경쟁력 강화 및 Fullfilment 연계 개발 PMO삼성전자 배송경쟁력 강화 및 Fullfilment 연계 개발 PMO삼성전자 배송경쟁력 강화 및 Fullfilment 연계 개발 PMO  </span>
                                                    </div>
                                                    <div class="itemInfo">
                                                        <ul class="barTypeList">
                                                            <li class="txt typeGray">지원일자 : <span class="ponit">2023.05.13</span></li>
                                                            <li class="txt typeGray">결과 : <span class="ponit">미열람</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="sideParts">
                                                    <div class="offerResultArea">
                                                        <i class="ico preview layerOpen" aria-controls="projApplyHis"><span class="sr-only">상세보기</span></i>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item">
                                                <div class="mainParts">
                                                    <div class="itemTit">
                                                        <span class="tit">[SM] 삼성전자 배송경쟁력 강화 및 Fullfilment 연계 개발 PMO</span>
                                                    </div>
                                                    <div class="itemInfo">
                                                        <ul class="barTypeList">
                                                            <li class="txt">지원일자 : <span class="ponit">2023.05.13</span></li>
                                                            <li class="txt">결과 : <span class="ponit sClear">최종합격</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="sideParts">
                                                    <div class="offerResultArea">
                                                        <i class="ico preview layerOpen" aria-controls="projApplyHis"><span class="sr-only">상세보기</span></i>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item">
                                                <div class="mainParts">
                                                    <div class="itemTit">
                                                        <span class="tit">[SM] 삼성전자 배송경쟁력 강화 및 Fullfilment 연계 개발 PMO</span>
                                                    </div>
                                                    <div class="itemInfo">
                                                        <ul class="barTypeList">
                                                            <li class="txt">지원일자 : <span class="ponit">2023.05.13</span></li>
                                                            <li class="txt">결과 : <span class="ponit sReject">불합격</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="sideParts">
                                                    <div class="offerResultArea">
                                                        <i class="ico preview layerOpen" aria-controls="projApplyHis"><span class="sr-only">상세보기</span></i>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul> <!--// ul.list -->
                                        <div class="txtCenter mt20 only-mo">
                                            <button class="txtType underline fsSmaller_x is-active">
                                                <i class="ico expand mr5"></i>더보기
                                            </button>
                                        </div>
                                    </div> <!--// .itemsListArea -->
                                    <!--// 리스트 아이템 있음 -->
                                    <!-- 리스트 아이템 없음 //-->
                                    <div class="noItemArea alignCenterArea" style="display: none;">                                        
                                        <div class="text big top">
                                            <strong>지원이력이 없습니다.</strong>
                                        </div>
                                    </div>
                                    <!--// 리스트 아이템 없음 -->                                    

                                </div> <!--// .limitHeightBox -->
                                <!-- 페이징 //-->
                                <div class="listBottom justifyContentCenter only-pc">
                                    <div class="paging">
                                        <ul>
                                            <li class="pagingDouble">
                                                <a href="#">
                                                    <span class="ico pagingFirst"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="ico pagingLeft"></span>
                                                </a>
                                            </li>
                                            <li class="is-active"><a>1</a></li>
                                            <li><a>2</a></li>
                                            <li><a>3</a></li>
                                            <li>
                                                <a href="#">
                                                    <span class="ico pagingRight is-active"></span>
                                                </a>
                                            </li>
                                            <li class="pagingDouble">
                                                <a href="#">
                                                    <span class="ico pagingLast is-active"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--// 페이징 -->
                            </div> <!--// .contsBoxBody -->
                        </div> <!--// .contsArea -->                    
                    </div> <!--// #content -->
                    <div id="footer">
                        <div class="footerIn">
                            <ul class="footList type2">
                                <li class="item link">
                                    <a href="http://echoit.co.kr/company/company.html" target="_blank">회사소개</a>
                                    <a href="#">이용약관</a>
                                    <a href="#">개인정보처리방침</a>
                                    <a href="#">Link4(미정)</a>
                                </li>
                                <li class="item address">서울특별시 강남구 강남대로 146길 25(에코스페이스) 4층</li>
                                <li class="item contact">
                                    <span class="compEmail">jobjob@echoit.co.kr</span>
                                    <span>TEL 02-6342-8021</span>
                                    <span>FAX 02-864-8021</span>
                                </li>
                                <li class="item copyRight">Copyright ⓒ2023 ECHOIT. All rights reserved.</li>
                            </ul>
                        </div>
                    </div> <!--// #footer -->
                </div> <!--// .container -->
            </div> <!--// .containerWrap -->


        </div> <!--// .wrapperIn -->
    </section> <!--// #wrapperNew -->


    <div id="projApplyHis" class="modalLayer type2 center">
        <div class="layerBox responsive">
            <div class="modalHeader">
                <p class="popTitle">지원정보</p>
                <button class="ico layerClose"></button>
            </div>
            <div class="modalCont ">                

                <div class="inputList">
                    <ul>
                        <li class="liTop">
                            <p class="liTit">모집공고</p>
                            <p class="liTxt">
                                대기업 B2B 주문 프로세스 개선 기획자 모집(즉시 출근자 우대)
                            </p>
                        </li>
                        <li class="wishPay">
                            <p class="liTit">희망단가(선택)</p>
                            <input type="text" placeholder="단위 : 만원" value="850만원" readonly>

                            <input type="checkbox" id="bb" class="hasTxt" disabled>
                            <label for="bb" class="ml10">협의</label>                                
                        </li>
                        <li class="attResume">
                            <p class="liTit">이력서 첨부(필수)</p>
                            <div class="uploadBox">
                                <div class="inputGroup upload">
                                    <div class="drop" style="display: none;">
                                        <i class="ico fileUpload"></i>
                                        <label for="fileUpload">
                                            이력서를 첨부해 주세요.<br>
                                            (파일 최대 5개, 100MB 이하)                                                      
                                        </label>
                                    </div>
                                    <div class="list">
                                        <ul class="list_ul firstLiMt0">
                                            <li>
                                                <span class="fileName disabled">test.JPG</span>
                                                <span class="volume">45 KB</span>
                                                <i class="ico delete_bg"></i>
                                            </li>
                                            <li>
                                                <span class="fileName disabled">test.JPG</span>
                                                <span class="volume">45 KB</span>
                                                <i class="ico delete_bg"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            
                                <label for="attachFile" class="">파일선택</label>
                                <input type="file" name="attachFile" id="attachFile" class="" tabindex="" style="display: none;">
                            </div>
                            <p class="error is-active">실행가능한 파일은 보안의 이유로 첨부하실 수 없습니다.</p>
                            <p class="error is-active">파일은 최대 5개까지 첨부할 수 있습니다.</p>
                            <p class="error is-active">파일은 최대 100mb까지 첨부할 수 있습니다.</p>
                        </li>
                    </ul>
                </div> <!--// .inputList -->

            </div> <!--// .modalCont -->
            <div class="modalFooter">
                <div class="btnArea typeBw">
                    <button class="bdType layerClose">지원취소</button>
                    <button class="layerClose">수정</button>
                </div>
                <!--div class="btnArea single">
                    <button class="layerClose">수정완료</button>
                </div-->
            </div>
        </div>        
        <div class="layerDim"></div>    
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../assets/js/script.js"></script>
    <script>
    $("body").on("click", function(e){            
        let dropdownMenu = $(".dropdownMenu");
        if($(e.target).hasClass('dropdownBtn') || $(e.target).parents().hasClass('dropdownBtn')){
            console.log(0)
            $(e.target).parents(".dropdownWrap").find('.dropdownMenu').toggleClass("is-active");
        } else if($(e.target).hasClass('dropdownMenu') || $(e.target).parents().hasClass('dropdownMenu')){
            console.log(1)
            return;
        } else {
            console.log(2)
            dropdownMenu.removeClass("is-active");
        }  
    });
    </script>

</body>

</html>