<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYPROJECT</title>
    
    <link rel="stylesheet" href="../assets/css/style.css">

</head>
<body>

    <div class="layoutWrapper">
        <div class="gnbWrapper">
            <div class="gnb">
                <div class="navCtrlBtn">
                    <i class="ico ctrlBtn"></i>
                </div>
                <nav class="navWrapper">
                    <ul>
                        <li><a href="#"><i class="ico home"></i><span class="menuTxt">홈</span><i></i></a></li>
                        <li><a href="#"><i class="ico member"></i><span class="menuTxt">회원</span><i></i></a></li>
                        <li><a href="#"><i class="ico project"></i><span class="menuTxt">프로젝트</span><i></i></a></li>
                        <li><a href="#"><i class="ico homepage"></i><span class="menuTxt">홈페이지</span><i></i></a></li>
                        <li><a href="#"><i class="ico event"></i><span class="menuTxt">이벤트/배너</span><i></i></a></li>
                        <li><a href="#"><i class="ico ask"></i><span class="menuTxt">고객문의</span><i></i></a></li>
                        <li><a href="#"><i class="ico stats"></i><span class="menuTxt">통계</span><i></i></a></li>
                        <li><a href="#"><i class="ico admin"></i><span class="menuTxt">운영자관리</span><i></i></a></li>
                        <li><a href="#"><i class="ico system"></i><span class="menuTxt">시스템관리</span><i></i></a></li>
                        <li><a href="#"><i class="ico commonCode"></i><span class="menuTxt">공통코드</span><i></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>   
        
        <div class="contWrapper">
            <div class="header">
                <div class="adminManage">
                    <div class="tabType">
                        <input type="radio" id="MyProject" name="category" value="MyProject" checked>
                        <label for="MyProject">My Project</label>
                        <input type="radio" id="MyPeople" name="category" value="MyPeople">
                        <label for="MyPeople">My People</label>
                    </div>
                </div>
                <div class="userInfo">
                    <ul>
                        <li><a href="#"><i class="ico info"></i></a></li>
                        <li><a href="#"><i class="ico setting"></i></a></li>
                        <li>
                            <a href="#">
                                <img src="" alt="사용자이미지">
                                <span>홍길동</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="contLayout">
                <div class="myProjList">
                    <div class="boxListWrap">
                        <!--boxList-->
                        <div class="boxList is-active">
                            <div class="head">
                                <span class="deadline dNear">
                                    <span class="point">중요</span>
                                    [부분임박]
                                </span>
                                <span class="button label">SM</span>
                            </div>
                            <div class="title">
                                CJ프레시웨이 온리원푸드넷 CJ프레시웨이 온리원푸드넷 UI,UX 고도화 및 주문 - 마포구
                            </div>
                            <div class="bottom">~4/30(토)</div>
                        </div>
                        <!--//boxList-->
                        
                        <div class="boxList">
                            <div class="head">
                                <span class="deadline dOngoing">
                                    [모집중]
                                </span>
                                <span class="button label">SM</span>
                            </div>
                            <div class="title">
                                골프존유통 유지보수 - 강남구
                            </div>
                            <div class="bottom">~4/30(토)</div>
                        </div>
                        
                        <div class="boxList">
                            <div class="head">
                                <span class="deadline dNone">
                                    [공고미등록]
                                </span>
                                <span class="button label">SM</span>
                            </div>
                            <div class="title">
                                CJ프레시웨이 온리원푸드넷 CJ프레시웨이 온리원푸드넷 UI,UX 고도화 및 주문 - 마포구
                            </div>
                            <div class="bottom">~4/30(토)</div>
                        </div>
                        
                        <div class="boxList">
                            <div class="head">
                                <span class="deadline dNear">
                                    [임박]
                                </span>
                                <span class="button label">SI</span>
                            </div>
                            <div class="title">
                                CJ프레시웨이 온리원푸드넷 CJ프레시웨이 온리원푸드넷 UI,UX 고도화 및 주문 - 마포구
                            </div>
                            <div class="bottom">~4/30(토)</div>
                        </div>
                        
                        <div class="boxList">
                            <div class="head">
                                <span class="deadline dOngoing">
                                    [모집중]
                                </span>
                                <span class="button label">SM</span>
                            </div>
                            <div class="title">
                                골프존유통 유지보수 - 강남구
                            </div>
                            <div class="bottom">~4/30(토)</div>
                        </div>
                        
                        <div class="boxList">
                            <div class="head">
                                <span class="deadline dNone">
                                    [공고미등록]
                                </span>
                                <span class="button label">SM</span>
                            </div>
                            <div class="title">
                                CJ프레시웨이 온리원푸드넷 CJ프레시웨이 온리원푸드넷 UI,UX 고도화 및 주문 - 마포구
                            </div>
                            <div class="bottom">~4/30(토)</div>
                        </div>
                        
                        <div class="boxList">
                            <div class="head">
                                <span class="deadline dNear">
                                    [임박]
                                </span>
                                <span class="button round label">SI</span>
                            </div>
                            <div class="title">
                                CJ프레시웨이 온리원푸드넷 CJ프레시웨이 온리원푸드넷 UI,UX 고도화 및 주문 - 마포구
                            </div>
                            <div class="bottom">~4/30(토)</div>
                        </div>
                    </div>
                    <div class="listBottom pagingType">                        
                        <div class="paging">
                            <ul>
                                <li><a href="#">
                                    <span class="ico paging left"></span>
                                </a></li>
                                <li>
                                    3개 중 <span class="is-active">1-3</span>
                                </li>
                                <li><a href="#">
                                    <span class="ico paging right"></span>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="myProjDetail">
                    <div class="boxWrap">
                        <div class="head">
                            <p class="key">
                                <span>영업(미지정)</span>
                                <span>소싱(김진곤, 한아라)</span>
                            </p>
                            <span class="deadline dNear">
                                <span class="point">중요</span>
                                [부분임박]
                            </span>
                        </div>
                        <div class="title">
                            CJ프레시웨이 온리원 푸드넷 UI, UX 고도화 - 마포
                        </div>

                        <div class="part">
                            <ul class="flex">
                                <li class="boxList">
                                    전체 (7)<br>(총 3명 지원)
                                </li>
                                <li class="boxList">
                                    개발 (4)<br>(미열람 0 )
                                </li>
                                <li class="boxList">
                                    기획 (1)<br>(미열람 0 )
                                </li>
                                <li class="boxList">
                                    디자인 (4)<br>(미열람 0 )
                                </li>
                                <li class="boxList">
                                    퍼블리싱 (1)<br>(미열람 0 )
                                </li>
                            </ul>
                        </div>

                        <div class="bottom">
                            <span class="origin">2022. 04. 22 CJ프레시웨이 요청</span>
                            <span>
                                <a href="#" class="button white" target="_blank">공고보기</a>
                                <a href="#" class="button white">소싱마감</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="myProJob">
                    <div class="boxWrap">
                        <div class="partList">
                            <div class="jobPart">개발<br>직무</div>
                            <div class="partDetail">
                                <ul>
                                    <li class="is-active">
                                        전체
                                        <span class="memNum">10명</span>
                                    </li>
                                    <li>
                                        개발PL
                                        <a href="#" class="button label">고급</a>
                                        <span class="deadline sCancel">소싱마감</span>
                                        <span class="memNum">1명</span>
                                    </li>
                                    <li>
                                        웹개발
                                        <span class="deadline sCancel">공고미등록</span>
                                        <span class="memNum">1명</span>
                                    </li>
                                    <li>
                                        ios
                                        <a href="#" class="button label">고급</a>
                                        <span class="deadline dNear">~4/1(금) 임박</span>
                                        <span class="memNum">1명</span>
                                    </li>
                                    <li>
                                        개발PL
                                        <a href="#" class="button label">고급</a>
                                        <span class="deadline">~4/1(금) 임박</span>
                                        <span class="memNum">1명</span>
                                    </li>
                                    <li>
                                        웹개발
                                        <a href="#" class="button label">고급</a>
                                        <span class="memNum">1명</span>
                                    </li>
                                    <li>
                                        ios
                                        <a href="#" class="button label">고급</a>
                                        <span class="memNum">1명</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tabWrapper">
                            <ul class="tabBtnWrap wideType">
                                <li class="tabBtn prefix">
                                    <a href="#myProj-1" class="is-active">직무추천 (250)</a>
                                </li>
                                <li class="tabBtn suffix">
                                    <a href="#myProj-2">지원접수 (4)</a>
                                </li>
                            </ul>
                            <div class="tabContWrap">
                                <div id="myProj-1" class="tabCont is-active">
                                    <div class="hasBtn">
                                        <div class="hasBtn">       
                                            <button class="white midSize">
                                                <i class="ico filter"></i>
                                                필터
                                            </button>     
                                            <div class="inputIco">
                                                <button class="ico search"></button>
                                                <input type="text" id="search" class="" maxlength="" placeholder="이름, 스킬, 휴대폰 4자리,  메모 검색 (띄어쓰기로 and 검색)">
                                                <button class="ico search"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="myProj-2" class="tabCont">bbb</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--우측패널-->
                <div class="rPanelLayer">
                    우측패널 레이어
                </div>
                <div class="rPanel">
                    <ul>
                        <li><i class="ico searchMem"></i></li>
                        <li><i class="ico schedule"></i></li>
                        <li><i class="ico mail"></i></li>
                    </ul>
                </div>
                <!--우측패널-->
            </div>
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../assets/js/script.js"></script>

</body>
</html>