<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYPROJECT</title>
    
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <section class="layoutWrapper">
        <header>
            <div class="prefix">
                <a href="#" class="logo">
                    <img src="../assets/img/icoLogo.png" alt="">
                </a>
            </div>
            <div class="center">
                <a href="#" class="is-active">My Project</a>
                <a href="#">My People</a>
            </div>
            <div class="suffix">
                <ul>
                    <li class="userTeam"><a href="#">시스템통합사업본부 홍길동</a></li>
                    <li>
                        <a href="#">내정보 수정</a>
                        <a href="#" class="logState">로그아웃</a>
                    </li>
                </ul>
            </div>
        </header>

        <section class="gnbWrapper">
            <div class="gnb">
                <div class="navCtrlBtn">
                    <i class="ico ctrlBtn"></i>
                </div>
                <nav class="navWrapper">
                    <ul>
                        <li class="is-active"><a href="#"><i class="ico home"></i><span class="menuTxt">홈</span><i></i></a></li>
                        <li><a href="#"><i class="ico member"></i><span class="menuTxt">회원</span><i></i></a></li>
                        <li><a href="#"><i class="ico project"></i><span class="menuTxt">프로젝트</span><i></i></a></li>
                        <li><a href="#"><i class="ico homepage"></i><span class="menuTxt">홈페이지</span><i></i></a></li>
                        <li><a href="#"><i class="ico event"></i><span class="menuTxt">이벤트/배너</span><i></i></a></li>
                        <li><a href="#"><i class="ico ask"></i><span class="menuTxt">고객문의</span><i></i></a></li>
                        <li><a href="#"><i class="ico stats"></i><span class="menuTxt">통계</span><i></i></a></li>
                        <li><a href="#"><i class="ico admin"></i><span class="menuTxt">운영자관리</span><i></i></a></li>
                        <li><a href="#"><i class="ico system"></i><span class="menuTxt">시스템관리</span><i></i></a></li>
                        <li><a href="#"><i class="ico commonCode"></i><span class="menuTxt">공통코드</span><i></i></a></li>
                    </ul>
                </nav>
            </div>
        </section>   
        
        <section class="contWrapper">
            <section class="contLayout">
                <div class="default">
                    <div class="defaultBox">
                        <img class="photo" src="../assets/img/iconImg.jpg" alt="회원이미지">                  
                        <p class="notify">시스템 오류 및 개선 문의</p>
                        <p>홍길동  abc@echoit.co.kr</p>
                    </div>
                </div>     
            </section>
        </section>

        
        <!--우측패널-->
        <div class="rPanelLayer">
            <div class="rPanelBox">
                <div class="rPanelHeader">
                    <button class="ico layerClose rClose"></button>
                </div>
                <div class="rPanelCont">
                    <h4>회원검색</h4>
                    
                    <div class="hasBtn">  
                        <a href="#" class="button white midSize filter">
                            <i class="ico filter"></i>
                            필터
                        </a>     
                        <div class="inputIco">
                            <input type="text" id="search" class="" maxlength="" placeholder="이름, 스킬, 휴대폰 4자리,  메모 검색 (띄어쓰기로 and 검색)">
                            <button class="ico search"></button>
                        </div>
                    </div>
                    <div class="yScroll"><!--220907 위치수정 -ys -->
                        <div class="listTop">                                        
                            <input type="checkbox" id="chkAll" class="hasTxt">
                            <label for="chkAll"> 0 / 4</label>
                            
                            <input type="checkbox" id="chkLevel" class="hasTxt">
                            <label for="chkLevel" class="mr0"> 등급으로 보기</label>

                            <i class="ico setting"></i>
                        </div>

                        <div class="boxListWrap">            
                            <ul>
                                <!--boxList-->
                                <li class="boxList headType is-active"> 
                                    <div class="head">
                                        <span class="prefix">90.0 Special</span>
                                        <p class="suffix">
                                            <input type="checkbox" id="memChk_1" class="bMark" name="bMark" checked="">
                                            <label for="memChk_1"></label>
                                        </p>
                                    </div>  
                                    <div class="cont">
                                        <div class="prefix">
                                            <ul>
                                                <li class="memName">
                                                    <img class="photo" src="../assets/img/iconImg.jpg" alt="회원이미지">
                                                    <span>홍길순(여/29)</span>
                                                    <span>개발</span>
                                                    <span>에코</span>
                                                </li>
                                                <li class="memSkill">ASP JSP Oracle Oracle Java Java ASP JSP Oracle Oracle Java Java</li>
                                                <li>
                                                    <span>서울 강서</span>
                                                    <span>4년제 졸업</span>
                                                    <span class="memCareer">22년 4개월</span>
                                                </li>
                                                <li class="memMemo">
                                                    이력서에 <b>보험</b> 없는데 <b>보험</b> 이력이 있다고 함 
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="center">
                                            <a href="#" class="button round" target="_blank">이력서</a>
                                        </div>
                                        <div class="suffix">
                                            22/12/31부터<br>제안가능      
                                        </div>
                                    </div>
                                </li>
                                <!--//boxList-->
                                
                                <li class="boxList headType">
                                    <div class="head">
                                        <span class="prefix">90.0 Special</span>
                                        <p class="suffix">
                                            <input type="checkbox" id="memChk_2" class="bMark" name="bMark">
                                            <label for="memChk_2"></label>
                                        </p>
                                    </div>  
                                    <div class="cont">
                                        <div class="prefix">
                                            <ul>
                                                <li class="memName">
                                                    <img class="photo" src="../assets/img/iconImg.jpg" alt="회원이미지">
                                                    <span>홍길순(여/29)</span>
                                                    <span>개발</span>
                                                    <span>에코</span>
                                                </li>
                                                <li class="memSkill">ASP JSP Oracle Oracle Java Java ASP JSP Oracle Oracle Java Java</li>
                                                <li>
                                                    <span>서울 강서</span>
                                                    <span>4년제 졸업</span>
                                                    <span class="memCareer">22년 4개월</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="center">
                                            <a href="#" class="button round disabled" target="_blank">이력서</a>
                                        </div>
                                        <div class="suffix">
                                            수신미동의      
                                        </div>
                                    </div>
                                </li>
                                
                                <li class="boxList headType">
                                    <div class="head">
                                        <span class="prefix">90.0 Special</span>
                                        <p class="suffix">
                                            <input type="checkbox" id="memChk_3" class="bMark" name="bMark">
                                            <label for="memChk_3"></label>
                                        </p>
                                    </div>  
                                    <div class="cont">
                                        <div class="prefix">
                                            <ul>
                                                <li class="memName">
                                                    <img class="photo" src="../assets/img/iconImg.jpg" alt="회원이미지">
                                                    <span>홍길순(여/29)</span>
                                                    <span>개발</span>
                                                    <span>에코</span>
                                                </li>
                                                <li class="memSkill">ASP JSP Oracle Oracle Java Java ASP JSP Oracle Oracle Java Java</li>
                                                <li>
                                                    <span>서울 강서</span>
                                                    <span>4년제 졸업</span>
                                                    <span class="memCareer">22년 4개월</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="center">
                                            <a href="#" class="button round" target="_blank">이력서</a>
                                        </div>
                                        <div class="suffix">
                                            제안불가<br>(부회원) 
                                        </div>
                                    </div>
                                </li>
                                
                                <li class="boxList headType">
                                    <div class="head">
                                        <span class="prefix">90.0 Special</span>
                                        <p class="suffix">
                                            <input type="checkbox" id="memChk_4" class="bMark" name="bMark">
                                            <label for="memChk_4"></label>
                                        </p>
                                    </div>  
                                    <div class="cont">
                                        <div class="prefix">
                                            <ul>
                                                <li class="memName">
                                                    <img class="photo" src="../assets/img/iconImg.jpg" alt="회원이미지">
                                                    <span>홍길순(여/29)</span>
                                                    <span>개발</span>
                                                    <span>에코</span>
                                                </li>
                                                <li class="memSkill">ASP JSP Oracle Oracle Java Java ASP JSP Oracle Oracle Java Java</li>
                                                <li>
                                                    <span>서울 강서</span>
                                                    <span>4년제 졸업</span>
                                                    <span class="memCareer">22년 4개월</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="center">
                                            <a href="#" class="button round disabled" target="_blank">메모(3)</a>
                                        </div>
                                        <div class="suffix">
                                            수신미동의      
                                        </div>
                                    </div>
                                </li>
                                
                                <li class="boxList headType">
                                    <div class="head">
                                        <span class="prefix">90.0 Special</span>
                                        <p class="suffix">
                                            <input type="checkbox" id="jobChk_2" class="bMark" name="bMark">
                                            <label for="jobChk_2"></label>
                                        </p>
                                    </div>  
                                    <div class="cont">
                                        <div class="prefix">
                                            <ul>
                                                <li class="memName">
                                                    <img class="photo" src="../assets/img/iconImg.jpg" alt="회원이미지">
                                                    <span>홍길순(여/29)</span>
                                                    <span>개발</span>
                                                    <span>에코</span>
                                                </li>
                                                <li class="memSkill">ASP JSP Oracle Oracle Java Java ASP JSP Oracle Oracle Java Java</li>
                                                <li>
                                                    <span>서울 강서</span>
                                                    <span>4년제 졸업</span>
                                                    <span class="memCareer">22년 4개월</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="center">
                                            <a href="#" class="button round disabled" target="_blank">메모(3)</a>
                                        </div>
                                        <div class="suffix">
                                            수신미동의      
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        
                        <!--220913 추가 ys -->
                        <a href="#" class="goTop">
                            <i class="ico top"></i>
                        </a>
                        <!--//220913 추가 ys -->
                    </div>

                    <div class="listBottom pagingType">                        
                        <div class="paging">
                            <ul>
                                <li class="pagingDouble">
                                    <a href="#">
                                        <span class="ico left2_dou"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="ico left2"></span>
                                    </a>
                                </li>
                                <li class="is-active">1</li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">6</a></li>
                                <li><a href="#">7</a></li>
                                <li><a href="#">8</a></li>
                                <li><a href="#">9</a></li>
                                <li><a href="#">10</a></li>
                                <li>
                                    <a href="#">
                                        <span class="ico right2 is-active"></span>
                                    </a>
                                </li>
                                <li class="pagingDouble">
                                    <a href="#">
                                        <span class="ico right2_dou is-active"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filterWrapper">
                <div class="filterTop">
                    <h4>필터</h4>
                    <a href="#" class="ico refresh"></a>
                </div>                    
                
                <div class="filterList">
                    <div class="tit">등급</div>  

                    <input type="checkbox" id="lv3" name="level" class="hasTxt">
                    <label for="lv3">특급</label>                     
                    <input type="checkbox" id="lv2" name="level" class="hasTxt">
                    <label for="lv2">고급</label>                     
                    <input type="checkbox" id="lv1" name="level" class="hasTxt">
                    <label for="lv1">중급</label>                     
                    <input type="checkbox" id="lv0" name="level" class="hasTxt">
                    <label for="lv0">초급</label>
                </div>       

                <div class="filterList">
                    <div class="tit">학력</div>  

                    <input type="radio" id="eduLv3" name="eduLevel" class="hasTxt">
                    <label for="eduLv3">대졸이상</label>
                    <input type="radio" id="eduLv2" name="eduLevel" class="hasTxt">
                    <label for="eduLv2">초대졸 이상</label>
                    <input type="radio" id="eduLv1" name="eduLevel" class="hasTxt">
                    <label for="eduLv1">고졸 이상</label>
                    <input type="radio" id="eduLv0" name="eduLevel" class="hasTxt">
                    <label for="eduLv0">전체(default)</label>
                    
                    <!-- 220913 수정 -ys
                    <input type="checkbox" id="eduLv3" name="eduLevel" class="hasTxt">
                    <label for="eduLv3">대졸이상</label>                     
                    <input type="checkbox" id="eduLv2" name="eduLevel" class="hasTxt">
                    <label for="eduLv2">초대졸 이상</label>                     
                    <input type="checkbox" id="eduLv1" name="eduLevel" class="hasTxt">
                    <label for="eduLv1">고졸 이상</label>                     
                    <input type="checkbox" id="eduLv0" name="eduLevel" class="hasTxt">
                    <label for="eduLv0">전체(default)</label> -->
                </div>      
                
                <div class="filterList">
                    <div class="tit">정보처리기사</div>  

                    <input type="checkbox" id="license1" name="license" class="hasTxt">
                    <label for="license1">있음</label>                     
                    <input type="checkbox" id="license0" name="license" class="hasTxt">
                    <label for="license0">없음</label>       
                </div>  
                
                <div class="filterList">
                    <div class="tit">KOSA</div>  

                    <input type="checkbox" id="kosa1" name="kosa1" class="hasTxt">
                    <label for="kosa1">있음</label>                     
                    <input type="checkbox" id="kosa0" name="kosa1" class="hasTxt">
                    <label for="kosa0">없음</label>       
                </div>    
                
                <div class="filterList">
                    <div class="tit">평가</div>  

                    <input type="radio" id="score3" name="score" class="hasTxt">
                    <label for="score3">90점 이상</label>  
                    <input type="radio" id="score2" name="score" class="hasTxt">
                    <label for="score2">80점 이상</label> 
                    <input type="radio" id="score1" name="score" class="hasTxt">
                    <label for="score1">70점 이상</label>   
                    <input type="radio" id="score0" name="score" class="hasTxt">
                    <label for="score0">전체(default)</label>    

                    <!-- 220913 수정 -ys
                    <input type="checkbox" id="score3" name="score" class="hasTxt">
                    <label for="score3">90점 이상</label>                     
                    <input type="checkbox" id="score2" name="score" class="hasTxt">
                    <label for="score2">80점 이상</label>  
                    <input type="checkbox" id="score1" name="score" class="hasTxt">
                    <label for="score1">70점 이상</label>                     
                    <input type="checkbox" id="score0" name="score" class="hasTxt">
                    <label for="score0">전체(default)</label>-->     
                </div>             
            </div>
        </div>
        <div class="rPanel">
            <ul>
                <li><i class="ico searchMem"></i></li>
                <li><i class="ico schedule"></i></li>
                <li><i class="ico mail"></i></li>
            </ul>
        </div>
        <!--우측패널-->
    </section>
    
    <!--문자보내기 팝업-->
    <div id="layer_offer" class="modalLayer center">
        <div class="layerBox">
            <div class="modalHeader">
                <button class="ico layerClose"></button>
            </div>
            <div class="modalCont">
                <div class="tabWrapper">
                    <ul class="tabBtnWrap btnType wideType">
                        <li class="tabBtn">
                            <a href="#offer_message" class="is-active">문자</a>
                        </li>
                        <li class="tabBtn">
                            <a href="#offer_mail">메일</a>
                        </li>
                    </ul>
                    <div class="tabContWrap">
                        <div id="offer_message" class="tabCont is-active">

                            <div class="inputList">   
                                <ul>
                                    <li>
                                        <label class="need" for="receiver">프로젝트 이름</label>
                                        <input class="full" type="text" id="receiver" maxlength="" placeholder="받는 사람">
                                    </li>
                                    <li>
                                        <label for="receiver">첨부파일</label>

                                        <div class="uploadBox">
                                            <div class="inputGroup upload">
                                                <div class="drop">여기에 첨부 파일을 끌어오세요.</div>
                                                <div class="list">
                                                    <ul class="list_ul"></ul>
                                                </div>
                                            </div>
                                        
                                            <label for="cycleDocument" class="">또는 직접선택</label>
                                            <input type="file" name="cycleDocument" id="cycleDocument" class="" tabindex="" />
                                        </div>

                                        <p class="error is-active">jpg, jpeg 이미지만 첨부할 수 있습니다.</p> 
                                    </li>
                                    <li>
                                        <textarea name="" id="" rows="13"></textarea>
                                        <p class="counter">글자 수 50자</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="offer_mail" class="tabCont">bbb</div>
                    </div>
                </div>
            </div>
            <div class="modalFooter">
                    <button class="fullSize white prefix layerClose">닫기</button>
                    <button class="fullSize suffix">문자보내기</button>
            </div>
        </div>        
        <div class="layerDim"></div>    
    </div>
    <!--//문자보내기 팝업-->

    <!--221007 컴펌팝업-->
    <div id="delMessage" class="modalLayer center">
        <div class="layerBox confirmType">
            <div class="modalCont center">메모를 삭제하시겠습니까?</div>
            <div class="modalFooter halfType">
                <button class="fullSize white prefix layerClose">취소</button>
                <button class="fullSize suffix layerClose">확인</button>
            </div>
        </div>        
        <div class="layerDim"></div>    
    </div>
    <!--//221007 컴펌팝업-->



    <!--221110 평가 팝업-->
    <div id="memScore" class="modalLayer center">
        <div class="layerBox filterType">
            <div class="modalHeader">
                <button class="ico layerClose"></button>   
            </div>
            <div class="modalCont">    
                <h5>평가</h5>                  

                <div class="filterList">
                    <div class="btnType type2 lowSize">
                        <input type="radio" id="bb1" name="aa" class="hasTxt">
                        <label for="bb1">전체</label>
                        <input type="radio" id="bb2" name="aa" class="hasTxt" checked="">
                        <label for="bb2">스페셜 회원만</label>
                    </div>

                    <div class="mt20">
                        <input type="radio" id="score90" name="score" value="score90" class="hasTxt">
                        <label for="score90">90점 이상</label>                   
                        <input type="radio" id="score80" name="score" value="score80" class="hasTxt">
                        <label for="score80">80점 이상</label>                  
                        <input type="radio" id="score70" name="score" value="score70" class="hasTxt">
                        <label for="score90">70점 이상</label>                     
                        <input type="radio" id="scoreAll" name="score" value="scoreAll" class="hasTxt"  checked="">
                        <label for="scoreAll">전체</label>
                    </div>
                </div>
            </div>
        </div>        
        <div class="layerDim"></div>    
    </div>
    <!--//221110 평가 팝업-->
    
    <!--221110 소속 팝업-->
    <div id="memGroup" class="modalLayer center">
        <div class="layerBox filterType">
            <div class="modalHeader">
                <button class="ico layerClose"></button>   
            </div>
            <div class="modalCont">     
                <h5>소속</h5>                  

                <div class="filterList">
                    <input type="checkbox" id="bb1" name="aa" class="hasTxt">
                    <label for="bb1">전체</label>
                    <input type="checkbox" id="bb2" name="aa" class="hasTxt" checked="">
                    <label for="bb2">에코</label>
                    <input type="checkbox" id="bb1" name="aa" class="hasTxt">
                    <label for="bb1">협력</label>
                    <input type="checkbox" id="bb2" name="aa" class="hasTxt" checked="">
                    <label for="bb2">대행</label>
                    <input type="checkbox" id="bb1" name="aa" class="hasTxt">
                    <label for="bb1">프리</label>
                </div>
            </div>
        </div>        
        <div class="layerDim"></div>    
    </div>
    <!--//221110 소속 팝업-->
    
    <!--221110 성별 팝업-->
    <div id="memGender" class="modalLayer center">
        <div class="layerBox filterType">
            <div class="modalHeader">
                <button class="ico layerClose"></button>   
            </div>
            <div class="modalCont"> 
                <h5>성별/나이</h5>              

                <div class="filterList">
                    <div class="btnType type2 lowSize">
                        <input type="radio" id="gender" name="gender" class="hasTxt">
                        <label for="gender">전체</label>
                        <input type="radio" id="male" name="gender" class="hasTxt" checked="">
                        <label for="male">남자</label>
                        <input type="radio" id="female" name="gender" class="hasTxt" checked="">
                        <label for="female">여자</label>
                    </div>

                    <div class="mt20">
                        <div class="flexBetween">
                            <input type="text" class="xsSize">
                            ~
                            <input type="text" class="xsSize">
                        </div>
                        <button class="fullSize mt20">적용</button>
                    </div>
                </div>
            </div>
        </div>        
        <div class="layerDim"></div>    
    </div>
    <!--//221110 성별 팝업-->    
    
    <!--221110 학력 팝업-->
    <div id="memEdu" class="modalLayer center">
        <div class="layerBox filterType">
            <div class="modalHeader">
                <button class="ico layerClose"></button>   
            </div>
            <div class="modalCont"> 
                <h5>학력</h5>                

                <div class="filterList">
                    <div class="mt20">
                        <input type="radio" id="eduLv3" name="eduLevel" class="hasTxt">
                        <label for="eduLv3">대졸이상</label>                   
                        <input type="radio" id="eduLv2" name="eduLevel" class="hasTxt">
                        <label for="eduLv2">초대졸 이상</label>                  
                        <input type="radio" id="eduLv1" name="eduLevel" class="hasTxt">
                        <label for="eduLv1">고졸 이상</label>                     
                        <input type="radio" id="eduLv0" name="eduLevel" class="hasTxt" checked="">
                        <label for="eduLv0">전체</label>
                    </div>
                </div>
            </div>
        </div>        
        <div class="layerDim"></div>    
    </div>
    <!--//221110 학력 팝업-->
    
    <!--221110 거주지 팝업-->
    <div id="memArea" class="modalLayer center">
        <div class="layerBox filterType laSize">
            <div class="modalHeader">
                <button class="ico layerClose"></button>   
            </div>
            <div class="modalCont"> 
                <h5>회원 거주지 선택</h5>                

                <div class="filterList mt50">
                    <div class="listBox flex">
                        <div class="prefix">
                            <ul class="chkWrap boxListType">
                                <li>
                                    <input type="checkbox" id="aSeoul">
                                    <label for="aSeoul">서울 <span class="eHigh">(3개 선택)</span></label>
                                </li>
                                <li>
                                    <input type="checkbox" id="aGyeonggi">
                                    <label for="aGyeonggi">경기</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="aIncheon">
                                    <label for="chk_2">인천</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="aDaejeon">
                                    <label for="aDaejeon">대전</label>  
                                </li>
                                <li>
                                    <input type="checkbox" id="aDaegu">
                                    <label for="aDaegu">대구</label>   
                                </li>
                                <li>
                                    <input type="checkbox" id="aBusan">
                                    <label for="aBusan">부산</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="aUlsan">
                                    <label for="aUlsan">울산</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="aJeju">
                                    <label for="aJeju">제주</label>   
                                </li>
                                <li>
                                    <input type="checkbox" id="aJeju">
                                    <label for="aJeju">제주</label>   
                                </li>
                            </ul>
                        </div>
                        <div class="suffix">    
                            <ul class="chkWrap boxListType listType">
                                <li>
                                    <input type="checkbox" id="seoulAll" class="chkAll">
                                    <label for="seoulAll">서울전지역</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="seoul_a" class="chkEach" checked="">
                                    <label for="seoul_a">강남구</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="seoul_b" class="chkEach">
                                    <label for="seoul_b">강동구</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="seoul_c" class="chkEach">
                                    <label for="seoul_c">강북구</label>  
                                </li>
                                <li>
                                    <input type="checkbox" id="seoul_d" class="chkEach">
                                    <label for="seoul_d">강서구</label>  
                                </li>
                                <li>
                                    <input type="checkbox" id="seoul_e" class="chkEach">
                                    <label for="seoul_e">관악구</label>   
                                </li>
                                <li>
                                    <input type="checkbox" id="seoul_f" class="chkEach">
                                    <label for="seoul_f">광진구</label>  
                                </li>
                                <li>
                                    <input type="checkbox" id="seoul_g" class="chkEach">
                                    <label for="seoul_g">강남구</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="seoul_h" class="chkEach">
                                    <label for="seoul_h">강동구</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="seoul_i" class="chkEach">
                                    <label for="seoul_i">강북구</label>  
                                </li>
                                <li>
                                    <input type="checkbox" id="seoul_j" class="chkEach">
                                    <label for="seoul_j">강서구</label>     
                                </li>
                                <li>
                                    <input type="checkbox" id="seoul_k" class="chkEach">
                                    <label for="seoul_k">관악구</label>   
                                </li>
                                <li>
                                    <input type="checkbox" id="seoul_l" class="chkEach">
                                    <label for="seoul_l">광진구</label>  
                                </li>
                                <li>
                                    <input type="checkbox" id="seoul_m" class="chkEach">
                                    <label for="seoul_m">강북구</label>  
                                </li>
                                <li>
                                    <input type="checkbox" id="seoul_n" class="chkEach">
                                    <label for="seoul_n">강서구</label>   
                                </li>
                                <li>
                                    <input type="checkbox" id="seoul_o" class="chkEach">
                                    <label for="seoul_o">관악구</label>   
                                </li>
                                <li>
                                    <input type="checkbox" id="seoul_p" class="chkEach">
                                    <label for="seoul_p">광진구</label>  
                                </li>
                                <li>
                                    <input type="checkbox" id="seoul_p" class="chkEach">
                                    <label for="seoul_p"></label>  
                                </li>
                            </ul>           
                        </div>
                    </div>
                </div>

                <div class="listBottom">
                    <button class="fullSize white prefix" disabled>선택초기화</button>
                    <button class="fullSize suffix">저장</button>
                </div>
            </div>
        </div>        
        <div class="layerDim"></div>    
    </div>
    <!--//221110 거주지 팝업-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../assets/js/script.js"></script>
    
    <script>
        selectBox();
        showMore();
        makeScroll();
        openFilter();
        chkAll(); 
        showMemo();
        // trToggle();
        autoTextarea();
        makeMemo();

        boxChk();
        memoFold();
    </script>
</body>
</html>