
<div class="gnb">
    <div class="navCtrlBtn">
        <i class="ico ctrlBtn"></i>
    </div>
    <nav class="navWrapper">
        <ul>
            <li>
                <a alerttoast="" href="dashboard.html"><i class="ico home"></i><span class="menuTxt">홈</span></a>
            </li>
            <li><a href="#"><i class="ico member"></i><span class="menuTxt">멤버</span></a>
                <ul>
                    <li><a href="#"><span class="depth2">직원</span></a></li>
                </ul>
            </li>                        
            <li><a href="#"><i class="ico project"></i><span class="menuTxt">거래처</span></a>
                <ul>
                    <li><a href="#"><span class="depth2">매출거래처</span></a></li>
                    <li><a href="#"><span class="depth2">매입거래처</span></a></li>
                </ul>
            </li>

            <li><a href="#"><i class="ico bizstate"></i><span class="menuTxt">사업관리</span></a>
                <ul>
                    <li><a href="#"><span class="depth2">사업현황</span></a></li>
                </ul>
            </li>
            <li class="is-active"><a href="#"><i class="ico tcount"></i><span class="menuTxt">매출/매입집계</span></a>
                <ul>                                
                    <li><a href="project_Sum.html"><span class="depth2">프로젝트별 매출/매입</span></a></li>
                    <li><a href="inputType_Sum.html"><span class="depth2">투입유형별 매출/매입</span></a></li>
                    <li class="is-active"><a href="sourcing_Sum.html"><span class="depth2">외주 매출/매입</span></a></li>
                </ul>
            </li>
            <li><a href="#"><i class="ico ledger"></i><span class="menuTxt">매입원장</span></a>
                <ul>
                    <li><a href="businessIncomeStatement.html"><span class="depth2">사업소득명세서</span></a></li>
                    <li><a href="PurchaseLedger.html"><span class="depth2">매입원장(법인/개인)</span></a></li>
                </ul>
            </li>
            <li><a href="#"><i class="ico calculation"></i><span class="menuTxt">보험료 대사</span></a>
                <ul>
                    <li><a href="calculation_industrialAccident.html"><span class="depth2">산재보험료대사</span></a></li>
                    <li><a href="calculation_employmentIInsurance.html"><span class="depth2">고용보험료대사</span></a></li>
                </ul>
            </li>
            <li><a href="#"><i class="ico admin"></i><span class="menuTxt">운영자관리</span></a></li>                        
            <li><a href="#"><i class="ico system"></i><span class="menuTxt">시스템관리</span></a></li>                        
        </ul>
    </nav>
</div>