<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>외주 매출/매입</title>
    
    <!-- <link rel="stylesheet" href="../assets/css/style.css"> -->
    <link rel="stylesheet" href="../assets/css/style_pms.css">

</head>
<body>

    <section class="layoutWrapper">
        <header>
            <div class="prefix">
                <a href="#" class="logo">
                    <img src="../assets/img/pms/icoLogo.png" alt="">
                </a>
            </div>
            <div class="suffix">
                <ul>
                    <li class="userTeam"><a href="#">시스템통합사업본부 홍길동</a></li>
                    <li><a href="#">내정보 수정</a></li>
                    <li>
                        <span aria-controls="showLevel" class="layerOpen">등급보기설정
                    </span></li>
                    <li><a href="#">로그아웃</a></li>
                    <li><a href="#">로그아웃a</a></li>
                    <li><a href="#">로그아웃s</a></li>
                </ul>
            </div>
        </header>

        <section class="gnbWrapper">
            <div class="gnb">
                <div class="navCtrlBtn">
                    <i class="ico ctrlBtn"></i>
                </div>
                <nav class="navWrapper">
                    <ul>
                        <li class="is-active">
                            <a alerttoast="" href="#"><i class="ico home"></i><span class="menuTxt">홈</span></a>
                        </li>
                        <li><a href="#"><i class="ico member"></i><span class="menuTxt">회원</span></a>
                            <ul>
                                <li><a href="#"><span class="depth2">프로젝트</span></a></li>
                                <li><a href="#"><span class="depth2">고객문의</span></a></li>
                                <li><a href="#"><span class="depth2">운영자관리</span></a></li>
                                <li><a href="#"><span class="depth2">시스템관리</span></a></li>
                                <li><a href="#"><span class="depth2">통계</span></a></li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="ico project"></i><span class="menuTxt">프로젝트</span></a>
                            <ul>
                                <li><a href="#"><span class="depth2">시스템관리</span></a></li>
                                <li><a href="#"><span class="depth2">통계</span></a></li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="ico admin"></i><span class="menuTxt">운영자관리</span></a></li>
                        
                    </ul>
                </nav>
            </div>
        </section>
        
        <section class="contWrapper noRight">
            <section class="contLayout">
                <section class="sourcingTotal">
                    <h2>외주 매출/매입</h2>
                    <div class="condition">
                        <ul>
                            <li>
                                <p class="condiTit">조회년도</p>
                                <select>
                                    <option value="">2023</option>
                                    <option value="001">1</option>
                                    <option value="002">2</option>
                                    <option value="003">3</option>
                                    <option value="004">4</option>
                                    <option value="005">5</option>
                                </select>
                            </li>
                             <li>
                                <p class="condiTit">주관그룹</p>
                                <div class="select laSize">
                                    <span class="selDefault">전체</span>
                                    <ul class="optionList">
                                        <li class="optionItem">
                                            <input type="checkbox" id="optChk_1" class="hasTxt">
                                            <label for="optChk_1">SAP 사업</label>
                                        </li>                                        
                                        <li class="optionItem">
                                            <input type="checkbox" id="optChk_2" class="hasTxt">
                                            <label for="optChk_2">SAP 전략</label>
                                        </li>
                                        <li class="optionItem">
                                            <input type="checkbox" id="optChk_3" class="hasTxt">
                                            <label for="optChk_3">SAP 융합</label>
                                        </li>
                                        <li class="optionItem">
                                            <input type="checkbox" id="optChk_4" class="hasTxt">
                                            <label for="optChk_4">대외사업</label>
                                        </li>
                                        <li class="optionItem">
                                            <input type="checkbox" id="optChk_5" class="hasTxt">
                                            <label for="optChk_5">미래융합사업</label>
                                        </li>
                                        <li class="optionItem">
                                            <input type="checkbox" id="optChk_5" class="hasTxt">
                                            <label for="optChk_5">플랫폼</label>
                                        </li>
                                        <li class="optionItem">
                                            <input type="checkbox" id="optChk_5" class="hasTxt">
                                            <label for="optChk_5">클라우드</label>
                                        </li>
                                    </ul>
                                </div>
                            </li>  
                            
                            <li>
                                <label class="condiTit" for="project2">사업유형</label>
                                <select class="mid-laSize">
                                    <option value="">전체</option>
                                    <option value="001">법인</option>
                                    <option value="002">사업</option>
                                    <option value="002">개인</option>
                                </select>
                            </li>
                            <li class="hasBtn">
                                <label class="condiTit" for="project2">검색어</label>                                
                                <input type="text" class="smSize" id="project2" maxlength="20" placeholder="거래처명 또는 거래처코드">
                                <button>
                                    <i class="ico search white"></i>
                                </button>
                            </li>                               
                        </ul>
                    </div>
                       
                    <div class="tableTop right">
                        <!-- <select class="smSize">
                            <option class="optionItem" value="10">10개씩</option>
                            <option class="optionItem" value="20" selected="">20개씩</option>
                            <option class="optionItem" value="50">50개씩</option>
                            <option class="optionItem" value="100">100개씩</option>
                        </select> -->
                        <button class="white"><i class="ico excDown"></i>엑셀 다운로드 </button>                        
                    </div>
                    <div class="tableBox sticky">    
                        <table class="">
                            <colgroup>
                                <col width="40px">
                                <col width="100px">
                                <col width="50px">
                                <col width="150px">
                                <!--<col width="93px" span="14">작년~올해
                                <col width="95px">--> 
                                <col>
                            </colgroup>
                            <thead>
                                <th>No.</th>
                                <th>부서</th>
                                <th>유형</th>
                                <th>거래처</th>
                                <th>2022년</th>

                                <th>2023.01</th>
                                <th>2023.02</th>
                                <th>2023.03</th>
                                <th>2023.04</th>
                                <th>2023.05</th>
                                <th>2023.06</th>
                                <th>2023.07</th>
                                <th>2023.08</th>
                                <th>2023.09</th>
                                <th>2023.10</th>
                                <th>2023.11</th>
                                <th>2023.12</th>

                                <th>2024년</th>
                                <th>제경비</th>
                                <th>2023 합계</th>
                            </thead>
                            <tbody>                                
                                <tr>
                                    <td class="center">07</td>
                                    <td class="center">SAP사업</td>
                                    <td class="center">법인</td>
                                    <td class="ellipsis">
                                        <a href="#">CJ프레시웨이CJ프레시웨이CJ프레시웨이CJ프레시웨이</a>
                                    </td>
                                    <td>
                                        <p>513,758,000</p>
                                        <p class="marked">469,700,000</p>
                                    </td>

                                    <td>
                                        <p>40,550,000</p>
                                        <p class="marked">37,000,000</p>
                                    </td>
                                    <td>
                                        <p>40,550,000</p>
                                        <p class="marked">37,000,000</p>
                                    </td>
                                    <td>
                                        <p>40,550,000</p>
                                        <p class="marked">37,000,000</p>
                                    </td>
                                    <td>
                                        <p>40,550,000</p>
                                        <p class="marked">37,000,000</p>
                                    </td>
                                    <td>
                                        <p>40,550,000</p>
                                        <p class="marked">37,000,000</p>
                                    </td>
                                    <td>
                                        p>40,550,000</p>
                                        <p class="marked">37,000,000</p>
                                    </td>
                                    <td>
                                        <p>40,550,000</p>
                                        <p class="marked">37,000,000</p>
                                    </td>
                                    <td>
                                        <p>40,550,000</p>
                                        <p class="marked">37,000,000</p>
                                    </td>
                                    <td>
                                        <p>40,550,000</p>
                                        <p class="marked">37,000,000</p>
                                    </td>
                                    <td>
                                        <p>40,550,000</p>
                                        <p class="tBuy">37,000,000</p>
                                    </td>
                                    <td>
                                        <p>40,550,000</p>
                                        <p class="marked">37,000,000</p>
                                    </td>
                                    <td>
                                        <p>40,550,000</p>
                                        <p class="marked">37,000,000</p>
                                    </td>
                                    <td>
                                        <p>40,550,000</p>
                                        <p class="marked">37,000,000</p>
                                    </td>
                                    <td>
                                        <p>40,550,000</p>
                                        <p class="marked">37,000,000</p>
                                    </td>
                                    <td>
                                        <p>40,550,000,000</p>
                                        <p class="marked">37,000,000,000</p>
                                    </td>
                                </tr>                               
                                <tr>
                                    <td class="center">07</td>
                                    <td class="center">SAP사업</td>
                                    <td class="center">법인</td>
                                    <td class="ellipsis">
                                        <a href="#">CJ프레시웨이<a>
                                    </td>
                                    <td>
                                        <p>513,758,000</p>
                                        <p class="marked">469,700,000</p>
                                    </td>

                                    <td>
                                        <p>40,550,000</p>
                                        <p class="marked">37,000,000</p>
                                    </td>
                                    <td>
                                        <p>40,550,000</p>
                                        <p class="marked">37,000,000</p>
                                    </td>
                                    <td>
                                        <p>40,550,000</p>
                                        <p class="marked">37,000,000</p>
                                    </td>
                                    <td class="right">
                                        <p>40,550,000</p>
                                        <p class="marked">37,000,000</p>
                                    </td>
                                    <td>
                                        <p>40,550,000</p>
                                        <p class="marked">37,000,000</p>
                                    </td>
                                    <td>
                                        p>40,550,000</p>
                                        <p class="marked">37,000,000</p>
                                    </td>
                                    <td>
                                        <p>40,550,000</p>
                                        <p class="marked">37,000,000</p>
                                    </td>
                                    <td>
                                        <p>40,550,000</p>
                                        <p class="marked">37,000,000</p>
                                    </td>
                                    <td>
                                        <p>40,550,000</p>
                                        <p class="marked">37,000,000</p>
                                    </td>
                                    <td>
                                        <p>40,550,000</p>
                                        <p class="tBuy">37,000,000</p>
                                    </td>
                                    <td>
                                        <p>40,550,000</p>
                                        <p class="marked">37,000,000</p>
                                    </td>
                                    <td>
                                        <p>40,550,000</p>
                                        <p class="marked">37,000,000</p>
                                    </td>
                                    <td>
                                        <p>40,550,000</p>
                                        <p class="marked">37,000,000</p>
                                    </td>
                                    <td>
                                        <p>40,550,000</p>
                                        <p class="marked">37,000,000</p>
                                    </td>
                                    <td>
                                        <p>40,550,000,000</p>
                                        <p class="marked">37,000,000,000</p>
                                    </td>
                                </tr>  
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="center" colspan="4">합계</td>

                                    <td>
                                        <p>113,758,000</p>
                                        <p class="marked">109,700,000</p>
                                    </td>

                                    <td>
                                        <p>113,758,000</p>
                                        <p class="marked">109,700,000</p>
                                    </td>
                                    <td>
                                        <p>113,758,000</p>
                                        <p class="marked">109,700,000</p>
                                    </td>
                                    <td>
                                        <p>113,758,000</p>
                                        <p class="marked">109,700,000</p>
                                    </td>
                                    <td>
                                        <p>113,758,000</p>
                                        <p class="marked">109,700,000</p>
                                    </td>
                                    <td>
                                        <p>113,758,000</p>
                                        <p class="marked">109,700,000</p>
                                    </td>
                                    <td>
                                        <p>113,758,000</p>
                                        <p class="marked">109,700,000</p>
                                    </td>
                                    <td>
                                        <p>113,758,000</p>
                                        <p class="marked">109,700,000</p>
                                    </td>
                                    <td>
                                        <p>113,758,000</p>
                                        <p class="marked">109,700,000</p>
                                    </td>
                                    <td>
                                        <p>113,758,000</p>
                                        <p class="marked">109,700,000</p>
                                    </td>
                                    <td>
                                        <p>113,758,000</p>
                                        <p class="marked">109,700,000</p>
                                    </td>
                                    <td>
                                        <p>113,758,000</p>
                                        <p class="marked">109,700,000</p>
                                    </td>
                                    <td>
                                        <p>113,758,000</p>
                                        <p class="marked">109,700,000</p>
                                    </td>

                                    <td>
                                        <p>113,758,000</p>
                                        <p class="marked">109,700,000</p>
                                    </td>
                                    <td>
                                        <p>113,758,000</p>
                                        <p class="marked">109,700,000</p>
                                    </td>
                                    <td>
                                        <p>113,758,000</p>
                                        <p class="marked">109,700,000</p>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </section>
            </section>
        </section>
    </section>


    <!--월별 매입/매출 240229 수정-ys-->
    <div id="" class="modalLayer center is-active">
        <div class="layerBox mid-laSize">
            <div class="modalHeader">
                <button class="ico layerClose"></button>
            </div>
            <div class="modalCont sourcingMonthly"><!--팝업 고유클래스-->
                <h3>2023년 1월 매출/매입</h3>
                <div class="h3_sub">전체 - 정직원</div>

                <div class="tableBox sticky">
                    <table> 
                        <colgroup>
                            <col width="20%">
                            <col width="20%">
                            <col width="6%">
                            <col>
                            <col width="20%">
                            <col width="6%">
                            <col>
                        </colgroup>                 
                        <thead>
                            <tr>
                                <th>프로젝트명</th>
                                <th class="fold">투입기간</th>
                                <th>매출M/M</th>
                                <th>매출</th>
                                <th class="fold">투입기간</th>
                                <th>매입M/M</th>
                                <th>매입</th>
                            </tr>
                        </thead>        
                        <tbody>
                            <tr>
                                <td class="ellipsis">프로젝트명 A 프로젝트명 B프로젝트명 A 프로젝트명 B프로젝트명 A </td>
                                <td class="fold">2023.01.01 ~ 2023.01.31</td>
                                <td>1.00</td>
                                <td>6,000,000</td>
                                <td class="fold">2023.01.01 ~ 2023.01.31</td>
                                <td>1.00</td>
                                <td>4,800,000</td>
                            </tr>
                            <tr>
                                <td class="ellipsis">프로젝트명 A 프로젝트명 B</td>
                                <td class="fold">2023.01.01 ~ 2023.01.31</td>
                                <td>1.00</td>
                                <td>6,000,000</td>
                                <td class="fold">2023.01.01 ~ 2023.01.31</td>
                                <td>1.00</td>
                                <td>4,800,000</td>
                            </tr>
                            <tr>
                                <td class="ellipsis">프로젝트명 A 프로젝트명 B</td>
                                <td class="fold">2023.01.01 ~ 2023.01.31</td>
                                <td>1.00</td>
                                <td>6,000,000</td>
                                <td class="fold">2023.01.01 ~ 2023.01.31</td>
                                <td>1.00</td>
                                <td>4,800,000</td>
                            </tr>
                            <tr>
                                <td class="ellipsis">프로젝트명 A 프로젝트명 B</td>
                                <td class="fold">2023.01.01 ~ 2023.01.31</td>
                                <td>1.00</td>
                                <td>6,000,000</td>
                                <td class="fold">2023.01.01 ~ 2023.01.31</td>
                                <td>1.00</td>
                                <td>4,800,000</td>
                            </tr>
                            <tr>
                                <td class="ellipsis">프로젝트명 A 프로젝트명 B</td>
                                <td class="fold">2023.01.01 ~ 2023.01.31</td>
                                <td>1.00</td>
                                <td>6,000,000</td>
                                <td class="fold">2023.01.01 ~ 2023.01.31</td>
                                <td>1.00</td>
                                <td>4,800,000</td>
                            </tr>
                            <tr>
                                <td class="ellipsis">프로젝트명 A 프로젝트명 B</td>
                                <td class="fold">2023.01.01 ~ 2023.01.31</td>
                                <td>1.00</td>
                                <td>6,000,000</td>
                                <td class="fold">2023.01.01 ~ 2023.01.31</td>
                                <td>1.00</td>
                                <td>4,800,000</td>
                            </tr>
                            <tr>
                                <td class="ellipsis">프로젝트명 A 프로젝트명 B</td>
                                <td class="fold">2023.01.01 ~ 2023.01.31</td>
                                <td>1.00</td>
                                <td>6,000,000</td>
                                <td class="fold">2023.01.01 ~ 2023.01.31</td>
                                <td>1.00</td>
                                <td>4,800,000</td>
                            </tr>
                            <tr>
                                <td class="ellipsis">프로젝트명 A 프로젝트명 B</td>
                                <td class="fold">2023.01.01 ~ 2023.01.31</td>
                                <td>1.00</td>
                                <td>6,000,000</td>
                                <td class="fold">2023.01.01 ~ 2023.01.31</td>
                                <td>1.00</td>
                                <td>4,800,000</td>
                            </tr>
                            <tr>
                                <td class="ellipsis">프로젝트명 A 프로젝트명 B</td>
                                <td class="fold">2023.01.01 ~ 2023.01.31</td>
                                <td>1.00</td>
                                <td>6,000,000</td>
                                <td class="fold">2023.01.01 ~ 2023.01.31</td>
                                <td>1.00</td>
                                <td>4,800,000</td>
                            </tr>
                            <tr>
                                <td class="ellipsis">프로젝트명 A 프로젝트명 B</td>
                                <td class="fold">2023.01.01 ~ 2023.01.31</td>
                                <td>1.00</td>
                                <td>6,000,000</td>
                                <td class="fold">2023.01.01 ~ 2023.01.31</td>
                                <td>1.00</td>
                                <td>4,800,000</td>
                            </tr>                  
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td class="fold">매출합</td>
                                <td>8</td>
                                <td><span class="tSales">40,550,000</span></td>
                                <td class="fold">매입합</td>
                                <td>8</td>
                                <td><span class="tBuy">37,000,000</span></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="listBottom pagingType">                        
                    <div class="paging">
                        <ul>
                            <li class="pagingDouble">
                                <a href="#">
                                    <span class="ico pagingFirst"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="ico pagingLeft"></span>
                                </a>
                            </li>
                            <li class="is-active"><a>1</a></li>
                            <li><a>2</a></li>
                            <li><a>3</a></li>
                            <li><a>4</a></li>
                            <li><a>5</a></li>
                            <li><a>6</a></li>
                            <li><a>7</a></li>
                            <li><a>8</a></li>
                            <li><a>9</a></li>
                            <li><a>10</a></li>
                            <li>
                                <a href="#">
                                    <span class="ico pagingRight is-active"></span>
                                </a>
                            </li>
                            <li class="pagingDouble">
                                <a href="#">
                                    <span class="ico pagingLast is-active"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="modalFooter single">
                <button class="white">닫기</button>
            </div>
        </div>        
        <div class="layerDim"></div>    
    </div>
    <!--//월별 매입/매출 240229 수정-ys-->


    

    <!--제경비내역 240215 추가 -ys-->
    <div id="" class="modalLayer center is-active">
        <div class="layerBox laSize">
            <div class="modalHeader">
                <button class="ico layerClose"></button>
            </div>
            <div class="modalCont exceptChargeList">
                <h2>제경비 내역</h2>
                <div class="h3_sub">제경비 내역 서브타이틀 영역</div>

                <div class="tabWrapper" id="style-tab01">
                    <ul class="tabBtnWrap">
                        <li class="tabBtn prefix">
                            <a href="#tab-01" class="is-active">매출</a>
                        </li>
                        <li class="tabBtn center">
                            <a href="#tab-02">매입</a>
                        </li>
                    </ul>
                    <div class="tabContWrap">
                        <div id="tab-01" class="tabCont is-active">                       
                            <div class="tableBox sticky">    
                                <table class="">
                                    <colgroup>
                                        <col width="50px">
                                        <col>
                                        <col width="6%" span="4">
                                        <col width="5%">
                                        <col width="6%" span="3">
                                        <col width="16%">
                                        <col width="10%">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>프로젝트명</th>
                                            <th>결제방법</th>
                                            <th>항목</th>
                                            <th>시작</th>
                                            <th>종료</th>
                                            <th>M/M(수량)</th>
                                            <th>단가</th>
                                            <th>제외금액</th>
                                            <th>합계</th>
                                            <th>파일</th>
                                            <th>비고</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1회</td>
                                            <td class="ellipsis" rowspan="2">
                                                <span class="label">SM</span>
                                                CJ 올리브네트웍스 모바일앱 서비스 협약서 협약서협약서협약서
                                            </td>
                                            <td>개인카드</td>
                                            <td>숙소</td>
                                            <td>2024.01.01</td>
                                            <td>2024.12.31</td>
                                            <td>0.73</td>
                                            <td class="right">7,000,000</td>
                                            <td class="right">10,000,000</td>
                                            <td class="right">10,000,000</td>
                                            <td>
                                                <a href="" class="attached ellipsis" download="">신라호텔 1박 숙소.jpg</a>
                                            </td>
                                            <td class="ellipsis">숙소비입니다.</td>
                                        </tr>
                                        <tr>
                                            <td>2회</td>
                                            <td>개인카드</td>
                                            <td>숙소</td>
                                            <td>2024.01.01</td>
                                            <td>2024.12.31</td>
                                            <td>0.73</td>
                                            <td class="right">7,000,000</td>
                                            <td class="right">10,000,000</td>
                                            <td class="right">10,000,000</td>
                                            <td>
                                                <a href="" class="attached ellipsis" download="">신라호텔 1박 숙소.jpg</a>
                                            </td>
                                            <td class="ellipsis">숙소비입니다.</td>
                                        </tr>
                                        <tr>
                                            <td>3회</td>
                                            <td class="ellipsis">
                                                <span class="label">SM</span>
                                                CJ 올리브네트웍스 모바일앱 서비스 협약서
                                            </td>
                                            <td>개인카드</td>
                                            <td>숙소</td>
                                            <td>2024.01.01</td>
                                            <td>2024.12.31</td>
                                            <td>0.73</td>
                                            <td class="right">7,000,000</td>
                                            <td class="right">10,000,000</td>
                                            <td class="right">10,000,000</td>
                                            <td>
                                                <a href="" class="attached ellipsis" download="">신라호텔 1박 숙소.jpg</a>
                                            </td>
                                            <td class="ellipsis">숙소비입니다.</td>
                                        </tr>
                                        <tr>
                                            <td>4회</td>
                                            <td class="ellipsis">
                                                <span class="label">SM</span>
                                                CJ 올리브네트웍스 모바일앱 서비스 협약서
                                            </td>
                                            <td>개인카드</td>
                                            <td>숙소</td>
                                            <td>2024.01.01</td>
                                            <td>2024.12.31</td>
                                            <td>0.73</td>
                                            <td class="right">7,000,000</td>
                                            <td class="right">10,000,000</td>
                                            <td class="right">10,000,000</td>
                                            <td>
                                                <a href="" class="attached ellipsis" download="">신라호텔 1박 숙소신라호텔 1박 숙소.jpg</a>
                                            </td>
                                            <td class="ellipsis">숙소비입니다.</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="9" class="right">
                                                <b>합계</b>
                                            </td>
                                            <td colspan="3" class="left">
                                                <b>250,000,000</b>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="listBottom pagingType">                        
                                <div class="paging">
                                    <ul>
                                        <li class="pagingDouble">
                                            <a href="#">
                                                <span class="ico pagingFirst"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="ico pagingLeft"></span>
                                            </a>
                                        </li>
                                        <li class="is-active"><a>1</a></li>
                                        <li><a>2</a></li>
                                        <li><a>3</a></li>
                                        <li><a>4</a></li>
                                        <li><a>5</a></li>
                                        <li><a>6</a></li>
                                        <li><a>7</a></li>
                                        <li><a>8</a></li>
                                        <li><a>9</a></li>
                                        <li><a>10</a></li>
                                        <li>
                                            <a href="#">
                                                <span class="ico pagingRight is-active"></span>
                                            </a>
                                        </li>
                                        <li class="pagingDouble">
                                            <a href="#">
                                                <span class="ico pagingLast is-active"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="tab-02" class="tabCont">
                            <div class="tableBox sticky">    
                                <table class="">
                                    <colgroup>
                                        <col width="50px">
                                        <col>
                                        <col width="6%" span="4">
                                        <col width="5%">
                                        <col width="6%" span="3">
                                        <col width="16%">
                                        <col width="10%">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>프로젝트명</th>
                                            <th>결제방법</th>
                                            <th>항목</th>
                                            <th>시작</th>
                                            <th>종료</th>
                                            <th>M/M(수량)</th>
                                            <th>단가</th>
                                            <th>제외금액</th>
                                            <th>합계</th>
                                            <th>파일</th>
                                            <th>비고</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1회</td>
                                            <td class="ellipsis">
                                                <span class="label">SM</span>
                                                CJ 올리브네트웍스 모바일앱 서비스 협약서CJ 올리브네트웍스 모바일앱 서비스 협약서
                                            </td>
                                            <td>개인카드</td>
                                            <td>숙소</td>
                                            <td>2024.01.01</td>
                                            <td>2024.12.31</td>
                                            <td>0.73</td>
                                            <td class="right">7,000,000</td>
                                            <td class="right">10,000,000</td>
                                            <td class="right">10,000,000</td>
                                            <td>
                                                <a href="" class="attached ellipsis" download="">신라호텔 1박 숙소.jpg</a>
                                            </td>
                                            <td class="ellipsis">숙소비입니다.</td>
                                        </tr>
                                        <tr>
                                            <td>2회</td>
                                            <td class="ellipsis">
                                                <span class="label">SM</span>
                                                CJ 올리브네트웍스 모바일앱 서비스 협약서
                                            </td>
                                            <td>개인카드</td>
                                            <td>숙소</td>
                                            <td>2024.01.01</td>
                                            <td>2024.12.31</td>
                                            <td>0.73</td>
                                            <td class="right">7,000,000</td>
                                            <td class="right">10,000,000</td>
                                            <td class="right">10,000,000</td>
                                            <td>
                                                <a href="" class="attached ellipsis" download="">신라호텔 1박 숙소신라호텔 1박 숙소.jpg</a>
                                            </td>
                                            <td class="ellipsis">숙소비입니다.</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="9" class="right">
                                                <b>합계</b>
                                            </td>
                                            <td colspan="3" class="left">
                                                <b>250,000,000</b>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="listBottom pagingType">                        
                                <div class="paging">
                                    <ul>
                                        <li class="pagingDouble">
                                            <a href="#">
                                                <span class="ico pagingFirst"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="ico pagingLeft"></span>
                                            </a>
                                        </li>
                                        <li class="is-active"><a>1</a></li>
                                        <li><a>2</a></li>
                                        <li><a>3</a></li>
                                        <li><a>4</a></li>
                                        <li><a>5</a></li>
                                        <li><a>6</a></li>
                                        <li><a>7</a></li>
                                        <li><a>8</a></li>
                                        <li><a>9</a></li>
                                        <li><a>10</a></li>
                                        <li>
                                            <a href="#">
                                                <span class="ico pagingRight is-active"></span>
                                            </a>
                                        </li>
                                        <li class="pagingDouble">
                                            <a href="#">
                                                <span class="ico pagingLast is-active"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>      

            <div class="modalFooter">    

                <button class="white">닫기</button>
            </div>
        </div>
        <div class="layerDim"></div> 
    </div>
    <!--//제경비내역 240215 추가 -ys-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../assets/js/script.js"></script>
</body>
</html>