<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>styleGuide | jobjob</title>

    <link rel="stylesheet" href="../assets/css/style.css">
    
</head>
<body class="styleguide">    

    <div class="tabWrapper listType">
        <!--list-->
        <div class="tabBtnWrap">
            <h2>Style Guide</h2>
            <ul class="">
                <li class="tabBtn">
                    <a href="#style-color">Color</a>
                </li>
                <li class="tabBtn">
                    <a href="#style-font">Font</a>
                </li>
                <li class="tabBtn">
                    <a href="#style-icon">Icon</a>
                </li>
                <li class="tabBtn">
                    <a href="#style-text">Text</a>
                </li>
                <li class="tabBtn">
                    <a href="#style-button">Button</a>
                </li>
                <li class="tabBtn">
                    <a href="#style-input" class="is-active">Input / Select</a>
                </li>
                <li class="tabBtn">
                    <a href="#style-chk">Check / Radio</a>
                </li>
                <li class="tabBtn">
                    <a href="#style-table">Table / Paging</a>
                </li>
                <li class="tabBtn">
                    <a href="#style-tab">Tab</a>
                </li>
                <li class="tabBtn">
                    <a href="#style-tooltip">Tooltip</a>
                </li>
                <li class="tabBtn">
                    <a href="#style-popup">Popup</a>
                </li>
                <li class="tabBtn">
                    <a href="#style-quickView">quickView</a>
                </li>
            </ul>
        </div>
        <!--//list-->
        <!--content-->
        <div class="tabContWrap">
            <div id="style-color" class="tabCont">
                <h2>Color</h2>
                <div class="">
                    <div class="clip mt20"><span>Primary Color</span></div>
                    <hr>    
                    <div class="circle primary">
                        primary<br>#0460d2
                    </div>

                    <div class="clip"><span>Gradient Color</span></div>
                    <hr>    
                    <div class="circle gradient">
                        gradient<br>#009ce0<br>#89c895
                    </div>
                    
                    <div class="clip"><span>Status Color</span></div>
                    <hr>    
                    <div class="flex">
                        <div class="circle highlight">
                            highlight<br>#009ce0
                        </div>
                        <div class="circle onGoing">
                            onGoing<br>#ffc812
                        </div>
                        <div class="circle cancel">
                            cancel<br>#b7b7c4
                        </div>
                        <div class="circle delay">
                            delay<br>#ff1236
                        </div>
                    </div>
                    <br>
                    <div class="flex">                    
                        <div class="circle error">
                            error<br>#ff1236
                        </div>               
                        <div class="circle disable">
                            disable<br>#878791
                        </div>
                    </div>
                </div>
            </div>
            <div id="style-font" class="tabCont">                
                <h2>Font</h2>
                <div class="">
                    <div class="clip mt20"><span>국문</span></div>
                    <hr> 
                    <div class="font thin">
                        <p>NotoSansKR</p>
                        <span>font-style: thin; font-weight: 100;</span>
                    </div>
                    <div class="font light">
                        <p>NotoSansKR</p>
                        <span>font-style: light; font-weight: 300;</span>
                    </div>
                    <div class="font normal">
                        <p>NotoSansKR</p>
                        <span>font-style: normal; font-weight: 400;</span>
                    </div>
                    <div class="font medium">
                        <p>NotoSansKR</p>
                        <span>font-style: medium; font-weight: 500;</span>
                    </div>
                    <div class="font bold">
                        <p>NotoSansKR</p>
                        <span>font-style: bold; font-weight: 700;</span>
                    </div>
                    <div class="font black">
                        <p>NotoSansKR</p>
                        <span>font-style: black; font-weight: 900;</span>
                    </div>
                </div>
            </div>
            <div id="style-icon" class="tabCont">
                <h2>Icon</h2>
                <div class="icon">
                    <div class="clip mt20"><span>Logo</span></div>
                    <div class="logo">
                        <img src="../assets/img/icoLogo.png" alt="">
                    </div>

                    <div class="clip"><span>Gnb</span></div>
                    <div class="gnb">
                        <ul>
                            <li><span>gnb lock</span><i class="ico ctrlBtn"></i></li>
                            <li><span>home</span><i class="ico home"></i></li>
                            <li><span>member</span><i class="ico member"></i></li>
                            <li><span>project</span><i class="ico project"></i></li>
                            <li><span>homepage</span><i class="ico homepage"></i></li>
                            <li><span>event</span><i class="ico event"></i></li>
                            <li><span>ask</span><i class="ico ask"></i></li>
                            <li><span>stats</span><i class="ico stats"></i></li>
                            <li><span>admin</span><i class="ico admin"></i></li>
                            <li><span>system</span><i class="ico system"></i></li>
                            <li><span>commonCode</span><i class="ico commonCode"></i></li>
                        </ul>
                    </div>                    

                    <div class="clip"><span>공통</span></div>
                    <div class="common">
                        <ul>
                            <li><span>search</span><i class="ico search"></i></li>
                            <li><span>download</span><i class="ico download"></i></li>
                            <li><span>filter</span><i class="ico filter"></i></li>
                            <li><span>fileUpload</span><i class="ico fileUpload"></i></li>
                            <li><span>delete</span><i class="ico delete"></i></li>
                            <li><span>refresh</span><i class="ico refresh"></i></li>
                            <li><span>setting</span><i class="ico setting"></i></li>
                            <li><span>sort</span><i class="ico sort"></i> </li>
                            <li><span>change</span><i class="ico change"></i></li>
                            <li><span>more</span><i class="ico more"></i></li>
                            <li><span>smClose</span><i class="ico smClose"></i></li>
                            <li><span>layerClose</span><i class="ico layerClose"></i></li>
                            <li><span>plus</span><i class="ico plus"></i></li>
                            <li><span>minus</span><i class="ico minus"></i></li>
                            <li><span>top</span><i class="ico top"></i></li>
                            <li><span>qMark</span><i class="ico qMark"></i></li>
                        </ul>
                    </div>

                    <div class="clip"><span>paging</span></div>
                    <div class="paging">
                        <ul>
                            <li><span>left2_dou</span><i class="ico left2_dou"></i></li>
                            <li><span>left2</span><i class="ico left2"></i></li>
                            <li><span>left</span><i class="ico left"></i></li>
                            <li><span>right</span><i class="ico right"></i></li>
                            <li><span>right2</span><i class="ico right2"></i></li>
                            <li><span>right2_dou</span><i class="ico right2_dou"></i></li>
                        </ul>
                    </div>             
                </div>
            </div>
            <div id="style-text" class="tabCont">              
                <h2>Text</h2>
                <div class="text">
                    <div class="clip mt20"><span>Title</span></div>
                    <hr> 
                    <div class="title">
                        <ul>
                            <li><span>h1</span><h1>타이틀입니다.</h1></li>
                            <li><span>h2</span><h2>타이틀입니다.</h2></li>
                            <li><span>h3</span><h3>타이틀입니다.</h3></li>
                            <li><span>h4</span><h4>타이틀입니다.</h4></li>
                            <li><span>h5</span><h5>타이틀입니다.</h5></li>
                            <li><span>h6</span><h6>타이틀입니다.</h6></li>
                        </ul>
                    </div>

                    <div class="clip"><span>notify</span></div>
                    <div class="notify">
                        <p>홍길동님은 총 4개의 프로젝트에 추천된 상태입니다.</p>
                        <span>고객사에 결과 확인 후 합격여부를 변경하세요.</span>
                    </div>

                    <div class="clip"><span>error</span></div>
                    <p class="error is-active">jpg, jpeg 이미지만 첨부할 수 있습니다.</p>
                    
                    <div class="clip"><span>label</span></div>
                    <span class="label">SM</span>
                    <span class="label">SI</span>
                    <span class="point">중요</span>
                </div>
            </div>
            <div id="style-button" class="tabCont">     
                <h2>Button</h2>
                <div class="btn">
                    <div class="clip mt20"><span>Default Button</span></div>    
                    <div class="default">          
                        <ul>
                            <li>
                                <span>smSize</span>
                                <span class="size">smSize</span>
                                <button class="smSize">button</button>
                            </li>
                            <li>
                                <span>lowSize</span>
                                <span class="size">130px * 38px</span>                            
                                <button class="lowSize">button</button>
                            </li>
                            <li>
                                <span>midSize</span>
                                <span class="size">min 90px * 50px</span>
                                <button class="midSize">button</button>
                            </li>
                            <li>
                                <span>midSize low</span>
                                <span class="size">min 90px * 36px</span>
                                <button class="midSize low">button</button>
                            </li>
                            <li>
                                <span>laSize</span>
                                <span class="size">min 120px * 48px</span>
                                <button class="laSize">button</button>
                            </li>
                            <li>
                                <span>xlSize</span>
                                <span class="size">160px * 54px</span>
                                <button class="xlSize">button</button>
                            </li>
                            <li>
                                <span>fullSize</span>
                                <span class="size">100%</span>
                            </li>
                            <li>
                                <button class="fullSize">button</button>
                            </li>
                        </ul>               
                    </div>   

                    <div class="clip"><span>White Button</span></div>
                    <div class="white">
                        <ul>
                            <li>
                                <span>white</span>
                                <span class="size">p 15px * 34px</span>
                                <button class="white">button</button>
                            </li>
                            <li>
                                <span>lowSize</span>
                                <span class="size">100px * 34px</span>
                                <button class="white lowSize">button</button>
                            </li>
                            <li>
                                <span>smSize</span>
                                <span class="size">p 12px * 30px</span>
                                <button class="white smSize">button</button>
                            </li>
                            <li>
                                <span>laSize</span>
                                <span class="size">p 15px * 55px</span>
                                <button class="white laSize">button</button>
                            </li>
                            <li>
                                <span>xlSize</span>
                                <span class="size">160px * 54px</span>
                                <button class="white xlSize">button</button>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="clip"><span>Warning Button</span></div>
                    <div class="warning">
                        <ul>
                            <li>
                                <span>warning</span>
                                <span class="size">160px * 54px</span>
                                <button class="warning xlSize">button</button>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="clip"><span>Round Button</span></div>
                    <div class="roung">
                        <ul>
                            <li>
                                <button class="round">button</button>
                                <button class="round order">button</button>
                                <button class="round cancel">button</button>
                                <button class="round checking">button</button>
                                <button class="round short">button</button>
                                <button class="round reject">button</button>
                            </li>
                        </ul>
                    </div>
                                    
                    <div class="clip"><span>Icon Button</span></div>
                    <div class="icon">
                        <button class="white">
                            <i class="ico download"></i>엑셀저장
                        </button>                
                        <button class="onlyIco"><i class="ico refresh"></i></button>
                        <button class="onlyIco"><i class="ico minus"></i></button>
                        <button class="onlyIco"><i class="ico plus"></i></button>
                    </div>

                    <div class="clip"><span>ETC Button</span></div>
                    <button class="square is-active">더보기</button>
                </div>
            </div>
            <div id="style-input" class="tabCont is-active">
                <h2>Input / Select</h2>
                <div class="input">
                    <div class="clip mt20"><span>Input</span></div>   
                    <div class="input">
                        <ul>
                            <li>
                                <span>lowSize</span>
                                <span class="size">lowSize</span>
                                <label for="lowSize">label</label>
                                <input class="lowSize" type="text" id="lowSize" maxlength="" placeholder="placeholder">
                            </li>
                            <li>
                                <span>smSize</span>
                                <span class="size">smSize</span>
                                <label for="smSize">label</label>
                                <input class="smSize" type="text" id="smSize" maxlength="" placeholder="placeholder">
                            </li>
                            <li>
                                <span>default</span>
                                <span class="size">default</span>
                                <label for="default">label</label>
                                <input class="" type="text" id="default" maxlength="" placeholder="placeholder">
                            </li>
                            <li>
                                <span>laSize</span>
                                <span class="size">laSize</span>
                                <label for="laSize">label</label>
                                <input class="laSize" type="text" id="laSize" maxlength="" placeholder="placeholder">
                            </li>
                            <!-- <li>
                                <span>wideSize</span>
                                <span class="size">wideSize</span>
                                <label for="wideSize">label</label>
                                <input class="wideSize" type="text" id="wideSize" maxlength="" placeholder="placeholder">
                            </li> -->
                            <li>
                                <span>full</span>
                                <span class="size">full</span>
                                <label for="full">label</label>
                            </li>
                            <li>
                                <input class="full" type="text" id="full" maxlength="" placeholder="placeholder">
                            </li>
                            <li>
                                <span>activeType</span>
                                <span class="size">full</span>
                                <label for="activeType">label</label>
                                <input class="activeType" type="text" id="activeType" maxlength="" placeholder="placeholder">
                            </li>
                        </ul>
                    </div> 

                    <div class="clip"><span>Icon Input</span></div>   
                    <div class="icon">
                        <ul>
                            <li>
                                <label for="search">검색</label>
                                <div class="inputIco">
                                    <i class="ico search"></i>
                                    <input type="text" id="search" class="" maxlength="" placeholder="검색어를 입력하세요.">
                                </div>
                            </li>
                            <li>
                                <label for="search">검색</label>
                                <div class="inputIco">
                                    <input type="text" id="search" class="" maxlength="" placeholder="검색어를 입력하세요.">
                                    <button class="ico search"></button>
                                </div>
                            </li>
                            <li>
                                <label for="search">아이디</label>
                                <div class="inputIco">
                                    <i class="ico search"></i>
                                    <input type="text" id="search" class="" maxlength="" placeholder="검색어를 입력하세요.">
                                    <button class="ico search"></button>
                                </div>
                                <p class="error is-active">* 아이디가 틀렸습니다.</p>
                            </li>
                            <li>
                                <label for="pw">비밀번호</label>
                                <div class="inputIco">
                                    <input type="password" id="pw" maxlength="" placeholder="비밀번호를 입력하세요.">
                                    <button class="ico showPw"></button>
                                </div>
                                <p class="error is-active">* 비밀번호가 틀렸습니다.</p>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="clip"><span>Icon button Input</span></div>   
                    <div class="">
                        <ul>
                            <li>
                                <div class="hasBtn">
                                    <label for="project2">검색</label>
                                    <input type="text" id="project2" maxlength="" placeholder="프로젝트 이름을 입력하세요.">
                                    <button class="midSize">검색</button>
                                </div>
                            </li>
                            <li>
                                <div class="hasBtn">         
                                    <label for="search">검색</label>
                                    <div class="inputIco">
                                        <input type="text" id="search" class="" maxlength="" placeholder="검색어를 입력하세요.">
                                        <button class="ico search"></button>
                                    </div>   
                                    <button class="midSize">검색</button>
                                </div> 
                            </li>
                            <li>
                                <div class="hasBtn">
                                    <label for="project2">검색</label>
                                    <button class="midSize">검색</button>
                                    <input type="text" id="project2" maxlength="" placeholder="프로젝트 이름을 입력하세요.">
                                </div>
                            </li>
                            <li>
                                <div class="hasBtn">         
                                    <label for="search">검색</label>
                                    <button class="midSize">검색</button>
                                    <div class="inputIco">
                                        <input type="text" id="search" class="" maxlength="" placeholder="검색어를 입력하세요.">
                                        <button class="ico search"></button>
                                    </div>   
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="clip"><span>Chip Input</span></div>   
                    <div class="">
                        <ul>
                            <li>
                                <div class="inputGroup">
                                    <div class="inputObj">
                                        <span>박예슬 (010-000-0000)</span>
                                        <button class="ico smClose w"></button>
                                    </div>
                                    <div class="inputObj is-active">
                                        <input type="text">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="clip"><span>DATE</span></div> 
                    <div class="">
                        <input type="date">
                    </div>

                    <div class="clip"><span>파일첨부(ing)</span></div> 
                    <div class="">
                        <div class="inputGroup">
                            <label for="fileUpload">여기에 첨부 파일을 끌어오세요. 또는 </label>
                            <input multiple type="file" id="fileUpload">
                            <label for="fileUpload" class="selFile">직접선택</label>
                
                            <div class="fileBox">
                                <ul>
                                    <li class="fileList"></li>
                                </ul>
                            </div>
                        </div>  
                    </div>

                    <div class="clip"><span>다중 파일첨부(ing)</span></div> 
                    <div class="">
                        <div class="uploadBox">
                            <div class="inputGroup upload">
                                <div class="drop">여기에 첨부 파일을 끌어오세요.</div>
                                <div class="list">
                                    <ul class="list_ul"></ul>
                                </div>
                            </div>
                        
                            <label for="cycleDocument" class="">또는 직접선택</label>
                            <input type="file" name="cycleDocument" id="cycleDocument" class="" tabindex="">
                        </div>
                    </div>

                    <div class="clip"><span>textarea</span></div> 
                    <div class="">
                        <textarea name="" id="" rows="10"></textarea>
                        <p class="counter">글자 수 50자</p>
                    </div>

                    <div class="clip"><span>select / select(+chkckbox)</span></div> 
                    <div class="input">
                        <ul>
                            <li>
                                <span>lowSize</span>
                                <span class="size">lowSize</span>
                                <div class="select lowSize">
                                    <span class="selDefault">10개씩</span>
                                    <ul class="optionList">
                                        <li class="optionItem">20개씩</li>
                                        <li class="optionItem">50개씩</li>
                                        <li class="optionItem">100개씩</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <span>default</span>
                                <span class="size">default</span>
                                <div class="select">
                                    <span class="selDefault">10개씩</span>
                                    <ul class="optionList">
                                        <li class="optionItem">20개씩</li>
                                        <li class="optionItem">50개씩</li>
                                        <li class="optionItem">100개씩</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <span>laSize</span>
                                <span class="size">laSize</span>
                                <div class="select laSize">
                                    <span class="selDefault">10개씩</span>
                                    <ul class="optionList">
                                        <li class="optionItem">20개씩</li>
                                        <li class="optionItem">50개씩</li>
                                        <li class="optionItem">100개씩</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <span>wideSize</span>
                                <span class="size">wideSize</span>
                                <div class="select wideSize">
                                    <span class="selDefault">10개씩</span>
                                    <ul class="optionList">
                                        <li class="optionItem">20개씩</li>
                                        <li class="optionItem">50개씩</li>
                                        <li class="optionItem">100개씩</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                    

                    <div class="clip"><span>select(+chkckbox)</span></div> 
                    <div class="select">
                        <span class="selDefault">선택</span>
                        <ul class="optionList hasChk">
                            <li class="optionItem">
                                <input type="checkbox" id="optChk_1" name="aa" class="hasTxt">
                                <label for="optChk_1">apple</label>
                            </li>                    
                            <li class="optionItem">
                                <input type="checkbox" id="optChk_2" name="aa" class="hasTxt">
                                <label for="optChk_2">banana</label>
                            </li>
                            <li class="optionItem">
                                <input type="checkbox" id="optChk_3" name="aa" class="hasTxt">
                                <label for="optChk_3">grape</label>
                            </li>
                            <li class="optionItem">
                                <input type="checkbox" id="optChk_4" name="aa" class="hasTxt">
                                <label for="optChk_4">mango</label>
                            </li>
                        </ul>
                    </div>      
                </div>
            </div>
            <div id="style-chk" class="tabCont">ccc</div>
            <div id="style-table" class="tabCont">ccc</div>
            <div id="style-tab" class="tabCont">ccc</div>
            <div id="style-tooltip" class="tabCont">ccc</div>
            <div id="style-popup" class="tabCont">ccc</div>
            <div id="style-quickView" class="tabCont">ccc</div>
        </div>
        <!--//content-->
    </div>
    
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../assets/js/script.js"></script>
    <script>
        selDefault.onclick = selectBox();
    </script>
</body>
</html>