<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="font-family: &quot;맑은 고딕&quot;; font-size: 10pt; line-height: 150%; margin-top: 0px; margin-bottom: 0px;"> 
        <table cellpadding="0" cellspacing="0" width="633" style="font-family: 'Noto Sans KR', sans-serif;"> <!--width 수정-->
         <tbody> 
          <tr> 
           <td height="70" style="border:1px solid #205391;border-radius: 20px 20px 0 0; background-color: #205391;"><span style="color:white; font-size: 22px;margin-left:25px;font-weight:600;"><strong>ePMS</strong></span> <span style="color: white; font-size: 16px; margin-left: 10px; font-family: &quot;Noto Sans KR&quot;, sans-serif;"> </span> </td> 
          </tr> 
          <tr style="border-bottom:1px solid #999; "> 
           <td style="padding-top: 20px; border-left:1px solid #999; border-right:1px solid #999;" class=""> 
            <table style="padding-right: 20px; padding-left: 20px;"> 
             <tbody> 
                <!--colgroup 추가-->
                <colgroup>
                    <col>
                    <col width="20%">
                    <col width="20%">
                    <col width="8%">
                    <col width="8%">
                </colgroup>
                <!--//colgroup 추가-->
              <tr style="background-color: #e3e3e3;"> <!--bg 수정-->
               <th class="" style="padding:2px 0;">프로젝트명</th> 
               <th class="" style="padding:2px 0;">소속/부서</th> 
               <th class="" style="padding:2px 0;">투입인력</th> 
               <th class="" style="padding:2px 0;">투입 시작일</th> 
               <th class="" style="padding:2px 0;">투입 종료일</th> 
              </tr> 
             </tbody> 
             <tbody> 
              <tr style="height: 25px;"> <!--height 수정-->
               <td class="">매입원장테스트매입원장입원장테스트매입원장테스트</td> 
               <td class="">주식회사에코아이티</td> 
               <td class="">다현_매입_사업_2다현_매입_사업_2</td> 
               <td class="">2024.12.31</td> 
               <td class="">2024.05.31</td> 
              </tr> 
              <tr style="height: 25px;">  
               <td class="">매입원장테스트매입원장테스트매입원장테스트매입원장테스트매입원장테스트매입원장테스트매입원장테스트매입원장테스트매입원장테스트매입원장테스트</td> 
               <td class="">다현_매입_개인</td> 
               <td class="">유다현</td> 
               <td class="">2024.01.01</td> 
               <td class="">2024.05.31</td> 
              </tr> 
              <tr style="height: 25px;">  
               <td class="">매입원장테스트매입원장입원장테스트매입원장테스트</td> 
               <td class="">-</td> 
               <td class="">김재윤(test)G</td> 
               <td class="">2024.01.01</td> 
               <td class="">2024.03.01</td> 
              </tr> 
              <tr style="height: 25px;">
               <td class="">턴키테스트</td> 
               <td class="">주식회사에코아이티주식회사에코아이티</td> 
               <td class="">라이선스</td> 
               <td class="">2024.01.01</td> 
               <td class="">2024.12.31</td> 
              </tr> 
              <tr style="height: 25px;">  
               <td class="">전자계약테스트</td> 
               <td class="">다현개인</td> 
               <td class="">다현</td> 
               <td class="">2024.01.01</td> 
               <td class="">2024.01.31</td> 
              </tr> 
              <tr style="height: 25px;">  
               <td class="">전자계약테스트</td> 
               <td class="">다현_법인</td> 
               <td class="">김김김</td> 
               <td class="">2024.01.01</td> 
               <td class="">2024.01.31</td> 
              </tr> 
              <tr style="height: 25px;"> 
               <td class="">전자계약테스트</td> 
               <td class="">-</td> 
               <td class="">다현사업</td> 
               <td class="">2024.01.01</td> 
               <td class="">2024.01.31</td> 
              </tr> 
              <tr style="height: 25px;">  
               <td class="">전자계약테스트</td> 
               <td class="">주식회사에코아이티</td> 
               <td class="">김재윤</td> 
               <td class="">2024.04.01</td> 
               <td class="">2024.04.30</td> 
              </tr> 
              <tr style="height: 25px;"> 
               <td class="">개인, 법인, 사업 테스트</td> 
               <td class="">(주)동그라미소프트</td> 
               <td class="">김김김</td> 
               <td class="">2024.05.13</td> 
               <td class="">2024.07.19</td> 
              </tr> 
             </tbody> 
            </table> 
            </td> 
          </tr> 
          <tr> 
           <td height="100" style="font-size: 14px; line-height: 22px; text-align: center; border:1px solid #999999;border-radius: 0 0 20px 20px; background-color: #ededed;"><strong>서울특별시 강남구 강남대로146길 25(논현동) 4층, 5층</strong><br> <span style="padding-left: 10px; padding-right: 10px;"></span> <span style="padding-left: 10px; padding-right: 10px; font-family: &quot;Noto Sans KR&quot;, sans-serif; font-size: 11pt;">TEL 02-6342-8021</span> <span style="padding-left: 10px; padding-right: 10px; font-family: &quot;Noto Sans KR&quot;, sans-serif; font-size: 11pt;">FAX 02-864-8021</span><br> <span style="font-size: 13px; color: rgb(136, 136, 136); font-family: &quot;Noto Sans KR&quot;, sans-serif;">Copyrightⓒ 2023 by ECHOIT. All rights reserved.</span> </td> 
          </tr> 
         </tbody> 
        </table> 
       </div>
</body>
</html>