<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table style="table-layout: fixed; border-collapse: collapse;">
        <colgroup>
            <col width="200px">
            <col width="300px">                                        
            <col width="150px">
        </colgroup>
        <thead>
            <tr style="background: #989b9f; color: #fff; height: 38px;">
                <th>구분</th>
                <th>내용</th>
                <th>비고</th>
            </tr>
        </thead>
        <tbody>
            <tr style="border-bottom: 1px solid #ddd;" >
                <th style="text-align: center; background: #eaf4fe;">담당업무</th>
                <td style="border-right: 1px solid #ddd; padding: 10px 20px;">
                    <ul style="padding-left: 0;">
                        <li style="list-style: none;">- 담당업무를 입력하세요</li>
                        <li style="list-style: none;">- 담당업무를 입력하세요</li>
                        <li style="list-style: none;">- 담당업무를 입력하세요</li>
                        <li style="list-style: none;">- 담당업무를 입력하세요</li>
                        <li style="list-style: none;">- 담당업무를 입력하세요</li>
                    </ul>
                </td>
                <td style="text-align: center;">
                    2명
                </td>
            </tr>
            <tr style="border-bottom: 1px solid #ddd;" >
                <th style="text-align: center; background: #dde9f5;">자격 및 우대사항</th>
                <td style="border-right: 1px solid #ddd; padding: 10px 20px;">
                    <p style="font-weight: bold; color: #5f778f;">자격요건</p>
                    <ul style="padding-left: 0;">
                        <li style="list-style: none;">- 학력무관</li>
                        <li style="list-style: none;">- 신입/경력무관</li>
                    </ul>
                    <p style="font-weight: bold; color: #5f778f;">우대사항</p>
                    <ul style="padding-left: 0;">
                        <li style="list-style: none;">- 물류센터 근무경험자</li>
                        <li style="list-style: none;">- 생산공장 근무경험자</li>
                        <li style="list-style: none;">- WMS/ERP 전산관리 경험자</li>
                    </ul>
                    <p style="font-weight: bold; color: #5f778f;">기타참고사항</p>
                    <ul style="padding-left: 0;">
                        <li style="list-style: none;">- 기타참고사항기타참고사항기타참고사항기타참고사항기타참고사항기타참고사항기타참고사항</li>
                    </ul>
                </td>
                <td style="text-align: center;">
                    2명
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>