<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="select lowSize"><!--220829 수정 -ys-->
        <span class="selDefault">선택11</span>
        <ul class="optionList">
            <li class="optionItem">
                <input type="checkbox" id="optChk_1" name="aa" class="hasTxt">
                <label for="optChk_1">apple</label>
            </li>                    
            <li class="optionItem">
                <input type="checkbox" id="optChk_2" name="aa" class="hasTxt">
                <label for="optChk_2">banana</label>
            </li>               
            <li class="optionItem">
                <input type="checkbox" id="optChk_3" name="aa" class="hasTxt">
                <label for="optChk_3">banana</label>
            </li>               
            <li class="optionItem">
                <input type="checkbox" id="optChk_4" name="aa" class="hasTxt">
                <label for="optChk_4">banana</label>
            </li>               
            <li class="optionItem">
                <input type="checkbox" id="optChk_5" name="aa" class="hasTxt">
                <label for="optChk_5">banana</label>
            </li>
        </ul>
    </div>
    <div class="select lowSize">
        <span class="selDefault">선택22</span>
        <ul class="optionList">
            <li class="optionItem">aaaaaaaa</li>                    
            <li class="optionItem">bbbbbbbbb</li>
        </ul>
    </div>
    <div class="select lowSize">
        <span class="selDefault">선택33</span>
        <ul class="optionList hasChk">
            <li class="optionItem">
                <input type="checkbox" id="optChk_001" name="aa" class="hasTxt">
                <label for="optChk_001">apple</label>
            </li>                    
            <li class="optionItem">
                <input type="checkbox" id="optChk_002" name="aa" class="hasTxt">
                <label for="optChk_002">banana</label>
            </li>
        </ul>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- <script src="../assets/js/script.js"></script> -->
    <script>
        let selDefault = document.querySelectorAll('.selDefault');   
        function selectBox(){ 
            selDefault.forEach(function(lb){             
                lb.addEventListener('click', e => {
                    let optionList = lb.nextElementSibling;
                    let optionItems = optionList.querySelectorAll('.optionItem');
                    clickLabel(lb, optionItems);
                      
                    /* 220902 수정(외부클릭시 닫힘....) -ys */
                    document.addEventListener('click', function(event){
                        if (event.target.nodeName == "HTML"){
                            lb.parentNode.classList.remove('is-active');
                        }
                    });
                    /* //220902 수정(외부클릭시 닫힘....) -ys */                    
                });
            });

            const clickLabel = (lb, optionItems) => {
                if(lb.parentNode.classList.contains('is-active')) {     
                    lb.parentNode.classList.remove('is-active');
                    optionItems.forEach((opt) => {
                        opt.removeEventListener('click', () => {
                            handleSelect(lb, opt)
                        })
                    })
                } else {
                    lb.parentNode.classList.add('is-active');
                    optionItems.forEach((opt) => {
                        opt.addEventListener('click', () => {
                            handleSelect(lb, opt)
                        })
                    })
                }
            }

            /* 220902 수정(체크박스가 있을때 닫히지않기) -ys */
            const handleSelect = (selDefault, item) => {
                let hasChk = item.getElementsByTagName('input');
                if(hasChk.length >= 1){
                    selDefault.innerHTML = item.textContent;
                }else{
                    selDefault.innerHTML = item.textContent;
                   selDefault.parentNode.classList.remove('is-active');
                }            
            }
            /* //220902 수정(체크박스가 있을때 닫히지않기) -ys */
        }
        selDefault.onclick = selectBox();
    </script>
</body>
</html>